{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/tour_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_tour.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/owl.carousel.min.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}'
    signature = '{{signature}}';
    tour_id = '{{response.id}}';

    time_limit = {{time_limit}};
    session_time_limit();
</script>


<style>
    @media only screen and (min-width: 991px) {
        #header_home {
            padding-top: 100px;
        }
    }
    @media only screen and (max-width: 990px) {
        #header_home {
            padding-top: 0px;
        }
    }
</style>

{% include 'tt_website_skytors/header.html' %}
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px; z-index:1;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" id="breadcrumbs_create">

            </div>
        </div>
        <div class="row" style="padding-bottom:15px;">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                <span style="font-size:14px; font-weight:600;">Session Time <span style="font-size:16px; font-weight:700; color:#f15a22;" id="session_time"> </span></span>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                <span style="font-size:14px; font-weight:600;">Elapsed Time <span style="font-size:16px; font-weight:700; color:#f15a22;" id="elapse_time"> </span></span>
            </div>
        </div>
        <div class="row full_tour_details" style="padding-top: 15px;">
            <div class="col-lg-12">
                {% csrf_token %}
                <div class="row" style="position:sticky;top: 0px;z-index: 89;">
                    <div class="col-lg-12">
                        <div class="box-sticky-hotel">
                            <button class="content-tour primary-btn-sticky-hotel" type="button" id="description-tour">Description</button>
                            <button class="content-tour primary-btn-sticky-hotel" type="button" id="product-tour">Book Now</button>
                        </div>
                    </div>
                </div>
                <div class="row" id="div-description-tour" style="padding:15px;">
                    <div class="col-lg-12" style="width:100%; background-color:white; padding:20px 20px 10px 20px; border: 1px solid #ddd;">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div id="tour_carousel">

                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8">
                                <div id="country_list_tour">
                                    <span style="font-size:22px; font-weight:bold; color:black;">{{response.name}}</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs-activity" style="text-align:center;">
                            <li class="li-activity" style="display: inline-block !important; width: 135px; text-align: center; margin: 0px -2px 0px 0px !important;">
                                <a class="tab-menu-activity active" data-toggle="tab" href="#itinerary"><i class="fa fa-list-ul" aria-hidden="true" title="details" style="font-size: 18px;"></i><span class="hidden-xs"> Itinerary</span></a>
                            </li>
                            {% if response.flight == 'include'%}
                            <li class="li-activity" style="display: inline-block !important; width: 135px; text-align: center; margin: 0px -2px 0px 0px !important;">
                                <a class="tab-menu-activity" data-toggle="tab" href="#flight_details"><i class="fa fa-plane" aria-hidden="true" title="details" style="font-size: 18px;"></i><span class="hidden-xs"> Flight Details</span></a>
                            </li>
                            {% endif %}
                            <li class="li-activity" style="display: inline-block !important; width: 135px; text-align: center; margin: 0px -2px 0px 0px !important;">
                                <a class="tab-menu-activity" data-toggle="tab" href="#remarks"><i class="fa fa-check-square" aria-hidden="true" title="details" style="font-size: 18px;"></i><span class="hidden-xs"> Remarks</span></a>
                            </li>
                        </ul>
                        <div class="tab-content" style="background-color:white; border:1px solid #cdcdcd; padding:15px;">
                            <div id="itinerary" class="tab-pane fade in active show">

                            </div>
                            {% if response.flight == 'include'%}
                            <div id="flight_details" class="tab-pane fade" style="overflow: scroll;">

                            </div>
                            {% endif %}
                            <div id="remarks" class="tab-pane fade maxwidth100" style="padding-bottom:15px; word-wrap: break-word; overflow:auto;">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="div-product-tour" style="margin-top:20px;">
                    <div class="col-lg-12" id="book_now">
                        <div class="col-lg-12" style="background-color: #f15a22; width:100%; height: 37px; padding-top:7px;"><i class="fa fa-shopping-cart" aria-hidden="true" title="details" style="font-size: 18px; color:white;"></i><span class="hidden-xs" style="color:white;"> Book Now</span></div>
                        <div style="width:100%; height: inherit; background-color:white; border:1px solid #cdcdcd; padding: 15px;">
                            <form method='POST' action="{% url 'tt_website_skytors:tour_passenger'%}" id="go_to_pax" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" id="tour_data" name="tour_data"/>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4>Room Setting</h4>
                                    </div>
                                    <div class="col-lg-7" style="margin-bottom:15px; padding-top:10px;">
                                        {% if response.tour_type == 'private' %}
                                        <div class="banner-right" style="margin-bottom: 25px;">
                                            <div class="form-wrap" style="text-align: left; padding:0px;">
                                                <h4>Tour Date</h4>
                                                <hr/>
                                                <label for="departure_date_tour">Departure Date</label>
                                                <div class="input-container-search-ticket btn-group">
                                                    <i class="fas fa-calendar icon-search-ticket" style="font-size:14px;"></i>
                                                    <input class="form-control" type="text" name="departure_date_tour" id="departure_date_tour" placeholder="Choose your departure date"/>
                                                </div>
                                                <input type="hidden" id="departure_date_tour2" name="departure_date_tour2" value=""/><br/>
                                                <label for="return_date_tour">Arrival Date</label>
                                                <div class="input-container-search-ticket btn-group">
                                                    <i class="fas fa-calendar icon-search-ticket" style="font-size:14px;"></i>
                                                    <input class="form-control" type="text" name="return_date_tour" id="return_date_tour" placeholder="Choose your arrival date"/>
                                                </div>
                                                <input type="hidden" id="return_date_tour2" name="return_date_tour2" value=""/>
                                            </div>
                                        </div>
                                        {% endif %}

                                        <input type="hidden" id="room_amount" name="room_amount"/>
                                        <div id="tour_room_input">

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <button id="btnShowRooms" class="primary-btn-ticket btn-block space" type="button" data-toggle="modal" data-target="#TourRoomsModal"><i class="fas fa-plus"></i> Add Room</button>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
                                                <button id="btnDeleteRooms" class="primary-btn-ticket btn-block space hide" type="button" onclick="delete_tour_room()"><i class="fas fa-trash-alt"></i> Delete</button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-5 hide" id="total-price-container" style="margin-top:10px;">
                                        <div style="background-color:white; padding:10px; border:1px solid #cdcdcd;" id="tour_detail">
                                            <h4> Price Detail </h4>
                                            <hr/>
                                            <span id="product_title" style="font-weight: bold;">{{response.name}}</span>
                                            <br/><span id="product_date">{{response.departure_date}} - {{response.return_date}}</span>
                                            <br/><br/>
                                            <div id="loading-price-tour" style="margin-bottom:20px;">
                                                <div class="col-lg-12">
                                                    <div class="sk-circle">
                                                        <div class="sk-circle1 sk-child"></div>
                                                        <div class="sk-circle2 sk-child"></div>
                                                        <div class="sk-circle3 sk-child"></div>
                                                        <div class="sk-circle4 sk-child"></div>
                                                        <div class="sk-circle5 sk-child"></div>
                                                        <div class="sk-circle6 sk-child"></div>
                                                        <div class="sk-circle7 sk-child"></div>
                                                        <div class="sk-circle8 sk-child"></div>
                                                        <div class="sk-circle9 sk-child"></div>
                                                        <div class="sk-circle10 sk-child"></div>
                                                        <div class="sk-circle11 sk-child"></div>
                                                        <div class="sk-circle12 sk-child"></div>
                                                    </div>
                                                    <div style="text-align:center"><h6>PLEASE WAIT</h6></div>
                                                </div>
                                            </div>
                                            <div id="tour_detail_table">

                                            </div>
                                        </div>
                                        <br/>
                                        <div id="tour_detail_next_btn">
                                            <center>
                                                <button type="button" class="primary-btn-ticket" value="Next" onclick="check_detail();" style="width:100%;">
                                                    Next
                                                    <i class="fas fa-angle-right"></i>
                                                </button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" id="time_limit_input" value="{{time_limit}}" name="time_limit_input" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="modal fade" id="TourRoomsModal" role="dialog" style="overflow-y:hidden;">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Room Available</h5>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div id="search-body-content" class="modal-body" style="height:350px; padding: 0px 15px 15px 15px;">
                                        <table class="table table-striped" style="height: 325px !important; font-size:11px; table-layout: auto;">
                                            <thead>
                                            <th style="width:30%;">Hotel</th>
                                            <th style="width:20%;">Room</th>
                                            <th style="width:40%;">Description</th>
                                            <th style="width:10%;">Action</th>
                                            </thead>
                                            <tbody id="tour_hotel_room_list" style="display: table-footer-group !important;">

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'tt_website_skytors/footer.html' %}

<script>
    $(document).ready(function () {
        breadcrumb_create("tour", 3, 0);
        tour_get_details(tour_id);

        $('#product-tour').click(function(e){
            $('html, body').animate({
                scrollTop: $("#div-product-tour").offset().top - 50
            }, 500);
            active_sticky_tour("product");
        });
        $('#description-tour').click(function(e){
            $('html, body').animate({
                scrollTop: $("#div-description-tour").offset().top - 50
            }, 500);
            active_sticky_tour("description");
        });

      $(window).scroll(function() {
        if($(this).scrollTop()>=$('#div-description-tour').position().top+55 && $(this).scrollTop()<$('#div-product-tour').position().top+55){
            active_sticky_tour("description");
        }
        else if($(this).scrollTop()>=$('#div-product-tour').position().top+55){
            active_sticky_tour("product");
        }
        else if($(this).scrollTop() < $('#div-description-tour').position().top+55){
            $(".content-tour").removeClass("sticky-tour-active");
        }
      });
    });

    $(function() {
        $('#departure_date_tour').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              startDate: moment(),
              minDate: moment(),
              showDropdowns: true,
              opens: 'right',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });

        $('#return_date_tour').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              startDate: moment().subtract(-1, 'days'),
              minDate: moment().subtract(-1, 'days'),
              showDropdowns: true,
              opens: 'right',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
      });
</script>
{% endblock %}
