{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/tour_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_tour.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script>
    filter = {
        'tour_type': 'all',
        'budget': 'all',
    };
    sorting_value = '';
    time = 300;
    triggered_balance();
    get_balance();
    get_transactions();
</script>

{% include 'tt_website_skytors/header.html' %}
<section class="price-area" data-aos="fade-up" style="padding-top:50px; padding-bottom:5px; background-color: black;">
    <div class="animated fadeInDown delay-1s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="padding:0;">
                    <div class="banner-right">
                        <form action="{% url 'tt_website_skytors:tour_search'%}" class="form-wrap" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-3" style="padding:0px;">
                                    <span class="span-search-ticket">Search for Tour</span>
                                    <div class="input-container-search-ticket">
                                        <i class="fas fa-briefcase icon-search-ticket"></i>
                                        <input type="text" class="form-control" name="tour_query" id="tour_query" placeholder="Tour Keyword" autocomplete="off" value="{{tour_query}}"/>
                                    </div>
                                </div>
                                <div class="col-lg-3" style="padding:0px;">
                                    <span class="span-search-ticket">Destination</span>
                                    <input id="tour_hidden_destination" type="hidden" value="{{dest_destination}}"/>
                                    <div class="input-container-search-ticket">
                                        <i class="fas fa-map-marker-alt icon-search-ticket"></i>
                                        <div class="form-select" id="default-select">
                                            <select onchange="" name="tour_destination" id="tour_destination" size="5">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding:0px;">
                                    <span class="span-search-ticket">Destination Month</span>
                                    <div class="input-container-search-ticket">
                                        <i class="fas fa-calendar-alt icon-search-ticket"></i>
                                        <div class="form-select">
                                            <select onchange="" name="tour_dest_month" id="tour_dest_month" size="5">
                                                {% for month_data in dest_month_data %}
                                                {% if month_data.value == dest_month %}
                                                <option value="{{month_data.value}}" selected="">{{month_data.string}}</option>
                                                {% else %}
                                                <option value="{{month_data.value}}">{{month_data.string}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding:0px;">
                                    <span class="span-search-ticket">Destination Year</span>
                                    <input id="tour_hidden_year" type="hidden" value="{{dest_year}}"/>
                                    <div class="form-select">
                                        <select onchange="" name="tour_dest_year" id="tour_dest_year" size="5">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br/>

                            <button class="primary-btn text-uppercase" type="submit" value="Submit">
                                <img src="{{static_path}}img/icon/search-icon.png" style="width:25px; height:25px;"/>
                                Change Search
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="row" style="padding-bottom:10px;">
            <div class="col-lg-12" style="margin-top:10px;">
                <ul class="progressbar">
                    <li class="active" onclick="location.href='{% url 'tt_website_skytors:index'%}';" style="cursor:pointer;"><span>Home <i class="fas fa-home"></i></span></li>
                    <li class="current"><span>Search <i class="fas fa-search"></i></span></li>
                    <li><span>Passenger <i class="fas fa-users"></i></span></li>
                    <li><span>Book <i class="fas fa-book-open"></i></span></li>
                    <li><span>Issued <i class="fas fa-check-circle"></i></span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="position:sticky; top:95px; z-index:997; background-color:#f7f7f7; display:none;" id="mybuttonsticky">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:2px;">
                        <button class="primary-btn-ticket" style="width:100%;" data-toggle="modal" data-target="#myModalFilterSort">
                            <span style="color:white; font-size:12px;"> Filter & Sorting </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="modal fade" id="myModalFilterSort" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:white;"> Filter & Sorting </i></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="min-height=100px; max-height:400px; overflow-y: scroll;">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div id="filter2">

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div id="sorting-flight2">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="filter-search-flight" id="filter-search-flight">
                    <div style="background-color:white; padding:10px; margin-top:20px; border:1px solid #cdcdcd" id="filter">

                    </div>
                </div>
            </div>
            <div class="col-lg-9" style="margin-top:10px;">
                <div class="row sorting-search-flight" id="sorting-search-flight">
                    <div class="col-lg-12">
                        <div id="sorting-flight" style="margin-bottom:15px; margin-top:10px;">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="tour_ticket" style="align:center;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    tour_login('search');
    get_dept_year();
    tour_filter_render();

    function go_to_detail(sequence){
        console.log(sequence);
        for (i in tour_data)
        {
            if(tour_data[i].sequence == sequence)
            {
                pick = JSON.stringify(tour_data[i]).replace(/'/g,'');
                document.getElementById(`csrf`+i).innerHTML = `{% csrf_token %}`;
                document.getElementById(`csrf`+i).innerHTML += `<input type='hidden' value='`+pick+`' name='tour_pick'/>`;
                document.getElementById('myForm'+i).submit();
            }
        }
    }
</script>

{% endblock %}