{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/webservice_agent.js"></script>
<script src="{{ static_path }}js/pricing_javascript.js"></script>
<script src="{{ static_path }}js/tour_javascript.js"></script>
<script src="{{ static_path }}js/webservice_tour.js"></script>
<script src="{{ static_path }}js/moment.js"></script>
<script src="{{ static_path }}js/webservice_account.js"></script>

<script>
    time = 300;
    triggered_balance();
    get_balance();
    get_transactions();
</script>

<div class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top:10px;">
                <div id="tour_book_breadcrumb" class="col-lg-12" style="margin-top:10px;">

                </div>
            </div>
        </div>
        <br/>

        <form method="POST" id="tour_booking" action="{% url 'tt_website_skytors:tour_booking'%}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <h3 id="state_title"></h3>
                    <h4>Please review your booking summary</h4>
                    <br/>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="margin-top:10px; margin-bottom:15px;">
                    <div class="row" style="margin-bottom:15px;">
                        <div class="col-lg-12">
                            <div id="tour_order_detail" style="background-color: white; padding:15px; border: 1px solid #cdcdcd;">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="tour_review_detail" style="background-color: white; padding:15px; border: 1px solid #cdcdcd;">
                                <h4> Tour Detail </h4>
                                <hr/>
                                <h4 id="tour_data_name"></h4>
                                <br/>
                                <span id="tour_data_dates"><i class="fa fa-calendar" aria-hidden="true"></i>

                                </span>
                                <br/>
                                <span id="tour_data_duration"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                <br/>
                                <span id="tour_data_flight_visa"></span>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <input type="hidden" id="room_amount" value="{{room_amount}}"/>
                            <div id="tour_review_rooms" style="background-color: white; border: 1px solid #cdcdcd; overflow-x: auto;">
                                <div style="padding:15px;">
                                    <h4> List of Room(s) </h4>
                                    <hr/>
                                    <table style="width:100%;" id="list-of-rooms" class="list-of-passenger-class">
                                        <tr>
                                            <th style="width:10%;" class="list-of-passenger-left">Number</th>
                                            <th style="width:20%;">Name</th>
                                            <th style="width:20%;">Type</th>
                                            <th style="width:20%;">Hotel</th>
                                            <th style="width:30%;" class="list-of-passenger-right">Notes</th>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <div id="tour_review_booker" style="background-color: white; border: 1px solid #cdcdcd; overflow-x: auto;">
                                <div style="padding:15px;">
                                    <h4> Contact Information </h4>
                                    <hr/>
                                    <table style="width:100%;" id="list-of-bookers" class="list-of-passenger-class">
                                        <tr>
                                            <th style="width:5%;" class="list-of-passenger-left">No</th>
                                            <th style="width:45%;">Full Name</th>
                                            <th style="width:25%;">Email</th>
                                            <th style="width:25%;" class="list-of-passenger-right">Mobile Phone</th>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <input type="hidden" id="total_pax_all" value="{{total_pax_all}}"/>
                            <div id="tour_review_passengers" style="background-color: white; border: 1px solid #cdcdcd;">
                                <div style="padding:15px">
                                    <h4> List of Passenger(s) </h4>
                                    <hr/>
                                    <div id="pax_list_table">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-top:10px;">
                    <div style="background-color:white; padding:10px; border:1px solid #cdcdcd;" id="tour_detail">
                        <h4> Price Detail </h4>
                        <hr/>
                        <div id="tour_detail_table" style="padding: 0; font-size: 12px !important;">
                            <table style="width:100%;">
                                <tr>
                                    <td style="width: 40%;">Adult Price</td>
                                    <input type="hidden" id="adult_total_pax" name="adult_total_pax" value="{{price_itinerary.adult_total_pax}}"/>
                                    <td style="width: 10%;">x</td>
                                    <td style="width: 10%;">
                                        <input id="adult_amount" name="adult_amount" value="{{price_itinerary.adult_amount}}" style="background-color: transparent; border: none; width:100%; color: #777777;" readonly="readonly"/>
                                    </td>
                                    <td style="width: 10%;"></td>
                                    <td style="text-align: right; width: 30%;" data-price="0">
                                        <input id="adult_price" name="adult_price" style="text-align:right; background-color: transparent; border: none; width:100%; color: #777777;" data-price="{{price_itinerary.adult_price}}" readonly="readonly"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Adult Extra Bed</td>
                                    <td style="width: 10%;">x</td>
                                    <td style="width: 10%;">
                                        <input id="adult_surcharge_amount" name="adult_surcharge_amount" value="{{price_itinerary.adult_surcharge_amount}}" style="background-color: transparent; border: none; width:100%; color: #777777;" readonly="readonly"/>
                                    </td>
                                    <td style="width: 10%;"></td>
                                    <td style="text-align: right; width: 30%;" data-price="0">
                                        <input id="adult_surcharge_price" name="adult_surcharge_price" style="text-align:right; background-color: transparent; border: none; width:100%; color: #777777;" data-price="{{price_itinerary.adult_surcharge_price}}" readonly="readonly"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Child Price</td>
                                    <input type="hidden" id="child_total_pax" name="child_total_pax" value="{{price_itinerary.child_total_pax}}"/>
                                    <td style="width: 10%;">x</td>
                                    <td style="width: 10%;">
                                        <input id="child_amount" name="child_amount" value="{{price_itinerary.child_amount}}" style="background-color: transparent; border: none; width:100%; color: #777777;" readonly="readonly"/>
                                    </td>
                                    <td style="width: 10%;"></td>
                                    <td style="text-align: right; width: 30%;" data-price="0">
                                        <input id="child_price" name="child_price" style="text-align:right; background-color: transparent; border: none; width:100%; color: #777777;" data-price="{{price_itinerary.child_price}}" readonly="readonly"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Child Extra Bed</td>
                                    <td style="width: 10%;">x</td>
                                    <td style="width: 10%;">
                                        <input id="child_surcharge_amount" name="child_surcharge_amount" value="{{price_itinerary.child_surcharge_amount}}" style="background-color: transparent; border: none; width:100%; color: #777777;" readonly="readonly"/>
                                    </td>
                                    <td style="width: 10%;"></td>
                                    <td style="text-align: right; width: 30%;" data-price="0">
                                        <input id="child_surcharge_price" name="child_surcharge_price" style="text-align:right; background-color: transparent; border: none; width:100%; color: #777777;" data-price="{{price_itinerary.child_surcharge_price}}" readonly="readonly"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Infant Price</td>
                                    <td style="width: 10%;">x</td>
                                    <td style="width: 10%;">
                                        <input id="infant_amount" name="infant_amount" value="{{price_itinerary.infant_amount}}" style="background-color: transparent; border: none; width:100%; color: #777777;" readonly="readonly"/>
                                    </td>
                                    <td style="width: 10%;"></td>
                                    <td style="text-align: right; width: 30%;" data-price="0">
                                        <input id="infant_price" name="infant_price" style="text-align:right; background-color: transparent; border: none; width:100%; color: #777777;" data-price="{{price_itinerary.infant_price}}" readonly="readonly"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Single Supplement</td>
                                    <td style="width: 10%;">x</td>
                                    <td style="width: 10%;">
                                        <input id="single_supplement_amount" name="single_supplement_amount" value="{{price_itinerary.single_supplement_amount}}" style="background-color: transparent; border: none; width:100%; color: #777777;" readonly="readonly"/>
                                    </td>
                                    <td style="width: 10%;"></td>
                                    <td style="text-align: right; width: 30%;" data-price="0">
                                        <input id="single_supplement_price" name="single_supplement_price" style="text-align:right; background-color: transparent; border: none; width:100%; color: #777777;" data-price="{{price_itinerary.single_supplement_price}}" readonly="readonly"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Airport Tax</td>
                                    <td style="width: 10%;">x</td>
                                    <td style="width: 10%;">
                                        <input id="airport_tax_amount" name="airport_tax_amount" value="{{price_itinerary.airport_tax_amount}}" style="background-color: transparent; border: none; width:100%; color: #777777;" readonly="readonly"/>
                                    </td>
                                    <td style="width: 10%;"></td>
                                    <td style="text-align: right; width: 30%;" data-price="0">
                                        <input id="airport_tax_total" name="airport_tax_total" style="text-align:right; background-color: transparent; border: none; width:100%; color: #777777;" data-price="{{price_itinerary.airport_tax_total}}" readonly="readonly"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Tipping Local Guide</td>
                                    <td style="width: 10%;">x</td>
                                    <td style="width: 10%;">
                                        <input id="tipping_guide_amount" name="tipping_guide_amount" value="{{price_itinerary.tipping_guide_amount}}" style="background-color: transparent; border: none; width:100%; color: #777777;" readonly="readonly"/>
                                    </td>
                                    <td style="width: 10%;"></td>
                                    <td style="text-align: right; width: 30%;" data-price="0">
                                        <input id="tipping_guide_total" name="tipping_guide_total" style="text-align:right; background-color: transparent; border: none; width:100%; color: #777777;" data-price="{{price_itinerary.tipping_guide_total}}" readonly="readonly"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Tipping Tour Leader</td>
                                    <td style="width: 10%;">x</td>
                                    <td style="width: 10%;">
                                        <input id="tipping_tour_leader_amount" name="tipping_tour_leader_amount" value="{{price_itinerary.tipping_tour_leader_amount}}" style="background-color: transparent; border: none; width:100%; color: #777777;" readonly="readonly"/>
                                    </td>
                                    <td style="width: 10%;"></td>
                                    <td style="text-align: right; width: 30%;" data-price="0">
                                        <input id="tipping_tour_leader_total" name="tipping_tour_leader_total" style="text-align:right; background-color: transparent; border: none; width:100%; color: #777777;" data-price="{{price_itinerary.tipping_tour_leader_total}}" readonly="readonly"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Additional Charge</td>
                                    <td style="width: 10%;">x</td>
                                    <td style="width: 10%;">
                                        <input id="additional_charge_amount" name="additional_charge_amount" value="{{price_itinerary.additional_charge_amount}}" style="background-color: transparent; border: none; width:100%; color: #777777;" readonly="readonly"/>
                                    </td>
                                    <td style="width: 10%;"></td>
                                    <td style="text-align: right; width: 30%;" data-price="0">
                                        <input id="additional_charge_total" name="additional_charge_total" style="text-align:right; background-color: transparent; border: none; width:100%; color: #777777;" data-price="{{price_itinerary.additional_charge_total}}" readonly="readonly"/>
                                    </td>
                                </tr>
                            </table>
                            <br/>
                            <table>
                                <tr>
                                    <td style="width: 40%;">Total</td>
                                    <td style="width: 10%;"></td>
                                    <td style="width: 10%;"></td>
                                    <td style="width: 10%;"></td>
                                    <td style="text-align: right; width: 30%;">
                                        <input id="sub_total" name="sub_total" style="text-align:right; background-color: transparent; border: none; width:100%; font-size:12px !important; color: #777777;" readonly="readonly"/>
                                    </td>
                                    <input type="hidden" id="sub_total_hidden" name="sub_total_hidden" value="{{price_itinerary.sub_total_itinerary_price}}"/>
                                </tr>
                                <tr>
                                    <td style="width: 40%;">Discount</td>
                                    <td style="width: 10%;"></td>
                                    <td style="width: 10%;"></td>
                                    <td style="width: 10%;"></td>
                                    <td style="text-align: right; width: 30%;">
                                        <input id="discount_total" name="discount_total" style="text-align:right; background-color: transparent; border: none; width:100%; font-size:12px !important; color: #777777;" readonly="readonly"/>
                                    </td>
                                    <input type="hidden" id="discount_total_hidden" name="discount_total_hidden" value="{{price_itinerary.discount_total_itinerary_price}}"/>
                                </tr>
                            </table>
                            <hr/>
                            <table style="width:100%;">
                                <tr>
                                    <td style="width: 40%;"><span style="font-weight: bold; font-size: 14px !important;">Grand Total</span></td>
                                    <td style="width: 10%;"></td>
                                    <td style="width: 10%;"></td>
                                    <td style="width: 10%;"></td>
                                    <td style="text-align: right; font-weight: bold; font-size: 14px !important; width: 30%;">
                                        <input id="grand_total" name="grand_total" style="text-align:right; background-color: transparent; border: none; width:100%; font-size:15px; font-weight: bold; color: #777777;" readonly="readonly"/>
                                    </td>
                                    <input type="hidden" id="grand_total_hidden" name="grand_total_hidden" value="{{total_itinerary_price}}"/>
                                    <input id="commission_total" name="commission_total" type="hidden" value="{{price_itinerary.commission_total}}"/>
                                </tr>
                            </table>
                            <div class="row" id="show_commission" style="display:none;">
                                <br/>
                                <div class="col-lg-12 col-xs-12" style="text-align:center;">
                                    <div class="alert alert-success">
                                        <span style="font-size:13px;">Your Commission: IDR </span><span id="commission_total_content"></span><br>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px; text-align:center;">
                                <div class="col-xs-12">
                                    <input type="button" class="primary-btn-ticket" data-toggle="modal" data-target="#copiedModal" onclick="copy_data();" value="Copy" style="width:100%;"/>
                                </div>
                            </div>
                            <div class="row" style="margin-top:10px; text-align:center;">
                                <div class="col-xs-12">
                                    <input type="button" id="show_commission_button" class="primary-btn-ticket" value="Show Commission" style="width:100%;" onclick="show_commission();"/>
                                </div>

                                <div id="copiedModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4>Copy</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <span style="font-weight:bold">Copied!</span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8" id="upsell_downsell_opt">

                </div>
                <div class="col-lg-4" id="upsell_downsell_opt2">

                </div>
                <div class="col-lg-8 col-md-8 col-sm-8" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-lg-4" style="padding-bottom:15px;">

                        </div>
                        <div class="col-lg-4" style="padding-bottom:15px;">
                            <input class="primary-btn hold-seat-booking-train" type="button" value="Print Form" style="width:100%;"/>
                        </div>
                        <div id="issued_btn_place" class="col-lg-4" style="padding-bottom:15px;">

                        </div>
                    </div>
                </div>
                <div id="issuedModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Payment Option</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <input type="radio" name="payment_opt" value="cash" checked=""/> Full Payment (<span id="full_payment_val"></span>) <br/>
                                <input type="radio" name="payment_opt" value="installment"/> Installment <br/>
                                <!--<input type="hidden" name="installment_count" t-att-value="len(payment_rules)"/>-->
                                <table class="table table-bordered" style="font-size:12px;">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Amount</th>
                                        <th>Due Date</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tour_payment_rules">

                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <input class="primary-btn-ticket" type="button" value="Issued Now" onclick="tour_issued_booking('{{order_number}}');" style="width:100%;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    tour_get_booking('{{order_number}}');
</script>

{% endblock %}
