{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/webservice_agent.js"></script>
<script src="{{ static_path }}js/tour_javascript.js"></script>
<script src="{{ static_path }}js/webservice_tour.js"></script>
<script src="{{ static_path }}js/moment.js"></script>
<script src="{{ static_path }}js/owl.carousel.min.js"></script>
<script src="{{ static_path }}js/webservice_account.js"></script>

<script>
    time = 300;
    triggered_balance();
    get_balance();
    get_transactions();
</script>

<style>
    @media only screen and (min-width: 991px) {
        #header_home {
            padding-top: 100px;
        }
    }
    @media only screen and (max-width: 990px) {
        #header_home {
            padding-top: 0px;
        }
    }
</style>


<div class="destinations-area" style="padding-top:30px; padding-bottom:40px; z-index:1;">
    <div class="container">
        <div class="row" style="padding-bottom:10px;">
            <div class="col-lg-12" style="margin-top:10px;">
                <ul class="progressbar">
                    <li class="active" onclick="location.href='{% url 'tt_website_skytors:index'%}';" style="cursor:pointer;"><span>Home <i class="fas fa-home"></i></span></li>
                    <li><span>Search <i class="fas fa-search"></i></span></li>
                    <li><span>Passenger <i class="fas fa-users"></i></span></li>
                    <li><span>Book <i class="fas fa-book-open"></i></span></li>
                    <li><span>Issued <i class="fas fa-check-circle"></i></span></li>
                </ul>
            </div>
        </div>
        <div class="row full_tour_details" style="padding-top: 20px;">
            <div class="col-lg-12" style="padding-left:0px !important;">
                {% csrf_token %}
                <div class="row">
                    <input type="hidden" id="selected_tour_id" value="{{response.id}}"/>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div id="tour_carousel">

                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div style="width:100%; height: 95.5%; background-color:white; padding:20px 20px 20px 20px; border: 1px solid #ddd;">
                            <div id="country_list_tour">
                                <span style="font-size:22px; font-weight:bold; color:black;">{{response.name}}</span>

                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="ticket_detail">
                        <div style="width:100%; height:100%; background-color:white;">
                            <ul class="nav nav-tabs" style="text-align:center; width:100%; background-color: #f15a22;">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#itinerary"><i class="fa fa-list-ul" aria-hidden="true" title="details" style="font-size: 18px; color:white;"></i><span class="hidden-xs" style="color:white;"> Itinerary</span></a>
                                </li>
                                {% if response.flight == 'include'%}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#flight_details"><i class="fa fa-plane" aria-hidden="true" title="details" style="font-size: 18px; color:white;"></i><span class="hidden-xs" style="color:white;"> Flight Details</span></a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#remarks"><i class="fa fa-check-square" aria-hidden="true" title="details" style="font-size: 18px; color:white;"></i><span class="hidden-xs" style="color:white;"> Remarks</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#book_now"><i class="fa fa-shopping-cart" aria-hidden="true" title="details" style="font-size: 18px; color:white;"></i><span class="hidden-xs" style="color:white;"> Book Now</span></a>
                                </li>
                            </ul>
                            <div class="tab-content" style="border: 1px solid #ddd;">
                                <div id="itinerary" class="tab-pane fade in active show" style="padding: 15px; overflow: scroll;">

                                </div>
                                {% if response.flight == 'include'%}
                                <div id="flight_details" class="tab-pane fade" style="padding: 20px; overflow: scroll;">

                                </div>
                                {% endif %}
                                <div id="remarks" class="tab-pane fade maxwidth100" style="padding: 20px; word-wrap: break-word; overflow:auto;">

                                </div>
                                <div id="book_now" class="tab-pane fade" style="padding:15px;">
                                    <form method='POST' action="{% url 'tt_website_skytors:tour_passenger'%}" id="go_to_pax" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-7" style="margin-bottom:15px; padding-top:10px;">
                                                {% if response.tour_type == 'private' %}
                                                <div class="banner-right" style="margin-bottom: 25px;">
                                                    <div class="form-wrap" style="text-align: left; padding:0px;">
                                                        <h4>Tour Date</h4>
                                                        <hr/>
                                                        <label for="departure_date_tour">Departure Date</label>
                                                        <div class="input-container-search-ticket btn-group">
                                                            <i class="fas fa-calendar icon-search-ticket" style="font-size:14px;"></i>
                                                            <input class="form-control" type="text" name="departure_date_tour" id="departure_date_tour" placeholder="Choose your departure date"/>
                                                        </div>
                                                        <input type="hidden" id="departure_date_tour2" name="departure_date_tour2" value=""/><br/>
                                                        <label for="arrival_date_tour">Arrival Date</label>
                                                        <div class="input-container-search-ticket btn-group">
                                                            <i class="fas fa-calendar icon-search-ticket" style="font-size:14px;"></i>
                                                            <input class="form-control" type="text" name="arrival_date_tour" id="arrival_date_tour" placeholder="Choose your arrival date"/>
                                                        </div>
                                                        <input type="hidden" id="arrival_date_tour2" name="arrival_date_tour2" value=""/>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <input type="hidden" id="tour_id" name="tour_id" value="{{response.id}}"/>
                                                <input type="hidden" id="tipping_guide" name="tipping_guide" value="{{response.tipping_guide}}"/>
                                                <input type="hidden" id="tipping_tour_leader" name="tipping_tour_leader" value="{{response.tipping_tour_leader}}"/>
                                                <input type="hidden" id="tipping_driver" name="tipping_driver" value="{{response.tipping_driver}}"/>
                                                <input type="hidden" id="tipping_guide_child" name="tipping_guide" value="{{response.tipping_guide_child}}"/>
                                                <input type="hidden" id="tipping_tour_leader_child" name="tipping_tour_leader" value="{{response.tipping_tour_leader_child}}"/>
                                                <input type="hidden" id="tipping_driver_child" name="tipping_driver" value="{{response.tipping_driver_child}}"/>
                                                <input type="hidden" id="tipping_guide_infant" name="tipping_guide" value="{{response.tipping_guide_infant}}"/>
                                                <input type="hidden" id="tipping_tour_leader_infant" name="tipping_tour_leader" value="{{response.tipping_tour_leader_infant}}"/>
                                                <input type="hidden" id="tipping_driver_infant" name="tipping_driver" value="{{response.tipping_driver_infant}}"/>
                                                <input type="hidden" id="guiding_days" name="guiding_days" value="{{response.guiding_days}}"/>
                                                <input type="hidden" id="driving_times" name="driving_times" value="{{response.driving_times}}"/>
                                                <input type="hidden" id="duration" name="duration" value="{{response.duration}}"/>
                                                <input type="hidden" id="airport_tax" name="airport_tax" value="{{response.airport_tax}}"/>
                                                <input type="hidden" id="seat" name="seat" value="{{response.seat}}"/>
                                                <input type="hidden" id="commission_agent_type" name="commission_agent_type" value="other"/>
                                                <input type="hidden" id="tour_type" name="tour_type" value="{{response.tour_type}}"/>
                                                <input type="hidden" id="discount" name="discount" value="{{response.discount}}"/>
                                                <h4>Room Setting</h4>
                                                <hr/>
                                                <input type="hidden" id="room_amount" name="room_amount" value="0"/>
                                                <div id="tour_room_input">

                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                        <button id="btnShowRooms" class="primary-btn-ticket btn-block space" type="button" data-toggle="modal" data-target="#TourRoomsModal"><i class="fas fa-plus"></i> Add Room</button>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left: 0px;">
                                                        <button id="btnDeleteRooms" class="primary-btn-ticket btn-block space hide" type="button"><i class="fas fa-trash-alt"></i> Delete</button>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 hide" id="total-price-container">
                                                <div style="background-color:white; padding:10px; border:1px solid #cdcdcd;" id="tour_detail">
                                                    <h4> Price Detail </h4>
                                                    <hr/>
                                                    <div id="tour_detail_table">
                                                        <div class="row">
                                                            <div class="col-xs-5">Adult Price</div>
                                                            <input type="hidden" id="adult_sale_price_hidden" value="0"/>
                                                            <input type="hidden" id="adult_commission_hidden" value="0"/>
                                                            <input type="hidden" id="adult_total_pax" name="adult_total_pax" value="0"/>
                                                            <div class="col-xs-1">x</div>
                                                            <div class="col-xs-2">
                                                                <input id="adult_amount" name="adult_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <input id="adult_commission" name="adult_commission" data-price="0" type="hidden"/>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="adult_price" name="adult_price" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Adult Extra Bed</div>
                                                            <div class="col-xs-1">x</div>
                                                            <div class="col-xs-2">
                                                                <input id="adult_surcharge_amount" name="adult_surcharge_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="adult_surcharge_price" name="adult_surcharge_price" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Child Price</div>
                                                            <input type="hidden" id="child_sale_price_hidden" value="0"/>
                                                            <input type="hidden" id="child_commission_hidden" value="0"/>
                                                            <input type="hidden" id="child_total_pax" name="child_total_pax" value="0"/>
                                                            <div class="col-xs-1">X</div>
                                                            <div class="col-xs-2">
                                                                <input id="child_amount" name="child_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <input id="child_commission" name="child_commission" data-price="0" type="hidden"/>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="child_price" name="child_price" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Child Extra Bed</div>
                                                            <div class="col-xs-1">x</div>
                                                            <div class="col-xs-2">
                                                                <input id="child_surcharge_amount" name="child_surcharge_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="child_surcharge_price" name="child_surcharge_price" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Infant Price</div>
                                                            <input type="hidden" id="infant_sale_price_hidden" value="0"/>
                                                            <input type="hidden" id="infant_commission_hidden" value="0"/>
                                                            <div class="col-xs-1">x</div>
                                                            <div class="col-xs-2">
                                                                <input id="infant_amount" name="infant_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <input id="infant_commission" name="infant_commission" data-price="0" type="hidden"/>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="infant_price" name="infant_price" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Single Supplement</div>
                                                            <div class="col-xs-1">x</div>
                                                            <div class="col-xs-2">
                                                                <input id="single_supplement_amount" name="single_supplement_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="single_supplement_price" name="single_supplement_price" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Airport Tax</div>
                                                            <div class="col-xs-1">x</div>
                                                            <div class="col-xs-2">
                                                                <input id="airport_tax_amount" name="airport_tax_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="airport_tax_total" name="airport_tax_total" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Tipping Local Guide</div>
                                                            <div class="col-xs-1">x</div>
                                                            <div class="col-xs-2">
                                                                <input id="tipping_guide_amount" name="tipping_guide_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="tipping_guide_total" name="tipping_guide_total" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Tipping Tour Leader</div>
                                                            <div class="col-xs-1">x</div>
                                                            <div class="col-xs-2">
                                                                <input id="tipping_tour_leader_amount" name="tipping_tour_leader_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="tipping_tour_leader_total" name="tipping_tour_leader_total" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Tipping Driver</div>
                                                            <div class="col-xs-1">x</div>
                                                            <div class="col-xs-2">
                                                                <input id="tipping_driver_amount" name="tipping_driver_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="tipping_driver_total" name="tipping_driver_total" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Additional Charge</div>
                                                            <div class="col-xs-1">x</div>
                                                            <div class="col-xs-2">
                                                                <input id="additional_charge_amount" name="additional_charge_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="additional_charge_total" name="additional_charge_total" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <br/>
                                                        <div class="row">
                                                            <div class="col-xs-5">Total</div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-4" style="text-align: right;">
                                                                <input id="sub_total" name="sub_total" style="text-align:right; background-color: transparent; border: none; width:100%; font-size:15px;" readonly="readonly"/>
                                                            </div>
                                                            <input type="hidden" id="sub_total_hidden" name="sub_total_hidden"/>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Discount</div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-4" style="text-align: right;">
                                                                <input id="discount_total" name="discount_total" style="text-align:right; background-color: transparent; border: none; width:100%; font-size:15px;" readonly="readonly"/>
                                                            </div>
                                                            <input type="hidden" id="discount_total_hidden" name="discount_total_hidden"/>
                                                        </div>
                                                        <hr/>
                                                        <div class="row">
                                                            <div class="col-xs-5"><span style="font-weight: bold; font-size: 22;">Grand Total</span></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-4" style="text-align: right; font-weight: bold; font-size: 22;">
                                                                <input id="grand_total" name="grand_total" style="text-align:right; background-color: transparent; border: none; width:100%; font-size:16px; font-weight: bold;" readonly="readonly"/>
                                                            </div>
                                                            <input type="hidden" id="grand_total_hidden" name="grand_total_hidden"/>
                                                            <input id="commission_total" name="commission_total" type="hidden"/>
                                                        </div>
                                                        <div class="row" id="show_commission" style="display:none;">
                                                            <br/>
                                                            <div class="col-lg-12 col-xs-12" style="text-align:center;">
                                                                <div class="alert alert-success">
                                                                    <span style="font-size:13px; font-weight:bold;">Your Commission: IDR </span><span id="commission_total_content"></span><br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px; text-align:center;">
                                                            <div class="col-xs-12">
                                                                <input type="button" class="primary-btn-ticket" data-toggle="modal" data-target="#copiedModal" onclick="copy_data();" value="Copy" style="width:100%;"/>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:10px; text-align:center;">
                                                            <div class="col-xs-12">
                                                                <input type="button" id="show_commission_button" class="primary-btn-ticket" value="Show Commission" style="width:100%;" onclick="show_commission();"/>
                                                            </div>

                                                            <div id="copiedModal" class="modal fade" role="dialog">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4>Copy</h4>
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <span style="font-weight:bold">Copied!</span>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br/>
                                                <center>
                                                    <button type="submit" class="primary-btn-ticket" value="Next" style="width:100%;">
                                                        Next
                                                        <i class="fas fa-angle-right"></i>
                                                    </button>
                                                </center>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="modal fade centerModalPricelist" id="TourRoomsModal" role="dialog" style="height:400px; overflow-y:hidden;">
                                        <div class="modal-dialog tour-rooms-modal">
                                            <div class="modal-content">
                                                <div class="modal-header" style="padding:10px; border-bottom:none;">
                                                    <h5 class="modal-title">Room Available</h5>
                                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                                </div>
                                                <div id="search-body-content" class="modal-body" style="height:350px; padding: 0px 15px 15px 15px;">
                                                    <table class="table table-striped" style="height: 325px !important; font-size:11px; table-layout: auto;">
                                                        <thead>
                                                        <th style="width:30%;">Hotel</th>
                                                        <th style="width:20%;">Room</th>
                                                        <th style="width:40%;">Description</th>
                                                        <th style="width:10%;">Action</th>
                                                        </thead>
                                                        <tbody id="tour_hotel_room_list" style="display: table-footer-group !important;">

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    sel_id = document.getElementById('selected_tour_id').value;
    tour_get_details(sel_id);
    $(function() {
        $('#departure_date_tour').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              startDate: moment(),
              minDate: moment(),
              showDropdowns: true,
              opens: 'right',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });

        $('#arrival_date_tour').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              startDate: moment().subtract(-1, 'days'),
              minDate: moment().subtract(-1, 'days'),
              showDropdowns: true,
              opens: 'right',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
      });
</script>
{% endblock %}
