{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/webservice_agent.js"></script>
<script src="{{ static_path }}js/tour_javascript.js"></script>
<script src="{{ static_path }}js/webservice_tour.js"></script>
<script src="{{ static_path }}js/moment.js"></script>

<script>
    document.getElementById('username').innerHTML = '{{username}}';
    document.getElementById("balance").innerHTML = 'Balance: Rp '+getrupiah({{balance}});
</script>

<style>
    @media only screen and (min-width: 991px) {
        #header_home {
            padding-top: 100px;
        }
    }
    @media only screen and (max-width: 990px) {
        #header_home {
            padding-top: 0px;
        }
    }
</style>


<div class="destinations-area" style="padding-top:30px; padding-bottom:40px; z-index:1;">
    <div class="container">
        <div class="row" style="padding-bottom:10px; padding-top:20px; margin-left: -30px !important;">
            <div class="col-lg-12" style="margin-top:10px;">
                <div class="breadcrumb-ticket" style="text-align:center;">
                    <a href="#" class="active"> Home <i class="fas fa-home"></i></a>
                    <a href="#" class="active"> Search <i class="fas fa-search"></i></a>
                    <a href="#" style="pointer-events: none;"> Booker & Passenger <i class="fas fa-users"></i></a>
                    <a href="#" style="pointer-events: none;"> Review <i class="fas fa-info-circle"></i></a>
                    <a href="#" style="pointer-events: none;"> Booking <i class="fas fa-book-open"></i></a>
                    <a href="#" style="pointer-events: none;"> Issued <i class="fas fa-check-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="row full_tour_details" style="padding-top: 20px;">
            <div class="col-lg-12" style="padding-left:0px !important;">
                <hr/>

                {% csrf_token %}
                <div class="row">
                    <input type="hidden" id="selected_tour_id" value="{{response.id}}"/>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div id="tour_carousel" style="width:100%; height:100%; padding:0;">

                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div style="width:100%; height: 95.5%; background-color:white; padding:20px 20px 20px 20px; border: 1px solid #ddd;">
                            <div id="country_list_tour">
                                <span style="font-size:22px; font-weight:bold; color:black;">{{response.name}}</span>

                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="ticket_detail">
                        <div style="width:100%; height:100%; background-color:white;">
                            <ul class="nav nav-tabs" style="text-align:center; width:100%; background-color: #f15a22;">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#itinerary"><i class="fa fa-list-ul" aria-hidden="true" title="details" style="font-size: 18px; color:white;"></i><span class="hidden-xs" style="color:white;"> Itinerary</span></a>
                                </li>
                                {% if response.flight == 'include'%}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#flight_details"><i class="fa fa-plane" aria-hidden="true" title="details" style="font-size: 18px; color:white;"></i><span class="hidden-xs" style="color:white;"> Flight Details</span></a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#remarks"><i class="fa fa-check-square" aria-hidden="true" title="details" style="font-size: 18px; color:white;"></i><span class="hidden-xs" style="color:white;"> Remarks</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#book_now"><i class="fa fa-shopping-cart" aria-hidden="true" title="details" style="font-size: 18px; color:white;"></i><span class="hidden-xs" style="color:white;"> Book Now</span></a>
                                </li>
                            </ul>
                            <div class="tab-content" style="border: 1px solid #ddd;">
                                <div id="itinerary" class="tab-pane fade in active show" style="padding: 20px; overflow: scroll;">

                                </div>
                                {% if response.flight == 'include'%}
                                <div id="flight_details" class="tab-pane fade" style="padding: 20px; overflow: scroll;">

                                </div>
                                {% endif %}
                                <div id="remarks" class="tab-pane fade maxwidth100" style="padding: 20px; word-wrap: break-word;">

                                </div>
                                <div id="book_now" class="tab-pane fade" style="padding: 20px;">
                                    <form method='POST' action="{% url 'tt_website_skytors:tour_passenger'%}" id="go_to_pax" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px;">
                                                {% if response.tour_type == 'private' or response.tour_type == 'sic'%}
                                                <h3>Tour Date</h3>
                                                <label for="departure_date_tour">Departure Date</label>
                                                <input class="form-control calendar-logo dept_date_tour" type="text" name="departure_date_tour" id="departure_date_tour" placeholder="Choose your departure date"/>
                                                <input type="hidden" id="departure_date_tour2" name="departure_date_tour2" value=""/><br/>
                                                <label for="arrival_date_tour">Arrival Date</label>
                                                <input class="form-control calendar-logo dept_date_tour" type="text" name="arrival_date_tour" id="arrival_date_tour" placeholder="Choose your arrival date"/>
                                                <input type="hidden" id="arrival_date_tour2" name="arrival_date_tour2" value=""/>
                                                {% endif %}
                                                <input type="hidden" id="tour_id" name="tour_id" value="{{response.id}}"/>
                                                <input type="hidden" id="tipping_guide" name="tipping_guide" value="{{response.tipping_guide}}"/>
                                                <input type="hidden" id="tipping_tour_leader" name="tipping_tour_leader" value="{{response.tipping_tour_leader}}"/>
                                                <input type="hidden" id="guiding_days" name="guiding_days" value="{{response.guiding_days}}"/>
                                                <input type="hidden" id="duration" name="duration" value="{{response.duration}}"/>
                                                <input type="hidden" id="airport_tax" name="airport_tax" value="{{response.airport_tax}}"/>
                                                <input type="hidden" id="seat" name="seat" value="{{response.seat}}"/>
                                                <input type="hidden" id="commission_agent_type" name="commission_agent_type" value="other"/>
                                                <input type="hidden" id="tour_type" name="tour_type" value="{{response.tour_type}}"/>
                                                <input type="hidden" id="discount" name="discount" value="{{response.discount}}"/>
                                                <h4>Room Setting</h4>
                                                <br/>
                                                <input type="hidden" id="room_amount" name="room_amount" value="0"/>
                                                <div id="tour_room_input">

                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                        <button id="btnShowRooms" class="primary-btn-ticket btn-block space" type="button" data-toggle="modal" data-target="#TourRoomsModal">Add Room</button>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-left: 0px;">
                                                        <button id="btnDeleteRooms" class="primary-btn-ticket btn-block space hide" type="button">Delete</button>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 hide" id="total-price-container">
                                                <div style="background-color:#f15a22; padding:5px;">
                                                    <center><span style="color:white; font-size:16px;"> Price Detail <i class="fas fa-money-bill-wave"></i></span></center>
                                                </div>
                                                <div style="background-color:white; padding:10px; border:1px solid #f15a22;" id="tour_detail">
                                                    <div id="tour_detail_table">
                                                        <div class="row">
                                                            <div class="col-xs-5">Adult Price</div>
                                                            <input type="hidden" id="adult_sale_price_hidden" value="0"/>
                                                            <input type="hidden" id="adult_commission_hidden" value="0"/>
                                                            <input type="hidden" id="adult_total_pax" name="adult_total_pax" value="0"/>
                                                            <div class="col-xs-1">X</div>
                                                            <div class="col-xs-2">
                                                                <input id="adult_amount" name="adult_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <input id="adult_commission" name="adult_commission" data-price="0" type="hidden"/>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="adult_price" name="adult_price" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Adult Extra Bed</div>
                                                            <div class="col-xs-1">X</div>
                                                            <div class="col-xs-2">
                                                                <input id="adult_surcharge_amount" name="adult_surcharge_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="adult_surcharge_price" name="adult_surcharge_price" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Child Price</div>
                                                            <input type="hidden" id="child_sale_price_hidden" value="0"/>
                                                            <input type="hidden" id="child_commission_hidden" value="0"/>
                                                            <input type="hidden" id="child_total_pax" name="child_total_pax" value="0"/>
                                                            <div class="col-xs-1">X</div>
                                                            <div class="col-xs-2">
                                                                <input id="child_amount" name="child_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <input id="child_commission" name="child_commission" data-price="0" type="hidden"/>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="child_price" name="child_price" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Child Extra Bed</div>
                                                            <div class="col-xs-1">X</div>
                                                            <div class="col-xs-2">
                                                                <input id="child_surcharge_amount" name="child_surcharge_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="child_surcharge_price" name="child_surcharge_price" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Infant Price</div>
                                                            <input type="hidden" id="infant_sale_price_hidden" value="0"/>
                                                            <input type="hidden" id="infant_commission_hidden" value="0"/>
                                                            <div class="col-xs-1">X</div>
                                                            <div class="col-xs-2">
                                                                <input id="infant_amount" name="infant_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <input id="infant_commission" name="infant_commission" data-price="0" type="hidden"/>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="infant_price" name="infant_price" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Single Supplement</div>
                                                            <div class="col-xs-1">X</div>
                                                            <div class="col-xs-2">
                                                                <input id="single_supplement_amount" name="single_supplement_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="single_supplement_price" name="single_supplement_price" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Airport Tax</div>
                                                            <div class="col-xs-1">X</div>
                                                            <div class="col-xs-2">
                                                                <input id="airport_tax_amount" name="airport_tax_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="airport_tax_total" name="airport_tax_total" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Tipping Local Guide</div>
                                                            <div class="col-xs-1">X</div>
                                                            <div class="col-xs-2">
                                                                <input id="tipping_guide_amount" name="tipping_guide_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="tipping_guide_total" name="tipping_guide_total" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Tipping Tour Leader</div>
                                                            <div class="col-xs-1">X</div>
                                                            <div class="col-xs-2">
                                                                <input id="tipping_tour_leader_amount" name="tipping_tour_leader_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="tipping_tour_leader_total" name="tipping_tour_leader_total" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Additional Charge</div>
                                                            <div class="col-xs-1">X</div>
                                                            <div class="col-xs-2">
                                                                <input id="additional_charge_amount" name="additional_charge_amount" style="background-color: transparent; border: none; width:100%;" readonly="readonly"/>
                                                            </div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-3" style="text-align: right;" data-price="0">
                                                                <input id="additional_charge_total" name="additional_charge_total" style="text-align:right; background-color: transparent; border: none; width:100%;" data-price="0" readonly="readonly"/>
                                                            </div>
                                                        </div>
                                                        <br/>
                                                        <div class="row">
                                                            <div class="col-xs-5">Total</div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-4" style="text-align: right;">
                                                                <input id="sub_total" name="sub_total" style="text-align:right; background-color: transparent; border: none; width:100%; font-size:15px;" readonly="readonly"/>
                                                            </div>
                                                            <input type="hidden" id="sub_total_hidden" name="sub_total_hidden"/>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-5">Discount</div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-4" style="text-align: right;">
                                                                <input id="discount_total" name="discount_total" style="text-align:right; background-color: transparent; border: none; width:100%; font-size:15px;" readonly="readonly"/>
                                                            </div>
                                                            <input type="hidden" id="discount_total_hidden" name="discount_total_hidden"/>
                                                        </div>
                                                        <hr/>
                                                        <div class="row">
                                                            <div class="col-xs-5"><span style="font-weight: bold; font-size: 22;">Grand Total</span></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-1"></div>
                                                            <div class="col-xs-4" style="text-align: right; font-weight: bold; font-size: 22;">
                                                                <input id="grand_total" name="grand_total" style="text-align:right; background-color: transparent; border: none; width:100%; font-size:16px; font-weight: bold;" readonly="readonly"/>
                                                            </div>
                                                            <input type="hidden" id="grand_total_hidden" name="grand_total_hidden"/>
                                                            <input id="commission_total" name="commission_total" type="hidden"/>
                                                        </div>
                                                        <div class="row" id="show_commission" style="display:none;">
                                                            <br/>
                                                            <div class="col-lg-12 col-xs-12" style="text-align:center;">
                                                                <div class="alert alert-success">
                                                                    <span style="font-size:13px;">Your Commission: IDR </span><span id="commission_total_content"></span><br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin:20px 0px 0px 0px; text-align:center;">
                                                            <div class="col-xs-12">
                                                                <input type="button" class="primary-btn-ticket" data-toggle="modal" data-target="#copiedModal" onclick="copy_data();" value="Copy" style="width:100%;"/>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin:10px 0px 10px 0px; text-align:center;">
                                                            <div class="col-xs-12">
                                                                <input type="button" id="show_commission_button" class="primary-btn-ticket" value="Show Commission" style="width:100%;" onclick="show_commission();"/>
                                                            </div>

                                                            <div id="copiedModal" class="modal fade" role="dialog">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4>Copy</h4>
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <span style="font-weight:bold">Copied!</span>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br/>
                                                <center>
                                                    <button type="submit" class="primary-btn-ticket" value="Next" style="width:90%;">
                                                        Next
                                                        <i class="fas fa-angle-right"></i>
                                                    </button>
                                                </center>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="modal fade centerModalPricelist" id="TourRoomsModal" role="dialog" style="height:400px; overflow-y:hidden;">
                                        <div class="modal-dialog tour-rooms-modal">
                                            <div class="modal-content">
                                                <div class="modal-header" style="padding:10px; border-bottom:none;">
                                                    <h5 class="modal-title">Room Available</h5>
                                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                                </div>
                                                <div id="search-body-content" class="modal-body" style="height:350px; padding: 0px 15px 15px 15px;">
                                                    <table class="table table-striped" style="height: 325px !important; font-size:11px; table-layout: auto;">
                                                        <thead>
                                                        <th style="width:30%;">Hotel</th>
                                                        <th style="width:20%;">Room</th>
                                                        <th style="width:40%;">Description</th>
                                                        <th style="width:10%;">Action</th>
                                                        </thead>
                                                        <tbody id="tour_hotel_room_list" style="display: table-footer-group !important;">

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About RODEX TRIP</h6>
                    <p>
                        PT. Roda Express Sukses Mandiri adalah perusahaan yang bergerak di bidang Tour & Travel dan dikenal dengan nama RODEX TOUR & TRAVEL. Rodex Tour & Travel didirikan pertama kali pada tanggal 09 September 2009 bertempat di sebuah pusat perbelanjaan terkemuka di Surabaya yaitu Mall Pakuwon Trade Center (PTC). Di bawah kepemimpinan Bapak Galuh Suryono Cipto Adi, Rodex Tour & Travel mengalami perkembangan yang signifikan dari tahun ke tahun.
                    </p>
                    <p>
                        Hingga saat ini kami telah memiliki  lebih kurang 1.000 orang reseller yang teregister dan puluhan Cabang Mitra (Citra) yang tersebar di seluruh indonesia.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Navigation Links</h6>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Feature</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Portfolio</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>
                        For business professionals caught between high OEM price and mediocre print and graphic output.
                    </p>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="btn bb-btn"><span class="lnr lnr-location"></span></button>
                            </div>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">InstaFeed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="{{static_path}}img/i1.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i2.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i3.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i4.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i5.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i6.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i7.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i8.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by RODEX TRIP
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>

<script>
    sel_id = document.getElementById('selected_tour_id').value;
    tour_get_details(sel_id);
</script>
{% endblock %}
