{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/webservice_agent.js"></script>
<script src="{{ static_path }}js/tour_javascript.js"></script>
<script src="{{ static_path }}js/webservice_tour.js"></script>
<script src="{{ static_path }}js/moment.js"></script>
<script src="{{ static_path }}js/webservice_account.js"></script>

<script>
    time = 300;
    triggered_balance();
    get_balance();
    get_transactions();
</script>

<div class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top:10px;">
                <div class="breadcrumb-ticket" style="text-align:center;">
                    <a href="#" style="pointer-events: none;" class="active"> Home <i class="fas fa-home"></i></a>
                    <a href="#" style="pointer-events: none;" class="active"> Search <i class="fas fa-search"></i></a>
                    <a href="#" style="pointer-events: none;" class="active"> Booker & Passenger <i class="fas fa-users"></i></a>
                    <a href="#" style="pointer-events: none;" class="active"> Review <i class="fas fa-eye"></i></a>
                    <a href="#" style="pointer-events: none;" class="active"> Booking <i class="fas fa-book-open"></i></a>
                    <a href="#" style="pointer-events: none;" id="issued-breadcrumb"> Issued <i class="fas fa-check-circle"></i></a>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>

{% endblock %}
