input, button, select, optgroup, textarea{
    padding:0px 5px;
}

input{
    margin-bottom: 15px !important;
}

.bg-overlay {
  position: relative;
  z-index: 1; }
  .bg-overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(14, 39, 55, 0.5);
}

.jarallax {
  position: relative;
  z-index: 0; }
  .jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }


.grow_class{
    height: 400px;
    background: #f7f7f7;
    border:1px solid #cdcdcd;
    padding:15px;
}

@media (max-width: 991px) {
    .grow_class{
        height: auto;
        background: unset;
        border: unset;
    }
}

.form-select {
  height: 40px;
  width: 100%;
  margin-bottom:15px;
}

.primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.primary-btn:hover span {
  color: #fff;
  right: 20px;
}

.primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}

.primary-btn.white span {
  color: #fff;
}

.primary-btn.white:hover {
  background: #fff;
  color: #f8b600;
}

.primary-btn.white:hover span {
  color: #f8b600;
}

.primary-btn.wh {
  background: #fff;
  color: #222;
  text-transform: uppercase;
}

.primary-btn.wh:hover {
  background: #222;
  color: #fff;
}

.primary-btn.squire {
  border-radius: 0px !important;
  border: 1px solid transparent;
}

.primary-btn.squire:hover {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

.list-wrap {
  background: #fbfcff;
  max-width: 445px;
  padding: 30px;
}

.list-wrap ul {
  list-style-image: url("../img/insurence/bullet.png");
}

.list-wrap li {
  padding-left: 12px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 15px;
  color: #222;
}

div.scrollmenu {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  min-height:44px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

div.scrollmenu li {
  color: black;
  text-align: center;
  text-decoration: none;
}

.booking-with-image {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left-booking {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left-booking {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right-booking {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right-booking {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered-booking {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animated.delay-1s {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

/*.form-control:focus {
  border: 1px solid #205B95;
}*/


.icon-change {
  width: 15px;
  height: 15px;
}

.image-change-route-vertical {
  z-index: 10;
  height: 15px;
  width: 15px;
  position: absolute;
  left: 48.4%;
  top: 30px;
}

.image-change-route-horizontal {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;

    position: absolute;
    top: 68px;
    left: 52%;
    z-index: 10;
    height: 40px;
    width: 40px;
}

.image-change-route-vertical2 {
  z-index: 10;
  height: 15px;
  width: 15px;
  position: absolute;
  left: 48%;
  top: 30px;
}

.image-change-route-horizontal2 {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;

    position: absolute;
    top: 66px;
    left: 52%;
    z-index: 10;
    height: 40px;
    width: 40px;
}

.horizontal-arrow:hover{
    color:#205B95;
}

@media (max-width: 768px) {
    .image-change-route-vertical{
        left: 47.3%;
    }
    .image-change-route-vertical2{
        left: 47.3%;
    }
}

@media (max-width: 768px) {
    .image-change-route-vertical{
      display:none;
    }
    .image-change-route-horizontal{
      display:block;
    }
    .image-change-route-vertical2{
      display:none;
    }
    .image-change-route-horizontal2{
      display:block;
    }
    .train-to{
      padding-left:0px;
    }
    .train-from{
      padding-right:0px;
    }
}

@media (min-width: 769px) {
    .image-change-route-vertical{
      display:block;
    }
    .image-change-route-horizontal{
      display:none;
    }
    .image-change-route-vertical2{
      display:block;
    }
    .image-change-route-horizontal2{
      display:none;
    }
}

ul.footer-link li a{
    font-size: 13px;
    margin-bottom:15px;
}

ul.footer-link li{
    line-height: 43px;
    padding:0px;
}

.btn-default{

}

.menu ul ul{
    top: 0px;
    right:100%;
}


.div_cst{
    padding:15px;
    cursor:pointer;
    display:inline-grid;
}

.div_cst:hover .image-rounded-product img{
    transform: scale(1.5);
}

.hover_cst{
    color:black;
    padding-top:10px;
}

.image-rounded-icon{
    padding:5px;
}

.div_cst:hover .image-rounded-icon{
    border: 5px solid #205B95;
    transition:0.5s;
    padding:20px;
}

.image-rounded-product{
    border: 5px solid #cdcdcd;
    border-radius: 14px;
    width:100px;
    height: 90px;
    padding:20px;
    background:white;
}

.div_cst:hover .image-rounded-product{
    border: 5px solid #205B95;
    transition:0.5s;
    padding:20px;
}


/*
#big_banner{
    min-height:415px;
}


@media(max-width:1366px) {
	#big_banner{
		max-height: 380px;
	}
}

@media(max-width:1280px) {
    #big_banner{
		max-height: 380px;
	}
}

@media(max-width:1080px) {
    #big_banner{
		max-height: 340px;
	}
}

@media(max-width:992px) {
    #big_banner{
		min-height: 280px;
	}
}

@media(max-width:736px) {
    #big_banner{
		min-height: 230px;
	}
}

@media(max-width:600px) {
    #big_banner{
		min-height: 200px;
	}
}

@media(max-width:480px) {
    #big_banner{
		min-height: 160px;
	}
}
*/

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    /*background: rgba(0,0,0,0.5);*/
    color: black;
    display: inline-block;
    padding: 10px 15px 5px 15px;
    cursor: pointer;
}

ul.tabs li:hover{
   color:#205B95;
}

li.tab-link label{
    cursor: pointer;
    text-align:center;
}

ul.tabs li.current{
    /*background: rgba(0,0,0,0.5);*/
    border-bottom: 5px solid #205B95;
    color: #205B95;
}

ul.tabs li.current .image-rounded-icon{
    background: #205B95 !important;
}

.tab-content{
    display: none;
    /*background: rgba(0,0,0,0.5);*/
    padding: 20px;
}

.tab-content.current{
    display: inherit;
}

.nice-select.form-control{
    padding:0px 10px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}

.price-area {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.single-destination{
    border:1px solid #cdcdcd;
}

.{
    width:250px;
    height:250px;
}

.menu li{
    list-style-type:unset;
    color: white;
    line-height: 40px;
}

small {
  font-size: 80%;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

:focus{
    outline: unset !important;
}

.image-rounded-icon{
    font-size:24px;
}

.image-rounded-icon2{
    font-size:24px;
    color:white;
}

.image-rounded-icon2:hover {
    border: unset !important;
    color: {{color}};
}

.form-select-2{
    width:100%;
}

.single-recent-blog-post{
    margin-top:15px;
}

.section_bg{
    background:white;
}

/* Add padding and border to inner content
for better animation effect */

.overlay_menu {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
  cursor: pointer;
}

.a_black{
    color:black;
}
.a_black:hover{
    color:#205B95;
}

nav ul ul li{
    display: block;
}

.modal-footer{
    justify-content: unset;
}

b, strong{
    font-weight: bold;
}

.bell_notif{
    color: white;
}


@media (max-width: 991px) {
    nav ul ul{
        border: unset;
    }

    nav ul li > ul{
        border-top: 1px solid #cdcdcd;
    }
}

nav a{
    font-weight: 500;
    padding: 10px 6px;
}
