<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="single-footer-widget">
                    <h6>About RODEX TRIP</h6>
                    <p>
                        PT. Roda Express Sukses Mandiri is a company engaged in the field of Tour & Travel and is known as RODEX TOUR & TRAVEL. Rodex Tour & Travel was first established on September 9, 2009 at a leading shopping center in Surabaya, namely the Mall Pakuwon Trade Center (PTC). Under the leadership of Mr. Galuh Suryono Cipto Adi, Rodex Tour & Travel has experienced significant developments from year to year.
                    </p>
                    <p>
                        Until now, we have approximately 1,000 registered resellers and dozens of Mitra (Citra) branches spread throughout Indonesia.
                    </p>
                </div>
            </div>
            <!--<div class="col-lg-6 col-md-6 col-sm-6">-->
                <!--<div class="single-footer-widget">-->
                    <!--<h6>Navigation Links</h6>-->
                    <!--<div class="row">-->
                        <!--<div class="col">-->
                            <!--<ul>-->
                                <!--<li><a href="#">Home</a></li>-->
                                <!--<li><a href="#">Reservation</a></li>-->
                                <!--<li><a href="#">Top Up</a></li>-->
                                <!--<li><a href="#">Partnership</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="col">-->
                            <!--<ul>-->
                                <!--<li><a href="#">Issued Offline</a></li>-->
                                <!--<li><a href="#">User Guide</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-6 col-sm-6">-->
                <!--<div class="single-footer-widget">-->
                    <!--<h6>Newsletter</h6>-->
                    <!--<p>-->
                        <!--Get Deals Directly in Your Email Inbox!-->
                    <!--</p>-->
                    <!--<div id="mc_embed_signup">-->
                        <!--<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">-->
                            <!--<div class="input-group d-flex flex-row">-->
                                <!--<input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">-->
                                <!--<button class="btn bb-btn"><i class="fas fa-paper-plane"></i></button>-->
                            <!--</div>-->
                            <!--<div class="mt-10 info"></div>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0" style="color:white;"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by RODEXTRIP
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="https://www.facebook.com/Rodex-Tours-and-Travel-115644478511842/"><img style="height:24px; width:auto;" src="{{static_path}}img/facebook.png"/></a>
                <a href="https://www.instagram.com/rodextravel/?hl=id"><img style="height:24px; width:auto;" src="{{static_path}}img/instagram.png"/></a>
            </div>
        </div>
    </div>
</footer>