<button type="button" style="
    position: fixed;
    bottom: 120px;
    right: 58px;
    z-index: 99;
    font-size: 20px;
    border: 1px solid gray;
    outline: none;
    background-color: #f15a22;
    color: white;
    cursor: pointer;
    height: 55px;
    width: 55px;
    border-radius: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;" class="primary-btn" data-toggle="modal" data-target="#myModalPlugin" onclick="get_passenger_cache();">
    <i class="fas fa-address-card"></i>
</button>
<div class="modal fade" id="myModalPlugin" role="dialog" data-keyboard="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:white;">Passenger <i class="fas fa-address-card"></i></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12" style="padding:0px; text-align:left;margin-bottom:10px;">
                    <label class="radio-button-custom">
                        <span style="font-size:14px;">Search</span>
                        <input type="radio" checked="checked" name="radio_booker" value="search" onclick="radio_button('booker');">
                        <span class="checkmark-radio"></span>
                    </label>
                    <label class="radio-button-custom">
                        <span style="font-size:14px;">Create new passenger</span>
                        <input type="radio" name="radio_booker" value="create" onclick="radio_button('booker');">
                        <span class="checkmark-radio"></span>
                    </label>
                    <label class="radio-button-custom">
                        <span style="font-size:14px;">Chosen Passenger</span>
                        <input type="radio" name="radio_booker" value="chosen" onclick="radio_button('booker');">
                        <span class="checkmark-radio"></span>
                    </label>
                </div>
                <div id="booker_search">
                    <input type="text" id="train_booker_search" placeholder="Search" style="padding:5px;"/>
                    <button type="button" class="primary-btn" style="line-height:34px;" onclick="get_customer_list('booker','','cache')">Search</button>
                    <div id="search_result" style="height:70vh;">

                    </div>
                </div>
                <div class="col-lg-12" id="booker_input" style="overflow:auto;height:70vh;background-color:white; padding:10px; border:1px solid #cdcdcd;" hidden>
                    <div class="col-lg-12" style="background-color:white; padding:10px; border:1px solid #f15a22;">
                        <div class="row">
                            <div class="col-lg-6 col-xs-6">
                                <label style="color:red">*</label>
                                <label>Title</label>
                                <div class="input-container-search-ticket">
                                    <div class="form-select-2">
                                        <select id="passenger_title" name="passenger_title" class="nice-select-default">
                                            {% for title in titles%}
                                            <option>{{title}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" style="margin-top:auto;">
                                <button type="button" class="btn btn-secondary" style="width:42px;height:42px;" data-toggle="modal" data-target="#myModalHelp_passenger"><i class="fas fa-info-circle"></i></button>
                                <div class="modal fade" id="myModalHelp_passenger">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" style="color:white;">Help <i class="fas fa-address-card"></i></h4>
                                                <button type="button" class="close" onclick="modal_help_pax_hide();">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-sm-12">
                                                    <center><img src="/static/tt_website_skytors/img/id_card.png" style="width:50%;"></center>
                                                </div>
                                                <div>
                                                    <p>1. Please fill passenger name like in your ID card. If there's chinese word in your name please use chinese word.</p>
                                                    <p>2. Maximum 30 characters for title, first name, and last name. If more than 30 characters you can put 30 first characters like in your ID card. </p>
                                                    <p>3. Please use character such as "," or "." same like in your id card.</p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" onclick="modal_help_pax_hide();">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <br/>
                                <label style="color:red">*</label>
                                <label>First name and middle name (if any)</label>
                                <div class="input-container-search-ticket">
                                    <input type="text" onchange="capitalizeInput('passenger_first_name');" class="form-control" name="passenger_first_name" id="passenger_first_name" placeholder="First Name " onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name '">
                                    <input type="hidden" class="form-control" name="passenger_id" id="passenger_id">
                                </div>
                                <label style="font-size:12px; padding:0;">As on Identity Card or Passport without title and punctuation</label>
                            </div>
                            <div class="col-lg-6">
                                <br/>
                                <label>Last name</label>
                                <div class="input-container-search-ticket">
                                    <input type="text" onchange="capitalizeInput('passenger_last_name');" class="form-control" name="passenger_last_name" id="passenger_last_name" placeholder="Last Name " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name '">
                                </div>
                                <label style="font-size:12px; padding:0;">As on Identity Card or Passport without title and punctuation</label>
                            </div>
                            <div class="col-lg-6">
                                <label style="color:red">*</label>
                                <label>Nationality</label>
                                <div class="input-container-search-ticket">
                                    <div class="form-select">
                                        <select class="form-control js-example-basic-single" name="passenger_nationality_id" style="width:100%;" id="passenger_nationality_id" placeholder="Nationality" onchange="auto_complete('passenger_nationality')" class="nice-select-default">
                                            {% for country in countries %}
                                            <option value="{{country.name}}" {% if country.name == 'Indonesia'%} selected {%endif%}>{{country.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <input type="hidden" name="passenger_nationality" id="passenger_nationality" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label style="color:red">*</label>
                                <label>Birth Date</label>
                                <div class="input-container-search-ticket">
                                    <input type="text" class="form-control date-picker-birth" name="passenger_birth_date" id="passenger_birth_date" placeholder="Birth Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Birth Date '" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xs-6">
                                <label style="color:red">*</label>
                                <label>Identity Type</label>
                                <div class="input-container-search-ticket">
                                    <div class="form-select-2">
                                        <select id="passenger_identity" name="passenger_identity" class="nice-select-default" onchange="change_identity();">
                                            <optgroup label="Identity"/>
                                            <option value=""></option>
                                            <option value="ktp">KTP</option>
                                            <option value="sim">SIM</option>
                                            <option value="passport">PASSPORT</option>
                                            <option value="other">OTHER</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <form action="" method="POST" id="form_identity_passenger" enctype="multipart/form-data">
                                    <span>Identity Attachment</span><br/>
                                    <button type="button" class="primary-btn" data-toggle="modal" data-target="#myModal_attachment">Upload Image</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal_attachment" data-keyboard="false">
                                        <div class="modal-dialog">

                                          <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" style="color:white;">Identity Attachment</h4>
                                                    <button type="button" class="close" onclick="close_upload_attachment();">&times;</button>
                                                </div>
                                                <div class="modal-body">

                                                    Files: <input type="file" id="files_attachment" name="files_attachment" multiple="" accept="image/*"><br>

                                                    <div id="selectedFiles_attachment"></div>
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-default" onclick="close_upload_attachment();">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-6" id="number" hidden>
                                <label id="identity_number">Passport Number</label>
                                <div class="input-container-search-ticket">
                                    <input type="text" class="form-control" name="passenger_passport_number" id="passenger_identity_number" placeholder="Passport Number " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Passport Number '">
                                </div>
                            </div>

                            <div class="col-lg-6" id="exp_date" hidden>
                                <label id="identity_expdate">Passport Expired Date</label>
                                <div class="input-container-search-ticket">
                                    <input type="text" class="form-control date-picker-passport" name="passenger_passport_expired_date" id="passenger_identity_expired_date" placeholder="Passport Expired Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Passport Expired Date '" readonly>
                                    <button type="button" class="primary-delete-date" onclick="delete_expired_date('passenger', '')"><i class="fa fa-trash-alt" style="color:#E92B2B;font-size:20px;"></i></button>
                                </div>
                            </div>
                            <div class="col-lg-6" id="country_of_issued" hidden>
                                <label id="identity_country_of_issued">Country Of Issued</label>
                                <div class="input-container-search-ticket">
                                    <div class="form-select">
                                        <select class="form-control js-example-basic-single" name="passenger_identity_country_of_issued_id" style="width:100%;" id="passenger_identity_country_of_issued_id" placeholder="Country Of Issued" onchange="auto_complete('passenger_identity_country_of_issued')" class="nice-select-default">
                                            <option value="">Country Of Issued</option>
                                            {% for country in countries %}
                                            <option value="{{country.name}}">{{country.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <input type="hidden" name="passenger_identity_country_of_issued" id="passenger_identity_country_of_issued" />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label style="color:red">*</label>
                                <label>Contact Email Address</label>
                                <div class="input-container-search-ticket">
                                    <input type="text" class="form-control" name="passenger_email" id="passenger_email" placeholder="Email Address " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '">
                                </div>
                                <label style="font-size:12px; padding:0;">Example: email@example.com</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <label style="color:red">*</label>
                                <label style="margin:0;">Contact Person for Urgent Situation</label>
                                <label style="font-size:10px; color:red;">(Must be filled with booker's mobile on first registration)</label>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

                                        <div class="input-container-search-ticket">
                                            <div class="form-select">
                                                <select class="form-control js-example-basic-single" name="passenger_phone_code_id" style="width:100%;" id="passenger_phone_code_id" onchange="auto_complete('passenger_phone_code')" class="nice-select-default">
                                                    {% for country in countries %}
                                                    <option value="{{country.phone_code}}" {% if country.code == 'ID'%} selected {%endif%}>{{country.phone_code}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <input type="hidden" name="passenger_phone_code" id="passenger_phone_code" />
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <div class="input-container-search-ticket">
                                            <input type="text" class="form-control" name="passenger_phone" id="passenger_phone" placeholder="Phone Number " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number '">
                                        </div>
                                    </div>
                                </div>
                                <label style="font-size:12px; padding:0;">Example: 812345678</label>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top:auto;margin-bottom:auto;">
                                <input type="button" class="primary-btn" onclick="create_new_passenger();" value="Create new passenger"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" id="booker_chosen" style="background-color:white; padding:10px; border:1px solid #cdcdcd;" hidden>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
        $('input[name="passenger_birth_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
        $('input[name="passenger_passport_expired_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              minDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
        $('input[name="passenger_passport_expired_date"]').val("");
        $('input[name="passenger_birth_date"]').val("");
    });
    document.getElementById('passenger_nationality').value = document.getElementById('passenger_nationality_id').value;
    document.getElementById('passenger_phone_code').value = document.getElementById('passenger_phone_code_id').value;

    var selDiv_attahcment = "";

	document.addEventListener("DOMContentLoaded", init, false);
	function init() {
		document.querySelector('#files_attachment').addEventListener('change', handleFileSelect_attachment, false);
		selDiv_attachment = document.querySelector("#selectedFiles_attachment");
	}
</script>