<html>
<script src="{{ static_path }}js/vendor/jquery-2.2.4.min.js?version={{javascript_version}}"></script>
<script>

function hello()
{
	alert('hello')
}

function upload_file(){
    //document.getElementById('activity_category').value.split(' - ')[1]
    $.ajax({
       type: "POST",
       dataType: 'json',
       contentType: 'application/json',
       url: "http://127.0.0.1:8071/content",
       headers:{
            'action': 'upload_file',
            "Accept": "application/json,text/html,application/xml",
            "Content-Type": "application/json",
       },
       data: JSON.stringify({
       		'filename': document.getElementById('filename').value,
       		'file_reference': document.getElementById('file_reference').value,
       		'file': document.getElementById('file').value	
       }),
       success: function(msg) {
       		alert('success')
       		console.log(msg);
       },
       error: function(XMLHttpRequest, textStatus, errorThrown) {
           alert(errorThrown);
       }
    });
}
</script>
<body>

Upload Your File Here!<br>
<label>filename</label><input type="text" name="filename" id="filename"/><br>
<label>file reference</label><input type="text" name="file_reference" id="file_reference"/><br>
<label>file</label><input type="file" name="file" id="file"/><br>
<button onclick="upload_file();"> Submit </button>

</body>
</html>

