{% extends 'tt_website_rodextrip/template_website_booking.html' %}

{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/daterangepicker.js?version={{javascript_version}}"></script>
<title>{{name}} - Error</title>

{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/header.html' %}
<div class="m-3" style="text-align:center">
    <img src="{{ static_path }}images/question.jpeg" alt="Error" style="height:250px;">
    <h2>Oops! . . .</h2>
    <h4>Looks like we got error number 404.</h4>
    <p>we couldn't find the page you're looking for.</p>
</div>

{% endblock %}