{% extends 'tt_website/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_airline.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_content.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/daterangepicker.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/terms_cor_javascript.js?version={{javascript_version}}"></script>
<link rel="stylesheet" type="text/css" href="{{ static_path }}login/css/owl.carousel.css?version={{javascript_version}}">
<link rel="stylesheet" type="text/css" href="{{ static_path }}login/css/owl.theme.default.min.css?version={{javascript_version}}">
<link rel="stylesheet" type="text/css" href="{{ static_path }}login/css/owl.theme.green.min.css?version={{javascript_version}}">
<script src="{{ static_path }}js/vendor/owl.carousel.min.js?version={{javascript_version}}"></script>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
    signature = `{{signature}}`;
    static_path_url_server = '{{static_path_url_server}}'
    name = '';

</script>

<script>
    var app_id_one_signal = '{{app_id_one_signal}}';
    if(app_id_one_signal){
        var OneSignal = window.OneSignal || [];
        var initConfig = {
            appId: "{{app_id_one_signal}}",
            notifyButton: {
                enable: true
            },
        };
        OneSignal.push(function () {
            OneSignal.SERVICE_WORKER_PARAM = { scope: '/onesignal/' };
            OneSignal.SERVICE_WORKER_PATH = '{{ static_path }}/onesignal/OneSignalSDKWorker.js'
            OneSignal.SERVICE_WORKER_UPDATER_PATH = '{{ static_path }}/onesignal/OneSignalSDKUpdaterWorker.js'
            OneSignal.init(initConfig);
        });
    }
    passenger_data_phone = 0;
    passenger_ff_data = 0;
    try{ // buat halaman passenger
        document.getElementById("train_booker_search").addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("booker_search").click();
              }
          });
    }catch(err){
    }
    try{
        frequent_flyer_data = `{{get_frequent_flyer}}`;
        frequent_flyer_data = frequent_flyer_data.replace(/&#39;/g,'"');
        frequent_flyer_data = JSON.parse(frequent_flyer_data);
    }catch(err){
        frequent_flyer_data = []
    }
</script>

<style>
    {% if template == 6%}
        header{
            background:unset;
            position: absolute;
        }
    {% endif %}

    @media only screen and (min-width: 991px) {
        #slider_home {
            margin-top: 88px;
        }
    }
    @media only screen and (max-width: 990px) {
        #slider_home {
            margin-top: 0px;
        }
        #logo_home {
            padding-top:10px;
        }
    }
</style>
<title>{{name}} - {% trans 'New Corporate Form' %}</title>

<section style="padding-top:15px; border-bottom:1px solid #cdcdcd; position:sticky; top:0px; background:white; z-index:1000;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-bottom:15px; text-align:center;">
                <!--<img src="{{logo}}" class="logo-login" alt="Logo {{name}}" title="{{name}}" style="margin-bottom:5px;"/><br/>-->
                <a href="{% url 'tt_website:index'%}"><i class="fas fa-home"> Back to {{name}}</i></a>
            </div>
        </div>
    </div>
</section>
<section style="padding-top:40px; padding-bottom:40px; height:100%; background:#f7f7f7;">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="row">
                    <form action="" class="form-wrap" style="padding:5px; text-align:left;" method="POST" id="form_identity_cor" enctype="multipart/form-data">
                        {% include 'tt_website/plugin_corporate_data.html' %}
                        <div class="col-lg-12" style="margin-top:15px; text-align:center;">
                            <input type="button" id="create_request_cor_btn" style="width:100%;" class="primary-btn" onclick="create_request_cor();" value="Request Corporate"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<div class="modal fade" id="cor_tac_Modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans 'Term and Condition' %}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:left;">
                <div class="row">
                    <div class="col-lg-12" id="terms_body_cor">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    get_term_and_condition_cor('registration');
    $(function() {
        $('input[name="company_established_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
        $('input[name="company_established_date"]').val("");
        $('input[name="owner_birth_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
        $('input[name="owner_birth_date"]').val("");
        $('input[name="director_birth_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
        $('input[name="director_birth_date"]').val("");
        $('input[name="accounting_birth_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
        $('input[name="accounting_birth_date"]').val("");
        $('input[name="pic_birth_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
        $('input[name="pic_birth_date"]').val("");
        get_all_carrier_airline('cor');
    });

</script>

{% endblock %}
