{% load i18n %}

{%if template == 6%}
<div style="border-bottom:1px solid #cdcdcd; background: #FFEBCD;">
    <div class="container">
        <div class="col-lg-12" style="text-align:center; padding:8px 15px;">
            <span style="padding-right:5px;">You are in Corporate Mode - <b>{{username.co_customer_parent_name}} ({{username.co_customer_parent_type_name}})</b></span>
            <button type="button" onclick="deactivate_corporate_mode();" class="primary-btn" style="color:{{text_color}}; height:30px; font-size:13px; padding-left:15px; padding-right:15px; line-height:20px;">{% trans 'Exit Mode' %}</button>
        </div>
    </div>
</div>
{% else %}
<div style="border-bottom:1px solid #cdcdcd; background: #FFEBCD;">
    <div class="container">
        <div class="col-lg-12" style="text-align:center; padding:10px 15px;">
            <span style="padding-right:5px;">You are in Corporate Mode - <b>{{username.co_customer_parent_name}} ({{username.co_customer_parent_type_name}})</b></span>
            <button type="button" onclick="deactivate_corporate_mode();" class="primary-btn" style="color:{{text_color}}; font-size:13px; padding-left:15px; padding-right:15px; line-height:20px;">{% trans 'Exit Mode' %}</button>
        </div>
    </div>
</div>
{% endif %}