{% load i18n %}

{% if username.co_user_login != default_user %}
{%if template == 1%}
<div id="notification_div" style="position:fixed; z-index:999; top:20px; right:20px;"></div>
{% elif template == 2 %}
<div id="notification_div" style="position:fixed; z-index:999; top:20px; right:20px;"></div>
{% elif template == 3 %}
<div id="notification_div" style="position:fixed; z-index:999; top:20px; right:20px;"></div>
{% elif template == 4 %}
<div id="notification_div" style="position:fixed; z-index:9999; top:20px; right:20px;"></div>
{% elif template == 5 %}
<div id="notification_div" style="position:fixed; z-index:1000; top:20px; right:20px;"></div>
{% elif template == 6%}
<div id="notification_div" style="position:fixed; z-index:9999; top:20px; right:20px;"></div>
{% endif%}
{% endif%}

<!--notif samping-->