{% load i18n %}

<div class="modal fade" id="myModal_otp" role="dialog">
    <div class="overlay_modal_custom" data-dismiss="modal"></div>
    <div class="modal-dialog modal_custom_fixed">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-6 pb-3">
                        <h4 class="modal-title">{% trans 'OTP' %}</h4>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="close modal_custom_close" data-dismiss="modal" onclick="clear_otp();">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="text-align:left;">
                <div class="alert alert-info" id="otp_information_user">

                </div>
                <div class="input-container-search-ticket" id="otp_user_div">
                    <input type="text" class="form-control" style="height:36px; border-radius:unset; font-size:13px; padding:10px; margin:10px 0px;" id="otp_user" placeholder="OTP" tabindex="3" />
                    <button id="btn_otp_resend" class="loading-button primary-btn-custom ld-ext-right" style="margin:10px;margin-top:5px;margin-bottom:14px;" onclick="set_otp_user_api(true)">
                        Resend
                        <div class="ld ld-ring ld-cycle"></div>
                    </button>
                </div>
                <div id="otp_type_div_user" hidden>
                    <span class="span-search-ticket" style="color:{{color}}"> {% trans 'OTP Type' %}</span>
                    <div class="input-container-search-ticket">
                        <div class="form-select" id="default-select">
                            <select id="otp_type" name="otp_type" class="nice-select-default">
                                <!--<option value="always">Always Ask OTP</option>-->
                                <option value="1">Valid for 1 Days</option>
                                <option value="3">Valid for 3 Days</option>
                                <option value="7">Valid for 7 Days</option>
                                <option value="never">Ask for this time only</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div style="background-color:white; padding:10px; margin-top:15px; border:1px solid #cdcdcd;" id="otp_user_time_limit">
                    <span style="font-size:14px; font-weight:600;"><i class="fas fa-clock"></i> <span class="count_time" id="otp_user_session_time"> </span></span>
                </div>
                <div class="input-container-search-ticket">
                    <button id="btn_otp_user" type="button" onclick="activation_otp_user_api();" class="loading-button primary-btn-custom ld-ext-right" style="margin:10px 0px;">
                        Submit <i class="fas fa-sign-in-alt"></i>
                        <div class="ld ld-ring ld-cycle"></div>
                    </button><br/>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        $('#otp_type_user').niceSelect();
    });
</script>