{% load i18n %}

<div class="modal fade" id="myModal_otp" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans 'OTP' %}</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="clear_otp();">&times;</button>
            </div>
            <div class="modal-body" style="text-align:left;">
                <div class="alert alert-info" id="otp_information_user">

                </div>
                <div id="otp_type_div_user" hidden>
                    <label> {% trans 'OTP Type' %}</label>
                    <div class="input-container-search-ticket">
                        <div class="form-select" id="default-select">
                            <select id="otp_user_type" name="otp_user_type" class="nice-select-default">
                                <option value="1">Input OTP every 1 day</option>
                                <option value="3">Input OTP every 3 day</option>
                                <option value="7">Input OTP every 7 day</option>
                                <option value="always">Always Ask OTP</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="otp_user_div">
                    <label> {% trans 'OTP Code' %}</label>
                    <div class="email-otp-container" style="justify-content: unset;" onclick="next_input_otp('email_otp_input_user1');">
                        <input type="number" id="email_otp_input_user1" class="email-otp-input-user" onFocus="this.select()" pattern="\d" maxlength="1" autocomplete="off" inputmode="numeric">
                        <input type="number" class="email-otp-input-user" onFocus="this.select()" pattern="\d" maxlength="1" autocomplete="off" inputmode="numeric">
                        <input type="number" class="email-otp-input-user" onFocus="this.select()" pattern="\d" maxlength="1" autocomplete="off" inputmode="numeric">
                        <input type="number" class="email-otp-input-user" onFocus="this.select()" pattern="\d" maxlength="1" autocomplete="off" inputmode="numeric">
                        <input type="number" class="email-otp-input-user" onFocus="this.select()" pattern="\d" maxlength="1" autocomplete="off" inputmode="numeric">
                        <input type="number" class="email-otp-input-user" onFocus="this.select()" pattern="\d" maxlength="1" autocomplete="off" inputmode="numeric">
                    </div>

                    <input type="text" class="form-control" style="display:none; border-radius:unset; font-size:13px; width:100%; margin-right:10px;" id="otp_user" placeholder="OTP" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="6"/>
                    <div style="display:inline-block; margin-bottom:10px;">
                        <span style="display:inline-block;">
                            Didn't receive the OTP code?
                        </span>
                        <button id="btn_otp_resend" class="loading-button primary-btn-custom ld-ext-right ml-1" onclick="set_otp_user_api(true)" style="display:inline-block; height:30px; line-height:28px;">
                            <i class="fas fa-envelope"></i> Resend
                            <div class="ld ld-ring ld-cycle"></div>
                        </button>
                    </div>
                </div>
                <div id="otp_user_time_limit" class="mb-3">
                    <span style="font-size:14px; font-weight:600;"><i class="fas fa-clock"></i> OTP code expired within: <span class="count_time" id="otp_user_session_time"> </span></span>
                </div>
                <div class="input-container-search-ticket">
                    <button id="btn_otp_user" type="button" onclick="activation_otp_user_api();" class="loading-button primary-btn-custom ld-ext-right" style="margin:10px 0px;">
                        Confirm <i class="fas fa-check"></i>
                        <div class="ld ld-ring ld-cycle"></div>
                    </button><br/>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        $('#otp_type_user').niceSelect();
        $('#myModal_otp').on('hidden.bs.modal', function () {
            clear_otp();
        })
    });
</script>

<script>
document.addEventListener("DOMContentLoaded", function () {
    var emailOtpInputs = document.querySelectorAll(".email-otp-input-user");

    function setupOtpInputListeners(inputs) {
        inputs.forEach(function (input, index) {
            input.addEventListener("paste", function (ev) {
                var clip = ev.clipboardData.getData('text').trim();
                if (!/^\d{6}$/.test(clip)) {
                    ev.preventDefault();
                    return;
                }

                var characters = clip.split("");
                    inputs.forEach(function (otpInput, i) {
                    otpInput.value = characters[i] || "";
                });

                enableNextBox(inputs[0], 0);
                inputs[5].removeAttribute("disabled");
                inputs[5].select();
                updateOTPValue(inputs);
            });

            input.addEventListener("input", function () {
                var currentIndex = Array.from(inputs).indexOf(this);
                var inputValue = this.value.trim();

                if (!/^\d$/.test(inputValue)) {
                    this.value = "";
                    return;
                }

                if (inputValue && currentIndex < 5) {
                    inputs[currentIndex + 1].removeAttribute("disabled");
                    inputs[currentIndex + 1].select();
                }

                if (currentIndex === 4 && inputValue) {
                    inputs[5].removeAttribute("disabled");
                    inputs[5].select();
                }

                updateOTPValue(inputs);
            });

            input.addEventListener("keydown", function (ev) {
                var currentIndex = Array.from(inputs).indexOf(this);
                if (!this.value && ev.key === "Backspace" && currentIndex > 0) {
                    inputs[currentIndex - 1].select();
                }
            });
        });
    }

    function enableNextBox(input, currentIndex) {
        var inputValue = input.value;

        if (inputValue === "") {
            return;
        }

        var nextIndex = currentIndex + 1;
        var nextBox = emailOtpInputs[nextIndex];

        if (nextBox) {
            nextBox.removeAttribute("disabled");
        }
    }

    function updateOTPValue(inputs) {
        var otpValue = "";
        inputs.forEach(function (input) {
            otpValue += input.value;
        });

        if(inputs === emailOtpInputs) {
            document.getElementById("otp_user").value = otpValue;
            var check_length_otp = document.getElementById("otp_user").value;
            if(check_length_otp.length == 6){
                $("#btn_otp_user").click();
                var input_otp_us = document.querySelectorAll('.email-otp-input-user');
                for (i = 0; i < input_otp_us.length; ++i) {
                    input_otp_us[i].setAttribute("disabled", "");
                }
                input_otp_us[0].select();
            }
        }
    }

    setupOtpInputListeners(emailOtpInputs);
});
</script>
