{% load i18n %}
<script src="{{ static_path }}js/terms_cor_javascript.js?version={{javascript_version}}"></script>

<style>
    [data-tooltip]:before {
        /* needed - do not touch */
        content: attr(data-tooltip);
        position: absolute;
        opacity: 0;

        /* customizable */
        transition: all 0.15s ease;
        padding: 10px;
        color: #333;
        border-radius: 10px;
        box-shadow: 2px 2px 1px #cdcdcd;
    }

    [data-tooltip]:hover:before {
        /* needed - do not touch */
        opacity: 1;

        /* customizable */
        background: {{color}};
        color: {{text_color}};
        margin-top: -50px;
        margin-left: 20px;
        text-align:left;
        z-index:10000;
    }

    [data-tooltip]:not([data-tooltip-persistent]):before {
        pointer-events: none;
    }
    .tooltip-inner {
        white-space: pre-line;
    }

</style>

{%if "create_request_corporate" in username.co_agent_frontend_security %}

<script>
//    document.getElementById('mystickycor').style.bottom = JSON.parse(JSON.stringify(bottom.toString())) + 'px';
//    bottom+=60;
    document.getElementById('adminButtonsContent').innerHTML += `
    <button type="button" style="background-color:{{color}};" id="mystickycor" class="cor-db-slide-toggle" class="primary-btn" data-toggle="modal" data-target="#myModal_cor">
        <i class="fas fa-user-tie"></i>
    </button>`;
</script>

<div class="modal fade" id="myModal_cor" role="dialog">
    <div class="overlay_modal_custom" data-dismiss="modal" onclick="clear_request_cor();"></div>
    <div class="modal-dialog modal_custom_fixed">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-xs-6 pb-3">
                        <h4 class="modal-title">{% trans 'New Corporate Form' %}</h4>
                    </div>
                    <div class="col-xs-6">
                        <button type="button" class="close modal_custom_close" data-dismiss="modal" onclick="clear_request_cor();">&times;</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6" id="button_tl_adult{{forloop.counter}}">

                    </div>
                    <div class="col-xs-6" id="button_tr_adult{{forloop.counter}}">

                    </div>
                </div>
            </div>
            <div class="modal-body" style="text-align:left;">
                <form action="" class="form-wrap" style="padding:5px; text-align:left;" method="POST" id="form_identity_cor" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-12 mb-3" style="text-align:right;">
                            <button type="button" class="primary-btn" onclick="generate_url_create('cor');">Generate Link <i class="fas fa-link"></i></button>
                        </div>
                        {% include 'tt_website/plugin_corporate_data.html' %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="margin-top:15px; text-align:center;">
                            <input type="button" id="create_request_cor_btn" style="width:100%;" class="primary-btn" onclick="create_request_cor();" value="Request Corporate"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cor_tac_Modal" role="dialog">
    <div class="overlay overlay-bg" data-dismiss="modal" onclick="check_body_hidden('myModal_cor');"></div>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% trans 'Term and Condition' %}</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="check_body_hidden('myModal_cor');">&times;</button>
            </div>
            <div class="modal-body" style="text-align:left;">
                <div class="row">
                    <div class="col-lg-12" id="terms_body_cor">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    get_term_and_condition_cor('registration');
    $(function() {
        $('input[name="company_established_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
        $('input[name="company_established_date"]').val("");
        $('input[name="owner_birth_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
        $('input[name="owner_birth_date"]').val("");
        $('input[name="director_birth_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
        $('input[name="director_birth_date"]').val("");
        $('input[name="accounting_birth_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
        $('input[name="accounting_birth_date"]').val("");
        $('input[name="pic_birth_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
        });
        $('input[name="pic_birth_date"]').val("");
        get_all_carrier_airline('cor');
    });
</script>

{% endif %}