{% if wa_chat == 1 %}
<button type="button" style="background-color:#43d62b;" id="mystickywhatsapp" class="mystickywhatsapp" class="primary-btn" data-toggle="modal" onclick="openInNewTab(`https://wa.me/{{wa_number}}`);">
    <i class="fab fa-whatsapp" style="font-size:32px;"></i>
</button>
<script>
    $(function() {
        new jBox('Tooltip', {
            attach: '#mystickywhatsapp',
            theme: 'TooltipBorder',
            width: 200,
            position: {
              x: 'left',
              y: 'center'
            },
            outside: 'x',
            pointer: 'top:15',
            content: 'Livechat<br/><b>Whatsapp</b>',
            animation: 'move'
        });
    });

    console.log(JSON.parse(JSON.stringify(bottom.toString())) + 'px');
    console.log('======');
    document.getElementById('mystickywhatsapp').style.bottom = JSON.parse(JSON.stringify(bottom.toString())) + 'px';
    bottom+=60;
</script>
{% endif %}