{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}'
    airline_carriers = `{{airline_carriers}}`;
    airline_carriers = airline_carriers.replace(/&#39;/g, '"');
    airline_carriers = airline_carriers.replace(/&quot;/g, '"');
    airline_carriers = airline_carriers.replace(/False/g, 'false');
    airline_carriers = airline_carriers.replace(/True/g, 'true');
    airline_carriers = JSON.parse(airline_carriers);
    signature = `{{signature}}`;
</script>
{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/header.html' %}
{% if template == 1%}
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
{% elif template == 2%}
<section style="padding-top:30px; padding-bottom:40px; background:#f7f7f7;">
{% elif template == 3%}
<section style="padding:100px 0px 50px 0px; background:white; border-bottom:2px solid #cdcdcd;">
{% elif template == 4%}
<section style="padding:140px 0px 15px 0px; background:#f7f7f7; border-bottom:2px solid #cdcdcd;">
{% elif template == 5%}
<section style="padding:100px 0px 50px 0px; background:white; border-bottom:2px solid #cdcdcd;">
{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if template == 1%}
                <div class="form-wrap" style="margin-bottom:25px;">
                    <div class="row banner-right">
                        <div class="col-lg-9">
                            <input type="text" id="tb" class="form-control" placeholder="TB. Number " onfocus="this.placeholder = ''" onblur="this.placeholder = 'TB. Number '" autocomplete="off"/>
                        </div>
                        <div class="col-lg-3">
                            <input type="button" style="width:100%;" class="primary-btn-custom" value="Search" onclick="get_transactions('reset');" id="button"/>
                        </div>
                    </div>
                </div>
                {% elif template == 2%}
                <div class="hotel-search-form-area" style="bottom:0px; padding-left:0px; padding-right:0px;">
                    <div class="hotel-search-form" style="background-color:unset; padding:unset; box-shadow:unset; color:white;">
                        <div class="row">
                            <div class="col-lg-9">
                                <input type="text" id="tb" class="form-control" placeholder="TB. Number " onfocus="this.placeholder = ''" onblur="this.placeholder = 'TB. Number '" autocomplete="off"/>
                            </div>
                            <div class="col-lg-3">
                                <input type="button" style="width:100%; height:50px;" class="btn roberto-btn" value="Search" onclick="get_transactions('reset');" id="button"/>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif template == 3%}
                <div class="form-wrap" style="margin-bottom:25px;">
                    <div class="row banner-right">
                        <div class="col-lg-9">
                            <input type="text" id="tb" class="form-control" placeholder="TB. Number " onfocus="this.placeholder = ''" onblur="this.placeholder = 'TB. Number '" autocomplete="off"/>
                        </div>
                        <div class="col-lg-3">
                            <input type="button" style="width:100%;" class="primary-btn" value="Search" onclick="get_transactions('reset');" id="button"/>
                        </div>
                    </div>
                </div>
                {% elif template == 4%}
                <div class="form-wrap" style="margin-bottom:25px;">
                    <div class="row banner-right">
                        <div class="col-lg-9">
                            <input type="text" id="tb" class="form-control" placeholder="TB. Number " onfocus="this.placeholder = ''" onblur="this.placeholder = 'TB. Number '" autocomplete="off"/>
                        </div>
                        <div class="col-lg-3">
                            <input type="button" style="width:100%;" class="primary-btn" value="Search" onclick="get_transactions('reset');" id="button"/>
                        </div>
                    </div>
                </div>
                {% elif template == 5%}
                <div class="form-wrap" style="margin-bottom:25px;">
                    <div class="row banner-right">
                        <div class="col-lg-9">
                            <input type="text" id="tb" class="form-control" placeholder="TB. Number " onfocus="this.placeholder = ''" onblur="this.placeholder = 'TB. Number '" autocomplete="off"/>
                        </div>
                        <div class="col-lg-3">
                            <input type="button" style="width:100%;" class="primary-btn" value="Search" onclick="get_transactions('reset');" id="button"/>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div id="loading-search-reservation" style="margin-bottom:20px;">
                    <div class="col-lg-12">
                        <div class="sk-circle">
                            <div class="sk-circle1 sk-child"></div>
                            <div class="sk-circle2 sk-child"></div>
                            <div class="sk-circle3 sk-child"></div>
                            <div class="sk-circle4 sk-child"></div>
                            <div class="sk-circle5 sk-child"></div>
                            <div class="sk-circle6 sk-child"></div>
                            <div class="sk-circle7 sk-child"></div>
                            <div class="sk-circle8 sk-child"></div>
                            <div class="sk-circle9 sk-child"></div>
                            <div class="sk-circle10 sk-child"></div>
                            <div class="sk-circle11 sk-child"></div>
                            <div class="sk-circle12 sk-child"></div>
                        </div>
                        <div style="text-align:center"><h6>PLEASE WAIT</h6></div>
                    </div>
                </div>

                <table style="width:100%; margin-top:20px;" id="table_reservation" class="list-of-reservation">

                </table>
            </div>
        </div>
    </div>
</section>


<script>
    get_transactions('reset');
    function goto_detail_reservation(key){
        document.getElementById('gotobooking'+key).innerHTML += `{% csrf_token %}`;
        document.getElementById('gotobooking'+key).innerHTML += `<input type=hidden name="order_number" value="`+data_search[key].order_number+`" />`;

        if(data_search[key].provider.provider_type == 'airline'){
            document.getElementById('gotobooking'+key).action = '/airline/booking';
        }else if(data_search[key].provider.provider_type == 'train'){
            document.getElementById('gotobooking'+key).action = '/train/booking';
        }else if(data_search[key].provider.provider_type == 'activity'){
            document.getElementById('gotobooking'+key).action = '/activity/booking';
        }else if(data_search[key].provider.provider_type == 'hotel'){
            document.getElementById('gotobooking'+key).action = '/hotel/booking';
        }else if(data_search[key].provider.provider_type == 'visa'){
            document.getElementById('gotobooking'+key).action = '/visa/booking';
        }else if(data_search[key].provider.provider_type == 'tour'){
            document.getElementById('gotobooking'+key).action = '/tour/booking';
        }
        document.getElementById('gotobooking'+key).submit();

    }
    $(document).ready(function () {
        $(window).scroll(function() {
            if($(window).scrollTop() >= $(document).height() - ($(window).height() + 600)) {
                if(load_more == true){
                    //get_agent_booking();
                    get_transactions();
                }
            }
        });
    });
</script>
{% include 'tt_website_rodextrip/footer.html' %}
{% endblock %}
