{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<!--<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>-->
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/pricing_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/tour_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_tour.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_payment_acq.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/pricing_javascript.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}'

    all_pax = `{{all_pax}}`;
    all_pax = all_pax.replace(/&#39;/g,'"');
    all_pax = all_pax.replace(/True/g,'true');
    all_pax = all_pax.replace(/False/g,'false');
    all_pax = all_pax.replace(/None/g,'""');
    all_pax = JSON.parse(all_pax);
    provider = '{{tour_data.provider}}';
    signature = '{{signature}}';
    room_amount = {{room_amount}};
    total_pax_amount = {{total_pax_all}};
    upsell_price = {{upsell}};
    booker = `{{booker}}`;
    booker = booker.replace(/&#39;/g,'"');
    booker = booker.replace(/True/g,'true');
    booker = booker.replace(/False/g,'false');
    booker = booker.replace(/None/g,'""');
    booker = JSON.parse(booker);

    time_limit = {{time_limit}};
    session_time_limit();
</script>
<div id="overlay-div-box" onclick="close_div('payment_acq');"></div>
{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/loading_screen.html' %}
<title id="title_search">{{name}} Tour - Review</title>

<div class="modal fade" id="waitingTransaction" role="dialog" style="background:rgba(20,20,20,0.8);">
    <div class="modal-dialog" style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <!-- Modal content-->
        <div class="modal-content" style="background-color:transparent; border:unset;">
            <div class="modal-body">
                <div class="col-lg-12" id="viewWaitingTransaction">

                </div>
            </div>
        </div>
    </div>
</div>

{%if template == 1%}
<header id="header" class="header_breadcrumb" style="position:sticky; top:0px;">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="width:80px; height:35px;" alt="" title="" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">Session Time <span class="count_time" id="session_time"> </span></span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">Elapsed Time <span class="count_time" id="elapse_time"> </span></span>
                </div>
                {% include 'tt_website_rodextrip/balance_credit.html' %}
            </div>
        </div>
    </div>
</header>
{% elif template == 2 %}
<header class="header_breadcrumb" style="position:sticky; top:0px; z-index:100; border-bottom:1px solid #cdcdcd;">
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <nav class="classy-navbar justify-content-between" id="robertoNav">
                    <div class="row">
                        <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                            <a class="nav-brand" href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="" title="" /></a>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                                    <span style="font-size:14px; font-weight:600;">Session Time <span class="count_time" id="session_time"> </span></span>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                                    <span style="font-size:14px; font-weight:600;">Elapsed Time <span class="count_time" id="elapse_time"> </span></span>
                                </div>
                                {% include 'tt_website_rodextrip/balance_credit.html' %}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
{% elif template == 3 %}
<header class="header_breadcrumb" style="position:sticky; top:0px; z-index:100; border-bottom:1px solid #cdcdcd;">
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <nav class="classy-navbar justify-content-between" id="robertoNav">
                    <div class="row">
                        <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                            <a class="nav-brand" href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="width:80px; height:35px;" alt="" title="" /></a>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                                    <span style="font-size:14px; font-weight:600;">Session Time <span class="count_time" id="session_time"> </span></span>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                                    <span style="font-size:14px; font-weight:600;">Elapsed Time <span class="count_time" id="elapse_time"> </span></span>
                                </div>
                                {% include 'tt_website_rodextrip/balance_credit.html' %}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
{% endif %}

<div class="destinations-area" style="padding-top:30px; padding-bottom:40px; background:#f7f7f7;">
    <div class="container">
        <form method="POST" id="tour_booking" action="{% url 'tt_website_rodextrip:tour_booking'%}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <h3>Please Review Your Booking</h3>
                    <h4>Prices may changes at any time</h4>
                    <br/>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="margin-top:10px; margin-bottom:15px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="tour_review_detail" style="background-color: white; padding:10px; border: 1px solid #cdcdcd;">
                                <h4> Tour Information </h4>
                                <hr/>
                                <h4>{{tour_data.name}}</h4>
                                <span><i class="fa fa-calendar" aria-hidden="true"></i>
                                    {{tour_data.departure_date_f}} - {{tour_data.return_date_f}}
                                </span>
                                <br/>
                                <span><i class="fa fa-clock-o" aria-hidden="true"></i> {{tour_data.duration}} Days</span>
                                <br/>
                                <span>{{tour_data.flight}} Flight, {{tour_data.visa}} Visa</span>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <input type="hidden" id="room_amount" value="{{room_amount}}"/>
                            <div id="tour_review_rooms" style="background-color: white; border: 1px solid #cdcdcd; overflow-x: auto;">
                                <div style="padding:10px;">
                                    <h4> List of Room(s) </h4>
                                    <hr/>
                                    <table style="width:100%;" id="list-of-rooms" class="list-of-passenger-class">
                                        <tr>
                                            <th style="width:5%;" class="list-of-passenger-left">No</th>
                                            <th style="width:15%;">Name</th>
                                            <th style="width:15%;">Type</th>
                                            <th style="width:15%;">Hotel</th>
                                            <th style="width:25%;">Description</th>
                                            <th style="width:25%;" class="list-of-passenger-right">Notes</th>
                                        </tr>
                                        {% for room in room_list %}
                                        <tr>
                                            <td>
                                                {{forloop.counter}}
                                                <input type="hidden" id="room_sequence{{forloop.counter}}" value="{{forloop.counter}}"/>
                                                <input type="hidden" id="room_id_{{forloop.counter}}" value="{{room.id}}"/>
                                                <input type="hidden" id="adult_quota_room{{forloop.counter}}" value="{{room.adult}}"/>
                                                <input type="hidden" id="child_quota_room{{forloop.counter}}" value="{{room.child}}"/>
                                                <input type="hidden" id="infant_quota_room{{forloop.counter}}" value="{{room.infant}}"/>
                                                <input type="hidden" id="ori_adult_quota_room{{forloop.counter}}" value="{{room.adult}}"/>
                                                <input type="hidden" id="ori_child_quota_room{{forloop.counter}}" value="{{room.child}}"/>
                                                <input type="hidden" id="ori_infant_quota_room{{forloop.counter}}" value="{{room.infant}}"/>
                                            </td>
                                            <td>{{room.name}}</td>
                                            <td>{{room.bed_type}}</td>
                                            <td>{% if room.hotel %}{{room.hotel}}{% else %} - {% endif %}</td>
                                            <td>{% if room.description %}{{room.description}}{% else %} - {% endif %}</td>
                                            <td>{% if room.notes %}{{room.notes}}{% else %} - {% endif %}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <div id="activity_review_booker" style="background-color: white; border: 1px solid #cdcdcd; overflow-x: auto;">
                                <div style="padding:10px;">
                                    <h4> Contact Information </h4>
                                    <hr/>
                                    <table style="width:100%;" id="list-of-bookers" class="list-of-passenger-class">
                                        <tr>
                                            <th style="width:5%;" class="list-of-passenger-left">No</th>
                                            <th style="width:45%;">Full Name</th>
                                            <th style="width:25%;">Email</th>
                                            <th style="width:25%;" class="list-of-passenger-right">Mobile Phone</th>
                                        </tr>
                                        {% if contact_person|length > 0 %}
                                        {% for con in contact_person %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{con.title}}. {{con.first_name}} {{con.last_name}}</td>
                                            <td>{{con.email}}</td>
                                            <td>{{con.mobile}}</td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td>1</td>
                                            <td>{{booker.title}}. {{booker.first_name}} {{booker.last_name}}</td>
                                            <td>{{booker.email}}</td>
                                            <td>{{booker.mobile}}</td>
                                        </tr>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <input type="hidden" id="total_pax_all" value="{{total_pax_all}}"/>
                            <div id="tour_review_passengers" style="background-color: white; border: 1px solid #cdcdcd;">
                                <div style="padding:10px">
                                    <h4> List of Guest(s) </h4>
                                    <hr/>
                                    {% for pax in all_pax %}
                                    <div class="row">
                                        <div class="col-lg-6" style="margin-bottom:10px;">
                                            <h6>{{forloop.counter}}. {{pax.title}}. {{pax.first_name}} {{pax.last_name}}</h6>
                                            <span>
                                                {% if pax.pax_type == 'ADT'%}
                                                Adult
                                                {% elif pax.pax_type == 'CHD'%}
                                                Child
                                                {% elif pax.pax_type == 'INF'%}
                                                Infant
                                                {% endif %}
                                                - Birth Date: {{pax.birth_date}}
                                            </span>
                                            <input type="hidden" id="pax_sequence{{forloop.counter}}" value="{{pax.sequence}}"/>
                                            <input type="hidden" id="temp_pax_id{{forloop.counter}}" value="{{pax.temp_pax_id}}"/>
                                        </div>
                                        <div class="col-lg-6">
                                            {%if template == 1%}
                                            <div id="div_select_pax{{forloop.counter}}" style="padding: 2px 2px 4px 2px;">
                                                <div class="form-select" id="default-select">
                                            {%elif template == 2%}
                                            <div id="div_select_pax{{forloop.counter}}" style="padding: 2px 2px 4px 2px; height:47px;">
                                                <div class="form-select" id="default-select">
                                            {%elif template == 3%}
                                            <div id="div_select_pax{{forloop.counter}}" style="padding: 2px 2px 4px 2px; height:47px;">
                                                <div class="default-select" id="default-select">
                                            {%endif%}
                                                    <select id="room_select_pax{{forloop.counter}}" name="room_select_pax{{forloop.counter}}" onchange="refresh_room_availability({{forloop.counter}});">
                                                        <option value="0">Please select a room!</option>
                                                        {% for room in room_list %}
                                                        {% if pax.pax_type == 'ADT' and room.adult > 0 %}
                                                        <option value="{{forloop.counter}}">Room {{forloop.counter}} ; {{room.name}}/{{room.bed_type}} ; {{room.hotel}}</option>
                                                        {% elif pax.pax_type == 'CHD' and room.child > 0 %}
                                                        <option value="{{forloop.counter}}">Room {{forloop.counter}} ; {{room.name}}/{{room.bed_type}} ; {{room.hotel}}</option>
                                                        {% elif pax.pax_type == 'INF' and room.infant > 0 %}
                                                        <option value="{{forloop.counter}}">Room {{forloop.counter}} ; {{room.name}}/{{room.bed_type}} ; {{room.hotel}}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <input type="hidden" id="pax_type{{forloop.counter}}" value="{{pax.pax_type}}"/>
                                        </div>
                                    </div>
                                    <hr/>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-4">
                            {% if 'issued_reservation' in username.co_agent_frontend_security %}
                            <button class="for-show-website next-loading-booking primary-btn hold-seat-booking-train ld-ext-right" type="button" onclick="tour_hold_booking(0);" style="width:100%;">
                                Hold Booking <div class="ld ld-ring ld-cycle"></div>
                            </button>
                            {% endif %}
                        </div>
                        <div align="center" class="col-lg-4">
                            <button class="for-show-website primary-btn hold-seat-booking-train" type="button" onclick="window.open('https://backend.rodextrip.com/rodextrip/report/pdf/form.itinerary/{{printout_rec}}')" style="width:100%;">
                                Print Itinerary Form
                            </button>
                        </div>
                        <div class="col-lg-4">
                            {% if 'issued_reservation' in username.co_agent_frontend_security %}
                            <button id="final_issued_btn" class="for-show-website next-loading-issued primary-btn hold-seat-booking-train ld-ext-right issued_booking_btn" type="button" style="width:100%;" onclick="tour_hold_booking(1);">
                                Issued Booking
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    <div style="text-align:left;" class="modal fade" id="myModalErrorReview" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" style="color:{{text_color}};"><i class="fas fa-search-minus"></i> Oops! Please check your details </i></h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div style="max-height:300px; overflow-y:auto;">
                                                <h5><i class="fas fa-times-circle" style="color:red; font-size:24px;"></i> We found a mistake in your data.</h5>
                                                <br/>
                                                <span id="show_error_log" style="font-size:15px;">

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="primary-btn" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-lg-12" style="background-color:white; padding:10px; border:1px solid #cdcdcd;" id="tour_detail">
                            <h4> Price Detail </h4>
                            <hr/>
                            <span id="product_title" style="font-weight: bold;">{{tour_data.name}}</span>
                            <br/><span id="product_date" style="font-size:13px; font-weight:500;">{{tour_data.departure_date_str}} - {{tour_data.return_date_str}}</span>
                            <br/><br/>
                            <div id="loading-price-tour" style="margin-bottom:20px;">
                                <div class="col-lg-12">
                                    <div class="sk-circle">
                                        <div class="sk-circle1 sk-child"></div>
                                        <div class="sk-circle2 sk-child"></div>
                                        <div class="sk-circle3 sk-child"></div>
                                        <div class="sk-circle4 sk-child"></div>
                                        <div class="sk-circle5 sk-child"></div>
                                        <div class="sk-circle6 sk-child"></div>
                                        <div class="sk-circle7 sk-child"></div>
                                        <div class="sk-circle8 sk-child"></div>
                                        <div class="sk-circle9 sk-child"></div>
                                        <div class="sk-circle10 sk-child"></div>
                                        <div class="sk-circle11 sk-child"></div>
                                        <div class="sk-circle12 sk-child"></div>
                                    </div>
                                    <div style="text-align:center"><h6>PLEASE WAIT</h6></div>
                                </div>
                            </div>
                            <div id="tour_detail_table" style="padding: 0; font-size: 12px !important;">

                            </div>
                        </div>
                        {% if 'issued_reservation' in username.co_agent_frontend_security %}
                        {% include 'tt_website_rodextrip/voucher_code.html'  %}
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="background-color:white; padding:10px; border:1px solid {{color}};margin-top:10px;" id="payment_acq" hidden>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModalRepricing" role="dialog">
                    <div class="modal-dialog" style="width:100% !important; height:100% !important; max-width:1200px;padding: 0;">

                        <!-- Modal content-->
                        <div class="modal-content" style="border-radius: 0;">
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:{{text_color}};">Reprice Change <i class="fas fa-money"></i></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row" id="pricing" style="padding:15px;">
                                            <div class="col-lg-12" style="max-height:500px; overflow-y:auto; border:1px solid #cdcdcd; background-color:white; margin-top:15px;">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h4 style="padding-top:10px;">Pricing</h4>
                                                        <hr/>
                                                    </div>
                                                    <div class="col-lg-12" style="text-align:right;">
                                                        <button class="primary-btn-ticket" type="button" onclick="add_table_of_equation();"><i class="fas fa-plus-circle"></i></button>
                                                        <button class="primary-btn-ticket" type="button" onclick="delete_table_of_equation();"><i class="fas fa-trash-alt"></i></button>
                                                        <br/>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div style="padding:10px;" id="table_of_equation">

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12" style="margin-bottom:15px; margin-top:15px;">
                                                        <hr/>
                                                        <center>
                                                            <input class="primary-btn-ticket" type="button" onclick="calculate('airline_review');" value="Calculate">
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row" style="padding:15px;">
                                            <div class="col-lg-12" style="padding:10px; background-color:white; border:1px solid #cdcdcd; margin-top:15px;">
                                                <h4>Result Pricing</h4>
                                                <hr/>
                                                <div class="row" id="repricing_div">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="commit_booking_setup"></div>

                <div class="col-lg-12" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-lg-4" style="margin-bottom:10px;">
                            {% if 'issued_reservation' in username.co_agent_frontend_security %}
                            <button class="for-show-mobile next-loading-booking primary-btn hold-seat-booking-train ld-ext-right" type="button" onclick="tour_hold_booking(0);" style="width:100%;">
                                Hold Booking <div class="ld ld-ring ld-cycle"></div>
                            </button>
                            {% endif %}
                        </div>
                        <div align="center" class="col-lg-4" style="margin-bottom:10px;">
                            <button class="for-show-mobile primary-btn hold-seat-booking-train" type="button" onclick="window.open('https://backend.rodextrip.com/rodextrip/report/pdf/form.itinerary/{{printout_rec}}')" style="width:100%;">
                                Print Itinerary Form
                            </button>
                        </div>
                        <div class="col-lg-4" style="margin-bottom:10px;">
                            {% if 'issued_reservation' in username.co_agent_frontend_security %}
                            <button class="for-show-mobile primary-btn issued_booking_btn" type="button" style="width:100%;" onclick="tour_hold_booking(1);">
                                Issued Booking
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="time_limit_input" value="{{time_limit}}" name="time_limit_input" />
        </form>
        <form method="POST" id="tour_issued" action="{% url 'tt_website_rodextrip:payment'%}">
            {% csrf_token %}
            <input type="hidden" id="passengers" name="passengers"/>
            <input type="hidden" id="signature" name="signature"/>
            <input type="hidden" id="provider" name="provider"/>
            <input type="hidden" id="discount" name="discount"/>
            <input type="hidden" id="voucher_code" name="voucher_code"/>
            <input type="hidden" id="type" name="type"/>
            <input type="hidden" id="payment" name="payment"/>
            <input type="hidden" id="session_time_input" name="session_time_input"/>
        </form>
    </div>
</div>
{% include 'tt_website_rodextrip/footer.html' %}

<script>
    $(document).ready(function () {
        breadcrumb_create("tour", 5, 0);
        get_price_itinerary_cache('review');
        get_payment_rules('{{tour_data.id}}');
        //get_payment_acq('Issued','{{booker.booker_seq_id}}', '', 'billing',signature,'tour');
    });
</script>
{% endblock %}
