{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<!--<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>-->
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/pricing_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/tour_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_tour.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_payment_acq.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}'
    signature = '{{signature}}';
</script>

<div id="overlay-div-box" onclick="close_div('payment_acq');"></div>
<header id="header">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="width:80px; height:35px;" alt="" title="" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
        </div>
    </div>
</header>
{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/loading_screen.html' %}

<div class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <form method="POST" id="tour_booking" action="{% url 'tt_website_rodextrip:tour_booking'%}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <h3 id="order_state"></h3>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="margin-top:10px; margin-bottom:15px;" id="tour_final_info">
                    <div id="loading-search-tour" style="margin-bottom:20px;">
                        <div class="col-lg-12">
                            <div class="sk-circle">
                                <div class="sk-circle1 sk-child"></div>
                                <div class="sk-circle2 sk-child"></div>
                                <div class="sk-circle3 sk-child"></div>
                                <div class="sk-circle4 sk-child"></div>
                                <div class="sk-circle5 sk-child"></div>
                                <div class="sk-circle6 sk-child"></div>
                                <div class="sk-circle7 sk-child"></div>
                                <div class="sk-circle8 sk-child"></div>
                                <div class="sk-circle9 sk-child"></div>
                                <div class="sk-circle10 sk-child"></div>
                                <div class="sk-circle11 sk-child"></div>
                                <div class="sk-circle12 sk-child"></div>
                            </div>
                            <div style="text-align:center"><h6>PLEASE WAIT</h6></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-lg-12" style="background-color:white; padding:10px; border:1px solid #cdcdcd;" id="tour_detail">
                            <h4> Price Detail </h4>
                            <hr/>
                            <span id="product_title" style="font-weight: bold;"></span>
                            <br/><span id="product_type_title"></span>
                            <br/><br/>
                            <div class="row">
                                <div class="col-lg-12" id="tour_detail_table">

                                </div>
                            </div>
                        </div>

                        <button class="primary-btn issued_booking_btn" type="button" style="width:100%; margin-top:15px;" onclick="focus_box('payment_acq');">
                            Issued Booking
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="background-color:white; padding:10px; border:1px solid #f15a22;margin-top:15px;" id="payment_acq" onclick="focus_box('payment_acq');" hidden>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModalRepricing" role="dialog">
                    <div class="modal-dialog" style="width:100% !important; height:100% !important; max-width:1200px;padding: 0;">

                        <!-- Modal content-->
                        <div class="modal-content" style="border-radius: 0;">
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:white;">Reprice Change <i class="fas fa-money"></i></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row" id="pricing" style="padding:15px;">
                                            <div class="col-lg-12" style="max-height:500px; overflow-y:auto; border:1px solid #cdcdcd; background-color:white; margin-top:15px;">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h4 style="padding-top:10px;">Pricing</h4>
                                                        <hr/>
                                                    </div>
                                                    <div class="col-lg-12" style="text-align:right;">
                                                        <button class="primary-btn-ticket" type="button" onclick="add_table_of_equation();"><i class="fas fa-plus-circle"></i></button>
                                                        <button class="primary-btn-ticket" type="button" onclick="delete_table_of_equation();"><i class="fas fa-trash-alt"></i></button>
                                                        <br/>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div style="padding:10px;" id="table_of_equation">

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12" style="margin-bottom:15px; margin-top:15px;">
                                                        <hr/>
                                                        <center>
                                                            <input class="primary-btn-ticket" type="button" onclick="calculate('tour');" value="Calculate">
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row" style="padding:15px;">
                                            <div class="col-lg-12" style="padding:10px; background-color:white; border:1px solid #cdcdcd; margin-top:15px;">
                                                <h4>Result Pricing</h4>
                                                <hr/>
                                                <div class="row" id="repricing_div">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="issuedModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Payment Option</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <input type="radio" name="payment_opt" value="full" checked=""/> Full Payment (<span id="full_payment_amt"></span>) <br/>
                                <input type="radio" name="payment_opt" value="installment"/> Installment <br/>
                                <!--<input type="hidden" name="installment_count" t-att-value="len(payment_rules)"/>-->
                                <table class="table table-bordered" style="font-size:12px;">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Amount</th>
                                        <th>Due Date</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tour_payment_rules">

                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button class="next-loading-issued primary-btn hold-seat-booking-train ld-ext-right" type="button" onclick="tour_pre_issued_booking('{{order_number}}');" style="width:100%;">
                                    Issued Now <div class="ld ld-ring ld-cycle"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% include 'tt_website_rodextrip/footer.html' %}

<script>
    $(document).ready(function () {
        breadcrumb_create("tour", 6, 1);
    });
    tour_login('{{order_number}}');
</script>

{% endblock %}
