{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_payment_acq.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.min.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_printout.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}';
    signature = `{{signature}}`;
    function onchange_filter(){
        var radios = document.getElementsByName('filter');
        for (var j = 0, length = radios.length; j < length; j++) {
            if (radios[j].checked) {
                filter = radios[j].value;
                break;
            }
        }
        text = '';
        if(filter == 'all'){
            text += `<div class="row">
                        <div class="col-lg-12">
                            <input type="button" style="width:100%;" class="primary-btn-custom" value="Search" onclick="get_top_up();" id="button"/>
                        </div>
                    </div>`;
        }else if(filter == 'name'){
            text += `<div class="row">
                        <div class="col-lg-9">
                            <input type="text" id="name" class="form-control enter_topup" placeholder="Top Up. Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Top Up. Number'" autocomplete="off"/>
                        </div>
                        <div class="col-lg-3">
                            <input type="button" style="width:100%;" class="primary-btn-custom" value="Search" onclick="get_top_up();" id="button"/>
                        </div>
                    </div>`;
        }else if(filter == 'date'){
            text += `<div class="row">
                        <div class="col-lg-3">
                            <span class="span-search-ticket"><i class="fas fa-calendar-alt"></i> Start Date</span>
                            <div class="input-container-search-ticket">
                                <input type="text" class="form-control" name="start_date" id="start_date" placeholder="Departure Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Departure Date '" autocomplete="off" readonly>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <span class="span-search-ticket"><i class="fas fa-calendar-alt"></i> End Date</span>
                            <div class="input-container-search-ticket">
                                <input type="text" class="form-control" name="end_date" id="end_date" placeholder="Departure Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Departure Date '" autocomplete="off" readonly>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <span class="span-search-ticket"> State</span>
                            <select id="state" class="form-control">
                                <option value="all">All</option>
                                <option value="draft">Draft</option>
                                <option value="request">Request</option>
                                <option value="valid">Validated</option>
                                <option value="cancel">Cancelled</option>
                                <option value="expired">Expired</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <br/>
                            <input type="button" style="width:100%;" class="primary-btn-custom" value="Search" onclick="get_top_up();" id="button"/>
                        </div>
                    </div>`;
        }else if(filter == 'state'){
            text += `<div class="row">
                        <div class="col-lg-9">
                            <select id="state" class="form-control">
                                <option value="all">All</option>
                                <option value="draft">Draft</option>
                                <option value="request">Request</option>
                                <option value="valid">Validated</option>
                                <option value="cancel">Cancelled</option>
                                <option value="expired">Expired</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <input type="button" style="width:100%;" class="primary-btn-custom" value="Search" onclick="get_top_up()" id="button"/>
                        </div>
                    </div>`;
        }
        document.getElementById('search').innerHTML = text;
        try{
            $('#state').niceSelect();
        }catch(err){}
        try{
            $('input[name="start_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              startDate: moment(),
              minDate: moment().subtract(+730, 'days'),
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
            });
            $('input[name="end_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              startDate: moment(),
              minDate: moment(),
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
            });

            $('input[name="end_date"]').change(function() {
                min_date = document.getElementById('end_date').value;
                pick_date = document.getElementById('start_date').value;
                $('input[name="start_date"]').daterangepicker({
                  singleDatePicker: true,
                  autoUpdateInput: true,
                  opens: 'center',
                  startDate: pick_date,
                  minDate: moment().subtract(+730, 'days'),
                  maxDate: min_date,
                  showDropdowns: true,
                  locale: {
                      format: 'DD MMM YYYY',
                  }
                });
            });

            $('input[name="start_date"]').change(function() {
                min_date = document.getElementById('start_date').value;
                pick_date = document.getElementById('end_date').value;
                $('input[name="end_date"]').daterangepicker({
                  singleDatePicker: true,
                  autoUpdateInput: true,
                  opens: 'center',
                  startDate: pick_date,
                  minDate: min_date,
                  maxDate: moment(),
                  showDropdowns: true,
                  locale: {
                      format: 'DD MMM YYYY',
                  }
                });
            });
        }catch(err){}
        console.log(filter);
    }
    function reset_filter(){
        document.getElementById('name').value = '';
        document.getElementById('start_date').value = '';
        document.getElementById('end_date').value = '';
        document.getElementById('state').value = 'all';
    }
</script>
<title>{{name}} - Top up History</title>

{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/header.html' %}
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-wrap" style="margin-bottom:25px;">
                    <h4>Search by</h4>
                    {%if template == 1%}
                    <div class="row banner-right">
                        <div class="col-lg-12 form-wrap" style="padding:15px; text-align:left;" id="search">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <span>Top Up. Number</span>
                                    <input type="text" id="name" class="form-control enter_topup" placeholder="Top Up. Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Top Up. Number'" autocomplete="off"/>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <span>State</span>
                                    <div class="input-container-search-ticket">
                                        <div class="form-select" id="default-select">
                                            <select id="state">
                                                <option value="all">All</option>
                                                <option value="draft">Draft</option>
                                                <option value="request">Request</option>
                                                <option value="valid">Validated</option>
                                                <option value="cancel">Cancelled</option>
                                                <option value="expired">Expired</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <span><i class="fas fa-calendar-alt"></i> Start Date</span>
                                    <div class="input-container-search-ticket">
                                        <input type="text" class="form-control" name="start_date" id="start_date" placeholder="Start Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Start Date '" autocomplete="off" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <span><i class="fas fa-calendar-alt"></i> End Date</span>
                                    <div class="input-container-search-ticket">
                                        <input type="text" class="form-control" name="end_date" id="end_date" placeholder="End Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'End Date '" autocomplete="off" readonly>
                                    </div>
                                </div>

                                <div class="col-lg-12" style="text-align:right;">
                                    <a href="#" style="font-size:14px; font-weight:600; text-decoration:underline;" onclick="reset_filter();"><i class="fas fa-redo"></i> RESET</a>
                                </div>
                                <div class="col-lg-12" style="text-align:center;">
                                    <input type="button" class="primary-btn-custom" value="Search" onclick="get_top_up();" id="button"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% elif template == 2 %}
                    <div class="row hotel-search-form-area" style="bottom:0px; padding-left:0px; padding-right:0px;">
                        <div class="col-lg-12 hotel-search-form" style="background-color:unset; padding:15px; box-shadow:unset;" id="search">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <span>Top Up. Number</span>
                                    <input type="text" id="name" class="form-control enter_topup" placeholder="Top Up. Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Top Up. Number'" autocomplete="off"/>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <span>State</span>
                                    <div class="form-select" id="default-select">
                                        <select id="state">
                                            <option value="all">All</option>
                                            <option value="draft">Draft</option>
                                            <option value="request">Request</option>
                                            <option value="valid">Validated</option>
                                            <option value="cancel">Cancelled</option>
                                            <option value="expired">Expired</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <span><i class="fas fa-calendar-alt"></i> Start Date</span>
                                    <div class="input-container-search-ticket">
                                        <input type="text" class="form-control" name="start_date" id="start_date" placeholder="Start Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Start Date '" autocomplete="off" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <span><i class="fas fa-calendar-alt"></i> End Date</span>
                                    <div class="input-container-search-ticket">
                                        <input type="text" class="form-control" name="end_date" id="end_date" placeholder="End Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'End Date '" autocomplete="off" readonly>
                                    </div>
                                </div>

                                <div class="col-lg-12" style="text-align:right;">
                                    <a href="#" style="font-size:14px; font-weight:600; text-decoration:underline;" onclick="reset_filter();"><i class="fas fa-redo"></i> RESET</a>
                                </div>
                                <div class="col-lg-12" style="text-align:center;">
                                    <input type="button" class="primary-btn-custom" value="Search" onclick="get_top_up();" id="button"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% elif template == 3 %}
                    <div class="row fullscreen d-flex" style="bottom:0px; padding-left:0px; padding-right:0px;">
                        <div class="col-lg-12 header-right" style="background-color:unset; padding:15px; box-shadow:unset; border:unset;" id="search">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <span>Top Up. Number</span>
                                    <input type="text" id="name" class="form-control enter_topup" placeholder="Top Up. Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Top Up. Number'" autocomplete="off"/>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <span>State</span>
                                    <div class="form-group">
                                        <div class="default-select" id="default-select">
                                            <select id="state">
                                                <option value="all">All</option>
                                                <option value="draft">Draft</option>
                                                <option value="request">Request</option>
                                                <option value="valid">Validated</option>
                                                <option value="cancel">Cancelled</option>
                                                <option value="expired">Expired</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6">
                                    <span><i class="fas fa-calendar-alt"></i> Start Date</span>
                                    <div class="input-container-search-ticket">
                                        <input type="text" class="form-control" name="start_date" id="start_date" placeholder="Start Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Start Date '" autocomplete="off" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <span><i class="fas fa-calendar-alt"></i> End Date</span>
                                    <div class="input-container-search-ticket">
                                        <input type="text" class="form-control" name="end_date" id="end_date" placeholder="End Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'End Date '" autocomplete="off" readonly>
                                    </div>
                                </div>

                                <div class="col-lg-12" style="text-align:right;">
                                    <a href="#" style="font-size:14px; font-weight:600; text-decoration:underline;" onclick="reset_filter();"><i class="fas fa-redo"></i> RESET</a>
                                </div>
                                <div class="col-lg-12" style="text-align:center;">
                                    <input type="button" class="primary-btn-custom" value="Search" onclick="get_top_up();" id="button"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                </div>
                <table style="width:100%; background:white;" id="table_top_up_history" class="list-of-reservation">
                    <tr>
                        <th style="width:5%;">No.</th>
                        <th style="width:20%;">Top Up Number</th>
                        <th style="width:20%;">Due Date</th>
                        <th style="width:15%;">Amount</th>
                        <th style="width:15%;">Status</th>
                        <th style="width:15%;">Payment Method</th>
                        <th style="width:15%;">Help By</th>
                        <th style="width:10%;">Action</th>
                    </tr>
                </table>
                <div id="loading-search-top-up" style="margin-bottom:20px;">
                    <div class="col-lg-12">
                        <div class="sk-circle">
                            <div class="sk-circle1 sk-child"></div>
                            <div class="sk-circle2 sk-child"></div>
                            <div class="sk-circle3 sk-child"></div>
                            <div class="sk-circle4 sk-child"></div>
                            <div class="sk-circle5 sk-child"></div>
                            <div class="sk-circle6 sk-child"></div>
                            <div class="sk-circle7 sk-child"></div>
                            <div class="sk-circle8 sk-child"></div>
                            <div class="sk-circle9 sk-child"></div>
                            <div class="sk-circle10 sk-child"></div>
                            <div class="sk-circle11 sk-child"></div>
                            <div class="sk-circle12 sk-child"></div>
                        </div>
                        <div style="text-align:center"><h6>PLEASE WAIT</h6></div>
                    </div>
                </div>
                <center><div class="alert alert-danger" id="top_up_found" role="alert" style="margin-top:10px; display:none;"><h6><i class="fas fa-search-minus"></i> Oops! Data top up not found!</h6></div></center>
            </div>
        </div>
    </div>
</section>

{% include 'tt_website_rodextrip/footer.html' %}
<script>
    $( document ).ready(function() {
        $(".enter_topup").keypress(function(event) {
            if (event.keyCode === 13) {
                $("#button").click();
            }
        });

        try{
            $('input[name="start_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              startDate: moment(),
              minDate: moment().subtract(+730, 'days'),
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
            });
            $('input[name="end_date"]').daterangepicker({
              singleDatePicker: true,
              autoUpdateInput: true,
              startDate: moment(),
              minDate: moment(),
              maxDate: moment(),
              showDropdowns: true,
              opens: 'center',
              locale: {
                  format: 'DD MMM YYYY',
              }
            });

            $('input[name="end_date"]').change(function() {
                min_date = document.getElementById('end_date').value;
                if(document.getElementById('start_date').value != '')
                    pick_date = document.getElementById('start_date').value;
                else
                    pick_date = document.getElementById('end_date').value;

                $('input[name="start_date"]').daterangepicker({
                  singleDatePicker: true,
                  autoUpdateInput: true,
                  opens: 'center',
                  startDate: pick_date,
                  minDate: moment().subtract(+730, 'days'),
                  maxDate: min_date,
                  showDropdowns: true,
                  locale: {
                      format: 'DD MMM YYYY',
                  }
                });
            });

            $('input[name="start_date"]').change(function() {
                min_date = document.getElementById('start_date').value;
                if(document.getElementById('end_date').value != '')
                    pick_date = document.getElementById('end_date').value;
                else
                    pick_date = document.getElementById('start_date').value;

                console.log(pick_date);
                console.log(min_date);
                $('input[name="end_date"]').daterangepicker({
                  singleDatePicker: true,
                  autoUpdateInput: true,
                  opens: 'center',
                  startDate: pick_date,
                  minDate: min_date,
                  maxDate: moment(),
                  showDropdowns: true,
                  locale: {
                      format: 'DD MMM YYYY',
                  }
                });
            });
        }catch(err){}
        $('input[name="start_date"]').val("");
        $('input[name="end_date"]').val("");
    });
    signin_rodextrip('top_up_history');
    //get_top_up();
    load_more = false;
</script>

{% endblock %}
