{% extends 'tt_website/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/pricing_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/tour_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_tour.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_payment_acq.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_content.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/pricing_javascript.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}'


    provider = '{{tour_data.provider}}';
    signature = '{{signature}}';
    room_amount = {{room_amount}};
    total_pax_amount = {{total_pax_all}};

    last_session = 'sell_journeys';
    time_limit = {{time_limit}};
    session_time_limit();
</script>
<title id="title_search">{{name}} {% trans 'Tour' %} - {% trans 'Review' %}</title>
<div id="overlay-div-box" onclick="close_div('payment_acq');"></div>
{% include 'tt_website/logout.html' %}
{% include 'tt_website/loading_screen.html' %}

{% include 'tt_website/modal_balance_vendor.html' %}
{% include 'tt_website/waiting_transaction_modal.html' %}

{% if 'co_customer_parent_type_name' in username and 'corp_limitation' not in username.co_agent_frontend_security %}
{% include 'tt_website/html_include/header_corporate.html' %}
{% endif %}
{% include 'tt_website/html_include/header_breadcrumb.html' %}

<div class="destinations-area" style="padding-top:30px; padding-bottom:40px; background:#f7f7f7;">
    <div class="container">
        <form method="POST" id="tour_booking">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <h3>{% trans 'Please Review Your Booking' %}</h3>
                    <h4>{% trans 'Prices may changes at any time' %}</h4>
                    <br/>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="margin-top:10px; margin-bottom:15px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="tour_review_detail" style="padding:15px; background-color:white; border:1px solid #cdcdcd;">
                                <div class="row">
                                    <div class="col-lg-12 mb-3" style="border-bottom:1px solid #cdcdcd;">
                                        <h4 class="mb-3">
                                            <img src="{{ static_path }}images/icon/product/b-tour.png" alt="undefined" style="width:20px; height:20px;">
                                            {% trans 'Tour Information' %}
                                        </h4>
                                    </div>
                                </div>
                                <h4>{{tour_data.name}}</h4>
                                <span><i class="fa fa-calendar" aria-hidden="true"></i>
                                    {{departure_date}} - {{arrival_date}}
                                </span>
                                <br/>
                                <span><i class="fa fa-clock-o" aria-hidden="true"></i> {{tour_data.duration}} {% trans 'Days' %}</span>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <input type="hidden" id="room_amount" value="{{room_amount}}"/>
                            <div id="tour_review_rooms" style="padding:15px; background-color:white; border:1px solid #cdcdcd;">
                                <div class="row">
                                    <div class="col-lg-12 mb-3" style="border-bottom:1px solid #cdcdcd;">
                                        <h4 class="mb-3">
                                            <img src="{{ static_path }}images/icon/product/b-hotel.png" alt="undefined" style="width:20px; height:20px;">
                                            {% trans 'Accommodation(s)' %}
                                        </h4>
                                    </div>
                                </div>

                                {% for room in room_list %}
                                <input type="hidden" id="room_sequence{{forloop.counter}}" value="{{forloop.counter}}"/>
                                <input type="hidden" id="room_code_{{forloop.counter}}" value="{{room.room_code}}"/>
                                <input type="hidden" id="adult_quota_room{{forloop.counter}}" value="{{room.adult}}"/>
                                <input type="hidden" id="child_quota_room{{forloop.counter}}" value="{{room.child}}"/>
                                <input type="hidden" id="infant_quota_room{{forloop.counter}}" value="{{room.infant}}"/>
                                <input type="hidden" id="ori_adult_quota_room{{forloop.counter}}" value="{{room.adult}}"/>
                                <input type="hidden" id="ori_child_quota_room{{forloop.counter}}" value="{{room.child}}"/>
                                <input type="hidden" id="ori_infant_quota_room{{forloop.counter}}" value="{{room.infant}}"/>
                                <h5 class="single_border_custom_left" style="padding-left:5px;">
                                    {{forloop.counter}}. {{room.name}}
                                </h5>
                                {% if room.bed_type != 'none' %}<b>Type: </b><i>{{room.bed_type}}</i><br>{% endif %}
                                {% if room.hotel %}<b>Hotel: </b><i>{{room.hotel}}</i><br>{% endif %}
                                <b>Description: </b><i>{% if room.description %}{{room.description}}{% else %} - {% endif %}</i><br>
                                <b>Notes: </b><i>{% if room.notes %}{{room.notes}}{% else %} - {% endif %}</i><br>
                                {% if not forloop.last %}
                                <hr>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <div id="activity_review_booker" style="border:1px solid #cdcdcd; padding:15px; background-color:white; margin-top:20px;">
                                <div class="row">
                                    <div class="col-lg-12 mb-3" style="border-bottom: 1px solid #cdcdcd;">
                                        <h4 class="mb-3"><i class="fas fa-user"></i> {% trans 'Contact Information' %}</h4>
                                    </div>
                                </div>
                                {% if contact_person|length > 0 %}
                                {% for con in contact_person %}
                                <h5 class="single_border_custom_left" style="padding-left:5px;">
                                    {{forloop.counter}}. {{con.title}}. {{con.first_name}} {{con.last_name}}
                                </h5>
                                <b>Email: </b><i>{{con.email}}</i><br>
                                <b>Phone: </b><i>{{con.mobile}}</i><br>
                                {% endfor %}
                                {% else %}
                                <h4>
                                    {{booker.title}}. {{booker.first_name}} {{booker.last_name}}
                                </h4>
                                <b>Email: </b><i>{{booker.email}}</i><br>
                                <b>Phone: </b><i>{{booker.mobile}}</i><br>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <input type="hidden" id="total_pax_all" value="{{total_pax_all}}"/>
                            <div id="tour_review_passengers" style="border:1px solid #cdcdcd; padding:15px; background-color:white; margin-top:20px;">
                                <div class="row">
                                    <div class="col-lg-12 mb-3" style="border-bottom: 1px solid #cdcdcd;">
                                        <h4 class="mb-3"><i class="fas fa-users"></i> {% trans 'List of Guest(s)' %}</h4>
                                    </div>
                                </div>
                                {% for pax in all_pax %}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h5 class="single_border_custom_left" style="padding-left:5px;">
                                            {{forloop.counter}}. {{pax.title}}. {{pax.first_name}} {{pax.last_name}}
                                            <b style="background:white; font-size:13px; color:black; padding:0px 15px; display:unset; border: 1px solid #cdcdcd; border-radius:7px;">
                                                <i class="fas fa-user"></i> {{pax.pax_type_str}}
                                            </b>
                                        </h5>
                                    </div>
                                    <div class="col-lg-6" style="margin-bottom:10px;">
                                        <b>Birth Date: </b><i>{{pax.birth_date}}</i><br>
                                        {% if pax.identity_number %}
                                        <b>Passport: </b><i>{{pax.identity_number}}</i><br>
                                        {% endif %}
                                        {% if pax.identity_expdate %}
                                        <b>Expired Date: </b><i>{{pax.identity_expdate}}</i><br>
                                        {% endif %}
                                        <input type="hidden" id="pax_sequence{{forloop.counter}}" value="{{pax.sequence}}"/>
                                        <input type="hidden" id="temp_pax_id{{forloop.counter}}" value="{{pax.temp_pax_id}}"/>
                                    </div>
                                    <div class="col-lg-6">
                                        {%if template == 1%}
                                        <div id="div_select_pax{{forloop.counter}}" style="padding: 2px 2px 4px 2px; height: 49px">
                                            <div class="form-select" id="default-select">
                                        {%elif template == 2%}
                                        <div id="div_select_pax{{forloop.counter}}" style="padding: 2px 2px 4px 2px; height: 49px;">
                                            <div class="form-select" id="default-select">
                                        {%elif template == 3%}
                                        <div id="div_select_pax{{forloop.counter}}" style="padding: 2px 2px 4px 2px; height: 49px;">
                                            <div class="default-select" id="default-select">
                                        {%elif template == 4%}
                                        <div id="div_select_pax{{forloop.counter}}" style="padding: 2px 2px 4px 2px; height: 49px;">
                                            <div class="form-select" id="default-select">
                                        {%elif template == 5%}
                                        <div id="div_select_pax{{forloop.counter}}" style="padding: 2px 2px 4px 2px; height: 49px;">
                                            <div class="form-select" id="default-select">
                                        {%elif template == 6%}
                                        <div id="div_select_pax{{forloop.counter}}" style="padding: 2px 2px 4px 2px; height: 49px;">
                                            <div class="form-select" id="default-select">
                                                {%endif%}
                                                <select {%if template == 4%} class="nice-select-default rounded" {%endif%} id="room_select_pax{{forloop.counter}}" name="room_select_pax{{forloop.counter}}" onchange="refresh_room_availability({{forloop.counter}});" data-live-search="true">
                                                    <option value="0">{% trans 'Please select a room!' %}</option>
                                                    {% for room in room_list %}
                                                    {% if pax.pax_type == 'ADT' and room.adult > 0 %}
                                                    <option value="{{forloop.counter}}">{% trans 'Room' %} {{forloop.counter}} ; {{room.name}}/{{room.bed_type}} ; {{room.hotel}}</option>
                                                    {% elif pax.pax_type == 'CHD' and room.child > 0 %}
                                                    <option value="{{forloop.counter}}">{% trans 'Room' %} {{forloop.counter}} ; {{room.name}}/{{room.bed_type}} ; {{room.hotel}}</option>
                                                    {% elif pax.pax_type == 'INF' and room.infant > 0 %}
                                                    <option value="{{forloop.counter}}">{% trans 'Room' %} {{forloop.counter}} ; {{room.name}}/{{room.bed_type}} ; {{room.hotel}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <input type="hidden" id="pax_type{{forloop.counter}}" value="{{pax.pax_type}}"/>
                                    </div>
                                </div>
                                {% if not forloop.last %}
                                <hr>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-6">
                            {% if 'book_reservation' in username.co_agent_frontend_security %}
                            <button class="for-show-website next-loading-booking primary-btn hold-seat-booking-train ld-ext-right" type="button" onclick="tour_hold_booking(0);" style="width:100%;">
                                {% trans 'Hold Booking' %} <div class="ld ld-ring ld-cycle"></div>
                            </button>
                            {% endif %}
                        </div>
                        <!--                        <div align="center" class="col-lg-4">-->
                        <!--                            <button class="for-show-website primary-btn hold-seat-booking-train" type="button" onclick="openInNewTab('{{backend_url}}/rodextrip/orbisway/pdf/form.itinerary/{{printout_rec}}')" style="width:100%;">-->
                        <!--                                {% trans 'Print Itinerary Form' %}-->
                        <!--                            </button>-->
                        <!--                        </div>-->
                        <div class="col-lg-6">
                            {% if 'issued_reservation' in username.co_agent_frontend_security and 'b2c_limitation' not in username.co_agent_frontend_security and not username.co_job_position_is_request_required %}
                            <button id="final_issued_btn" class="for-show-website next-loading-issued primary-btn hold-seat-booking-train ld-ext-right issued_booking_btn" type="button" style="width:100%;" onclick="tour_hold_booking(1);">
                                {% trans 'Issued Booking' %}
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    <div style="text-align:left;" class="modal fade" id="myModalErrorReview" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><i class="fas fa-search-minus"></i> {% trans 'Oops! Please check your details' %} </i></h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div style="max-height:300px; overflow-y:auto;">
                                                <h5><i class="fas fa-times-circle" style="color:red; font-size:24px;"></i> {% trans 'We found a mistake in your data.' %}</h5>
                                                <br/>
                                                <span id="show_error_log" style="font-size:15px;">

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="primary-btn" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-lg-12" style="background-color:white; padding:15px; border:1px solid #cdcdcd;" id="tour_detail">
                            <div class="row">
                                <div class="col-lg-12 mb-3" style="border-bottom: 1px solid #cdcdcd;">
                                    <h4 class="mb-3">{% trans 'Price Detail' %}</h4>
                                </div>
                            </div>
                            <span id="product_title" style="font-weight: bold;">{{tour_data.name}}</span>
                            <br/><span id="product_date" style="font-size:13px; font-weight:500;">{{departure_date}} - {{arrival_date}}</span>
                            <br/><br/>
                            <div id="loading-price-tour" style="margin-bottom:20px;">
                                <div class="col-lg-12">
                                    <div class="sk-circle">
                                        <div class="sk-circle1 sk-child"></div>
                                        <div class="sk-circle2 sk-child"></div>
                                        <div class="sk-circle3 sk-child"></div>
                                        <div class="sk-circle4 sk-child"></div>
                                        <div class="sk-circle5 sk-child"></div>
                                        <div class="sk-circle6 sk-child"></div>
                                        <div class="sk-circle7 sk-child"></div>
                                        <div class="sk-circle8 sk-child"></div>
                                        <div class="sk-circle9 sk-child"></div>
                                        <div class="sk-circle10 sk-child"></div>
                                        <div class="sk-circle11 sk-child"></div>
                                        <div class="sk-circle12 sk-child"></div>
                                    </div>
                                    <div style="text-align:center"><h6>{% trans 'PLEASE WAIT' %}</h6></div>
                                </div>
                            </div>
                            <div id="tour_detail_table" style="padding: 0; font-size: 12px !important;">

                            </div>
                        </div>
                        {% include 'tt_website/voucher_code.html'  %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="background-color:white; padding:10px; border:1px solid {{color}};margin-top:10px;" id="payment_acq" hidden>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModalRepricing" role="dialog">
                    <div class="overlay_modal_custom" data-dismiss="modal"></div>
                    <div class="modal-dialog modal_custom_fixed">
                        <!-- Modal content-->
                        <div class="modal-content" style="border-radius: 0;">
                            <div class="modal-header">
                                <div class="row">
                                    <div class="col-xs-6 pb-3">
                                        <h4 class="modal-title"><i class="fas fa-money"></i> {% trans 'Reprice Change' %}</h4>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="button" class="close modal_custom_close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row" id="pricing">
                                            <div class="col-lg-12" style="border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; background-color:white;">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h4 class="single_border_custom_left" style="margin-top:15px; margin-bottom:15px; padding-left:10px; word-break:break-word;">{% trans 'Pricing' %}</h4>
                                                    </div>
                                                    <div class="col-lg-12 mb-3" style="text-align:right;">
                                                        <button class="primary-btn-ticket" type="button" onclick="add_table_of_equation(false);"><i class="fas fa-plus-circle"></i></button>
                                                        <button class="primary-btn-cancel" type="button" onclick="delete_table_of_equation();"><i class="fas fa-trash-alt"></i></button>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div style="padding:10px;" id="table_of_equation">

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12" style="margin-bottom:15px; margin-top:15px;">
                                                        <hr/>
                                                        <center>
                                                            <input class="primary-btn-ticket" type="button" onclick="calculate('airline_review');" value="Calculate">
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12" style="background-color:white; border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; margin-top:15px;">
                                                <h4 class="single_border_custom_left" style="margin-top:15px; margin-bottom:15px; padding-left:10px; word-break:break-word;">{% trans 'Result Pricing' %}</h4>
                                                <div class="row" id="repricing_div">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="commit_booking_setup"></div>
                <div class="col-lg-12" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-lg-4" style="margin-bottom:10px;">
                            {% if 'book_reservation' in username.co_agent_frontend_security %}
                            <button class="for-show-mobile next-loading-booking primary-btn hold-seat-booking-train ld-ext-right" type="button" onclick="tour_hold_booking(0);" style="width:100%;">
                                {% trans 'Hold Booking' %} <div class="ld ld-ring ld-cycle"></div>
                            </button>
                            {% endif %}
                        </div>
                        <div align="center" class="col-lg-4" style="margin-bottom:10px;">
                            <button class="for-show-mobile primary-btn hold-seat-booking-train" type="button" onclick="openInNewTab('{{backend_url}}/orbisway/report/pdf/form.itinerary/{{printout_rec}}')" style="width:100%;">
                                {% trans 'Print Itinerary Form' %}
                            </button>
                        </div>
                        <div class="col-lg-4" style="margin-bottom:10px;">
                            {% if 'issued_reservation' in username.co_agent_frontend_security and 'b2c_limitation' not in username.co_agent_frontend_security %}
                            <button class="for-show-mobile primary-btn issued_booking_btn" type="button" style="width:100%;" onclick="tour_hold_booking(1);">
                                {% trans 'Issued Booking' %}
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="time_limit_input" value="{{time_limit}}" name="time_limit_input" />
        </form>
        <form method="POST" id="tour_issued" action="{% url 'tt_website:payment'%}">
            {% csrf_token %}
            <input type="hidden" id="passengers" name="passengers"/>
            <input type="hidden" id="signature" name="signature"/>
            <input type="hidden" id="order_number" name="order_number"/>
            <input type="hidden" id="provider" name="provider"/>
            <input type="hidden" id="discount" name="discount"/>
            <input type="hidden" id="voucher_code" name="voucher_code"/>
            <input type="hidden" id="type" name="type"/>
            <input type="hidden" id="payment" name="payment"/>
            <input type="hidden" id="session_time_input" name="session_time_input"/>
        </form>
    </div>
</div>

{% include 'tt_website/footer.html' %}

<script>
    get_agent_currency_rate();
    $(document).ready(function () {
        breadcrumb_create("tour", 5, 0);
        tour_page_review();
        get_payment_rules('{{tour_data.tour_code}}', '{{tour_line_code}}');
        //get_payment_acq('Issued','{{booker.booker_seq_id}}', '', 'billing',signature,'tour');
    });
</script>
{% endblock %}
