{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<!--<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>-->
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_hotel.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/hotel_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_payment_acq.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_printout.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/pricing_javascript.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}'
    signature = '{{signature}}';
    time_limit = {{time_limit}};
    session_time_limit();
    facilities = `{{hotel_pick.facilities}}`;
    facilities = facilities.replace(/&#39;/g, '"');
    facilities = facilities.replace(/&quot;/g, '"');
    facilities = facilities.replace(/False/g, 'false');
    facilities = facilities.replace(/True/g, 'true');
    adult = `{{adults}}`;
    adult = adult.replace(/True/g, 'true');
    adult = adult.replace(/False/g, 'false');
    adult = adult.replace(/&#39;/g, '"');
    adult = JSON.parse(adult);
    booker = `{{booker}}`;
    booker = booker.replace(/True/g, 'true');
    booker = booker.replace(/False/g, 'false');
    booker = booker.replace(/&#39;/g, '"');
    booker = JSON.parse(booker);
    contact = `{{contact}}`;
    contact = contact.replace(/True/g, 'true');
    contact = contact.replace(/False/g, 'false');
    contact = contact.replace(/&#39;/g, '"');
    contact = JSON.parse(contact);
    child = `{{childs}}`;
    child = child.replace(/True/g, 'true');
    child = child.replace(/False/g, 'False');
    child = child.replace(/&#39;/g, '"');
    child = JSON.parse(child);
    hotel = `{{hotel_pick}}`;
    hotel = hotel.replace(/&#39;/g, '"').replace(/&quot;/g, '"').replace(/False/g, 'false').replace(/True/g, 'true').replace(/None/g, '""');
    upsell_price = {{upsell}};
    hotel_price = `{{hotel_room_detail_pick}}`;
    hotel_price = hotel_price.replace(/&#39;/g, '"');
    hotel_price = hotel_price.replace(/&quot;/g, '"');
    hotel_price = hotel_price.replace(/False/g, 'false');
    hotel_price = hotel_price.replace(/True/g, 'true');
    hotel_price = hotel_price.replace(/None/g, '""');
    last_session = 'review';
    hotel_price = JSON.parse(hotel_price);
    cancellation_policy = `{{hotel_cancellation_policy}}`;
    cancellation_policy = JSON.parse(cancellation_policy.replace(/&#39;/g, '"').replace(/&quot;/g, '"').replace(/False/g, 'false').replace(/True/g, 'true').replace(/None/g, '""'));

</script>

{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/loading_screen.html' %}
{% include 'tt_website_rodextrip/check_connection.html' %}
<title id="title_search">{{name}} Hotel - {% trans 'Review' %}</title>
<div id="overlay-div-box" onclick="close_div('payment_acq');"></div>


{%if template == 1%}
<header id="header" class="header_breadcrumb" style="position:sticky; top:0px;">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="Logo {{name}}" title="{{name}}" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Session Time' %} <span class="count_time" id="session_time"> </span></span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Elapsed Time' %} <span class="count_time" id="elapse_time"> </span></span>
                </div>
                {% include 'tt_website_rodextrip/balance_credit.html' %}
            </div>
        </div>
    </div>
    {% if username.co_user_login == 'agent_b2c' %}
    {% include 'tt_website_rodextrip/header_signin_signup.html' %}
    {% endif %}
</header>
{% elif template == 2 or template == 3 or template == 4 or template == 5%}
<header class="header_breadcrumb" style="position:sticky; top:0px; z-index:100; border-bottom:1px solid #cdcdcd; background:white;">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="Logo {{name}}" title="{{name}}" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Session Time' %} <span class="count_time" id="session_time"> </span></span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Elapsed Time' %} <span class="count_time" id="elapse_time"> </span></span>
                </div>
                {% include 'tt_website_rodextrip/balance_credit.html' %}
            </div>
        </div>
    </div>
    {% if username.co_user_login == 'agent_b2c' %}
    {% include 'tt_website_rodextrip/header_signin_signup.html' %}
    {% endif %}
</header>
{% endif %}
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px; background: #f7f7f7;">
    <div class="container">
        <form method="POST" id="issued">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <h3>{% trans 'Please Review Your Booking' %}</h3>
                    <h5>{% trans 'Prices may changes at any time' %}</h5><br/>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="hotel_review" style="padding:10px; background-color:white; border:1px solid #cdcdcd;">
                                <h4> {% trans 'Hotel Detail' %} </h4>
                                <hr/>
                                <span style="font-size:20px; font-weight:bold; color:black;">{{hotel_pick.name}}</span>
                                <span>
                                    {% for i in "x"|rjust:hotel_pick.rating %}
                                    {% if hotel_pick.rating == 0 %}
                                    (Unrated)
                                    {% else %}
                                    <i class="fas fa-star" style="color:#FFC44D;"></i>
                                    {% endif %}
                                    {% endfor %}
                                </span><br/>

                                <span>
                                <i class="fas fa-map-marker-alt" style="color:{{color}};"></i>
                                    {% if hotel_pick.location.address != False %}
                                    {{hotel_pick.location.address}}
                                    {% endif %}
                                    {% if hotel_pick.location.city != False %}
                                    {{hotel_pick.location.city}}
                                    {% endif %}
                                    {% if hotel_pick.location.kelurahan != False %}
                                    {{hotel_pick.location.kelurahan}}
                                    {% endif %}
                                    {% if hotel_pick.location.state != False %}
                                    {{hotel_pick.location.state}}
                                    {% endif %}
                                    {% if hotel_pick.location.zipcode != False %}
                                    {{hotel_pick.location.zipcode}}
                                    {% endif %}

                                    <!-- - <a href="#" style="color:blue; text-decoration: underline;"> Show Map ({{hotel_pick.lat}}, {{hotel_pick.long}})</a> -->
                                </span>
                                <br/>
                                <span style="text-align:justify; font-weight:bold;">{% trans 'Date' %}: </span>{{hotel_search.checkin_date}} - {{hotel_search.checkout_date}}<br/>
                                <span style="text-align:justify; font-weight:bold;">{% trans 'Room' %}: </span>
                                {% for room in hotel_room_detail_pick.rooms %}
                                {% with forloop.counter as counter_room %}
                                <span>{{room.type}} - {{room.description}}</span>
                                <br/>


                                {% endwith %}
                                {% endfor %}
                                <br/>
                                <span>
                                    <span style="text-align:justify; font-weight:bold;">{% trans 'Facilities' %}:</span><br/>
                                    <div id="js_image_facility" class="row">

                                    </div>
                                </span>
                                <br/>
                                <span style="text-align:justify; font-weight:bold;">{% trans 'Customer Notes' %}: </span><br/>
                                {{special_request}}{% if special_request == '' %} No Special Request {% endif %}<br/>
                                <br/>
                                <span id="js_hotel_norms_container" style="display:none;">
                                    <span style="text-align:justify; font-weight:bold;">{% trans 'Hotel Norms' %}:</span><br/>
                                    <ul id="js_hotel_norms" class="list-group" style="max-height:255px; overflow-y:scroll;">

                                    </ul>
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-12" style="margin-top:15px;">
                            <div class="row">
                                <div class="col-lg-12" style="padding-bottom:20px;">
                                    <div style="border:1px solid #cdcdcd; padding:10px; background-color:white;">
                                        <h4> {% trans 'List of Guest' %} <i class="fas fa-users"></i></h4>
                                        <hr/>
                                        <h5>{% trans 'Booker' %}</h5>
                                        <table style="width:100%; margin-top:10px;" id="list-of-passenger">
                                            <tr>
                                                <th style="width:40%;">{% trans 'Name' %}</th>
                                                <th style="width:30%;">Email</th>
                                                <th style="width:30%;">{% trans 'Phone Number' %}</th>
                                            </tr>
                                            <tr>
                                                <td>{{booker.title}} {{booker.first_name}} {{booker.last_name}}</td>
                                                <td>{{booker.email}}</td>
                                                <td>{{booker.mobile}}</td>
                                            </tr>
                                        </table>
                                        <br/>
                                        <h5>Guest</h5>
                                        <table style="width:100%; margin-top:10px;" id="list-of-passenger">
                                            <tr>
                                                <th>{% trans 'Name' %}</th>
                                                <th>{% trans 'Birth Date' %}</th>
                                            </tr>
                                            {% for adult in adults %}
                                            <tr>
                                                <td>{{adult.title}} {{adult.first_name}} {{adult.last_name}}</td>
                                                <td>{{adult.birth_date}}</td>
                                            </tr>
                                            {% endfor %}

                                            {% for child in childs %}
                                            <tr>
                                                <td>{{child.title}} {{child.first_name}} {{child.last_name}}</td>
                                                <td>{{child.birth_date}}</td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <textarea id="data_copy2" name="data_copy2" rows="4" hidden></textarea>
                        <div class="col-lg-4" style="padding-bottom:10px;">

                        </div>
                        <div class="col-lg-4" style="padding-bottom:10px;">
                            <!--<button class="primary-btn hold-seat-booking-train" type="button" onclick="window.open('https://backend.rodextrip.com/rodextrip/report/pdf/form.itinerary/{{ printout_rec }}')" style="width:100%;">-->
                                <!--Print Itinerary Form-->
                            <!--</button>-->
                            <button id="button-print-print" class="primary-btn hold-seat-booking-train ld-ext-right" type="button" onclick="get_printout('','itinerary','hotel');" style="width:100%;">
                                {% trans 'Print Itinerary Form' %}
                                <div class="ld ld-ring ld-cycle"></div>
                            </button>
                        </div>
                        <div class="col-lg-4" style="padding-bottom:10px;">

                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="padding-bottom:20px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <!--                            <div style="background-color:white; padding:10px; border:1px solid #cdcdcd;" id="price_total"></div>-->
                            <div style="background-color:white; padding:10px; border:1px solid #cdcdcd; margin-bottom:10px;" id="hotel_cancellation">
                                <div class="row" style="margin-bottom:5px; ">
                                    <div class="col-lg-12">
                                       <h4> Cancellation Policy </h4>
                                       <b>{{hotel_pick.name}}</b>
                                       <hr/>
                                       <h5 style="color:#5c5c5c;"> Cancellation Policy </h5>
                                       <ul id="old_cancellation_policy" style="list-style-type: disc; margin: 0 15px;">
                                       </ul>
                                       <span id="js_new_cancel" style="display:none;">
                                           <hr/>
                                           <h5 style="color:{{color}};"> Newest Cancellation Policy </h5>
                                           <ul id="new_cancellation_policy" style="list-style-type: disc; margin: 0 15px;">
                                           </ul>
                                       </span>
                                    </div>
                                </div>
                                <br/>
                            </div>
                            <div id="div_name_room">

                            </div>
                            <div style="background-color:white; padding:10px; border:1px solid #cdcdcd;" id="hotel_detail"></div>
                        </div>
                        <div class="col-lg-12">
                            {% if 'issued_reservation' in username.co_agent_frontend_security %}
                            {% include 'tt_website_rodextrip/voucher_code.html'  %}
                                {% if 'b2c_limitation' not in username.co_agent_frontend_security%}
                                <button class="primary-btn issued_booking_btn" type="button" style="width:100%; margin-top:15px;" disabled id="issued_hotel_btn" onclick="hotel_issued_alert(1);">
                                    {% trans 'Issued Booking' %}
                                </button>
                                {% endif %}
                            {% endif %}
                            {% if 'b2c_limitation' in username.co_agent_frontend_security%}
                            <button class="primary-btn issued_booking_btn" type="button" style="width:100%; margin-top:15px;" disabled id="issued_hotel_btn" onclick="hotel_issued_alert(0);">
                                {% trans 'Hold Booking' %}
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    <div style="background-color:white; padding:10px; border:1px solid {{color}};margin-top:15px; position:relative;" id="payment_acq" hidden>

                    </div>
                </div>
                <div class="modal fade" id="myModalRepricing" role="dialog">
                    <div class="modal-dialog" style="width:100% !important; height:100% !important; max-width:1200px;padding: 0;">

                        <!-- Modal content-->
                        <div class="modal-content" style="border-radius: 0;">
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:{{text_color}};">{% trans 'Reprice Change' %} <i class="fas fa-money"></i></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row" id="pricing" style="padding:15px;">
                                            <div class="col-lg-12" style="max-height:500px; overflow-y:auto; border:1px solid #cdcdcd; background-color:white; margin-top:15px;">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h4 style="padding-top:10px;">{% trans 'Pricing' %}</h4>
                                                        <hr/>
                                                    </div>
                                                    <div class="col-lg-12" style="text-align:right;">
                                                        <button class="primary-btn-ticket" type="button" onclick="add_table_of_equation(false);"><i class="fas fa-plus-circle"></i></button>
                                                        <button class="primary-btn-ticket" type="button" onclick="delete_table_of_equation();"><i class="fas fa-trash-alt"></i></button>
                                                        <br/>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div style="padding:10px;" id="table_of_equation">

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12" style="margin-bottom:15px; margin-top:15px;">
                                                        <hr/>
                                                        <center>
                                                            <input class="primary-btn-ticket" type="button" onclick="calculate('airline_review');" value="Calculate">
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row" style="padding:15px;">
                                            <div class="col-lg-12" style="padding:10px; background-color:white; border:1px solid #cdcdcd; margin-top:15px;">
                                                <h4>{% trans 'Result Pricing' %}</h4>
                                                <hr/>
                                                <div class="row" id="repricing_div">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ModalChangePrice" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:white;">{% trans 'Price Change' %} <i class="fas fa-money"></i></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div id="search_result" style="overflow:auto;height:300px;margin-top:20px;">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div style="text-align:center" id="old_price">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div style="text-align:center" id="new_price">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                {% if 'b2c_limitation' in username.co_agent_frontend_security%}
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="hotel_force_issued_alert(0);">Continue with new price</button>
                                {% endif %}
                                {% if 'b2c_limitation' not in username.co_agent_frontend_security%}
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="hotel_force_issued_alert(1);">Continue with new price</button>
                                {% endif %}
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-8">-->
                    <!--<div class="row">-->
                        <!--<div class="col-lg-8"></div>-->
                        <!--<div class="col-lg-4" style="padding-bottom:10px;">-->
                            <!--<button class="next-loading-issued primary-btn hold-seat-booking-train ld-ext-right" id="btn-issued-hotel" type="button" value="Issued Booking" onclick="hotel_issued_alert();" style="width:100%;">-->
                                <!--Issued Booking-->
                                <!--<div class="ld ld-ring ld-cycle"></div>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
            <input type="hidden" id="time_limit_input" value="{{time_limit}}" name="time_limit_input" />
        </form>
        <form method="POST" id="hotel_issued" action="{% url 'tt_website_rodextrip:payment'%}">
            {% csrf_token %}
            <input type="hidden" id="passengers" name="passengers"/>
            <input type="hidden" id="signature" name="signature"/>
            <input type="hidden" id="order_number" name="order_number"/>
            <input type="hidden" id="provider" name="provider"/>
            <input type="hidden" id="discount" name="discount"/>
            <input type="hidden" id="voucher_code" name="voucher_code"/>
            <input type="hidden" id="type" name="type"/>
            <input type="hidden" id="session_time_input" name="session_time_input"/>
        </form>
    </div>
</section>

{% if username.co_user_login == 'agent_b2c' %}
{% include 'tt_website_rodextrip/modal_signin_signup.html' %}
{% endif %}

<script>
    //document.getElementById('voucher_discount').style.display = 'none';
    hotel_detail(cancellation_policy);
    hotel_facility_request(facilities);
    hotel_provision('{{hotel_room_detail_pick.price_code}}', '{{hotel_room_detail_pick.provider}}');
    //get_payment_acq('Issued','{{booker.booker_seq_id}}', '', 'billing',signature,'hotel_review');
    $( document ).ready(function() {
      breadcrumb_create("hotel", 5, 0);
    });
</script>
{% endblock %}
