{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<!--<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>-->
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/hotel_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_hotel.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}'
    signature = `{{signature}}`;
    sorting_value = '';
    //get_hotel_config();

    hotel_search_data_request = {
        'checkin': `{{hotel_search.checkin_date}}`,
        'checkout': `{{hotel_search.checkout_date}}`,
        'room': {{hotel_search.room}},
        'adult': {{hotel_search.adult}},
        'child': {{hotel_search.child}},
    }
    function guest_child_age2(){
        text= '';
        if(parseInt(document.getElementById("hotel_child").value) == 0){

        }else if(parseInt(document.getElementById("hotel_child").value) > 0){
           {% for age in hotel_search.child_age %}
               text+= `
               <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:10px;">
                   <div class="input-container-search-ticket btn-group">
                       <div class="form-select">
                           <select class="form-control" id="hotel_child_age{{forloop.counter}}" name="hotel_child_age{{forloop.counter}}" style="height:42px;">
                               <option value="" disabled>Child Age</option>
                               <option value="0" {% if age == 0 %} selected {% endif %}>0</option>
                               <option value="1" {% if age == 1 %} selected {% endif %}>1</option>
                               <option value="2" {% if age == 2 %} selected {% endif %}>2</option>
                               <option value="3" {% if age == 3 %} selected {% endif %}>3</option>
                               <option value="4" {% if age == 4 %} selected {% endif %}>4</option>
                               <option value="5" {% if age == 5 %} selected {% endif %}>5</option>
                               <option value="6" {% if age == 6 %} selected {% endif %}>6</option>
                               <option value="7" {% if age == 7 %} selected {% endif %}>7</option>
                               <option value="8" {% if age == 8 %} selected {% endif %}>8</option>
                               <option value="9" {% if age == 9 %} selected {% endif %}>9</option>
                               <option value="10" {% if age == 10 %} selected {% endif %}>10</option>
                               <option value="11" {% if age == 11 %} selected {% endif %}>11</option>
                               <option value="12" {% if age == 12 %} selected {% endif %}>12</option>
                           </select>
                       </div>
                   </div>
               </div>`;
           {% endfor %}
       }
       document.getElementById("guest_child_age").innerHTML = text;
    }
    signature = `{{signature}}`;
    time_limit = {{time_limit}};
    session_time_limit();
</script>

{% include 'tt_website_rodextrip/header.html' %}
{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/plugin_passenger.html' %}
<section class="destinations-area" style="padding:15px 0px 15px 0px; background:white; border-bottom:1px solid #cdcdcd; position:sticky; top:0px; z-index:10;">
    <div id="hotel_search_params" class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6" style="text-align:left;">
                <span class="copy_span" style="text-transform: capitalize; font-size:13px;"><i class="fas fa-map-marker-alt"></i> {{hotel_search.destination}}</span><br/>
                <span class="copy_span" style="text-transform: capitalize; font-size:13px;"> {{hotel_search.checkin_date}} - {{hotel_search.checkout_date}} | {{hotel_search.room}} room, {{hotel_search.adult}} adult, {{hotel_search.child}} child</span><br/>
            </div>

            <div class="col-lg-6 col-md-6" style="text-align:right;">
                <button class="primary-btn-custom" type="button" onclick="show_hide_change_search();">
                    <img src="{{static_path}}img/icon/search-icon.png" style="width:25px; height:25px;"/>
                    <span id="change_search_text">Change Search</span>
                </button>
            </div>
        </div>
    </div>
</section>
<div id="overlay-search-box" onclick="off_overlay()"></div>
<section class="price-area" id="change_search_box" data-aos="fade-up" style="padding-top:30px; padding-bottom:5px; background-color: black; z-index:2; position:relative; display:none">
    <div class="container" id="div-search-overlay">
        <div class="row">
            <div class="col-lg-12" style="padding:0;">
                <div class="banner-right">
                    <form action="{% url 'tt_website_rodextrip:hotel_search'%}" method="POST" class="form-wrap" id="hotel_searchForm">
                        {% csrf_token %}
                        <div class="row">
                            <input type="hidden" id="response" name="response">
                            <div class="col-lg-6 col-md-6" style="padding:0px;">
                                <span class="span-search-ticket"><i class="fas fa-map-marker-alt"></i> Destination or Hotel Name</span>
                                <div class="input-container-search-ticket">
                                    <input id="hotel_id_destination" name="hotel_id_destination" class="form-control" type="text" placeholder="Origin" style="width:100%;max-width:600px;outline:0" autocomplete="off" value="{{hotel_search.destination}}"/>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6" style="padding:0px;">
                                <span class="span-search-ticket"><i class="fas fa-globe-asia"></i> Guest Nationality</span>
                                <div class="input-container-search-ticket">
                                    <input list="hotel_country_nationality" id="hotel_id_nationality" class="form-control" name="hotel_id_nationality" value="{{hotel_search.guest_nationality}}" onkeyup="search_hotel('nationality');" placeholder="Guest Nationality " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Guest Nationality '" autocomplete="off"/>
                                    <datalist id="hotel_country_nationality"/>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6" style="padding:0px;">
                                <span class="span-search-ticket"><i class="fas fa-calendar-alt"></i> Check-in</span>
                                <div class="input-container-search-ticket">
                                    <input class="form-control" type="text" name="hotel_checkin_checkout" id="hotel_checkin_checkout" value="{{hotel_search.checkin_date}} - {{hotel_search.checkout_date}}" placeholder="Check-In - Check-out Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Check-In - Check-out Date '" autocomplete="off" readonly/>
                                    <i class="fas fa-moon icon-search-ticket" id="total_night_search" style="padding-right:40px; border-right:1px solid #F0F0F0;">1</i>
                                </div>
                                <input type="hidden" class="form-control" id="hotel_checkout" name="hotel_checkout" placeholder="Check-out Date " placeholder="Check-out Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Check-out Date '" autocomplete="off" value="{{hotel_search.checkout_date}}" onchange="change_date_hotel('checkout');" />
                                <input type="hidden" class="form-control" id="hotel_checkin" name="hotel_checkin" placeholder="Check-In Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Check-in Date '" autocomplete="off" value="{{hotel_search.checkin_date}}" onchange="change_date_hotel('checkin');"/>
                            </div>

                            <div class="col-lg-6 col-md-6" style="padding:0px;">
                                <span class="span-search-ticket"><i class="fas fa-users"></i> Guest</span>
                                <div class="input-container-search-ticket btn-group">
                                    <button id="show_total_pax_hotel" style="text-align:left;" type="button" class="form-control dropdown-toggle" data-toggle="dropdown" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"></button>
                                    <ul class="dropdown-menu" role="menu" style="z-index:5;">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                    <div style="float:left;">
                                                        <label>
                                                            <span style="color:black; font-size:13px;">Room<br/></span>
                                                            <span style="color:gray; font-size:11px;">(Qty >= 1)</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                    <div style="float:right; display:flex; padding:5px 0px 5px 5px;">
                                                        <button type="button" class="left-minus-room-hotel btn-custom-circle" id="left-minus-room-hotel" data-type="minus" data-field="" disabled>
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                        <input type="text" class="form-control" style="padding:5px !important; border:none; background:none; text-align:center; width:25px;" id="hotel_room" name="hotel_room" value="{{hotel_search.room}}" min="1">
                                                        <button type="button" class="right-plus-room-hotel btn-custom-circle" id="right-plus-room-hotel" data-type="plus" data-field="">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                    <div style="float:left;">
                                                        <label>
                                                            <span style="color:black; font-size:13px;">Adult<br/></span>
                                                            <span style="color:gray; font-size:11px;">(Age 12+)</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                    <div style="float:right; display:flex; padding:5px 0px 5px 5px;">
                                                        <button type="button" class="left-minus-adult-hotel btn-custom-circle" id="left-minus-adult-hotel" data-type="minus" data-field="">
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                        <input type="text" class="form-control" style="padding:5px !important; border:none; background:none; text-align:center; width:25px;" id="hotel_adult" name="hotel_adult" value="{{hotel_search.adult}}" min="1">
                                                        <button type="button" class="right-plus-adult-hotel btn-custom-circle" id="right-plus-adult-hotel" data-type="plus" data-field="">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                    <div style="float:left;">
                                                        <label>
                                                            <span style="color:black; font-size:13px;">Child<br/></span>
                                                            <span style="color:gray; font-size:11px;">(Age <12)</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                    <div style="float:right; display:flex; padding:5px 0px 5px 5px;">
                                                        <button type="button" class="left-minus-child-hotel btn-custom-circle" id="left-minus-child-hotel" data-type="minus" data-field="" disabled>
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                        <input type="text" class="form-control" style="padding:5px !important; border:none; background:none; text-align:center; width:25px;" id="hotel_child" name="hotel_child" value="{{hotel_search.child}}">
                                                        <button type="button" class="right-plus-child-hotel btn-custom-circle" id="right-plus-child-hotel" data-type="plus" data-field="">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="row" id="guest_child_age">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-12" style="padding:0px;margin-top:5px;float:left;">
                                <label class="check_box_custom">
                                    <span class="span-search-ticket" style="font-size:13px;">Business Trip</span>
                                    <input type="checkbox" name="business_trip" id="business_trip" {% if hotel_search.business_trip == true %} value="true" checked {% else %} value="false" {% endif %}/>
                                    <span class="check_box_span_custom"></span>
                                </label>
                            </div>
                        </div>

                        <button class="primary-btn" onclick="hotel_search_check();" type="submit" value="Submit">
                            <img src="{{static_path}}img/icon/search-icon.png" style="width:25px; height:25px;"/>
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px; z-index:1;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="position:sticky; top:73px; z-index:997; display:none;" id="mybuttonsticky">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-right:2px;">
                        <button class="primary-btn-ticket" style="width:100%;" data-toggle="modal" data-target="#myModalFilterSort">
                            <span style="color:white; font-size:12px;"> Filter & Sorting </span>
                        </button>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:2px;">
                        <button class="primary-btn-custom" style="width:100%;" data-toggle="modal" data-target="#myModalCopyHotel" onclick="get_checked_copy_result();">
                            <span style="color:white; font-size:12px;"> List Copy </span>
                            <span class="badge-notif2 animated bounceIn" id="badge-copy-notif2">0</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-12" id="breadcrumbs_create">

            </div>
            <div class="col-lg-3">
                <div class="modal fade" id="myModalFilterSort" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:white;"> Filter & Sorting </i></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="min-height=100px; max-height:400px; overflow-y: scroll;">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div id="filter2">

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div id="sorting-hotel2">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background-color:white; padding:10px; margin-top:20px; border:1px solid #cdcdcd;" id="session_timer">

                </div>
                <div class="filter-search-flight" id="filter-search-flight">
                    <div style="background-color:white; border:1px solid #cdcdcd; padding:10px; margin-top:20px;" id="filter">

                    </div>
                </div>
            </div>

            <div class="col-lg-9" style="margin-top:20px;">
                <div class="row sorting-search-hotel" id="sorting-search-hotel" style="position:sticky; top:73px; z-index:1;">
                    <div class="col-lg-12">
                        <div id="sorting-hotel" style="margin-bottom:15px;">

                        </div>
                    </div>
                </div>

                <div class="row" id="loading-search-hotel">
                    <div class="col-lg-12">
                        <div class="center-div">
                            <div>
                                <img src="{{static_path}}img/loading-screen-white.gif" style="height:25px; width:25px;"/>
                            </div>
                        </div>
                        <div style="text-align:center">
                            <span style="font-size:18px; font-weight:bold;">PLEASE WAIT ... </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="hotel_result"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="pagination-container" style="margin-bottom:10px;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" id="hotel_ticket"></div>
                </div>
                <div id="hotel_error">

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="pagination-container2"></div>
                    </div>
                </div>

                <div class="row" style="padding-top:10px;">
                    <div class="col-lg-12" id="hotel_result_city"></div>
                </div>
                <div class="row style-scrollbar" id="hotel_city" style="margin-bottom:10px; max-height:202px; overflow-y:auto; display:none; justify-content:center;">

                </div>
                <div class="row">
                    <div class="col-lg-12" id="hotel_result_landmark"></div>
                </div>
                <div class="row style-scrollbar" id="hotel_landmark" style="margin-bottom:10px; max-height:215px; overflow-y:auto; display:none; justify-content:center;">

                </div>
            </div>

            <div class="col-lg-12">
                <div class="modal fade" id="openImage" role="dialog" style="background:rgba(40,40,40,0.8);">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content" style="background-color:transparent; border:unset;">
                            <div class="modal-header" style="background-color:transparent; border-bottom:unset;">
                                <button type="button" class="close" data-dismiss="modal" style="color:white;">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="col-lg-12">
                                    <center>
                                        <img id="viewImageHotel" style="width:auto; height:500px;">
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="myModalCopyHotel" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:white;"> List Copy Hotel <i class="fas fa-copy"></i></i></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row" id="choose-hotel-copy">
                                    <div class="col-lg-12">
                                        <h6>Please choose your hotel want to copy!</h6>
                                    </div>
                                </div>
                                <div id="show-list-copy-hotel">

                                </div>
                                <textarea id="data_copy" name="data_copy" rows="4" hidden></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="time_limit_input" name="time_limit_input" />
        </div>
    </div>
</section>

{% include 'tt_website_rodextrip/footer.html' %}


<script>
    guest_child_age2();
    hotel_signin('');
    hotel_filter_render();

    $(function() {
      breadcrumb_create("hotel", 2, 0);
      var quantity_room_hotel = parseInt($('#hotel_room').val());
      var quantity_adult_hotel = parseInt($('#hotel_adult').val());
      var quantity_child_hotel = parseInt($('#hotel_child').val());
      if (quantity_room_hotel == 9){
          document.getElementById("right-plus-room-hotel").disabled = true;
          document.getElementById("left-minus-room-hotel").disabled = false;
      }
      else if(quantity_room_hotel == 1){
          document.getElementById("left-minus-room-hotel").disabled = true;
          document.getElementById("right-plus-room-hotel").disabled = false;
      }
      else{
          document.getElementById("right-plus-room-hotel").disabled = false;
          document.getElementById("left-minus-room-hotel").disabled = false;
      }

      if (quantity_room_hotel == quantity_adult_hotel){
          document.getElementById("left-minus-adult-hotel").disabled = true;
      }
      else if (quantity_room_hotel < quantity_adult_hotel){
          document.getElementById("left-minus-adult-hotel").disabled = false;
      }

      if (quantity_room_hotel > quantity_child_hotel){
          document.getElementById("right-plus-child-hotel").disabled = false;
      }
      else{
          document.getElementById("right-plus-child-hotel").disabled = true;
      }

      if(quantity_adult_hotel > quantity_room_hotel && quantity_adult_hotel < 18){
          document.getElementById("left-minus-adult-hotel").disabled = false;
          document.getElementById("right-plus-adult-hotel").disabled = false;
      }
      else if(quantity_adult_hotel == 18){
          document.getElementById("left-minus-adult-hotel").disabled = false;
          document.getElementById("right-plus-adult-hotel").disabled = true;
      }

      if(quantity_adult_hotel == quantity_room_hotel){
          document.getElementById("left-minus-adult-hotel").disabled = true;
      }
      else{
          document.getElementById("right-plus-adult-hotel").disabled = false;
      }

      if(quantity_child_hotel == quantity_room_hotel){
          document.getElementById("right-plus-child-hotel").disabled = true;
          document.getElementById("left-minus-child-hotel").disabled = false;
      }
      else if (quantity_child_hotel == 0){
          document.getElementById("left-minus-child-hotel").disabled = true;
          document.getElementById("right-plus-child-hotel").disabled = false;
      }

      if(quantity_child_hotel < quantity_room_hotel){
          document.getElementById("right-plus-child-hotel").disabled = false;
          document.getElementById("left-minus-child-hotel").disabled = false;
      }

      var oneDay = 24*60*60*1000;
      var firstDate = new Date($("#hotel_checkin").val());
      var secondDate = new Date($("#hotel_checkout").val());

      var diffDays = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime())/(oneDay)));
      $("#total_night_search").text(diffDays);

      $('input[name="hotel_checkin_checkout"]').daterangepicker({
          singleDatePicker: false,
          autoUpdateInput: true,
          opens: 'center',
          startDate: $("#hotel_checkin").val(),
          endDate: $("#hotel_checkout").val(),
          minDate: moment().subtract(-1, 'days'),
          maxDate: moment().subtract(-366, 'days'),
          showDropdowns: true,
          locale: {
              format: 'DD MMM YYYY',
          }
      });

      $('input[name="hotel_checkin_checkout"]').on('apply.daterangepicker', function(ev, picker) {
          $(this).val(picker.startDate.format('DD MMM YYYY') + ' - ' + picker.endDate.format('DD MMM YYYY'));
            $("#hotel_checkin").val(picker.startDate.format('DD MMM YYYY'));
            $("#hotel_checkout").val(picker.endDate.format('DD MMM YYYY'));

            var oneDay = 24*60*60*1000;
            var firstDate = new Date($("#hotel_checkin").val());
            var secondDate = new Date($("#hotel_checkout").val());

            var diffDays = Math.round(Math.abs((firstDate.getTime() - secondDate.getTime())/(oneDay)));
            $("#total_night_search").text(diffDays);
      });

    });

    var hotel_autocomplete = new autoComplete({
        selector: '#hotel_id_destination',
        minChars: 1,
        cache: false,
        delay:0,
        source: function(term, suggest){
            get_auto_complete(term,suggest);
        },
        onSelect: function(e, term, item){
            $("#hotel_id_destination").trigger("blur");
        }
    });

    function goto_detail(type, counter){
       document.getElementById('hotel'+counter).innerHTML += `{% csrf_token %}`;
       document.getElementById('hotel'+counter).innerHTML += `<input type='hidden' value='`+time_limit+`' name='time_limit_input'/>`;
       document.getElementById('hotel'+counter).submit();
    }
</script>

{% endblock %}
