{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<!--<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>-->
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/hotel_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_hotel.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/pricing_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_printout.js?version={{javascript_version}}"></script>
{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/loading_screen.html' %}
<script>
    static_path_url_server = '{{static_path_url_server}}';
    order_number = '{{order_number}}';
    signature = `{{signature}}`;
</script>
<title id="title_search">{{name}} Hotel - Booking</title>
{%if template == 1%}
<header id="header" class="header_breadcrumb" style="position:sticky; top:0px;">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="" title="" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                {% include 'tt_website_rodextrip/balance_credit.html' %}
            </div>
        </div>
    </div>
</header>
{% elif template == 2 or template == 3 or template == 4 or template == 5 %}
<header class="header_breadcrumb" style="position:sticky; top:0px; z-index:100; border-bottom:1px solid #cdcdcd;">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="" title="" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                {% include 'tt_website_rodextrip/balance_credit.html' %}
            </div>
        </div>
    </div>
</header>
{% endif %}

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px; z-index:1; background:#f7f7f7;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if error_msg == '' %}
                <h4>Your Order Has Been Proceed!</h4>
                {% elif error_msg != '' %}
                <h4> {{ error_msg }} </h4>
                {% endif %}
            </div>
            <div class="col-lg-12" id="show_loading_booking_airline" style="display:none;">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
                <div style="text-align:center"><h6>PLEASE WAIT</h6></div>
            </div>
            <div class="col-lg-8" id="hotel_resv_left">
                <div class="row review-header" style="padding:15px; margin-bottom:15px;">
                    <div class="col-lg-12" style="border:1px solid #cdcdcd; background-color:white; padding-top:15px; padding-bottom:15px;" id="hotel_booking">

                    </div>
                </div>

                <div class="row review-detail" style="padding:15px; margin-bottom:15px;">
                    <div class="col-lg-12" style="border:1px solid #cdcdcd; background-color:white; padding-top:15px; padding-bottom:15px;" id="hotel_list_room">

                    </div>
                </div>
                <div class="row review-detail" style="padding:15px; margin-bottom:15px;">
                    <div class="col-lg-12" style="border:1px solid #cdcdcd; background-color:white; padding-top:15px; padding-bottom:15px;" id="hotel_passenger">

                    </div>
                </div>
                <div class="row review-detail" style="margin-bottom:15px;" id="hotel_btn_printout">

                </div>
            </div>
            <div class="col-lg-4" style="padding-bottom:20px; padding-top:10px;">
                <div id="hotel_detail">

                </div>
                <textarea id="data_copy" name="data_copy" rows="4" hidden></textarea>
            </div>
            <div class="modal fade" id="myModalRepricing" role="dialog">
                <div class="modal-dialog" style="width:100% !important; height:100% !important; max-width:1200px;padding: 0;">

                    <!-- Modal content-->
                    <div class="modal-content" style="border-radius: 0;">
                        <div class="modal-header">
                            <h4 class="modal-title" style="color:{{text_color}};">Reprice Change <i class="fas fa-money"></i></h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row" id="pricing" style="padding:15px;">
                                        <div class="col-lg-12" style="max-height:500px; overflow-y:auto; border:1px solid #cdcdcd; background-color:white; margin-top:15px;">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h4 style="padding-top:10px;">Pricing</h4>
                                                    <hr/>
                                                </div>
                                                <div class="col-lg-12" style="text-align:right;">
                                                    <button class="primary-btn-ticket" type="button" onclick="add_table_of_equation();"><i class="fas fa-plus-circle"></i></button>
                                                    <button class="primary-btn-ticket" type="button" onclick="delete_table_of_equation();"><i class="fas fa-trash-alt"></i></button>
                                                    <br/>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div style="padding:10px;" id="table_of_equation">

                                                    </div>
                                                </div>
                                                <div class="col-lg-12" style="margin-bottom:15px; margin-top:15px;">
                                                    <hr/>
                                                    <center>
                                                        <input class="primary-btn-ticket" type="button" onclick="calculate('airline');" value="Calculate">
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row" style="padding:15px;">
                                        <div class="col-lg-12" style="padding:10px; background-color:white; border:1px solid #cdcdcd; margin-top:15px;">
                                            <h4>Result Pricing</h4>
                                            <hr/>
                                            <div class="row" id="repricing_div">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'tt_website_rodextrip/footer.html' %}

<script>
    hotel_signin('{{order_number}}');
    $( document ).ready(function() {
      breadcrumb_create("hotel", 6, 1);
    });
</script>

{% endblock %}


<!--<div style="background-color:#f15a22;">-->
<!--    <ul class="nav nav-tabs" id="myTab" role="tablist">-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link active" id="facilities-tab" data-toggle="tab" href="#facilities" role="tab" aria-controls="facilities" aria-selected="true">-->
<!--                <span style="color:white;"> Facilities </span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false">-->
<!--                <span style="color:white;"> Description </span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<!--<div class="tab-content" id="myTabContent">-->
<!--    <div class="tab-pane fade show active" id="facilities" role="tabpanel" aria-labelledby="facilities-tab" style="padding:10px; border-left:1px solid black; border-bottom:1px solid black; border-right:1px solid black; max-height: 410px; overflow-y: auto;">-->
<!--        <span>-->
<!--            {% for facility in response.facilities %}-->
<!--            {{facility.facility_name.facility_name}}<br/>-->
<!--            {% endfor %}-->
<!--        </span>-->
<!--    </div>-->
<!--    <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab" style="padding:10px; border-left:1px solid black; border-bottom:1px solid black; border-right:1px solid black; max-height: 410px; overflow-y: auto;">-->
<!--        <p style="text-align: justify;">-->
<!--            {% if response.description != '' %}-->
<!--            {{response.description}}-->
<!--            {% else %}-->
<!--            No Description-->
<!--            {% endif %}-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->