{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<!--<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>-->
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/hotel_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_hotel.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_printout.js?version={{javascript_version}}"></script>
{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/loading_screen.html' %}
{%if template == 1%}
<header id="header" class="header_breadcrumb" style="position:sticky; top:0px;">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="width:80px; height:35px;" alt="" title="" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                {% include 'tt_website_rodextrip/balance_credit.html' %}
            </div>
        </div>
    </div>
</header>
{% elif template == 2 %}
<header class="header_breadcrumb" style="position:sticky; top:0px; z-index:100; border-bottom:1px solid #cdcdcd;">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="width:80px; height:35px;" alt="" title="" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                {% include 'tt_website_rodextrip/balance_credit.html' %}
            </div>
        </div>
    </div>
</header>
{% endif %}

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px; z-index:1; background:#f7f7f7;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Your Order Has Been Proceed!</h4>
            </div>
            <div class="col-lg-12" id="show_loading_booking_airline" style="display:none;">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
                <div style="text-align:center"><h6>PLEASE WAIT</h6></div>
            </div>
            <div class="col-lg-8" id="hotel_resv_left">
                <div class="row review-header" style="padding:10px; margin-bottom:15px;">
                    <div class="col-lg-12" style="border:1px solid #cdcdcd; background-color:white; padding-top:15px; padding-bottom:15px;">
                        <h6>Order Number : {{booking_name}}</h6><br/>
                        <table style="width:100%;">
                            <tr>
                                <th>Booking Code</th>
                                <th>Status</th>
                            </tr>
                            {% for pnr_obj in pnrs%}
                            <tr>
                                <td>{{pnr_obj.issued_code}}</td>
                                <td>{{pnr_obj.status}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="row review-detail" style="padding:10px; margin-bottom:15px;">
                    <div class="col-lg-12" style="border:1px solid #cdcdcd; background-color:white; padding-top:15px; padding-bottom:15px;">
                        <h4>List of Room(s)</h4>
                        <hr/>
                        <table style="width:100%;" id="list-of-passenger">
                            <tr>
                                <th class="">No</th>
                                <th class="">Date</th>
                                <th class="">Name</th>
                                <th class="">Room(s)</th>
                                <th class="">Person</th>
                                <th class="">Rate</th>
                                <th class="">Meal Type</th>
                            </tr>
                            {% for room in rooms %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{room.date}}</td>
                                <td>{{room.room_name}} ({{room.room_type}})</td>
                                <td>1</td>
                                <td>{{room.person}} Adult,
                                    {% if room.child_ages %} {{room.child_ages.length}} {% else %} No {% endif %} Child
                                    {% if room.extra_bed %}, with ({{extra_bed}} ExtraBeds) {% endif %}
                                </td>
                                <td>{{room.room_rate}}</td>
                                <td>{{room.meal_type}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="row review-detail" style="padding:10px; margin-bottom:15px;">
                    <div class="col-lg-12" style="border:1px solid #cdcdcd; background-color:white; padding-top:15px; padding-bottom:15px;">
                        <h5>List of Guest(s)</h5>
                        <hr/>
                        <table style="width:100%;" id="list-of-passenger">
                            <tr>
                                <th class="">No</th>
                                <th class="">Name</th>
                                <th class="">Pax Type</th>
                                <th class="">Birth Date</th>
                            </tr>
                            {% for psg in passengers %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><span>{{psg.title}} {{psg.first_name}} {{psg.last_name}}</span></td>
                                <td><span>{{psg.pax_type}}</span></td>
                                <td><span>{{psg.birth_date}}</span></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" style="padding-bottom:20px; padding-top:10px;">
                <div class="row" style="padding-bottom:15px;">
                    <div class="col-lg-12">
                        <div style="padding:10px; background:white; border:1px solid #cdcdcd;">
                            <span style="font-size:14px; font-weight:600;">Session Time <span class="count_time" id="session_time"> </span></span>
                            <hr/>
                            <span style="font-size:14px; font-weight:600;">Elapsed Time <span class="count_time" id="elapse_time"> </span></span>
                        </div>
                    </div>
                </div>
                <div style="background-color:white; padding:10px 10px 0px 10px; border:1px solid #cdcdcd; position:sticky; top:152px;" id="hotel_detail">

                </div>
                <textarea id="data_copy" name="data_copy" rows="4" hidden></textarea>
            </div>
        </div>
    </div>
</section>
{% include 'tt_website_rodextrip/footer.html' %}

<script>
    hotel_signin('{{order_number}}');
    $( document ).ready(function() {
      breadcrumb_create("hotel", 6, 1);
    });
</script>

{% endblock %}


<!--<div style="background-color:#f15a22;">-->
<!--    <ul class="nav nav-tabs" id="myTab" role="tablist">-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link active" id="facilities-tab" data-toggle="tab" href="#facilities" role="tab" aria-controls="facilities" aria-selected="true">-->
<!--                <span style="color:white;"> Facilities </span>-->
<!--            </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="false">-->
<!--                <span style="color:white;"> Description </span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<!--<div class="tab-content" id="myTabContent">-->
<!--    <div class="tab-pane fade show active" id="facilities" role="tabpanel" aria-labelledby="facilities-tab" style="padding:10px; border-left:1px solid black; border-bottom:1px solid black; border-right:1px solid black; max-height: 410px; overflow-y: auto;">-->
<!--        <span>-->
<!--            {% for facility in response.facilities %}-->
<!--            {{facility.facility_name.facility_name}}<br/>-->
<!--            {% endfor %}-->
<!--        </span>-->
<!--    </div>-->
<!--    <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab" style="padding:10px; border-left:1px solid black; border-bottom:1px solid black; border-right:1px solid black; max-height: 410px; overflow-y: auto;">-->
<!--        <p style="text-align: justify;">-->
<!--            {% if response.description != '' %}-->
<!--            {{response.description}}-->
<!--            {% else %}-->
<!--            No Description-->
<!--            {% endif %}-->
<!--        </p>-->
<!--    </div>-->
<!--</div>-->