{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/webservice_agent.js"></script>
<script src="{{ static_path }}js/webservice_airline.js"></script>
<script src="{{ static_path }}js/airline_javascript.js"></script>

<script>
    airline_pick = `{{airline_pick}}`;
    additional_price = {{additional_price}};
    airline_pick = airline_pick.replace(/&quot;/g, '"');
    airline_pick = airline_pick.replace(/&amp;/g, '&');
    airline_pick = airline_pick.replace('&&&', ',');
    airline_pick = JSON.parse(airline_pick);
    price_itinerary = `{{price}}`;
    price_itinerary = price_itinerary.replace(/&#39;/g, '"');
    price_itinerary = price_itinerary.replace(/None/g, '"None"');
    price_itinerary = price_itinerary.replace(/True/g, '"true"');
    price_itinerary = price_itinerary.replace(/False/g, '"false"');
    price_itinerary = JSON.parse(price_itinerary);
    airline_carriers = `{{airline_carriers}}`;
    airline_carriers = airline_carriers.replace(/&#39;/g, '"');
    airline_carriers = airline_carriers.replace(/&quot;/g, '"');
    airline_carriers = JSON.parse(airline_carriers);
    airline_get_price_request = `{{airline_get_price_request}}`;
    airline_get_price_request = JSON.parse(airline_get_price_request.replace(/&#39;/g, '"'));
    console.log(airline_get_price_request);
    passengers = `{{passengers}}`;
    console.log(passengers);
    passengers = JSON.parse(passengers.replace(/&#39;/g, '"'));
    console.log(passengers);
    airline_request = `{{airline_request}}`;
    airline_request = JSON.parse(airline_request.replace(/&#39;/g, '"'));
    //document.getElementById("balance").innerHTML = 'Balance: Rp '+getrupiah({{balance}});
</script>

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top:10px;">
                <ul class="progressbar">
                    <li class="active" onclick="location.href='{% url 'tt_website_skytors:index'%}';" style="cursor:pointer;"><span>Home <i class="fas fa-home"></i></span></li>
                    <li class="active" onclick="location.href='{% url 'tt_website_skytors:airline_search'%}';" style="cursor:pointer;"><span>Search <i class="fas fa-search"></i></span></li>
                    <li class="active" onclick="location.href='{% url 'tt_website_skytors:airline_passenger'%}';" style="cursor:pointer;"><span>Passenger <i class="fas fa-users"></i></span></li>
                    <li><span>Book <i class="fas fa-book-open"></i></span></li>
                    <li><span>Issued <i class="fas fa-check-circle"></i></span></li>
                </ul>
            </div>
        </div>
        <br/>

        <form method="POST" id="airline_booking" action="{% url 'tt_website_skytors:airline_booking'%}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <h3>Please Review Your Booking</h3>
                    <h4>Prices may changes at any time</h4>
                    <br/>
                </div>
                <div class="col-lg-8" style="padding-bottom:20px;">
                    <div class="row">
                        <!--                        <div class="col-lg-12">-->
                        <!--                            <div style="background-color:#f15a22;">-->
                        <!--                                <center>-->
                        <!--                                    <span style="color:white; font-size:16px;"> Flight Detail <img style="width:18px;" src="{{static_path}}images/icon/plane.png"/></span>-->
                        <!--                                </center>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                        <div class="col-lg-12">
                            <div id="airline_review">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="padding-bottom:20px;">
                    <div style="background-color:white; padding:10px 10px 0px 10px; border:1px solid #f15a22;" id="airline_detail">

                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row" style="padding-top:15px;">
                        <div class="col-lg-4" style="padding-bottom:15px;">
                            <input class="primary-btn hold-seat-booking-train" type="button" value="Hold Booking" onclick="airline_hold_booking(0);" style="width:100%;"/>
                        </div>
                        <div class="col-lg-4" style="padding-bottom:15px;"></div>
                        <div class="col-lg-4" style="padding-bottom:15px;">
                            <input class="primary-btn hold-seat-booking-train" type="button" value="Issued Booking" onclick="airline_hold_booking(1);" style="width:100%;"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


<script>
    airline_detail();
    get_airline_review();
</script>
<!-- loader -->
{% endblock %}
