{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/webservice_agent.js"></script>
<script src="{{ static_path }}js/airline_javascript.js"></script>
<script src="{{ static_path }}js/webservice_airline.js"></script>
<script src="{{ static_path }}js/moment.min.js"></script>
<script src="{{ static_path }}js/pricing_javascript.js"></script>
<script src="{{ static_path }}js/webservice_payment_acq.js"></script>
<script>
    airline_carriers = `{{airline_carriers}}`;
    airline_carriers = airline_carriers.replace(/&#39;/g, '"');
    airline_carriers = airline_carriers.replace(/&quot;/g, '"');
    airline_carriers = JSON.parse(airline_carriers);

    time = 300;
    triggered_balance();
</script>

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top:10px;">
                <ul class="progressbar">
                    <li class="active" style="cursor:pointer;"><span>Home <i class="fas fa-home"></i></span></li>
                    <li class="active" style="cursor:pointer;"><span>Search <i class="fas fa-search"></i></span></li>
                    <li class="active" style="cursor:pointer;"><span>Passenger <i class="fas fa-users"></i></span></li>
                    <li class="active" style="cursor:pointer;"><span>Book <i class="fas fa-book-open"></i></span></li>
                    <li id="issued-breadcrumb"><span>Issued <i class="fas fa-check-circle"></i></span></li>
                </ul>
            </div>

            <div class="col-lg-12" style="margin-top:20px; display:none;" id="success-issued">
                <div class="alert alert-success">
                    <h4>Your Booking has been Issued</h4>
                </div>
            </div>
        </div>

        <form method="POST" action="{% url 'tt_website_skytors:airline_booking'%}">
            {% csrf_token %}
            <div class="row" style="padding-top:20px;">
                <div class="col-lg-12">
                    <h3>Please Review Your Booking</h3>
                    <h4>Prices may changes at any time</h4>
                    <br/>
                </div>
                <div class="col-lg-8" style="padding-bottom:20px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="airline_booking">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="padding-bottom:20px;">
                    <div id="airline_detail">

                    </div>
                    <div style="background-color:white; padding:10px; border:1px solid #cdcdcd;margin-top:10px;" id="payment_acq" hidden>
                        <h4>Payment Method</h4><hr/>

                    </div>
                </div>
                <div class="col-lg-8">
                    <div id="pricing">
                        <div class="col-lg-12" style="max-height:500px; overflow-y:auto; border:1px solid #cdcdcd; background-color:white; margin-top:15px;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 style="padding-top:10px;">Pricing</h4>
                                    <hr/>
                                </div>
                                <div class="col-lg-12" style="text-align:right;">
                                    <button class="primary-btn-ticket" type="button" onclick="add_table_of_equation();"><i class="fas fa-plus-circle"></i></button>
                                    <button class="primary-btn-ticket" type="button" onclick="delete_table_of_equation();"><i class="fas fa-trash-alt"></i></button>
                                    <br/>
                                </div>
                                <div class="col-lg-12">
                                    <div style="padding:10px;" id="table_of_equation">

                                    </div>
                                </div>
                                <div class="col-lg-12" style="margin-bottom:15px; margin-top:15px;">
                                    <hr/>
                                    <center>
                                        <input class="primary-btn-ticket" type="button" onclick="calculate('airline');" value="Calculate">
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12" style="padding:10px; background-color:white; border:1px solid #cdcdcd; margin-top:15px;">
                            <h4>Result Pricing</h4>
                            <hr/>
                            <div class="row" id="repricing_div">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    airline_signin('{{order_number}}');
    get_payment_acq('Issued');
    //testing_bca();
</script>

{% endblock %}
