{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_airline.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/airline_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js?version={{javascript_version}}"></script>

<script>
    airline_pick = `{{airline_pick}}`;
    airline_pick = airline_pick.replace(/&#39;/g, '"');
    airline_pick = airline_pick.replace(/True/g, 'true');
    airline_pick = airline_pick.replace(/False/g, 'false');
    //airline_pick = airline_pick.replace(/&amp;/g, '&');
    airline_pick = airline_pick.replace('&&&', ',');
    airline_pick = JSON.parse(airline_pick);
    price_itinerary = `{{price}}`;
    price_itinerary = price_itinerary.replace(/&#39;/g, '"');
    price_itinerary = price_itinerary.replace(/None/g, '"None"');
    price_itinerary = price_itinerary.replace(/True/g, '"true"');
    price_itinerary = price_itinerary.replace(/False/g, '"false"');
    price_itinerary = JSON.parse(price_itinerary);
    airline_carriers = `{{airline_carriers}}`;
    airline_carriers = airline_carriers.replace(/&#39;/g, '"');
    airline_carriers = airline_carriers.replace(/&quot;/g, '"');
    airline_carriers = airline_carriers.replace(/False/g, 'false');
    airline_carriers = airline_carriers.replace(/True/g, 'true');
    airline_carriers = JSON.parse(airline_carriers);

    airline_request = `{{airline_request}}`;
    airline_request = JSON.parse(airline_request.replace(/&#39;/g, '"'));
    signature = `{{signature}}`;
    time_limit = {{time_limit}};
    session_time_limit();
</script>
{% include 'tt_website_skytors/logout.html' %}
<header id="header">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-12" style="margin-bottom:15px;">
                    <center>
                        <a href="{% url 'tt_website_skytors:index'%}"><img src="{{logo}}" style="width:80px; height:35px;" alt="" title="" /></a>
                    </center>
                </div>
                <div class="col-lg-12">
                    <ul class="progressbar">
                        <li class="active" onclick="location.href='{% url 'tt_website_skytors:index'%}';" style="cursor:pointer;"><span>Home <i class="fas fa-home"></i></span></li>
                        <li class="active" onclick="location.href='{% url 'tt_website_skytors:airline_search'%}';" style="cursor:pointer;"><span>Search <i class="fas fa-search"></i></span></li>
                        <li class="active" onclick="location.href='{% url 'tt_website_skytors:airline_passenger'%}';" style="cursor:pointer;"><span>Passenger <i class="fas fa-users"></i></span></li>
                        <li class="current"><span>Book <i class="fas fa-book-open"></i></span></li>
                        <li><span>Issued <i class="fas fa-check-circle"></i></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <form method="POST" id="airline_booking" action="{% url 'tt_website_skytors:airline_review'%}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12" style="padding-bottom:15px;">
                    <h3>Special Service Request</h3>
                </div>
                <div class="col-lg-8" style="padding-bottom:20px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="airline_review" style="background-color:white; padding:10px; border:1px solid #cdcdcd;">
                                {% for pax in passengers%}
                                    {% with forloop.counter as counter%}
                                <div>
                                    <h4>{{pax.title}} {{pax.first_name}} {{pax.last_name}}</h4>
                                </div>
                                    {% for ssr_provider in airline_ssrs.ssr_availability_provider %}
                                        {% for key, ssr_values in ssr_provider.ssr_availability.items %}
                                <h5>{{key}}</h5><br/>
                                            {% for values in ssr_values %}
                                <h6>{{values.origin}} - {{values.destination}}</h6>
                                <span class="span-search-ticket">{{key}}</span>
                                <div class="input-container-search-ticket btn-group">
                                    <div class="form-select" id="default-select">
                                        <select id="{{key}}_{{counter}}_{{forloop.counter}}" name="{{key}}_{{counter}}_{{forloop.counter}}" data-live-search="true" size="4">
                                            {% for ssr in values.ssrs %}
                                            <option value="{{ssr.ssr_code}}">{{ssr.name}} - {{ssr.currency}} {{ssr.total_price}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                            {% endfor %}
                                        {% endfor %}
                                    {% endfor %}
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="padding-bottom:20px;">
                    <div class="row" style="padding-bottom:15px;">
                    <div class="col-lg-12">
                        <div style="padding:10px; background:white; border:1px solid #cdcdcd;">
                            <span style="font-size:14px; font-weight:600;">Session Time <span style="font-size:16px; font-weight:700; color:#f15a22;" id="session_time"> </span></span>
                            <hr/>
                            <span style="font-size:14px; font-weight:600;">Elapsed Time <span style="font-size:16px; font-weight:700; color:#f15a22;" id="elapse_time"> </span></span>
                            <input type="hidden" id="time_limit_input" name="time_limit_input" />
                        </div>
                    </div>
                </div>
                    <div style="background-color:white; padding:10px 10px 0px 10px; border:1px solid #cdcdcd; position:sticky; top:152px;" id="airline_detail">

                    </div>
                </div>
                <div class="col-lg-8">
                    <button class="btn-next primary-btn next-passenger-train ld-ext-right" style="width:100%;" value="Next" onclick="next_disabled();next_ssr();">
                        Next
                        <div class="ld ld-ring ld-cycle"></div>
                    </button>
                </div>
            </div>
        </form>
        <textarea id="data_copy" name="data_copy" rows="4" hidden></textarea>
    </div>
</section>


<script>
    airline_detail();
    //get_airline_review();
</script>
<!-- loader -->
{% endblock %}
