{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<!--<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>-->
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/bus_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_bus.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/pricing_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_payment_acq.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_printout.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}';
    order_number = '{{order_number}}';
    id_types = [];
    cabin_class_types = [];
    {% for id_type in id_types%}
        id_types.push(['{{id_type.0}}', '{{id_type.1}}']);
    {% endfor %}
    {% for cabin_class_type in cabin_class_types%}
        cabin_class_types.push(['{{cabin_class_type.0}}', '{{cabin_class_type.1}}']);
    {% endfor %}
</script>
{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/loading_screen.html' %}
{% include 'tt_website_rodextrip/check_connection.html' %}
{% include 'tt_website_rodextrip/modal_balance_vendor.html' %}
<div id="overlay-div-box" onclick="close_div('payment_acq');"></div>
<title id="title_search">{{name}} {% trans 'Bus' %} - {% trans 'Booking' %}</title>
{%if template == 1%}
<header id="header" class="header_breadcrumb">
    {% if 'co_customer_parent_type_name' in username and 'corp_limitation' not in username.co_agent_frontend_security %}
    {% include 'tt_website_rodextrip/header_corporate.html' %}
    {% endif %}

    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="Logo {{name}}" title="{{name}}" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                {% include 'tt_website_rodextrip/balance_credit.html' %}
            </div>
        </div>
    </div>
</header>
{%elif template == 5%}
<header id="header" class="header_breadcrumb" style="padding-top:unset; padding-bottom:unset;">
    {% if 'co_customer_parent_type_name' in username and 'corp_limitation' not in username.co_agent_frontend_security %}
    {% include 'tt_website_rodextrip/header_corporate.html' %}
    {% endif %}
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="Logo {{name}}" title="{{name}}" /></a>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

            </div>
        </div>
        <div class="row">
            {% include 'tt_website_rodextrip/balance_credit.html' %}
        </div>
    </div>
</header>
{% else %}
<header class="header_breadcrumb" style="z-index:100; border-bottom:1px solid #cdcdcd;">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="Logo {{name}}" title="{{name}}" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                {% include 'tt_website_rodextrip/balance_credit.html' %}
            </div>
        </div>
    </div>
</header>
{% endif %}
{% include 'tt_website_rodextrip/waiting_transaction_modal.html' %}
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px; background:#f7f7f7;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-4 col-xs-5">
                <button type="button" class="primary-btn-white for-show-website-inb mb-2 mr-1" onclick="window.location.href='/reservation'"> <i class="fas fa-arrow-left"></i> Back to Reservation</button>
                <button type="button" class="primary-btn-white for-show-website-inb mb-2" id="button-home" onclick="window.location.href='/'" hidden>
                    <i class="fas fa-home"></i> {% trans 'Back to Home' %}
                </button>
                <button type="button" class="primary-btn-white for-show-mobile-inb mb-2 mr-1" onclick="window.location.href='/reservation'"> <i class="fas fa-arrow-left"></i></button>
                <button type="button" class="primary-btn-white for-show-mobile-inb mb-2" id="button-home-mb" onclick="window.location.href='/'" hidden>
                    <i class="fas fa-home"></i>
                </button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-7" style="text-align:right;">
                <button type="button" class="primary-btn-white mb-2" style="font-size:13px;" id="button-new-reservation" onclick="window.location.href='/'+window.location.href.split('/')[3]" hidden>
                    <i class="fas fa-plus"></i> {% trans 'New Reservation' %}
                </button>
            </div>
            <div class="col-lg-2 offset-lg-3" id="div_sync_status" hidden>
                <input type="button" class="primary-btn" id="button-sync-status" style="width:100%;" value="Sync Status" onclick="please_wait_transaction();bus_get_booking('{{order_number}}',true)">
            </div>
            <div class="col-lg-4">

            </div>

        </div>
        <div class="mt-3" id="show_title_bus" hidden>
            <h3>{% trans 'Please Review Your Booking' %}</h3>
            <h4>{% trans 'Prices may changes at any time' %}</h4>
            <br/>
        </div>
        <div class="col-lg-12" id="show_loading_booking_bus">
            <div class="center-div">
                <div>
                    <img src="{{static_path}}img/loading-screen-white.gif" style="height:25px; width:25px;"/>
                </div>
            </div>
            <div style="text-align:center">
                <span style="font-size:18px; font-weight:bold;">{% trans 'PLEASE WAIT' %} ... </span>
            </div>
        </div>
        <div class="alert alert-warning" id="show_error_booking_airline" style="display:none;">
            <h5>{% trans 'Oops! Something went wrong, please try again or check your internet connection.' %}</h5>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <input type="text" id="order_number" name="order_number" hidden value="{{order_number}}"/>
                </div>

                <div class="row">
                    <div class="col-lg-12" id="alert-state">

                    </div>
                </div>

                <div id="bus_booking">

                </div>
            </div>
            <div class="col-lg-4">
                <div id="bus_detail">

                </div>

                {% if 'issued_reservation' in username.co_agent_frontend_security %}
                {% include 'tt_website_rodextrip/voucher_code.html'  %}
                {% endif %}

                <div class="alert alert-danger" style="border:1px solid #cdcdcd;" id="cancel" hidden>

                </div>

                {% if 'issued_reservation' in username.co_agent_frontend_security %}
                <button id="issued_btn_bus" class="primary-btn-ticket issued_booking_btn" type="button" style="width:100%; display:none;" onclick="focus_box('payment_acq');">
                    {% trans 'Issued Booking' %}
                </button>
                {% endif %}

                <div style="background-color:white; padding:10px; border:1px solid {{color}};margin-top:15px; position:relative;" id="payment_acq" hidden>

                </div>
            </div>
            <div class="modal fade" id="myModalRepricing" role="dialog">
                <div class="modal-dialog" style="width:100% !important; height:100% !important; max-width:1200px;padding: 0;">

                    <!-- Modal content-->
                    <div class="modal-content" style="border-radius: 0;">
                        <div class="modal-header">
                            <h4 class="modal-title" style="color:{{text_color}};">{% trans 'Reprice Change' %} <i class="fas fa-money"></i></h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row" id="pricing" style="padding:15px;">
                                        <div class="col-lg-12" style="max-height:500px; overflow-y:auto; border:1px solid #cdcdcd; background-color:white; margin-top:15px;">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                        <h4 style="padding-top:10px;">{% trans 'Pricing' %}</h4>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <select id="repricing_type" name="repricing_type" class="nice-select-default" onchange="reset_repricing();">
                                                            <option value="passenger">Passenger</option>
                                                            <option value="booker">Booker</option>
                                                        </select>
                                                    </div>
                                                <div class="col-lg-12" style="text-align:right;">
                                                    <button class="primary-btn-ticket" type="button" onclick="add_table_of_equation();"><i class="fas fa-plus-circle"></i></button>
                                                    <button class="primary-btn-ticket" type="button" onclick="delete_table_of_equation();"><i class="fas fa-trash-alt"></i></button>
                                                    <br/>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div style="padding:10px;" id="table_of_equation">

                                                    </div>
                                                </div>
                                                <div class="col-lg-12" style="margin-bottom:15px; margin-top:15px;">
                                                    <hr/>
                                                    <center>
                                                        <input class="primary-btn-ticket" type="button" onclick="calculate('bus');" value="Calculate">
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row" style="padding:15px;">
                                        <div class="col-lg-12" style="padding:10px; background-color:white; border:1px solid #cdcdcd; margin-top:15px;">
                                            <h4>{% trans 'Result Pricing' %}</h4>
                                            <hr/>
                                            <div class="row" id="repricing_div">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'tt_website_rodextrip/footer.html' %}

<script>
    try{
        document.getElementById('voucher_discount').style.display = 'none';
    }catch(err){
        console.log(err);// error tidak ada element voucher
    }
    bus_signin('{{order_number}}');
    $( document ).ready(function() {
        breadcrumb_create("bus", 6, 1);
    });
    function goto_seat_map(){
        document.getElementById('seat_map_request').innerHTML += `{% csrf_token %}`;
        document.getElementById('seat_map_request').submit();
    }
</script>
{% endblock %}


<!--<div class="col-lg-4" style="padding-bottom:10px;">-->
<!--    <a href="/bus/seat_map" id="seat-map-link"><input type="button" id="button-choose-print" class="primary-btn" style="width:100%;" value="Choose Seat" onclick="bus_create_booking();" /></a>-->
<!--</div>-->
<!--<div class="col-lg-4" style="padding-bottom:10px;">-->
<!--    <input type="button" class="primary-btn" id="button-print-print" style="width:100%;" value="Print Form" onclick="" />-->
<!--</div>-->
<!--<div class="col-lg-4" style="padding-bottom:10px;">-->
<!--    <input type="button" class="primary-btn" id="button-issued-print" style="width:100%;" value="Issued" onclick="bus_issued_booking();" />-->
<!--</div>-->
