.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 310px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: azure;
}


.product span {
  font-weight: bold;
}

.product-image img {
  display: block;
  max-width: 228px;
  width: 100%;
  margin: 0 auto;
}

.
.row .product:last-child {
  margin-right: 0;
}

.product-add-to-cart {
  overflow: hidden;
  clear: both;
  margin-top: 10px;
}

.see-more {
  float: left;
  background: indianred;
}

.add-to-cart {
  float: right;
}

.shopping-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 20px;
  background: white;
  border: 1px solid gray;
}

.shopping-cart-head {
  background: #f15a22;
  color: white;
  padding: 5px;
}

.shopping-cart,
.shopping-cart-head {
  border-radius: 5px;
}

.empty-cart-btn,
.cart-checkout {
  display: none;

}

.empty-cart-btn {
  margin-bottom: 5px;
}

.cart-checkout {
  background: limegreen;
}


.myBtnWA {
  position: fixed;
  bottom: 125px;
  right: 55px;
  z-index: 99;
  font-size: 20px;
  height:60px;
  width:60px;
  border-radius: 28px;
}

.myBtnWA:hover {
  background-color: green;
}

@media (max-width: 575px) {
  .myBtnWA {
    right: 20px !important;
    font-size: 18px !important;
  }
}