a, button{
    color: unset;
}
a:hover{
    color: #205B95;
}

.header-area{
    position: relative;
    z-index:999;
}
.mobile_menu{
    top:5px;
}

.main-header .main-menu ul ul.submenu{
    width: 270px;
    left: -130px;
}

.main-header .main-menu ul ul.submenu>li{
    position: static;
}


.main-header .main-menu ul li{
    top: -3px;
}

.main-header .main-menu ul li a{
    font-size: 13px;
    font-family: unset;
    font-weight: 700;
    padding: 25px 10px;
}

.main-header .main-menu ul.submenu li{
    display: block;
}

.main-header .main-menu ul.submenu li a{
    color:black;
    font-size: 13px;
    font-family: unset;
    font-weight: 600;
    padding: 15px 10px;
}

.header-area{
    background: white;
}

.sticky-bar{
    position: unset;
}

.footer-padding{
    padding-top:50px;
    padding-bottom: 50px;
}
.footer-area .footer-tittle h4{
    color: black;
}

.footer-copy-right p{
    color: black;
}

.footer-area .footer-pera p{
    color: black;
}


.footer-area .footer-tittle ul li a{
    color: black;
}
.footer-area .footer-tittle ul li{
    color: black;
}

.footer-area .footer-pera p{
    margin-bottom: 15px;
}

.section-tittle h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.our-services .single-services{
    border-radius: 14px;
    cursor: pointer;
    border: 2px solid #cdcdcd;
}

.our-services .single-services:hover{
    border: 2px solid #205B95;
    transform: scale(1.1);
}

.our-services .single-services .services-cap h5{
    color: white;
    cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .header-area{
        box-shadow: unset !important;
    }
}


.image-change-route-vertical {
  z-index: 10;
  height: 15px;
  width: 15px;
  position: absolute;
  left: -12px;
  top: 24px;
  font-size:24px;
}

.image-change-route-horizontal {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;

    position: absolute;
    left: 50%;
    z-index: 10;
    height: 40px;
    width: 40px;
    top: -8px;
}


.image-change-route-vertical2 {
  z-index: 10;
  height: 15px;
  width: 15px;
  position: absolute;
  left: -12px;
  top: 32px;
}

.image-change-route-horizontal2 {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;

    position: absolute;
    left: 53%;
    top:60px;
    z-index: 10;
    height: 40px;
    width: 40px;
}

@media (max-width: 767px) {
    .image-change-route-vertical{
      display:none;
    }
    .image-change-route-horizontal{
      display:block;
    }
    .image-change-route-vertical2{
      display:none;
    }
    .image-change-route-horizontal2{
      display:block;
    }
}

@media (min-width: 768px) {
    .image-change-route-vertical{
      display:block;
    }
    .image-change-route-horizontal{
      display:none;
    }
    .image-change-route-vertical2{
      display:block;
    }
    .image-change-route-horizontal2{
      display:none;
    }
}

.form-control{
    font-size: 14px;
}


.form-select{
    margin-bottom:15px;
}

@media (max-width: 991px) {
    .i_fast6{
        display: none !important;
    }
}