{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<!--<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>-->
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_airline.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/airline_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js?version={{javascript_version}}"></script>

<script>
    static_path_url_server = '{{static_path_url_server}}'
    airline_carriers = `{{airline_carriers}}`;
    airline_carriers = airline_carriers.replace(/&#39;/g, '"');
    airline_carriers = airline_carriers.replace(/&quot;/g, '"');
    airline_carriers = airline_carriers.replace(/False/g, 'false');
    airline_carriers = airline_carriers.replace(/True/g, 'true');
    airline_carriers = JSON.parse(airline_carriers);
    len_passenger = {{passengers|length}};
    passengers = `{{passengers}}`;
    passengers = passengers.replace(/&#39;/g, '"');
    passengers = passengers.replace(/&quot;/g, '"');
    passengers = passengers.replace(/False/g, 'false');
    passengers = passengers.replace(/True/g, 'true');
    passengers = JSON.parse(passengers);
    ssr_keys = [];
    {% for ssr_availability_provider in airline_ssrs.ssr_availability_provider %}
        {% with forloop.counter as counter_provider%}
        {% for key, value in ssr_availability_provider.ssr_availability.items %}
            ssr_keys.push({
                'key': '{{key}}',
                'len': {{value|length}},
                'provider': {{counter_provider}}
            });
        {% endfor %}
        {% endwith %}
    {% endfor %}
    console.log(ssr_keys);
    signature = `{{signature}}`;
    try{
        time_limit = '{{time_limit}}';
        if(time_limit != ''){
            time_limit = parseInt(time_limit);
            session_time_limit();
        }
        airline_pick = `{{airline_pick}}`;
        airline_pick = airline_pick.replace(/&#39;/g, '"');
        airline_pick = airline_pick.replace(/True/g, 'true');
        airline_pick = airline_pick.replace(/False/g, 'false');
        //airline_pick = airline_pick.replace(/&amp;/g, '&');
        airline_pick = airline_pick.replace('&&&', ',');
        airline_pick = JSON.parse(airline_pick);
        price_itinerary = `{{price}}`;
        price_itinerary = price_itinerary.replace(/&#39;/g, '"');
        price_itinerary = price_itinerary.replace(/None/g, '"None"');
        price_itinerary = price_itinerary.replace(/True/g, '"true"');
        price_itinerary = price_itinerary.replace(/False/g, '"false"');
        price_itinerary = JSON.parse(price_itinerary);
        airline_request = `{{airline_request}}`;
        airline_request = JSON.parse(airline_request.replace(/&#39;/g, '"'));
        breadcrumb = 1;
        additional_price = `{{additional_price}}`;
        if(additional_price != ''){
            additional_price_fix = parseInt(additional_price);
        }else{
            additional_price_fix = 0;
        }
    }catch(err){
        //request new
        airline_get_booking = `{{airline_getbooking}}`;
        airline_get_booking = airline_get_booking.replace(/&#39;/g, '"');
        airline_get_booking = airline_get_booking.replace(/True/g, 'true');
        airline_get_booking = airline_get_booking.replace(/False/g, 'false');
        console.log(airline_get_booking);
        airline_get_booking = JSON.parse(airline_get_booking);
        breadcrumb = 2;
    }
</script>
{% include 'tt_website_rodextrip/logout.html' %}
    {%if template == 1%}
    <header id="header" class="header_breadcrumb" style="position:sticky; top:0px;">
    <div class="main-menu">
    {%elif template == 2%}
    <header class="header_breadcrumb" style="position:sticky; top:0px; z-index:100; border-bottom:1px solid #cdcdcd; background:white;">
    <div class="main-menu" style="padding:10px;">
    {%elif template == 3%}
    <header>
    <div style="padding:10px;">
    {%elif template == 4%}
    <header>
    <div style="padding:10px;">
    {%elif template == 5%}
    <header>
    <div style="padding:10px;">
    {%endif%}
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="width:80px; height:35px;" alt="" title="" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
                <!--                <div class="col-lg-12">-->
                <!--                    <ul class="progressbar">-->
                <!--                        <li class="active" onclick="location.href='{% url 'tt_website_rodextrip:index'%}';" style="cursor:pointer;"><span>Home <i class="fas fa-home"></i></span></li>-->
                <!--                        <li class="active" onclick="location.href='{% url 'tt_website_rodextrip:airline_search'%}';" style="cursor:pointer;"><span>Search <i class="fas fa-search"></i></span></li>-->
                <!--                        <li class="current"><span>Passenger <i class="fas fa-users"></i></span></li>-->
                <!--                        <li><span>Book <i class="fas fa-book-open"></i></span></li>-->
                <!--                        <li><span>Issued <i class="fas fa-check-circle"></i></span></li>-->
                <!--                    </ul>-->
                <!--                </div>-->
                <div class="col-lg-12" id="div_4" hidden>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                            <span style="font-size:14px; font-weight:600;">Session Time <span style="font-size:16px; font-weight:700; color:#f15a22;" id="session_time"> </span></span>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                            <span style="font-size:14px; font-weight:600;">Elapsed Time <span style="font-size:16px; font-weight:700; color:#f15a22;" id="elapse_time"> </span></span>
                        </div>
                        {% include 'tt_website_rodextrip/balance_credit.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% include 'tt_website_rodextrip/loading_screen.html' %}
{%if template == 1%}
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
{% elif template == 2 %}
<section style="padding:15px 0px 15px 0px; background:#f7f7f7; border-bottom:2px solid #cdcdcd;">
{% elif template == 3 %}
<section class="banner-area relative" style="padding:15px 0px 15px 0px; background:#f7f7f7; border-bottom:2px solid #cdcdcd;">
{% elif template == 4 %}
<section style="padding:40px 0px 15px 0px; background:#f7f7f7; border-bottom:2px solid #cdcdcd;">
{% elif template == 5 %}
<section style="padding:15px 0px 15px 0px; background:#f7f7f7; border-bottom:2px solid #cdcdcd;">
{%endif%}
    <div class="container">
        <form method="POST" id="airline_booking" action="{% if after_sales == 0 %}{% url 'tt_website_rodextrip:airline_review'%}{% else %}{% url 'tt_website_rodextrip:airline_review_after_sales'%}{%endif%}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12" style="padding-bottom:15px;">
                    <h3>Special Service Request</h3>
                </div>
                <div class="col-lg-8" style="padding-bottom:20px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="airline_review" style="background-color:white; padding:10px; margin-bottom:15px; border:1px solid #cdcdcd;">
                                {% for pax in passengers%}
                                {% with forloop.counter as counter%}
                                <div style="padding-top:15px;">
                                    <h5 style="color:#f15a22;">{{pax.title}} {{pax.first_name}} {{pax.last_name}}</h5>
                                    <hr/>
                                </div>
                                {% for ssr_provider in airline_ssrs.ssr_availability_provider %}
                                    {% with forloop.counter as counter_provider%}
                                    {% for img in ssr_provider.airline_list %}
                                    <img data-toggle="tooltip" style="width:50px; height:50px;" src="{{static_path_url_server}}/public/airline_logo/{{img}}.png">
                                    {% endfor %}
                                    <br/>
                                    {% for key, ssr_values in ssr_provider.ssr_availability.items %}

                                        {% for values in ssr_values %}
                                    <span style="text-transform: capitalize; font-size:14px; font-weight:600;">{{key}} <i class="fas fa-suitcase"></i> <br/>
                                    {{values.origin}} - {{values.destination}}</span>
                                <br/>
                                <span class="span-search-ticket">{{key}}</span>
                                {%if template == 1%}
                                <div class="input-container-search-ticket btn-group">
                                    <div class="form-select" id="default-select">
                                        <select id="{{key}}_{{counter_provider}}_{{counter}}_{{forloop.counter}}" name="{{key}}_{{counter_provider}}_{{counter}}_{{forloop.counter}}" data-live-search="true" size="4" onchange="on_change_srr()">
                                            <option value=""></option>
                                            {% for ssr in values.ssrs %}
                                            <option value="{{ssr.ssr_code}}_{{ssr.total_price}}" {% for ssr_list_pax in pax.ssr_list %}
                                                {% if key == ssr_list_pax.availability_type and ssr_list_pax.journey_code == ssr.journey_code and ssr.name == ssr_list_pax.name%}
                                                    selected {% endif %} {% endfor %}
                                            >
                                                {{ssr.name}} - {{ssr.currency}} {{ssr.total_price}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% elif template == 2 %}
                                <div class="input-container-search-ticket btn-group">
                                    <select id="{{key}}_{{counter_provider}}_{{counter}}_{{forloop.counter}}" name="{{key}}_{{counter_provider}}_{{counter}}_{{forloop.counter}}" data-live-search="true" size="4" onchange="on_change_srr()">
                                        <option value=""></option>
                                        {% for ssr in values.ssrs %}
                                        <option value="{{ssr.ssr_code}}_{{ssr.total_price}}">{{ssr.name}} - {{ssr.currency}} {{ssr.total_price}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% elif template == 3 %}
                                <div class="form-group">
                                    <div class="default-select" id="default-select">
                                        <select id="{{key}}_{{counter_provider}}_{{counter}}_{{forloop.counter}}" name="{{key}}_{{counter_provider}}_{{counter}}_{{forloop.counter}}" data-live-search="true" size="4" onchange="on_change_srr()">
                                            <option value=""></option>
                                            {% for ssr in values.ssrs %}
                                            <option value="{{ssr.ssr_code}}_{{ssr.total_price}}">{{ssr.name}} - {{ssr.currency}} {{ssr.total_price}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {% elif template == 4 %}
                                <div class="select-wrap">
                                    <span class="span-search-ticket">Class</span><br/>
                                    <span class="icon"><br/><span class="icon-keyboard_arrow_down"></span></span>
                                    <select class="form-control rounded" id="{{key}}_{{counter_provider}}_{{counter}}_{{forloop.counter}}" name="{{key}}_{{counter_provider}}_{{counter}}_{{forloop.counter}}" onchange="on_change_srr()">
                                        <option value=""></option>
                                        {% for ssr in values.ssrs %}
                                        <option value="{{ssr.ssr_code}}_{{ssr.total_price}}">{{ssr.name}} - {{ssr.currency}} {{ssr.total_price}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% elif template == 5 %}
                                <div class="input-container-search-ticket" style="display:inline-block !important;">
                                    <div id="default-select">
                                        <select class="app-select form-control" id="{{key}}_{{counter_provider}}_{{counter}}_{{forloop.counter}}" name="{{key}}_{{counter_provider}}_{{counter}}_{{forloop.counter}}" onchange="on_change_srr()">
                                            <option value=""></option>
                                            {% for ssr in values.ssrs %}
                                            <option value="{{ssr.ssr_code}}_{{ssr.total_price}}">{{ssr.name}} - {{ssr.currency}} {{ssr.total_price}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                {%endif%}
                                            {% endfor %}
                                        {% endfor %}
                                        {% endwith %}
                                    {% endfor %}
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <button class="btn-next for-show-website primary-btn next-passenger-train ld-ext-right" id="ssr_next_button" style="width:100%;" value="Next" onclick="next_disabled();next_ssr();">
                                Next
                                <div class="ld ld-ring ld-cycle"></div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="padding-bottom:20px;" >
                    <div style="background-color:white; padding:10px 10px 0px 10px; border:1px solid #cdcdcd; position:sticky; top:10px;" id="airline_detail">

                    </div>
                </div>
                <div class="col-lg-12">
                    <button class="btn-next for-show-mobile primary-btn next-passenger-train ld-ext-right" style="width:100%;" value="Next" onclick="next_disabled();next_ssr();">
                        Next
                        <div class="ld ld-ring ld-cycle"></div>
                    </button>
                </div>
            </div>
            <input type="hidden" id="time_limit_input" name="time_limit_input" />
            <input type="hidden" id="additional_price_input" name="additional_price_input" />
        </form>
        <textarea id="data_copy" name="data_copy" rows="4" hidden></textarea>
    </div>
</section>

{% include 'tt_website_rodextrip/footer.html' %}
<script>
    if(time_limit != ''){
        document.getElementById('div_4').hidden = false;
        type  = '';
    }else
        type = 'request_new';
    try{
        airline_detail(type);
    }catch(err){
        airline_detail('request_new');
    }

    $( document ).ready(function() {
        if(breadcrumb == 1)
            breadcrumb_create("airline", 3, 0);
        else{
            breadcrumb_create("airline_new", 4, 1);
        }
    });
</script>
<!-- loader -->
{% endblock %}
