{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/webservice_agent.js"></script>
<script src="{{ static_path }}js/webservice_issued_offline.js"></script>
<script src="{{ static_path }}js/agent_javascript.js"></script>
<script src="{{ static_path }}js/issued_offline_javascript.js"></script>
<script>
    time = 300;
    triggered_balance();

    destination = [];
    {% for airline in airline_destinations %}
        destination.push({
            "name": "{{airline.name}}",
            "code": "{{airline.code}}"
        });
    {% endfor %}

    {% for train in train_destination %}
        train_destination = `{{train}}`;
        train_destination = train_destination.replace(/&#39;/g, "");
        train_destination = train_destination.replace('[', "");
        train_destination = train_destination.replace(']', "");
        destination.push({
            'code':train_destination.split(', ')[0],
            'name':train_destination.split(', ')[1]
        });
    {% endfor %}
</script>


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'tt_website_skytors:index'%}">Skytors</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#" class="nav-link">{% trans 'Home' %}</a></li>
                <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Top Up</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                        <input type="hidden" id="co_uid" name="co_uid" value="{{co_uid}}" />
                    </ul>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Reservation</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Highlights</a></li>
                <li class="nav-item"><a href="#" class="nav-link">User Guide</a></li>
                <!--<li class="nav-item"><a href="#" class="nav-link">Points</a></li>-->
                <li class="nav-item"><a href="#" class="nav-link">Partnership</a></li>
                {% if username != null %}
                <li class="nav-item"><a href="#" class="nav-link" id="balance">Balance: Rp {{balance}}</a></li>
                <li class="nav-item"><a href="#" class="nav-link">{{username}}</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'tt_website_skytors:login'%}" class="nav-link">Sign in</a></li>
                {% endif %}
                <!--<li class="nav-item">-->
                    <!--<form action="{% url 'set_language' %}" method="post" id="form_language" style="padding: 15px 0px 0px 5px;">-->
                        <!--{% csrf_token %}-->
                        <!--<input name="next" type="hidden" value="{{ redirect_to }}" >-->
                        <!--<select name="language" id="selection_language">-->
                            <!--{% get_current_language as LANGUAGE_CODE %}-->
                            <!--{% get_available_languages as LANGUAGES %}-->
                            <!--{% get_language_info_list for LANGUAGES as languages %}-->
                            <!--{% for language in languages %}-->
                            <!--<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>-->
                                <!--{{ language.code }}-->
                            <!--</option>-->
                            <!--{% endfor %}-->
                        <!--</select>-->
                    <!--</form>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->


<div class="ftco-section-search" style="background-color:#989898;">
    <div class="container">
        <!--train-->
        <div style="padding-top:100px;">
        </div>
        <div class="block-17">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Agent</label>
                        </div>
                        <input type="text" id="agent" name="agent" value="{{agent.name}}" readonly="readonly"/>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Sub Agent</label>
                        </div>
                        <input type="text" id="sub_agent" name="sub_agent" readonly="readonly" />
                        <input type="hidden" id="sub_agent_id" name="sub_agent" readonly="readonly" />
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Agent Type</label>
                        </div>
                        <input type="text" value="{{agent.type}}" id="agent_type" name="agent_type" readonly="readonly"/>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Contact Person</label>
                        </div>
                        <input type="text" id="contact_person" name="contact_person" readonly="readonly"/>
                        <input type="hidden" id="contact_id" name="contact_id" />
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Teropong</button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                              <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Booker</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" id="train_booker_search" placeholder="Search" />
                                        <button type="button" class="btn btn-default" onclick="search_passenger('Booker','1','issued_offline')">Search</button>
                                        <div id="search_result" style="overflow:auto;height:200px;">

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="button" id="booker_clear" onclick="clear_passenger('Booker', 0);" value="clear"/>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Transaction Type</label>
                        </div>
                        <select id="transaction_type" name="transaction_type" onchange="change_transaction_type();">

                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Sector</label>
                        </div>
                        <select id="sector" name="sector">

                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Total Sale Price</label>
                        </div>
                        <input type="text" id="total_sale_price" name="total_sale_price"/>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Agent Commission</label>
                        </div>
                        <label id="agent_commission"></label>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Parent Agent Commission</label>
                        </div>
                        <label id="parent_agent_commission"></label>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Agent NTA Price</label>
                        </div>
                        <label id="agent_nta_price"></label>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Description</label>
                        </div>
                        <textarea id="description" name="description" rows="6" cols="80" style="resize:none; width:100%; margin-bottom:15px;" placeholder="Leave any notes here"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Carrier</label>
                        </div>
                        <input type="hidden" id="carrier_id" name="carrier_id"/>
                        <input list="list_carrier_name" id="carrier_name" class="form-control" name="carrier_name" onkeyup="search_carrier();" />
                        <datalist id="list_carrier_name"/>
                        <!--<select id="carrier" name="carrier">-->

                        <!--</select>-->
                    </div>
                    <!--<div class="row">-->
                        <!--<div class="col-sm-3">-->
                            <!--<label>Provider</label>-->
                        <!--</div>-->
                        <!--<input type="text" id="provider" name="provider"/>-->
                    <!--</div>-->
                    <div class="row">
                        <div class="col-sm-3">
                            <label>PNR</label>
                        </div>
                        <input type="text" id="pnr" name="pnr" />
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Order From(Media)</label>
                        </div>
                        <select id="social_media" name="social_media">

                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Elapsed Time</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Time Limit</label>
                        </div>
                        <!--ganti datetime-->
                        <input type="datetime-local" id="timelimit" name="timelimit"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <table id="table_of_passenger" name="table_of_passenger" style="width=100%">
                    <tr>
                        <td>Name</td>
                        <td>Pax Type</td>
                        <td><a href="javascript:add_table_of_passenger();">ADD GANTI ICON</a></td>
                        <td><a href="javascript:delete_table_of_passenger();">DELETE GANTI ICON</a></td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <table id="table_of_line" name="table_of_line" style="width=100%" hidden>
                    <tr>
                        <td>Origin</td>
                        <td>Destination</td>
                        <td>Departure Date</td>
                        <td>Arrival Date</td>
                        <td>Carrier Code</td>
                        <td>Carrier Number</td>
                        <td>Class</td>
                        <td>Sub Class</td>
                        <td><a href="javascript:add_table_of_line();">ADD GANTI ICON</a></td>
                        <td><a href="javascript:delete_table_of_line();">DELETE GANTI ICON</a></td>
                    </tr>
                </table>
            </div>
            <button type="button" onclick="create_issued_offline()">SUBMIT</button>
        </div>
    </div>
</div>

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Voyage Fellow Tourist</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Book Now</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Flight</a></li>
                        <li><a href="#" class="py-2 d-block">Hotels</a></li>
                        <li><a href="#" class="py-2 d-block">Tour</a></li>
                        <li><a href="#" class="py-2 d-block">Car Rent</a></li>
                        <li><a href="#" class="py-2 d-block">Beach &amp; Resorts</a></li>
                        <li><a href="#" class="py-2 d-block">Mountains</a></li>
                        <li><a href="#" class="py-2 d-block">Cruises</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Top Deals</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Luxe Hotel</a></li>
                        <li><a href="#" class="py-2 d-block">Venice Tours</a></li>
                        <li><a href="#" class="py-2 d-block">Deluxe Hotels</a></li>
                        <li><a href="#" class="py-2 d-block">Boracay Beach &amp; Resorts</a></li>
                        <li><a href="#" class="py-2 d-block">Beach &amp; Resorts</a></li>
                        <li><a href="#" class="py-2 d-block">Fuente Villa</a></li>
                        <li><a href="#" class="py-2 d-block">Japan Tours</a></li>
                        <li><a href="#" class="py-2 d-block">Philippines Tours</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Contact Information</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">198 West 21th Street, Suite 721 New York NY 10016</a></li>
                        <li><a href="#" class="py-2 d-block">+ 1235 2355 98</a></li>
                        <li><a href="#" class="py-2 d-block">info@yoursite.com</a></li>
                        <li><a href="#" class="py-2 d-block">email@email.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <ul class="ftco-footer-social list-unstyled float-md-right float-lft">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;2017 SkyTors. All Rights Reserved.
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>

<script>
    get_data_issued_offline();
</script>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
{% endblock %}
