{% load i18n %}
<div class="col-lg-6 sign_in_up">
    <div class="login-signup" style="z-index:1000; background:white;">
        <h6>
            <i class="fas fa-user-lock"></i>
            <a href="#" data-toggle="modal" data-target="#myModalSignin" style="color:{{color}};">{% trans 'Sign In' %}</a>
            {% if is_register_b2c == 'true' and website_mode == 'btc' %}
            or
            <a href="#" data-toggle="modal" data-target="#myModalb2c" style="color:{{color}};">{% trans 'Sign Up' %}</a>
            to use the {{name}} feature
            {% endif %}
        </h6>
    </div>
</div>

{% if username.co_user_login == default_user %}
{% include 'tt_website/modal_signin_signup.html' %}
{% endif %}
