{% load i18n %}

{% if big_banner_value == 1 %}
<div id="big_banner" class="big_banner_home">
    <div class="stripe_big_banner">
        <div class="div_stripe">
            <div class="loading_stripe"></div>
        </div>
    </div>
</div>
{% else %}
<section class="big_banner_home" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.4), rgba(63, 63, 63, 0.4)), url('{{background}}'); background-position: center !important; background-size: cover !important; background-repeat: no-repeat !important;">

</section>
{% endif %}

<div class="our-services mt-5 mb-5">
    <div class="container">
        <div class="row d-flex">

            <div class="col-lg-12">
                <div class="section-tittle">
                    <h2>
                        {% if username.co_user_login != default_user %}
                        {% trans 'Hello' %}, {{username.co_user_name}}!
                        {% trans 'Grow your business with' %} <span style="color:{{color}}; display:unset;">{{name}}</span>
                        {% else %}
                        {% trans 'Hello, dear customer, book your trip with us' %}
                        {% endif %}
                    </h2>
                </div>
            </div>

            <div class="col-lg-12" id="box_choose">
                <div class="row">
                    {% for rec in provider_types_sequence %}
                    {% if "airline" in provider and "ticketing_airline" in username.co_agent_frontend_security and rec.code == "airline" %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div onclick="location.href='/airline';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_airlines.jpg'); background-size: cover;">
                            <div class="services-cap">
                                <h5>{% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</h5>
                            </div>
                        </div>
                    </div>
                    {% elif "hotel" in provider and "ticketing_hotel" in username.co_agent_frontend_security and rec.code == "hotel" %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div onclick="location.href='/hotel';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_hotel.jpg'); background-size: cover;">
                            <div class="services-cap">
                                <h5>{% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</h5>
                            </div>
                        </div>
                    </div>
                    {% elif "train" in provider and "ticketing_train" in username.co_agent_frontend_security and rec.code == "train" %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div onclick="location.href='/train';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_train.jpg'); background-size: cover;">
                            <div class="services-cap">
                                <h5>{% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</h5>
                            </div>
                        </div>
                    </div>
                    {% elif "ppob" in provider and "ticketing_ppob" in username.co_agent_frontend_security and rec.code == "ppob" %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div onclick="location.href='/ppob';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_ppob.jpg'); background-size: cover;">
                            <div class="services-cap">
                                <h5>{% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</h5>
                            </div>
                        </div>
                    </div>
                    {% elif "tour" in provider and "ticketing_tour" in username.co_agent_frontend_security and rec.code == "tour" %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div onclick="location.href='/tour';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_tour.jpg'); background-size: cover;">
                            <div class="services-cap">
                                <h5>{% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</h5>
                            </div>
                        </div>
                    </div>
                    {% elif "event" in provider and "ticketing_event" in username.co_agent_frontend_security and rec.code == "event" %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div onclick="location.href='/event';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_event.jpg'); background-size: cover;">
                            <div class="services-cap">
                                <h5>{% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</h5>
                            </div>
                        </div>
                    </div>
                    {% elif "activity" in provider and "ticketing_activity" in username.co_agent_frontend_security and rec.code == "activity" %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div onclick="location.href='/activity';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_activity.jpg'); background-size: cover;">
                            <div class="services-cap">
                                <h5>{% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</h5>
                            </div>
                        </div>
                    </div>
                    {% elif "visa" in provider and 'b2c_limitation' not in username.co_agent_frontend_security and "ticketing_visa" in username.co_agent_frontend_security and rec.code == "visa" %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div onclick="location.href='/visa';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_visa.jpg'); background-size: cover;">
                            <div class="services-cap">
                                <h5>{% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</h5>
                            </div>
                        </div>
                    </div>
                    {% elif "passport" in provider and 'b2c_limitation' not in username.co_agent_frontend_security and "ticketing_passport" in username.co_agent_frontend_security and rec.code == "passport" %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div onclick="location.href='/passport';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_passport.jpg'); background-size: cover;">
                            <div class="services-cap">
                                <h5>{% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</h5>
                            </div>
                        </div>
                    </div>
                    {% elif "bus" in provider and "ticketing_bus" in username.co_agent_frontend_security and rec.code == "bus" %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div onclick="location.href='/bus';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_bus.jpg'); background-size: cover;">
                            <div class="services-cap">
                                <h5>{% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</h5>
                            </div>
                        </div>
                    </div>
                    {% elif "insurance" in provider and "ticketing_insurance" in username.co_agent_frontend_security and rec.code == "insurance" %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div onclick="location.href='/insurance';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_insurance.jpg'); background-size: cover;">
                            <div class="services-cap">
                                <h5>{% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</h5>
                            </div>
                        </div>
                    </div>
                    {% elif rec.code == "health_care" and "mitrakeluarga" in provider and "ticketing_mitrakeluarga" in username.co_agent_frontend_security or rec.code == "health_care" and "sentramedika" in provider and "ticketing_sentramedika" in username.co_agent_frontend_security or rec.code == "health_care" and "periksain" in provider and "ticketing_periksain" in username.co_agent_frontend_security or rec.code == "health_care" and "medical" in provider and "ticketing_medical" in username.co_agent_frontend_security or rec.code == "health_care" and "labpintar" in provider and "ticketing_labpintar" in username.co_agent_frontend_security or rec.code == "health_care" and "swabexpress" in provider and "ticketing_swabexpress" in username.co_agent_frontend_security or rec.code == "health_care" and "phc" in provider and "ticketing_phc" in username.co_agent_frontend_security %}
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        <div onclick="product_change_box('health_care')" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_health_care.jpg'); background-size: cover;">
                            <div class="services-cap">
                                <h5>{% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</h5>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% for rec in provider_types_sequence %}
            {% if rec.code == "health_care" and "mitrakeluarga" in provider and "ticketing_mitrakeluarga" in username.co_agent_frontend_security or rec.code == "health_care" and "sentramedika" in provider and "ticketing_sentramedika" in username.co_agent_frontend_security or rec.code == "health_care" and "periksain" in provider and "ticketing_periksain" in username.co_agent_frontend_security or rec.code == "health_care" and "medical" in provider and "ticketing_medical" in username.co_agent_frontend_security or rec.code == "health_care" and "labpintar" in provider and "ticketing_labpintar" in username.co_agent_frontend_security or rec.code == "health_care" and "swabexpress" in provider and "ticketing_swabexpress" in username.co_agent_frontend_security or rec.code == "health_care" and "phc" in provider and "ticketing_phc" in username.co_agent_frontend_security %}
            <div class="col-lg-12" style="display:none;" id="box_health_care">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="primary-btn-white-bd" style="float:left; margin-bottom:0px;" onclick="product_change_box('choose')">
                            <i class="fas fa-arrow-circle-left"></i> Back
                        </button>
                    </div>
                    <div class="col-lg-12">
                        <div class="row" style="padding:15px 0px;">
                            {% for rec in provider_types_sequence %}
                            {% if rec.code == 'periksain' and "periksain" in provider and "ticketing_periksain" in username.co_agent_frontend_security and 'b2c_limitation' not in username.co_agent_frontend_security %}
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                                <div onclick="location.href='/medical/periksain';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_periksain.jpg'); background-size: cover;">
                                    <div class="services-cap">
                                        <h5>PERIKSAIN</h5>
                                    </div>
                                </div>
                            </div>
                            {% elif rec.code == 'medical' and "medical" in provider and "ticketing_medical" in username.co_agent_frontend_security %}
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                                <div onclick="location.href='/medical_global';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_national_hospital.jpg'); background-size: cover;">
                                    <div class="services-cap">
                                        <h5>NATIONAL HOSPITAL</h5>
                                    </div>
                                </div>
                            </div>
                            {% elif rec.code == 'swabexpress' and "swabexpress" in provider and "ticketing_swabexpress" in username.co_agent_frontend_security %}
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                                <div onclick="location.href='/swab_express';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_swab_express.jpg'); background-size: cover;">
                                    <div class="services-cap">
                                        <h5>SWAB EXPRESS</h5>
                                    </div>
                                </div>
                            </div>
                            {% elif rec.code == 'labpintar' and "labpintar" in provider and "ticketing_labpintar" in username.co_agent_frontend_security %}
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                                <div onclick="location.href='/lab_pintar';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_lab_pintar.jpg'); background-size: cover;">
                                    <div class="services-cap">
                                        <h5>LAB PINTAR</h5>
                                    </div>
                                </div>
                            </div>
                            {% elif rec.code == 'mitrakeluarga' and "mitrakeluarga" in provider and "ticketing_mitrakeluarga" in username.co_agent_frontend_security %}
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                                <div onclick="location.href='/mitra_keluarga';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_mitra_keluarga.jpg'); background-size: cover;">
                                    <div class="services-cap">
                                        <h5>MITRA KELUARGA</h5>
                                    </div>
                                </div>
                            </div>
                            {% elif rec.code == 'sentramedika' and "sentramedika" in provider and "ticketing_sentramedika" in username.co_agent_frontend_security %}
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                                <div onclick="location.href='/sentra_medika';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_sentra_medika.jpg'); background-size: cover;">
                                    <div class="services-cap">
                                        <h5>SENTRA MEDIKA</h5>
                                    </div>
                                </div>
                            </div>
                            {% elif rec.code == 'phc' and "phc" in provider and "ticketing_phc" in username.co_agent_frontend_security %}
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
                                <div onclick="location.href='/medical/phc';" class="single-services text-center mb-30" style="background: linear-gradient(0deg, rgba(63, 63, 63, 0.5), rgba(63, 63, 63, 0.5)), url('{{static_path}}images/bg_phc.jpg'); background-size: cover;">
                                    <div class="services-cap">
                                        <h5>RS PHC</h5>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% if small_banner_value == 1 %}
<section class="about pt-5 pb-5" style="background:#f7f7f7;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle">
                    <h2>
                        HOT DEALS
                    </h2>
                </div>
                <div id="small_banner">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="stripe_small_banner">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="stripe_small_banner show_hide_mb">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="stripe_small_banner show_hide">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="stripe_small_banner show_hide">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endif%}

{% if dynamic_page_value == 1 %}
<section class="about pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-3">
                <div class="section-tittle">
                    <h2>
                        INFORMATIONS
                    </h2>
                </div>
                <div id="owl-login2">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="stripe_dynamic_page">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="stripe_dynamic_page show_hide_mb">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="stripe_dynamic_page show_hide">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="stripe_dynamic_page show_hide">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif%}
