{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_issued_offline.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_airline.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/airline_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/issued_offline_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/daterangepicker.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_payment_acq.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}'
    airline_destination = [];
    train_destination = [];

    {% for airline in airline_destinations %}
        airline_destination.push({
            "name": "{{airline.name}}",
            "code": "{{airline.code}}",
            "city": "{{airline.city}}"
        });
    {% endfor %}

    {% for train in train_destination %}
        temp_train = `{{train}}`;
        temp_train = temp_train.replace(/&#39;/g, "");
        temp_train = temp_train.replace('[', "");
        temp_train = temp_train.replace(']', "");
        train_destination.push({
            'code':temp_train.split(', ')[0],
            'name':temp_train.split(', ')[1]
        });
    {% endfor %}


    titles = `{{titles}}`;
    titles = JSON.parse(titles.replace(/&#39;/g, '"'));
    countries = `{{countries}}`;
    countries = countries.replace(/&quot;Côte d&#39;Ivoire&quot;/g, `"Cote D'Ivoire"`); //case khusus
    countries = countries.replace(/&#39;/g, '"');
    countries = countries.replace(/&quot;/g, '"');
    countries = countries.replace(/False/g, 'false');
    countries = countries.replace(/True/g, 'true');
    countries = JSON.parse(countries);
    signature = '{{signature}}'
    function check_years_old(sequence){
        var birth_date = '';
        birth_date = moment(document.getElementById('adult_birth_date'+sequence).value, 'DD MMM YYYY');
        document.getElementById('adult_years_old'+sequence).value = parseInt(Math.abs(moment(new Date()) - birth_date)/31536000000);
    }
</script>

{% include 'tt_website_rodextrip/header.html' %}
{% include 'tt_website_rodextrip/logout.html' %}
<div id="overlay-div-box" onclick="close_div('payment_acq');"></div>
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="banner-right" style="margin-bottom:25px; border:1px solid #cdcdcd; background:white;">
            <div class="row form-wrap">
                <div class="col-lg-12">
                    <h4>Issued Offline</h4>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row" style="text-align:left;">
                                <div class="col-lg-12">
                                    <span>Agent</span><br/>
                                    <div class="input-container-search-ticket">
                                        <input type="text" class="form-control" id="agent" name="agent" value="{{username.co_agent_name}}" readonly="readonly"/>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <span>Agent Type</span><br/>
                                    <div class="input-container-search-ticket">
                                        <input type="text" class="form-control" id="agent_type" name="agent_type" value="{{username.co_agent_type_name}}" readonly="readonly"/>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <span>Contact Person</span><br/>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="text-align:left;">
                                            <div class="input-container-search-ticket">
                                                <input type="text" style="width:100%;" class="form-control" id="contact_person" name="contact_person" readonly="readonly"/>
                                                <input type="hidden" id="contact_id" name="contact_id" />
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding:0px 15px 0px 0px; text-align:right;">
                                            <button type="button" style="width:95%;" class="primary-btn" data-toggle="modal" data-target="#myModal"><i class="fas fa-search"></i></button>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding:0px 15px 0px 0px;; text-align:right;">
                                            <button type="button" style="width:95%;" class="primary-btn" id="booker_clear" onclick="clear_passenger('Booker', 0);"/><i class="fas fa-times"></i></button>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal" role="dialog" data-keyboard="false">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Booker</h4>
                                                        <button type="button" class="close" data-dismiss="modal" onclick="update_contact('booker');">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="col-lg-12" id="radio_airline_search" style="padding:0px; text-align:left;margin-bottom:10px;">
                                                            <label class="radio-button-custom">
                                                                <span style="font-size:14px;">Search</span>
                                                                <input type="radio" checked="checked" name="radio_booker" value="search" onclick="radio_button('booker');">
                                                                <span class="checkmark-radio"></span>
                                                            </label>
                                                            <label class="radio-button-custom">
                                                                <span style="font-size:14px;">Input Booker</span>
                                                                <input type="radio" name="radio_booker" value="create" onclick="radio_button('booker');">
                                                                <span class="checkmark-radio"></span>
                                                            </label>
                                                        </div>
                                                        <div id="booker_content">
                                                            <div id="booker_search">
                                                                <input type="text" id="train_booker_search" placeholder="Search" style="padding:5px;"/>
                                                                <button type="button" class="primary-btn" style="line-height:34px;" onclick="get_customer_list('booker','1','issued_offline')">Search</button>
                                                                <div id="search_result">

                                                                </div>
                                                            </div>
                                                            <div id="booker_input" style="background-color:white; padding:10px; border:1px solid #cdcdcd;" hidden>
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <h4>Booker Information</h4>
                                                                        <hr/>
                                                                    </div>
                                                                    <div class="col-lg-6" style="text-align:left;">
                                                                        <label>Booker Type :</label><br/>
                                                                        <label class="radio-button-custom">
                                                                            Corporate
                                                                            <input type="radio" checked="checked" name="radio-booker-type">
                                                                            <span class="checkmark-radio"></span>
                                                                        </label>
                                                                        <label class="radio-button-custom">
                                                                            Individual
                                                                            <input type="radio" name="radio-booker-type">
                                                                            <span class="checkmark-radio"></span>
                                                                        </label>
                                                                    </div>
                                                                    <div class="col-lg-6" style="text-align:right;">
                                                                    </div>

                                                                    <div class="modal fade" id="myModal" role="dialog">
                                                                        <div class="modal-dialog">

                                                                            <!-- Modal content-->
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h4 class="modal-title" style="color:white;">Booker List <i class="fas fa-address-card"></i></h4>
                                                                                    <button type="button" class="close" data-dismiss="modal" onclick="clear_search_pax('booker','');">&times;</button>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <input type="text" id="train_booker_search" placeholder="Search" style="padding:5px;" />
                                                                                    <button type="button" class="primary-btn" style="line-height:34px;" class="btn btn-default" onclick="get_customer_list('booker','1','train')">Search <i class="fas fa-search"></i></button>
                                                                                    <div class="row" id="loading-booker-train" style="display:none;">
                                                                                        <div class="col-lg-12">
                                                                                            <div class="sk-circle">
                                                                                                <div class="sk-circle1 sk-child"></div>
                                                                                                <div class="sk-circle2 sk-child"></div>
                                                                                                <div class="sk-circle3 sk-child"></div>
                                                                                                <div class="sk-circle4 sk-child"></div>
                                                                                                <div class="sk-circle5 sk-child"></div>
                                                                                                <div class="sk-circle6 sk-child"></div>
                                                                                                <div class="sk-circle7 sk-child"></div>
                                                                                                <div class="sk-circle8 sk-child"></div>
                                                                                                <div class="sk-circle9 sk-child"></div>
                                                                                                <div class="sk-circle10 sk-child"></div>
                                                                                                <div class="sk-circle11 sk-child"></div>
                                                                                                <div class="sk-circle12 sk-child"></div>
                                                                                            </div>
                                                                                            <div style="text-align:center"><h6>PLEASE WAIT</h6></div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div id="search_result" style="overflow:auto;height:300px;margin-top:20px;">

                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button" class="primary-btn-ticket" data-dismiss="modal" onclick="clear_search_pax('booker','');">Confirm</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-6 col-xs-6">
                                                                        <label style="color:red">*</label>
                                                                        <label>Title</label>
                                                                        <div class="input-container-search-ticket">
                                                                            <div class="form-select-2" id="default-select">
                                                                                <select id="booker_title" name="booker_title" class="nice-select-default" onchange="change_booker_value('title');">
                                                                                    {% for title in adult_title%}
                                                                                    <option>{{title}}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6" style="margin-top:auto;">
                                                                        <button type="button" class="btn btn-secondary" style="width:42px;height:42px;" data-toggle="modal" data-target="#myModalHelp"><i class="fas fa-info-circle"></i></button>
                                                                        <div class="modal fade" id="myModalHelp" role="dialog">
                                                                            <div class="modal-dialog">

                                                                                <!-- Modal content-->
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <h4 class="modal-title" style="color:white;">Help <i class="fas fa-address-card"></i></h4>
                                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                        <div class="col-sm-12">
                                                                                            <center><img src="/static/tt_website_rodextrip/img/id_card.png" style="width:50%;"></center>
                                                                                        </div>
                                                                                        <div>
                                                                                            <p>1. Please fill passenger name like in your ID card. If there's chinese word in your name please use chinese word.</p>
                                                                                            <p>2. Maximum 30 characters for title, first name, and last name. If more than 30 characters you can put 30 first characters like in your ID card. </p>
                                                                                            <p>3. Please use character such as "," or "." same like in your id card.</p>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button" class="primary-btn-ticket" data-dismiss="modal">Confirm</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <br/>
                                                                        <label style="color:red">*</label>
                                                                        <label>First name and middle name (if any)</label>
                                                                        <div class="input-container-search-ticket">
                                                                            <input type="text" onchange="capitalizeInput('booker_first_name'); change_booker_value('first_name');" class="form-control" name="booker_first_name" id="booker_first_name" placeholder="First Name " onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name '">
                                                                            <input type="hidden" class="form-control" name="booker_birth_date" id="booker_birth_date" />
                                                                            <input type="hidden" class="form-control" name="booker_id_type" id="booker_id_type" />
                                                                            <input type="hidden" class="form-control" name="booker_id_number" id="booker_id_number" />
                                                                            <input type="hidden" class="form-control" name="booker_id_number" id="booker_exp_date" />
                                                                            <input type="hidden" class="form-control" name="booker_id_number" id="booker_country_of_issued" />
                                                                        </div>
                                                                        <label style="font-size:12px; padding:0;">As on Identity Card or Passport without title and punctuation</label>
                                                                    </div>

                                                                    <div class="col-lg-6">
                                                                        <br/>
                                                                        <label>Last name</label>
                                                                        <div class="input-container-search-ticket">
                                                                            <input type="text" onchange="capitalizeInput('booker_last_name'); change_booker_value('last_name');" class="form-control" name="booker_last_name" id="booker_last_name" placeholder="Last Name " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name '">
                                                                        </div>
                                                                        <label style="font-size:12px; padding:0;">As on Identity Card or Passport without title and punctuation</label>
                                                                    </div>

                                                                    <div class="col-lg-6">
                                                                        <label style="color:red">*</label>
                                                                        <label>Nationality</label>
                                                                        <div class="input-container-search-ticket">
                                                                            <div class="form-select">
                                                                                <select class="form-control js-example-basic-single" name="booker_nationality_id" style="width:100%;" id="booker_nationality_id" placeholder="Nationality" onchange="auto_complete('booker_nationality');change_booker_value('nationality');" class="nice-select-default">
                                                                                    {% for country in countries %}
                                                                                    <option value="{{country.code}}" {% if country.code == 'ID'%} selected {%endif%}>{{country.name}}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                            <input type="hidden" name="booker_nationality" id="booker_nationality" />
                                                                        </div>
                                                                    </div>


                                                                    <div class="col-lg-6">
                                                                        <label style="color:red">*</label>
                                                                        <label>Contact Email Address</label>
                                                                        <div class="input-container-search-ticket">
                                                                            <input type="text" class="form-control" name="booker_email" id="booker_email" placeholder="Email Address " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" onchange="change_booker_value('email');">
                                                                        </div>
                                                                        <label style="font-size:12px; padding:0;">Example: email@example.com</label>
                                                                    </div>

                                                                    <div class="col-lg-6">
                                                                        <label style="color:red">*</label>
                                                                        <label style="margin:0;">Contact Person for Urgent Situation</label>
                                                                        <label style="font-size:10px; color:red;">(Must be filled with booker's mobile on first registration)</label>
                                                                        <div class="row">
                                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                                                <div class="form-select">
                                                                                    <select class="form-control js-example-basic-single" name="booker_phone_code_id" style="width:100%;" id="booker_phone_code_id" onchange="auto_complete('booker_phone_code')" class="nice-select-default" onchange="change_booker_value('phone_id');">
                                                                                        {% for country in countries %}
                                                                                        <option value="{{country.phone_code}}" {% if country.code == 'ID'%} selected {%endif%}>{{country.phone_code}}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                                <input type="hidden" name="booker_phone_code" id="booker_phone_code" />
                                                                            </div>
                                                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                                                <input type="text" class="form-control" name="booker_phone" id="booker_phone" placeholder="Phone Number " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number '" onchange="change_booker_value('phone');">
                                                                                <input type="hidden" class="form-control" name="booker_id" id="booker_id">
                                                                            </div>
                                                                        </div>
                                                                        <label style="font-size:12px; padding:0;">Example: 812345678</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="primary-btn-ticket" data-dismiss="modal" onclick="update_contact('booker');">Confirm</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <span>Transaction Type</span><br/>
                                    <div class="input-container-search-ticket btn-group">
                                        <div class="form-select" id="default-select">
                                            <select id="transaction_type" name="transaction_type" onchange="change_transaction_type();">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12" id="sector_div" hidden>
                                    <span>Sector</span><br/>
                                    <div class="input-container-search-ticket btn-group">
                                        <div class="form-select">
                                            <select id="sector" name="sector">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="row" style="text-align:left;">

                                <div class="col-lg-12">
                                    <span>Order From(Media)</span><br/>
                                    <div class="input-container-search-ticket btn-group">
                                        <div class="form-select">
                                            <select id="social_media" name="social_media">

                                            </select>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="col-lg-12">-->
<!--                                    <span>Elapsed Time</span><br/>-->
<!--                                    <br/>-->
<!--                                </div>-->
                                <div class="col-lg-12">
                                    <span>Time Limit</span><br/>
                                    <div class="input-container-search-ticket">
                                        <input type="text" class="form-control" id="timelimit" name="timelimit" placeholder="Time Limit " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Time Limit '" autocomplete="off" readonly/>
                                    </div>
                                </div>
                                <div class="col-lg-12" style="margin-bottom:15px;">
                                    <span>Total Sale Price</span><br/>
                                    <div class="input-container-search-ticket">
                                        <input type="text" class="form-control" id="total_sale_price" name="total_sale_price" onkeyup="this.value=this.value.replace(/[^\d]/,'');total_sales_price_issued_offline();" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12" style="text-align:left;">
                            <span>Description</span><br/>
                            <textarea id="description" name="description" rows="6" cols="80" style="resize:none; width:100%; margin-bottom:15px;" class="form-control" placeholder="Leave any notes here"></textarea>
                        </div>

                        <div class="col-lg-12">
                            <div style="background:white; padding:10px; border:1px solid #cdcdcd;">
                                <label>Do you book this trip for you?</label>
                                <label class="radio-button-custom">
                                    Yes
                                    <input type="radio" name="myRadios" onclick="copy_booker_to_passenger('copy','issued_offline');" value="yes"/>
                                    <span class="checkmark-radio"></span>
                                </label>

                                <label class="radio-button-custom">
                                    No
                                    <input type="radio" name="myRadios" onclick="copy_booker_to_passenger('change','issued_offline');" value="no" checked="checked"/>
                                    <span class="checkmark-radio"></span>
                                </label>

                                <br/>
                                <label>Passenger Data</label><br/>
                                <ul>
                                    <li>1. Caution: the name of the passenger must be right and appropriate with international passsport, and domestic route can match with KTP/Passport/SIM</li>
                                    <li>2. Passenger data can't be changed after the passing of this page</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-12" style="text-align:left; margin-top:20px; margin-bottom:15px;">
                            <h4>List of Passenger</h4><hr/>
                            <button class="primary-btn-ticket" type="button" onclick="add_table_of_passenger();"><i class="fas fa-plus"></i> Add</button>
                            <button class="primary-btn-ticket" type="button" onclick="delete_table_of_passenger();"><i class="fas fa-trash-alt"></i> Delete</button>
                            <div style="margin-top:15px;">
                                <table id="table_of_passenger" name="table_of_passenger" style="width:100%;" class="list-of-table">
                                    <tr>
                                        <th style="width:5%;">No.</th>
                                        <th style="width:40%;">Name</th>
                                        <th style="width:35%;">Birth Date</th>
                                        <th style="width:20%;"></th>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-12" style="text-align:left;margin-top:15px;" id="show_line" hidden>

                        </div>

                        <div class="col-lg-12" style="margin-top:15px;margin-bottom:15px;">
                            {% include 'tt_website_rodextrip/voucher_code.html'  %} <br/>
                            <button class="primary-btn" type="button" onclick="check_issued_offline()">SUBMIT</button>
                        </div>
                        <div class="col-lg-12" style="padding-bottom:20px;">
                            <div class="payment_acq" style="background-color:white; padding:10px; border:1px solid #cdcdcd;margin-top:15px; position:relative;" id="payment_acq" hidden>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'tt_website_rodextrip/footer.html' %}
<script>
    $( document ).ready(function() {
      $('.js-example-basic-single').select2();
      get_data_issued_offline();
      //radio_button('booker');
      auto_complete('booker_nationality');
      auto_complete('booker_phone_code');
      $('input[name="timelimit"]').daterangepicker({
          singleDatePicker: true,
          autoUpdateInput: true,
          startDate: moment(),
          minDate: moment(),
          maxDate: moment().subtract(-1, 'years'),
          showDropdowns: true,
          timePicker: true,
          timePicker24Hour: true,
          timePickerSeconds: true,
          opens: 'center',
          locale: {
              format: 'DD MMM YYYY hh:mm:ss',
          }
      });

    });

</script>
{% include 'tt_website_rodextrip/plugin_passenger.html' %}
{% endblock %}
