{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/webservice_agent.js"></script>
<script src="{{ static_path }}js/visa_javascript.js"></script>
<script src="{{ static_path }}js/agent_javascript.js"></script>
<script src="{{ static_path }}js/webservice_visa.js"></script>
<script src="{{ static_path }}js/webservice_account.js"></script>
<script src="{{ static_path }}js/pricing_javascript.js"></script>
<!--<script src="{{ static_path }}js/pricing_javascript.js"></script>-->

<script>
    time = 300;
    triggered_balance();
    get_balance();

</script>
{% include 'tt_website_skytors/header.html' %}
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top:20px; display:none;" id="success-issued">
                <div class="alert alert-success">
                    <h4>Your Booking has been Issued</h4>
                </div>
            </div>
        </div>

        <form method="POST" action="{% url 'tt_website_skytors:airline_booking'%}">
            {% csrf_token %}
            <div class="row" style="padding-top:20px;">
                <div class="col-lg-12">
                    <h3>Booking Visa</h3>
                    <br/>
                </div>
                <div class="col-lg-8" style="padding-bottom:20px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="visa_booking">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div style="background-color:white; padding:10px; border:1px solid #cdcdcd;" id="detail">

                    </div>
                    <!--<div id="pricing">-->

                    <!--</div>-->
                </div>
                <div class="modal fade" id="myModalRepricing" role="dialog">
                    <div class="modal-dialog" style="width:100% !important;height:100% !important;padding: 0;">

                        <!-- Modal content-->
                        <div class="modal-content" style="border-radius: 0;">
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:white;">Reprice Change <i class="fas fa-money"></i></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="col-lg-12 row">
                                    <div class="col-lg-8">
                                        <div id="pricing">
                                            <div class="col-lg-12" style="max-height:500px; overflow-y:auto; border:1px solid #cdcdcd; background-color:white; margin-top:15px;">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h4 style="padding-top:10px;">Pricing</h4>
                                                        <hr/>
                                                    </div>
                                                    <div class="col-lg-12" style="text-align:right;">
                                                        <button class="primary-btn-ticket" type="button" onclick="add_table_of_equation();"><i class="fas fa-plus-circle"></i></button>
                                                        <button class="primary-btn-ticket" type="button" onclick="delete_table_of_equation();"><i class="fas fa-trash-alt"></i></button>
                                                        <br/>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div style="padding:10px;" id="table_of_equation">

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12" style="margin-bottom:15px; margin-top:15px;">
                                                        <hr/>
                                                        <center>
                                                            <input class="primary-btn-ticket" type="button" onclick="calculate('airline');" value="Calculate">
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-12" style="padding:10px; background-color:white; border:1px solid #cdcdcd; margin-top:15px;">
                                                <h4>Result Pricing</h4>
                                                <hr/>
                                                <div class="row" id="repricing_div">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% include 'tt_website_skytors/footer.html' %}
<script>
    visa_signin('{{order_number}}');
</script>

{% endblock %}
