{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/webservice_agent.js"></script>
<script src="{{ static_path }}js/webservice_account.js"></script>
<script src="{{ static_path }}js/webservice_visa.js"></script>
<script src="{{ static_path }}js/visa_javascript.js"></script>
<script src="{{ static_path }}js/agent_javascript.js"></script>
<script src="{{ static_path }}js/pricing_javascript.js"></script>

<script>
time = 300;
    triggered_balance();
    get_balance();
    passenger = `{{passengers}}`;
    passenger = JSON.parse(passenger.replace(/&#39;/g, '"'));
    visa_request = `{{visa_request}}`;
    visa_request = JSON.parse(visa_request.replace(/&#39;/g, '"'));
    console.log(passenger);
    adult = passenger.adult;
    infant = passenger.infant;
    elder = passenger.elder;
    child = passenger.child;
    visa = `{{visa}}`;visa = visa.replace(/True/g, 'true');
    visa = visa.replace(/False/g, 'false');
    visa = JSON.parse(visa.replace(/&#39;/g, '"'));
    console.log(visa);
</script>

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top:10px;">
                <ul class="progressbar">
                    <li class="active" onclick="location.href='{% url 'tt_website_skytors:index'%}';" style="cursor:pointer;"><span>Home <i class="fas fa-home"></i></span></li>
                    <li class="active" onclick="location.href='{% url 'tt_website_skytors:visa_search'%}';" style="cursor:pointer;"><span>Search <i class="fas fa-search"></i></span></li>
                    <li class="active" onclick="location.href='{% url 'tt_website_skytors:visa_passenger'%}';" style="cursor:pointer;"><span>Passenger <i class="fas fa-users"></i></span></li>
                    <li><span>Book <i class="fas fa-book-open"></i></span></li>
                    <li><span>Issued <i class="fas fa-check-circle"></i></span></li>
                </ul>
            </div>
        </div>
        <br/>

        <form method="POST" id="visa_booking" action="{% url 'tt_website_skytors:visa_booking'%}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <h3>Please Review Your Booking</h3>
                    <h4>Prices may changes at any time</h4>
                    <br/>
                </div>
                <div class="col-lg-8" style="padding-bottom:20px;">
                    <div class="row">
                        <div class="col-lg-12" id="visa_review">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div style="border:1px solid #cdcdcd; background-color:white; padding:10px;">
                                        <h4>List of Contact(s)</h4>
                                        <hr/>
                                        <table style="width:100%;" id="list-of-passenger">
                                            <tr>
                                                <th style="width:7%;" class="list-of-passenger-left">No</th>
                                                <th style="width:28%;">Name</th>
                                                <th style="width:7%;">Email</th>
                                                <th style="width:18%;">Phone Number</th>
                                            </tr>
                                            {% for cp in passengers.contact %}
                                            <tr>
                                                <td class="list-of-passenger-left">{{forloop.counter}}</td>
                                                <td>{{cp.title}} {{cp.first_name}} {{cp.last_name}}</td>
                                                <td>{{cp.email}}</td>
                                                <td>{{cp.calling_code}} - {{cp.mobile}}</td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-top:20px;">
                                <div class="col-lg-12">
                                    <div style="border:1px solid #cdcdcd; background-color:white; padding:15px;">
                                        <h4>List of Passenger(s)</h4>
                                        <hr/>
                                        {% for person in passengers.adult %}
                                        {% with forloop.counter as counter%}
                                        <div class="row">
                                            <div class="col-lg-12" style="margin-bottom:10px;">
                                                <h6 id="adult_name{{counter}}">{{person.number}}. {{person.title}} {{person.first_name}} {{person.last_name}}</h6>
                                                <span>Adult - Birth Date: {{person.birth_date}}</span>
                                            </div>
                                            <div class="col-lg-4">
                                                <h6>Visa Type</h6>
                                                {% for visa_type in type.visa_type.adult %}
                                                <label class="radio-button-custom">
                                                    <span>{{visa_type.1}}</span>
                                                    <input type="radio" checked="checked" name="adult_visa_type{{counter}}" value="{{visa_type.0}}" onclick="check_on_off_radio('adult',{{counter}},'visa')">
                                                    <span class="checkmark-radio"></span>
                                                </label><br/>
                                                {% endfor %}
                                            </div>
                                            <div class="col-lg-4">
                                                <h6>Entry Type</h6>
                                                {% for entry_type in type.entry_type.adult %}
                                                <label class="radio-button-custom">
                                                    <span>{{entry_type.1}}</span>
                                                    <input type="radio" checked="checked" name="adult_entry_type{{counter}}" value="{{entry_type.0}}" onclick="check_on_off_radio('adult',{{counter}},'entry')" disabled>
                                                    <span class="checkmark-radio"></span>
                                                </label><br/>
                                                {% endfor %}
                                            </div>
                                            <div class="col-lg-4">
                                                <h6>Process Type</h6>
                                                {% for process_type in type.process_type.adult %}
                                                <label class="radio-button-custom">
                                                    <span>{{process_type.1}}</span>
                                                    <input type="radio" checked="checked" name="adult_process_type{{counter}}" value="{{process_type.0}}" onclick="check_on_off_radio('adult',{{counter}},'process')" disabled>
                                                    <span class="checkmark-radio"></span>
                                                </label><br/>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:10px;">
                                            <div class="col-lg-6">
                                                <h6>Required</h6>
                                                <div id="adult_required{{counter}}">

                                                </div>
                                            </div>
                                            <div class="col-lg-3" style="text-align:right;">
                                                <h6>Price</h6>
                                                <div id="adult_price{{counter}}">

                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6>Reset</h6>
                                                <input type="hidden" id="adult_check{{counter}}" value="false"/>
                                                <span style="cursor:pointer;" onclick="set_value_radio_first('adult',{{counter}})"><i class="fas fa-sync-alt"></i> </span>
                                            </div>
                                        </div>
                                        <hr/>
                                        {% endwith %}
                                        {% endfor %}

                                        {% for person in passengers.child %}
                                        {% with forloop.counter as counter%}
                                        <div class="row">
                                            <div class="col-lg-12" style="margin-bottom:10px;">
                                                <h6 id="child_name{{counter}}">{{person.number}}. {{person.title}} {{person.first_name}} {{person.last_name}}</h6>
                                                <span>Child - Birth Date: {{person.birth_date}}</span>
                                            </div>
                                            <div class="col-lg-4">
                                                <h6>Visa Type</h6>
                                                {% for visa_type in type.visa_type.child %}
                                                <label class="radio-button-custom">
                                                    <span>{{visa_type.1}}</span>
                                                    <input type="radio" checked="checked" name="child_visa_type{{counter}}" value="{{visa_type.0}}" onclick="check_on_off_radio('child',{{counter}},'visa')">
                                                    <span class="checkmark-radio"></span>
                                                </label><br/>
                                                {% endfor %}
                                            </div>
                                            <div class="col-lg-4">
                                                <h6>Entry Type</h6>
                                                {% for entry_type in type.entry_type.child %}
                                                <label class="radio-button-custom">
                                                    <span>{{entry_type.1}}</span>
                                                    <input type="radio" checked="checked" name="child_entry_type{{counter}}" value="{{entry_type.0}}" onclick="check_on_off_radio('child',{{counter}},'entry')" disabled>
                                                    <span class="checkmark-radio"></span>
                                                </label><br/>
                                                {% endfor %}
                                            </div>
                                            <div class="col-lg-4">
                                                <h6>Process Type</h6>
                                                {% for process_type in type.process_type.child %}
                                                <label class="radio-button-custom">
                                                    <span>{{process_type.1}}</span>
                                                    <input type="radio" checked="checked" name="child_process_type{{counter}}" value="{{process_type.0}}" onclick="check_on_off_radio('child',{{counter}},'process')" disabled>
                                                    <span class="checkmark-radio"></span>
                                                </label><br/>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:10px;">
                                            <div class="col-lg-6">
                                                <h6>Required</h6>
                                                <div id="child_required{{counter}}">

                                                </div>
                                            </div>
                                            <div class="col-lg-3" style="text-align:right;">
                                                <h6>Price</h6>
                                                <div id="child_price{{counter}}">

                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6>Reset</h6>
                                                <input type="hidden" id="child_check{{counter}}" value="false"/>
                                                <span style="cursor:pointer;" onclick="set_value_radio_first('child',{{counter}})"><i class="fas fa-sync-alt"></i> </span>
                                            </div>
                                        </div>
                                        <hr/>
                                        {% endwith %}
                                        {% endfor %}

                                        <hr/>

                                        {% for person in passengers.infant %}
                                        {% with forloop.counter as counter%}
                                        <div class="row">
                                            <div class="col-lg-12" style="margin-bottom:10px;">
                                                <h6 id="infant_name{{counter}}">{{person.number}}. {{person.title}} {{person.first_name}} {{person.last_name}}</h6>
                                                <span>Child - Birth Date: {{person.birth_date}}</span>
                                            </div>
                                            <div class="col-lg-4">
                                                <h6>Visa Type</h6>
                                                {% for visa_type in type.visa_type.infant %}
                                                <label class="radio-button-custom">
                                                    <span>{{visa_type.1}}</span>
                                                    <input type="radio" checked="checked" name="infant_visa_type{{counter}}" value="{{visa_type.0}}" onclick="check_on_off_radio('infant',{{counter}},'visa')">
                                                    <span class="checkmark-radio"></span>
                                                </label><br/>
                                                {% endfor %}
                                            </div>
                                            <div class="col-lg-4">
                                                <h6>Entry Type</h6>
                                                {% for entry_type in type.entry_type.infant %}
                                                <label class="radio-button-custom">
                                                    <span>{{entry_type.1}}</span>
                                                    <input type="radio" checked="checked" name="infant_entry_type{{counter}}" value="{{entry_type.0}}" onclick="check_on_off_radio('infant',{{counter}},'entry')" disabled>
                                                    <span class="checkmark-radio"></span>
                                                </label><br/>
                                                {% endfor %}
                                            </div>
                                            <div class="col-lg-4">
                                                <h6>Process Type</h6>
                                                {% for process_type in type.process_type.infant %}
                                                <label class="radio-button-custom">
                                                    <span>{{process_type.1}}</span>
                                                    <input type="radio" checked="checked" name="infant_process_type{{counter}}" value="{{process_type.0}}" onclick="check_on_off_radio('infant',{{counter}},'process')" disabled>
                                                    <span class="checkmark-radio"></span>
                                                </label><br/>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top:10px;">
                                            <div class="col-lg-6">
                                                <h6>Required</h6>
                                                <div id="infant_required{{counter}}">

                                                </div>
                                            </div>
                                            <div class="col-lg-3" style="text-align:right;">
                                                <h6>Price</h6>
                                                <div id="infant_price{{counter}}">

                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <h6>Reset</h6>
                                                <input type="hidden" id="infant_check{{counter}}" value="false"/>
                                                <span style="cursor:pointer;" onclick="set_value_radio_first('infant',{{counter}})"><i class="fas fa-sync-alt"></i> </span>
                                            </div>
                                        </div>
                                        <hr/>
                                        {% endwith %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4" style="padding-bottom:20px;">
                    <div style="background-color:white; padding:10px; border:1px solid #cdcdcd;" id="detail">

                    </div>
                    <div id="pricing">
                        <div class="col-lg-12" style="max-height:500px; overflow-y:auto; border:1px solid #cdcdcd; background-color:white; margin-top:15px;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 style="padding-top:10px;">Pricing</h4>
                                    <hr/>
                                </div>
                                <div class="col-lg-12" style="text-align:right;">
                                    <button class="primary-btn-ticket" type="button" onclick="check_before_add_repricing();"><i class="fas fa-plus-circle"></i></button>
                                    <button class="primary-btn-ticket" type="button" onclick="delete_table_of_equation();"><i class="fas fa-trash-alt"></i></button>
                                    <br/>
                                </div>
                                <div class="col-lg-12">
                                    <div style="padding:10px;" id="table_of_equation">

                                    </div>
                                </div>
                                <div id="repricing_div" class="col-lg-12"></div>
                                <div class="col-lg-12" style="margin-bottom:15px; margin-top:15px;">
                                    <hr/>
                                    <center>
                                        <input class="primary-btn-ticket" type="button" onclick="check_before_calculate();" value="Calculate">
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div id="pricing">
                        <div class="col-lg-12" style="border:1px solid #cdcdcd; background-color:white; max-height:400px; overflow-y:auto;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 style="padding-top:10px;">Pricing</h4>
                                    <hr/>
                                </div>
                                <div class="col-lg-12" style="text-align:right; margin-bottom:10px;">
                                    <button class="primary-btn-ticket" type="button" onclick="add_table_of_equation();"><i class="fas fa-plus-circle"></i></button>
                                    <button class="primary-btn-ticket" type="button" onclick="delete_table_of_equation();"><i class="fas fa-trash-alt"></i></button>
                                    <br/>
                                </div>
                                <div class="col-lg-12">
                                    <div id="table_of_equation">

                                    </div>
                                </div>
                                <div class="col-lg-12" style="margin-bottom:15px; margin-top:15px;">
                                    <center>
                                        <input class="primary-btn-ticket" type="button" onclick="calculate('visa');" value="Calculate">
                                    </center>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div style="background-color:white; padding:10px; border:1px solid #cdcdcd;">
                        <h4>Pricing Result</h4>
                        <hr/>
                        <div class="col-lg-12">
                            <div style="padding:5px;" class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Fare</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Tax</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Total</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div style="padding:5px;" class="row" id="adult">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Adult</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="adult_fare">-</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="adult_tax">-</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="adult_total">-</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div style="padding:5px;" class="row" id="child">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Child</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="child_fare">-</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="child_tax">-</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="child_total">-</div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div style="padding:5px;" class="row" id="infant">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Infant</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="infant_fare">-</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="infant_tax">-</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" id="infant_total">-</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="row" style="padding-top:15px;">
                        <div class="col-lg-4" style="padding-bottom:15px;"></div>
                        <div class="col-lg-4" style="padding-bottom:15px;"></div>
                        <div class="col-lg-4" style="padding-bottom:15px;">
                            <input class="primary-btn hold-seat-booking-train" type="button" value="Issued Booking" onclick="check_hold_booking();" style="width:100%;"/>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="order_number" id="order_number" />
            </div>
        </form>
    </div>
</section>

<script>
    for(i in passenger.adult)
        set_value_radio_first('adult',parseInt(i)+1);
    for(i in passenger.child)
        set_value_radio_first('child',parseInt(i)+1);
    for(i in passenger.infant)
        set_value_radio_first('infant',parseInt(i)+1);
    for(i in passenger.elder)
        set_value_radio_first('elder',parseInt(i)+1);
</script>
<!-- loader -->
{% endblock %}
