{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_visa.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/visa_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js?version={{javascript_version}}"></script>
<script>
    visa_request = `{{visa_request}}`;
    signature = `{{signature}}`;
    visa_request = JSON.parse(visa_request.replace(/&#39;/g, '"'));
</script>
{% include 'tt_website_skytors/header.html' %}
<section class="price-area" data-aos="fade-up" style="padding-top:50px; padding-bottom:5px; background-color: black;">
    <div class="animated fadeInDown delay-1s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12" style="padding:0;">
                    <div class="banner-right">
                        <form action="{% url 'tt_website_skytors:visa_search'%}" class="form-wrap" method="post" id="visa_searchForm">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:0px;">
                                    <span class="span-search-ticket"><i class="fas fa-map-marker-alt"></i> Destination</span>
                                    <div class="input-container-search-ticket">
                                        <div class="form-select">
                                            <select class="form-control js-example-basic-single" style="width:100%;" id="visa_destination_id" placeholder="Destination" onchange="visa_autocomplete('destination')">

                                            </select>
                                        </div>
                                    </div>
                                    <input type="hidden" name="visa_destination_id" id="visa_destination_id_hidden" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:0px;">
                                    <span class="span-search-ticket"><i class="fas fa-calendar-alt"></i> Departure</span>
                                    <div class="form-group">
                                        <div class="input-container-search-ticket">
                                            <input type="text" style="cursor:pointer;" class="form-control" name="visa_departure" id="visa_departure" placeholder="Departure Date " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Departure Date '" autocomplete="off" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:0px;">
                                    <span class="span-search-ticket"><i class="fas fa-city"></i> Consulate</span>
                                    <div class="input-container-search-ticket">
                                        <div class="form-select">
                                            <select class="form-control js-example-basic-single" style="width:100%;" id="visa_consulate_id" placeholder="Consulate" onchange="visa_autocomplete('consulate')">

                                            </select>
                                        </div>
                                    </div>
                                    <input type="hidden" name="visa_consulate_id" id="visa_consulate_id_hidden" />
                                </div>
                            </div>
                            <br/>

                            <button class="button-search primary-btn ld-ext-right" type="submit" value="Submit">
                                <img src="{{static_path}}img/icon/search-icon.png" style="width:25px; height:25px;"/>
                                Change Search
                                <div class="ld ld-ring ld-cycle"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">

        <div class="row" style="padding-bottom:10px;">
            <div class="col-lg-12" style="margin-top:10px;">
                <ul class="progressbar">
                    <li class="active" onclick="location.href='{% url 'tt_website_skytors:index'%}';" style="cursor:pointer;"><span>Home <i class="fas fa-home"></i></span></li>
                    <li><span>Search <i class="fas fa-search"></i></span></li>
                    <li><span>Passenger <i class="fas fa-users"></i></span></li>
                    <li><span>Book <i class="fas fa-book-open"></i></span></li>
                    <li><span>Issued <i class="fas fa-check-circle"></i></span></li>
                </ul>
            </div>
        </div>
        <form action="{% url 'tt_website_skytors:visa_passenger'%}" method="POST" id="visa_passenger">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <div id="loading-search-visa">
                        <div class="sk-circle">
                            <div class="sk-circle1 sk-child"></div>
                            <div class="sk-circle2 sk-child"></div>
                            <div class="sk-circle3 sk-child"></div>
                            <div class="sk-circle4 sk-child"></div>
                            <div class="sk-circle5 sk-child"></div>
                            <div class="sk-circle6 sk-child"></div>
                            <div class="sk-circle7 sk-child"></div>
                            <div class="sk-circle8 sk-child"></div>
                            <div class="sk-circle9 sk-child"></div>
                            <div class="sk-circle10 sk-child"></div>
                            <div class="sk-circle11 sk-child"></div>
                            <div class="sk-circle12 sk-child"></div>
                        </div>
                        <div style="text-align:center"><h6>PLEASE WAIT</h6></div>
                    </div>
                </div>
                <div class="col-lg-12" id="show-visa-search">
                </div>

                <div class="col-lg-7 col-md-7" style="margin-top:10px;">
                    <div class="row" id="show-search-train">
                        <div class="col-lg-12" id="visa_ticket">

                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="detail">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% include 'tt_website_skytors/footer.html' %}

<script>
    $( document ).ready(function() {
        $('.js-example-basic-single').select2();
        $('input[name="visa_departure"]').daterangepicker({
            singleDatePicker: true,
            autoUpdateInput: true,
            startDate: '{{visa_request.departure}}',
            minDate: moment(),
            maxDate: moment().subtract(-365, 'days'),
            showDropdowns: true,
            opens: 'center',
            locale: {
                format: 'DD MMM YYYY',
            }
        });
        get_visa_config('search');

    });
</script>
{% endblock %}