{% extends 'tt_website/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_airline.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_content.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/airline_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/moment.js?version={{javascript_version}}"></script>

<script>
    static_path_url_server = '{{static_path_url_server}}'
    airline_carriers = `{{airline_carriers}}`;
    after_sales = {{after_sales}};

    len_passenger = {{passengers|length}};
    ssr_keys = [];
    journey_code = '';
    {% for ssr_availability_provider in airline_ssrs.ssr_availability_provider %}
        {% with forloop.counter as counter_provider%}
        {% for key, value in ssr_availability_provider.ssr_availability.items %}
            {% for journey in value %}
            journey_code = `{{journey.journey_code}}`;
            {% endfor %}
            ssr_keys.push({
                'key': '{{key}}',
                'len': {{value|length}},
                'provider': {{counter_provider}},
                'journey_code': journey_code
            });
        {% endfor %}
        {% endwith %}
    {% endfor %}
    signature = `{{signature}}`;
    if({{after_sales}} == 0){
        time_limit = '{{time_limit}}';
        if(time_limit != ''){
            time_limit = parseInt(time_limit);
            session_time_limit();
        }

        breadcrumb = 1;
        additional_price = `{{additional_price}}`;
        if(additional_price != ''){
            additional_price_fix = parseInt(additional_price);
        }else{
            additional_price_fix = 0;
        }
    }else if({{after_sales}} == 1){
        //request new
        time_limit = '{{time_limit}}';
        breadcrumb = 2;
    }

    function print_nominal_ssr(id_var, ssr_price){
        var nominal_ssr = getrupiah(ssr_price);
        document.getElementById("ssr_option_"+id_var).innerHTML += nominal_ssr;
    }
</script>
<title>{{name}} {% trans 'Airline' %} - SSR</title>

{% include 'tt_website/logout.html' %}

{% include 'tt_website/modal_balance_vendor.html' %}
{% include 'tt_website/loading_screen.html' %}

{% if 'co_customer_parent_type_name' in username and 'corp_limitation' not in username.co_agent_frontend_security %}
{% include 'tt_website/html_include/header_corporate.html' %}
{% endif %}
{% include 'tt_website/html_include/header_breadcrumb.html' %}

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <form method="POST" id="airline_booking" action="{% if after_sales == 0 %}/airline/review/{{signature}}{% else %}/airline/review_after_sales/{{signature}}{%endif%}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12" style="padding-bottom:15px;">
                    <h3>{% trans 'Special Service Request' %}</h3>
                </div>
                <div class="col-lg-12" id="airline_reissue_info_div" style="display:none; top:0px; z-index:99;">

                </div>
                <div class="col-lg-8" style="padding-bottom:20px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="airline_review">
                                {% for pax in passengers%}
                                    {% with forloop.counter as counter_pax %}
                                    <div class="div_box_default mb-3" style="padding-top:0px;">
                                        <div class="row">
                                            <div class="col-lg-12" style="background: aliceblue;">
                                                <div style="display:inline-flex; margin-top:10px; margin-bottom:10px;">
                                                    <div>
                                                        {% if pax.title == 'MR' %}
                                                        <img src="/static/tt_website/images/icon/symbol/user_mr.png" alt="User MR" class="picture_passenger_small">
                                                        {% elif pax.title == 'MRS' %}
                                                        <img src="/static/tt_website/images/icon/symbol/user_mrs.png" alt="User MR" class="picture_passenger_small">
                                                        {% elif pax.title == 'MS' %}
                                                        <img src="/static/tt_website/images/icon/symbol/user_ms.png" alt="User MR" class="picture_passenger_small">
                                                        {% elif pax.title == 'MSTR' %}
                                                        <img src="/static/tt_website/images/icon/symbol/user_mistr.png" alt="User MR" class="picture_passenger_small">
                                                        {% elif pax.title == 'MISS' %}
                                                        <img src="/static/tt_website/images/icon/symbol/user_miss.png" alt="User MR" class="picture_passenger_small">
                                                        {% endif %}
                                                    </div>
                                                    <div style="margin-left:10px;">
                                                        <h5>
                                                            {{pax.title}} {{pax.first_name}} {{pax.last_name}}
                                                            <b style="margin-left:5px; background:white; font-size:13px; color:black; padding:0px 10px; display:unset; border: 1px solid #cdcdcd; border-radius:5px;">
                                                                {% if pax.pax_type == 'ADT' %}
                                                                Adult
                                                                {% elif pax.pax_type == 'CHD' %}
                                                                Child
                                                                {% elif pax.pax_type == 'INF' %}
                                                                Infant
                                                                {% elif pax.pax_type == 'LBR' %}
                                                                Labour
                                                                {% elif pax.pax_type == 'SEA' %}
                                                                Seaman
                                                                {% elif pax.pax_type == 'STU' %}
                                                                Student
                                                                {% endif %}
                                                            </b>
                                                        </h5>
                                                        <b>Birth Date:</b> <i>{{pax.birth_date}}</i><br>
                                                    </div>
                                                </div>

                                                {% if 'behaviors' in pax  and pax.behaviors|length > 0%}
                                                {% for key, provider_type in pax.behaviors.items %}
                                                {% if key == 'airline'%}
                                                <h6 style="margin-top:5px;"><i class="fas fa-history"></i> Behaviors history {{key}}</h6>
                                                <textarea class="form-control" style="resize: none; height:120px;" name="passenger{{counter_pax}}" cols="50" rows="6" placeholder="Solo Traveller:&#10;&#10;Group Traveller:&#10;">{{provider_type}}</textarea>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-lg-12">
                                                {% for ssr_provider in airline_ssrs.ssr_availability_provider %}
                                                {% with forloop.counter as counter_provider %}
                                                <div class="row">
                                                    <div class="col-lg-12 mt-3" style="display:inline-flex;">
                                                        <div style="display:inline-block; text-align:left;">
                                                            <h5><i class="fas fa-plane"></i> #{{forloop.counter}}</h5>
                                                            {% for img in ssr_provider.airline_list %}
                                                            <img data-toggle="tooltip" class="airlines_provider_img mb-3" alt="Airline Logo" title="Airlines" src="{{static_path_url_server}}/public/airline_logo/{{img}}.png">
                                                            <!--<h5 id="provider_info{{counter_provider}}_{{counter_pax}}" style="text-align:right;"></h5>-->
                                                            {% endfor %}
                                                        </div>

                                                        <div style="display:inline-block; width:100%;">
                                                            <div id="ssr_included_page" style="display:none;">
                                                                <b>SSR already included:</b><br/>
                                                                <div style="padding:15px; border:1px solid #cdcdcd;" id="included_ssr{{counter_pax}}">

                                                                </div>
                                                            </div>

                                                            <div style="margin-bottom:15px; padding:15px 15px 0px 15px; border:1px solid #cdcdcd; border-radius:5px;">
                                                                <h5 class="mb-3">SSR Request:</h5>
                                                                {% for key, ssr_values in ssr_provider.ssr_availability.items %}
                                                                {% for values in ssr_values %}
                                                                {% with forloop.counter as counter_ssr %}

                                                                <div class="row">
                                                                    <div class="col-lg-12" style="padding-top:15px; padding-bottom:15px;border-top:1px solid #cdcdcd;">
                                                                        <div class="row">
                                                                            <div class="col-lg-5">
                                                                                <h6>
                                                                                    {{values.origin}}
                                                                                    <i class="fas fa-arrow-right"></i>
                                                                                    {{values.destination}}

                                                                                    {% for segment_values in values.segments %}
                                                                                    {% if forloop.counter == 1 %}
                                                                                    (
                                                                                    <script>
                                                                                    document.write(moment('{{segment_values.departure_date}}').format('DD MMM YYYY'));
                                                                                    </script>
                                                                                    )
                                                                                    <br/>
                                                                                    {% endif %}
                                                                                    {% endfor %}
                                                                                </h6>
                                                                                <span style="text-transform: capitalize; font-size:14px; font-weight:600;">
                                                                                    {%if key == 'baggage'%}
                                                                                    <i class="fas fa-suitcase"></i>
                                                                                    {%elif key == 'equipment'%}
                                                                                    <i class="fas fa-tools"></i>
                                                                                    {%elif key == 'wheelchair'%}
                                                                                    <i class="fas fa-wheelchair"></i>
                                                                                    {%elif key == 'meal'%}
                                                                                    <i class="fas fa-utensils"></i>
                                                                                    {%endif%}
                                                                                    {{key}}
                                                                                </span>
                                                                            </div>
                                                                            <div class="col-lg-7">
                                                                                {%if key == 'baggage'%}
                                                                                <h6 id="provider_info{{counter_provider}}_{{counter_pax}}"></h6>
                                                                                {% endif %}
                                                                                <div class="input-container-search-ticket">
                                                                                    <div class="form-select-2" id="default-select">
                                                                                        <select class="nice-select-default" id="{{key}}_{{counter_provider}}_{{counter_pax}}_{{counter_ssr}}" name="{{key}}_{{counter_provider}}_{{counter_pax}}_{{counter_ssr}}" data-live-search="true" size="4" onchange="on_change_ssr()">
                                                                                            <option value=""></option>
                                                                                            {% for ssr in values.ssrs %}
                                                                                            <option value="{{ssr.ssr_code}}_{{ssr.currency}}_{{ssr.total_price}}" id="ssr_option_{{key}}_{{counter_provider}}_{{counter_pax}}_{{counter_ssr}}_{{forloop.counter}}"
                                                                                                    {% for ssr_list_pax in pax.ssr_list %}
                                                                                                    {% if key == ssr_list_pax.availability_type and ssr_list_pax.journey_code == ssr.journey_code and ssr.ssr_code == ssr_list_pax.fee_code %}
                                                                                                    selected
                                                                                                    {% endif %}
                                                                                                    {% endfor %}
                                                                                            >
                                                                                                {{ssr.name}} - {{ssr.currency}}
                                                                                            </option>
                                                                                            <script>
                                                                                                print_nominal_ssr("{{key}}_{{counter_provider}}_{{counter_pax}}_{{counter_ssr}}_{{ forloop.counter }}", {{ssr.total_price}});
                                                                                            </script>
                                                                                            {% endfor %}
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% endwith %}
                                                                {% endfor %}
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endwith %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <button type="button" class="issued_booking_btn primary-btn-white for-show-website" style="width:100%;" value="Cancel" onclick="go_back_page();">
                                {% trans 'Cancel' %}
                            </button>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <button class="btn-next for-show-website primary-btn next-passenger-train ld-ext-right" id="ssr_next_button" style="width:100%;" value="Next" onclick="next_disabled();next_ssr();">
                                {% trans 'Next' %}
                                <div class="ld ld-ring ld-cycle"></div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="padding-bottom:20px;" >
                    <div class="div_box_default" id="airline_detail">

                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="button" class="for-show-mobile issued_booking_btn primary-btn-white" style="width:100%;" value="Cancel" onclick="go_back_page();">
                        {% trans 'Cancel' %}
                    </button>
                </div>

                <div class="col-lg-12">
                    <button class="btn-next for-show-mobile primary-btn-white next-passenger-train ld-ext-right" style="width:100%;" value="Next" onclick="next_disabled();next_ssr();">
                        {% trans 'Next' %}
                        <div class="ld ld-ring ld-cycle"></div>
                    </button>
                </div>
            </div>
            <input type="hidden" id="time_limit_input" name="time_limit_input" />
            <input type="hidden" id="additional_price_input" name="additional_price_input" />
        </form>
        <textarea id="data_copy" name="data_copy" rows="4" hidden></textarea>
    </div>
</section>

{% include 'tt_website/footer.html' %}
<script>
    after_sales = false;
    if(time_limit != ''){
        document.getElementById('div_4').hidden = false;
        type  = '';
    }else{
        document.getElementById('div_4').hidden = true;
        type = 'request_new';
        after_sales = true;
    }
    get_airline_data_ssr_page(after_sales);
</script>
<!-- loader -->
{% endblock %}
