{% extends 'tt_website/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_airline.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_content.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/airline_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/moment.js?version={{javascript_version}}"></script>

<script>
    static_path_url_server = '{{static_path_url_server}}'
    var slideIndex = [1,1];
    var slideId = ["mySlides1", "mySlides2"];

    signature = `{{signature}}`;
    additional_price = `{{additional_price}}`;
    additional_price = parseFloat(additional_price);
    if({{after_sales}} == 0){
        time_limit = '{{time_limit}}';
        if(time_limit != ''){
            time_limit = parseInt(time_limit);
            session_time_limit();
        }
        breadcrumb = 2;
        type = '';
        additional_price_fix = parseFloat(additional_price);
    }else if({{after_sales}} == 1){
        time_limit = '{{time_limit}}';
        breadcrumb = 2;
        type = 'request_new';
        additional_price_fix = 0;
        additional_price = 0;
    }
    passenger_pick = '';


</script>
<style>
* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow:auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
</style>
<title>{{name}} {% trans 'Airline' %} - {% trans 'Seat Map' %}</title>

{% include 'tt_website/logout.html' %}

{% include 'tt_website/modal_balance_vendor.html' %}
{% include 'tt_website/loading_screen.html' %}

{% if 'co_customer_parent_type_name' in username and 'corp_limitation' not in username.co_agent_frontend_security %}
{% include 'tt_website/html_include/header_corporate.html' %}
{% endif %}
{% include 'tt_website/html_include/header_breadcrumb.html' %}


    <form method="POST" id="airline_booking" action="{% if after_sales == 0 %}/airline/review/{{signature}}{% else %}/airline/review_after_sales/{{signature}}{%endif%}">
        {% csrf_token %}

        <section id="section_sticky_seat" style="position:sticky; top:0px; z-index:1000; background:white; padding-top:15px; padding-bottom:15px; border-bottom: 1px solid #cdcdcd;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-5 border_customer_route">
                        <div class="row">
                            <div class="col-xs-12">
                                <h6>Select Customer</h6>
                            </div>
                        </div>
                        <div class="input-container-search-ticket btn-group">
                            <button id="passenger_seat_map" type="button" class="form-control dropdown-toggle" data-toggle="dropdown" style="margin-bottom:0px !important; width:100%; cursor:pointer; text-align:left;">
                                <i class="fas fa-user"></i>
                                <span id="airline_passenger_detail_seat_span"></span>
                            </button>
                            <ul id="passenger_seat_map_ul" class="dropdown-menu" role="menu" style="padding:20px; top:25px !important; max-height:250px !important;">
                                {% for pax in passengers%}
                                <button title="{{pax.title}} {{pax.first_name}} {{pax.last_name}}" class="button-seat-pass" type="button" id="passenger{{forloop.counter}}" style="font-weight:700;margin-bottom:10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color:black;" onclick="set_passenger_seat_map_airline({{forloop.counter}}-1);">
                                    {{pax.title}} {{pax.first_name}} {{pax.last_name}}
                                    <b style="background:white; font-size:13px; color:black; padding:0px 15px; border: 1px solid #cdcdcd; border-radius:3px; float:right;">
                                        {% if pax.pax_type == 'ADT' %}
                                        Adult
                                        {% elif pax.pax_type == 'CHD' %}
                                        Child
                                        {% elif pax.pax_type == 'INF' %}
                                        Infant
                                        {% endif %}
                                    </b>
                                </button>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" style="text-align:left;">
                                <span class="text_link_cst mb-3" data-toggle="modal" data-target="#myModalBehavior">Behavior History</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                        <div class="row">
                            <div class="col-xs-12">
                                <h6>Select Route</h6>
                            </div>
                        </div>
                        <div id="airline_seat_map">

                        </div>
                    </div>
                    <div class="col-lg-3 border_seat_seat_price show_price_seat_pc">
                        <div id="airline_price_seat_map">

                        </div>
                        <button class="btn-next primary-btn next-passenger-train ld-ext-right" style="width:100%;" onclick="next_disabled();next_seat_map();" style="width:100%;">
                            {% trans 'Next' %}
                            <div class="ld ld-ring ld-cycle"></div>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section class="show_price_seat_mbl" onclick="go_to_element('airline_detail', 270);" style="position:fixed; bottom:0px; z-index:1; border-top:1px solid #cdcdcd; background:white; padding-top:15px; padding-bottom:15px; border-bottom: 1px solid #cdcdcd; width:100%; cursor:pointer;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12" style="text-align:center;">
                        <span class="text_link_cst">GO TO PRICE DETAIL</span>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="myModalBehavior" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fas fa-history"></i></i> Behavior History</h4>
                        <button type="button" class="close modal_custom_close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12" id="airline_passenger_behaviors">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section style="background:#f7f7f7; padding-top:40px; padding-bottom:40px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" id="airline_review">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10 mb-3" style="padding-bottom:20px;">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <button type="button" class="issued_booking_btn primary-btn-white" style="width:150px;" onclick="go_back_page();">
                                            <i class="fas fa-arrow-left"></i> {% trans 'Back' %}
                                        </button>
                                    </div>
                                    <div class="col-lg-12">
                                        <div style="background-color:white; padding:15px; border:1px solid #cdcdcd;">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <h4>Seat Map</h4>
                                                    <i class="fas fa-plane-departure"></i>
                                                    <span id="airline_route_active">

                                                    </span>
                                                    <br/>
                                                    <i class="fas fa-user"></i>
                                                    <span id="airline_passenger_active">

                                                    </span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
                                                            <div style="text-align:center">
                                                                <span class="button-seat-map2" style="background-color:{{color}}"></span>
                                                                <br/>
                                                                <h6>{% trans 'Selected' %}</h6>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
                                                            <div style="text-align:center">
                                                                <span class="button-seat-map2" style="background-color:#656565"></span>
                                                                <br/>
                                                                <h6>{% trans 'Not Available' %}</h6>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
                                                            <div style="text-align:center">
                                                                <span class="button-seat-map2" style="background-color:#CACACA"></span>
                                                                <br/>
                                                                <h6>{% trans 'Available' %}</h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="background-color:white; padding:15px; border:1px solid #cdcdcd;">
                                            <div class="row">
                                                <div class="col-lg-12" style="padding-bottom:10px;"> <!--seat-->
                                                    <div class="row">
                                                        <div id="airline_slideshow_prev" style="position: absolute; left: 5px; top: 50%; z-index:999;">

                                                        </div>
                                                        <div class="col-xs-12 slideshow-container" id="airline_slideshow" style="padding-top:15px;">

                                                        </div>
                                                        <div id="airline_slideshow_next" style="position: absolute; right: 5px; top: 50%; z-index:999;">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10 show_price_seat_mbl" style="padding-bottom:20px;">
                                <input type="hidden" id="time_limit_input" name="time_limit_input" />
                                <input type="hidden" id="additional_price_input" name="additional_price_input" />
                                <!--                    <div style="background-color:white; padding:10px; border:1px solid #205B95; position:sticky; top:65px; z-index:90" id="airline_passenger_detail_seat"></div>-->

                                <div style="background-color:white; padding:15px; border:1px solid #cdcdcd; display:block; margin-bottom:15px;" id="airline_detail">

                                </div>
                                <button class="btn-next primary-btn next-passenger-train ld-ext-right" value="Next" onclick="next_disabled();next_seat_map();" style="width:100%;">
                                    {% trans 'Next' %}
                                    <div class="ld ld-ring ld-cycle"></div>
                                </button>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>

                    <div class="col-lg-12" id="airline_reissue_info_div" style="display:none; top:0px; z-index:99;">
                    </div>
                </div>
                <textarea id="data_copy" name="data_copy" rows="4" hidden></textarea>
            </div>
        </section>
    </form>
{% include 'tt_website/footer.html' %}
<script>
    after_sales = false;
    if(time_limit != ''){
        document.getElementById('div_4').hidden = false;
        type  = '';
    }else{
        document.getElementById('div_4').hidden = true;
        type = 'request_new';
        after_sales = true;
    }
    get_airline_data_seat_page(after_sales);

    //get_airline_review();

    function plusSlides(n, no) {
      showSlides(slideIndex[no] += n, no);
    }

    function showSlides(n, no) {
      var i;
      var x = document.getElementsByClassName(slideId[no]);
      if (n > x.length) {slideIndex[no] = 1}
      if (n < 1) {slideIndex[no] = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      if(x.length > slideIndex[no]-1) //check max length
        x[slideIndex[no]-1].style.display = "block";
      else
        x[0].style.display = "block";
      //wagon = slideIndex[no]-1;
    }
</script>
<!-- loader -->
{% endblock %}
