{% extends 'tt_website/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_airline.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_content.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/airline_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/moment.js?version={{javascript_version}}"></script>

<script>
    static_path_url_server = '{{static_path_url_server}}'
    var slideIndex = [1,1];
    var slideId = ["mySlides1", "mySlides2"];

    signature = `{{signature}}`;
    additional_price = `{{additional_price}}`;
    additional_price = parseFloat(additional_price);
    if({{after_sales}} == 0){
        time_limit = '{{time_limit}}';
        if(time_limit != ''){
            time_limit = parseInt(time_limit);
            session_time_limit();
        }
        breadcrumb = 2;
        type = '';
        additional_price_fix = parseFloat(additional_price);
    }else if({{after_sales}} == 1){
        time_limit = '{{time_limit}}';
        breadcrumb = 2;
        type = 'request_new';
        additional_price_fix = 0;
        additional_price = 0;
    }
    passenger_pick = '';


</script>
<style>
* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
</style>
<title>{{name}} {% trans 'Airline' %} - {% trans 'Seat Map' %}</title>

{% include 'tt_website/logout.html' %}

{% include 'tt_website/modal_balance_vendor.html' %}
{% include 'tt_website/loading_screen.html' %}

{% if 'co_customer_parent_type_name' in username and 'corp_limitation' not in username.co_agent_frontend_security %}
{% include 'tt_website/html_include/header_corporate.html' %}
{% endif %}
{% include 'tt_website/html_include/header_breadcrumb.html' %}

{% if template == 1 %}
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
{% elif template == 2 %}
<section style="padding:15px 0px 15px 0px; background:#f7f7f7; border-bottom:2px solid #cdcdcd;">
{% elif template == 3 %}
<section class="relative" style="padding:15px 0px 15px 0px; background:#f7f7f7; border-bottom:2px solid #cdcdcd;">
{% elif template == 4 %}
<section style="padding:40px 0px 15px 0px; background:#f7f7f7; border-bottom:2px solid #cdcdcd;">
{% elif template == 5 %}
<section style="padding:15px 0px 15px 0px; background:#f7f7f7; border-bottom:2px solid #cdcdcd;">
{% elif template == 6 %}
<section style="padding:15px 0px 15px 0px; background:#f7f7f7; border-bottom:2px solid #cdcdcd;">
{%endif%}
    <div class="container">
        <form method="POST" id="airline_booking" action="{% if after_sales == 0 %}/airline/review/{{signature}}{% else %}/airline/review_after_sales/{{signature}}{%endif%}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12" style="padding-bottom:15px;">
                    <h3>{% trans 'Seat Map' %}</h3>
                </div>
                <div class="col-lg-8" style="padding-bottom:20px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="airline_review">
                                <div style="background-color:white; margin-bottom:15px; padding:15px; border:1px solid #cdcdcd;">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row" style="margin-bottom:5px;">
                                                <div class="col-lg-12 mb-3" style="border-bottom:1px solid #cdcdcd;">
                                                    <h4 class="single_border_custom_left mb-3" style="padding-left:5px;">1. {% trans 'Select Airline Route' %}</h4>
                                                </div>
                                            </div>

                                            <div class="row" id="airline_seat_map" style="padding-bottom:15px;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="background-color:white; margin-bottom:15px; padding:15px; border:1px solid #cdcdcd;">
                                    <div class="row">
                                        <div class="col-lg-12"> <!--pax-->
                                            <div class="row" style="margin-bottom:5px;">
                                                <div class="col-lg-12 mb-3" style="border-bottom:1px solid #cdcdcd;">
                                                    <h4 class="single_border_custom_left mb-3" style="padding-left:5px;">2. {% trans 'Select Passenger' %}</h4>
                                                </div>
                                            </div>

                                            <div class="row">
                                                {% for pax in passengers%}
                                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                                    <input title="{{pax.title}} {{pax.first_name}} {{pax.last_name}}" class="button-seat-pass" type="button" id="passenger{{forloop.counter}}" style="width:100%; background-color:white;padding:10px; margin-right:10px; font-weight:700; text-align:center;margin-bottom:10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color:black;" onclick="set_passenger_seat_map_airline({{forloop.counter}}-1);" value="{{pax.title}} {{pax.first_name}} {{pax.last_name}}">
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="background-color:white; padding:15px; border:1px solid #cdcdcd;">
                                    <div class="row">
                                        <div class="col-lg-12" style="padding-bottom:10px;"> <!--seat-->
                                            <div class="row" style="margin-bottom:5px;">
                                                <div class="col-lg-12 mb-3" style="border-bottom:1px solid #cdcdcd;">
                                                    <h4 class="single_border_custom_left mb-3" style="padding-left:5px;">3. {% trans 'Select Seat' %}</h4>
                                                </div>
                                            </div>
                                            <div id="airline_passenger_detail_seat">

                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12" style="text-align:center;">
                                                    <h4 class="single_border_custom_top mb-3" style="padding-top:15px;">Seat Map</h4>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
                                                    <div style="text-align:center">
                                                        <span class="button-seat-map2" style="background-color:{{color}}"></span>
                                                        <br/>
                                                        <h6>{% trans 'Selected' %}</h6>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
                                                    <div style="text-align:center">
                                                        <span class="button-seat-map2" style="background-color:#656565"></span>
                                                        <br/>
                                                        <h6>{% trans 'Not Available' %}</h6>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
                                                    <div style="text-align:center">
                                                        <span class="button-seat-map2" style="background-color:#CACACA"></span>
                                                        <br/>
                                                        <h6>{% trans 'Available' %}</h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slideshow-container" id="airline_slideshow" style="padding-top:15px;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <button type="button" class="issued_booking_btn primary-btn-white for-show-website" style="width:100%;margin-top:15px;" value="Cancel" onclick="go_back_page();">
                                {% trans 'Cancel' %}
                            </button>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <button class="btn-next for-show-website primary-btn next-passenger-train ld-ext-right" style="width:100%; margin-top:15px;" value="Next" onclick="next_disabled();next_seat_map();">
                                {% trans 'Next' %}
                                <div class="ld ld-ring ld-cycle"></div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="padding-bottom:20px;">
                    <input type="hidden" id="time_limit_input" name="time_limit_input" />
                    <input type="hidden" id="additional_price_input" name="additional_price_input" />
                    <!--                    <div style="background-color:white; padding:10px; border:1px solid #205B95; position:sticky; top:65px; z-index:90" id="airline_passenger_detail_seat"></div>-->

                    <div style="background-color:white; padding:15px; border:1px solid #cdcdcd;" id="airline_detail">

                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="button" class="for-show-mobile issued_booking_btn primary-btn-white" style="width:100%;" value="Cancel" onclick="go_back_page();">
                        {% trans 'Cancel' %}
                    </button>
                </div>
                <div class="col-lg-12">
                    <button class="btn-next for-show-mobile primary-btn next-passenger-train ld-ext-right" style="width:100%;" value="Next" onclick="next_disabled();next_seat_map();">
                        {% trans 'Next' %}
                        <div class="ld ld-ring ld-cycle"></div>
                    </button>
                </div>
                <div class="col-lg-12" id="airline_reissue_info_div" style="display:none; top:0px; z-index:99;">
                </div>
            </div>
        </form>
        <textarea id="data_copy" name="data_copy" rows="4" hidden></textarea>
    </div>
</section>
{% include 'tt_website/footer.html' %}
<script>
    after_sales = false;
    if(time_limit != ''){
        document.getElementById('div_4').hidden = false;
        type  = '';
    }else{
        document.getElementById('div_4').hidden = true;
        type = 'request_new';
        after_sales = true;
    }
    get_airline_data_seat_page(after_sales);

    //get_airline_review();

    function plusSlides(n, no) {
      showSlides(slideIndex[no] += n, no);
    }

    function showSlides(n, no) {
      var i;
      var x = document.getElementsByClassName(slideId[no]);
      if (n > x.length) {slideIndex[no] = 1}
      if (n < 1) {slideIndex[no] = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      if(x.length > slideIndex[no]-1) //check max length
        x[slideIndex[no]-1].style.display = "block";
      else
        x[0].style.display = "block";
      //wagon = slideIndex[no]-1;
    }
</script>
<!-- loader -->
{% endblock %}
