{% extends 'tt_website/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_content.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_lab_pintar.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/lab_pintar_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/daterangepicker.js?version={{javascript_version}}"></script>
<link rel="stylesheet" type="text/css" href="{{ static_path }}login/css/owl.carousel.css?version={{javascript_version}}">
<link rel="stylesheet" type="text/css" href="{{ static_path }}login/css/owl.theme.default.min.css?version={{javascript_version}}">
<link rel="stylesheet" type="text/css" href="{{ static_path }}login/css/owl.theme.green.min.css?version={{javascript_version}}">
<script src="{{ static_path }}js/vendor/owl.carousel.min.js?version={{javascript_version}}"></script>
<script>
    signature = `{{signature}}`;
    static_path_url_server = '{{static_path_url_server}}'
    name = '';

    {% if username.co_user_name != '' and '{{google_analytics}}' != '' %}
        {% if 'b2c_limitation' in username.co_agent_frontend_security %}
          gtag('event', 'b2c', {'agent_type':'b2c'});
        {% endif %}
    {% endif %}
</script>

<style>
    @media only screen and (min-width: 991px) {
        #slider_home {
            margin-top: 88px;
        }
    }
    @media only screen and (max-width: 990px) {
        #slider_home {
            margin-top: 0px;
        }
        #logo_home {
            padding-top:10px;
        }
    }
</style>

{% for rec in provider_types_sequence %}
{% if "periksain" in provider and "ticketing_periksain" in username.co_agent_frontend_security or "medical" in provider and "ticketing_medical" in username.co_agent_frontend_security or "swabexpress" in provider and "ticketing_swabexpress" in username.co_agent_frontend_security or "labpintar" in provider and "ticketing_labpintar" in username.co_agent_frontend_security or "mitrakeluarga" in provider and "ticketing_mitrakeluarga" in username.co_agent_frontend_security or "phc" in provider and "ticketing_phc" in username.co_agent_frontend_security or "sentramedika" in provider and "ticketing_sentramedika" in username.co_agent_frontend_security %}
{% if rec.code == 'labpintar' and "labpintar" in provider and "ticketing_labpintar" in username.co_agent_frontend_security %}
<title>{{name}} - {% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</title>
{% endif %}
{% endif %}
{% endfor %}

{% if username.co_user_login != '' %}
{% include 'tt_website/plugin_passenger.html' %}
{% include 'tt_website/plugin_get_booking_b2c.html' %}
{% include 'tt_website/logout.html' %}
{% endif %}
{% include 'tt_website/header.html' %}
{% include 'tt_website/notification_box.html' %}

{% if username.co_user_login != default_user %}
<section class="section_bg" style="z-index:998; position:relative; border-top:1px solid #cdcdcd; background:white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pt-2 pb-2">
                <span class="span_link" style="border-right:2px solid #cdcdcd; padding-right:5px; color:black;" onclick="location='{% url 'tt_website:issued_offline'%}'"><i class="fas fa-book-open"></i> {% trans 'Issued Offline' %}</span>
                {% if "groupbooking" in provider and "ticketing_group_booking" in username.co_agent_frontend_security%}
                <span class="span_link" style="padding-left:5px; color: black;" onclick="location='{% url 'tt_website:group_booking'%}'"><i class="fas fa-users"></i> {% trans 'Group Booking' %}</span>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif%}

{% if username.co_user_login != '' %}
<input type="hidden" id="country_id"/>
<input type="hidden" id="start"/>
<input type="hidden" id="end"/>
{% endif %}

<section class="pt-5 pb-4" style="background-image: url('{{static_path}}images/background/single_page/sp_bg_lab_pintar.jpg') !important; min-height:350px; background-position: center center !important; background-size: cover !important; background-repeat: no-repeat !important;">
    <div class="container">
        <div class="row">
            {% if username.co_user_login != '' %}
            {% if big_banner_value == 1 %}
            <div class="col-lg-12">
                <div id="big_banner" style="padding-bottom:15px;">
                    <div class="stripe_big_banner">
                        <div class="div_stripe">
                            <div class="loading_stripe"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</section>

{% if username.co_user_login != '' %}
{% for rec in provider_types_sequence %}
{% if "periksain" in provider and "ticketing_periksain" in username.co_agent_frontend_security or "medical" in provider and "ticketing_medical" in username.co_agent_frontend_security or "swabexpress" in provider and "ticketing_swabexpress" in username.co_agent_frontend_security or "labpintar" in provider and "ticketing_labpintar" in username.co_agent_frontend_security or "mitrakeluarga" in provider and "ticketing_mitrakeluarga" in username.co_agent_frontend_security or "phc" in provider and "ticketing_phc" in username.co_agent_frontend_security or "sentramedika" in provider and "ticketing_sentramedika" in username.co_agent_frontend_security %}
{% if rec.code == 'labpintar' and "labpintar" in provider and "ticketing_labpintar" in username.co_agent_frontend_security %}
<section class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="title_cst_sub">
                    {% if username.co_user_login != default_user %}
                    {% trans 'Hello' %}, {{username.co_user_name}}!
                    {% trans 'Grow your business with' %} <span style="color:{{color}};">{{name}}</span>
                    {% else %}
                    {% trans 'Hello, dear customer, book your trip with us' %}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</section>
<section class="pt-3 pb-3" style="background:#f7f7f7; border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    <img style="width:auto; height:70px; border:1px solid #cdcdcd; border-radius:7px;" src="/static/tt_website/images/logo/health_care/lab_pintar_logo.png" alt="LAB PINTAR">
                    {% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="pt-4 pb-5">
    <div class="container">
        <div class="row">
            <div id="overlay-search-box" onclick="off_overlay()"></div>
            <div class="col-lg-12" id="div-search-overlay">
                {% if template == 1 %}
                <div class="banner-right">
                    <div class="tab-content" id="myTabContent" style="border:1px solid #cdcdcd; min-height:300px; background: {{tab_color}} !important; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                        <div class="tab-pane fade show active" id="lab_pintar" role="tabpanel" aria-labelledby="lab_pintar-tab">
                            <form action="" class="form-wrap" id="lab_pintar_searchForm" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="g-recaptcha-response" id='recaptcha_lab_pintar'>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span class="span-search-ticket"><i class="fas fa-briefcase-medical"></i> {% trans 'Medical Type' %}</span>
                                        <div class="input-container-search-ticket">
                                            <div class="form-select">
                                                <select id="medical_type_lab_pintar" name="medical_type_lab_pintar" class="nice-select-default">

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <center>
                                    <button class="button-search primary-btn ld-ext-right" type="button" onclick="get_captcha('recaptcha_lab_pintar','lab_pintar');" value="Submit">
                                        <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                                        {% trans 'Search' %}
                                        <div class="ld ld-ring ld-cycle"></div>
                                    </button>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
                {% elif template == 2 %}
                <div class="hotel-search-form-area" style="position:relative; bottom:unset; padding-left: unset; padding-right:unset;">
                    <div class="hotel-search-form">
                        <div class="tab_body" style="min-height:300px; border:2px solid #cdcdcd;">
                            <div id="tab-lab_pintar" class="tab-content current">
                                <form action="" class="form-wrap" id="lab_pintar_searchForm" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="g-recaptcha-response" id='recaptcha_lab_pintar'>
                                    <div class="row mt-3">
                                        <div class="col-lg-12">
                                            <span class="span-search-ticket"><i class="fas fa-briefcase-medical"></i> {% trans 'Medical Type' %}</span>
                                            <div class="input-container-search-ticket">
                                                <div class="form-select">
                                                    <select id="medical_type_lab_pintar" name="medical_type_lab_pintar" class="nice-select-default">

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <center>
                                        <button class="button-search primary-btn ld-ext-right" type="button" onclick="get_captcha('recaptcha_lab_pintar','lab_pintar');" value="Submit">
                                            <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                                            {% trans 'Search' %}
                                            <div class="ld ld-ring ld-cycle"></div>
                                        </button>
                                    </center>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif template == 3 %}
                <div class="row fullscreen d-flex" id="div-search-overlay" style="position:relative; padding:15px;">
                    <div class="banner-content col-xl-3 col-lg-3 col-md-3" style="background: {{tab_color}}; border: 1px solid #cdcdcd;">
                        <div class="pt-30">
                            <i class="image-rounded-icon"><img style="width:20px; height:20px" src="{{static_path}}images/icon/product/w-swab.png" alt="Health Icon"/></i>
                        </div>
                        <h5 class="pt-30 pb-30" style="color:{{text_color}};">
                            Book your {% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}
                        </h5>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 header-right" style="min-height:300px; padding-left:0px;">
                        <div id="tab-lab_pintar" class="tab-content current">
                            <form action="" class="form-wrap" id="lab_pintar_searchForm" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="g-recaptcha-response" id='recaptcha_lab_pintar'>
                                <div class="row mt-2">
                                    <div class="col-lg-12">
                                        <span class="span-search-ticket"><i class="fas fa-briefcase-medical"></i> {% trans 'Medical Type' %}</span>
                                        <div class="form-group">
                                            <select id="medical_type_lab_pintar" name="medical_type_lab_pintar" class="nice-select-default">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <center>
                                    <button class="button-search primary-btn ld-ext-right" type="button" onclick="get_captcha('recaptcha_lab_pintar','lab_pintar');" value="Submit">
                                        <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                                        {% trans 'Search' %}
                                        <div class="ld ld-ring ld-cycle"></div>
                                    </button>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
                {% elif template == 4 %}
                <div style="min-height:300px; position:relative; background:{{tab_color}}; border:1px solid #cdcdcd; z-index:2;">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-12">
                                <div class="row">
                                    <div class="col-xl-12" style="text-align:left;">
                                        <div class="form-search-wrap">
                                            <form action="" class="form-wrap" id="lab_pintar_searchForm" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="g-recaptcha-response" id='recaptcha_lab_pintar'>
                                                <div class="row mt-3">
                                                    <div class="col-lg-12">
                                                        <span class="span-search-ticket">{% trans 'Medical Type' %}</span>
                                                        <div class="input-container-search-ticket">
                                                            <i class="fas fa-briefcase-medical" style="padding:14px; height: 43px; width: 45px; background:{{color}}; color:{{text_color}};"></i>
                                                            <div class="form-select">
                                                                <select id="medical_type_lab_pintar" name="medical_type_lab_pintar" class="nice-select-default">

                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br/>
                                                <center>
                                                    <button class="button-search primary-btn ld-ext-right" type="button" onclick="get_captcha('recaptcha_lab_pintar','lab_pintar');" value="Submit">
                                                        <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                                                        {% trans 'Search' %}
                                                        <div class="ld ld-ring ld-cycle"></div>
                                                    </button>
                                                </center>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif template == 5 %}
                <div class="row">
                    <div class="banner-content col-xl-12">
                        <div class="search-field" style="min-height:300px; padding:20px; border:1px solid #cdcdcd">
                            <div class="row">
                                <div class="col-xl-12" style="text-align:left;">
                                    <div id="tab-lab_pintar" class="tab-content current">
                                        <form action="" class="form-wrap" id="lab_pintar_searchForm" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="g-recaptcha-response" id='recaptcha_lab_pintar'>
                                            <div class="row mt-3">
                                                <div class="col-lg-12">
                                                    <span class="span-search-ticket"><i class="fas fa-briefcase-medical"></i> {% trans 'Medical Type' %}</span>
                                                    <div class="form-group">
                                                        <select id="medical_type_lab_pintar" name="medical_type_lab_pintar" class="nice-select-default">

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                            <center>
                                                <button class="button-search primary-btn ld-ext-right" type="button" onclick="get_captcha('recaptcha_lab_pintar','lab_pintar');" value="Submit">
                                                    <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                                                    {% trans 'Search' %}
                                                    <div class="ld ld-ring ld-cycle"></div>
                                                </button>
                                            </center>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif template == 6 %}
                <div class="row" style="padding:0px 15px;">
                    <div class="col-lg-12" style="min-height:75px; background: linear-gradient(0deg, rgba(63, 63, 63, 0.4), rgba(63, 63, 63, 0.4)), url('{{static_path}}images/background/search_box/sb_bg_health.jpg'); background-position: center !important; background-size: cover !important; background-repeat: no-repeat !important; padding:30px;">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10" style="min-height:300px; background:{{tab_color}}; padding:30px;">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form action="" class="form-wrap" id="lab_pintar_searchForm" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="g-recaptcha-response" id='recaptcha_lab_pintar'>
                                            <div class="row mt-1">
                                                <div class="col-lg-12">
                                                    <span class="span-search-ticket"><i class="fas fa-briefcase-medical"></i> {% trans 'Medical Type' %}</span>
                                                    <div class="form-group">
                                                        <select id="medical_type_lab_pintar" name="medical_type_lab_pintar" class="nice-select-default">

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <br/>
                                            <center>
                                                <button class="button-search primary-btn ld-ext-right" type="button" onclick="get_captcha('recaptcha_lab_pintar','lab_pintar');" value="Submit">
                                                    <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                                                    {% trans 'Search' %}
                                                    <div class="ld ld-ring ld-cycle"></div>
                                                </button>
                                            </center>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>
                {% elif template == 7 %}
                <div class="row" style="padding:0px 15px;">
                    <div class="col-lg-3" style="min-height:75px; background: linear-gradient(0deg, rgba(63, 63, 63, 0.4), rgba(63, 63, 63, 0.4)), url('{{static_path}}images/background/search_box/sb_bg_health.jpg'); background-position: center !important; background-size: cover !important; background-repeat: no-repeat !important;">

                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12" style="border:1px solid #cdcdcd; min-height:300px; background:{{tab_color}};">
                                <form action="" class="search-box" id="lab_pintar_searchForm" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="g-recaptcha-response" id='recaptcha_lab_pintar'>
                                    <div class="row mt-3">
                                        <div class="col-lg-12">
                                            <span class="span-search-ticket"><i class="fas fa-briefcase-medical"></i> {% trans 'Medical Type' %}</span>
                                            <div class="select-form mb-30">
                                                <div class="select-itms">
                                                    <select id="medical_type_lab_pintar" name="medical_type_lab_pintar" class="nice-select-default">

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br/>
                                    <center>
                                        <button class="button-search primary-btn ld-ext-right" type="button" onclick="get_captcha('recaptcha_lab_pintar','lab_pintar');" value="Submit">
                                            <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                                            {% trans 'Search' %}
                                            <div class="ld ld-ring ld-cycle"></div>
                                        </button>
                                    </center>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endif %}
{% endfor %}
{% endif %}


{% if small_banner_value == 1 %}
<section class="pt-5 pb-5" style="z-index:0; position:relative; padding-bottom:40px; background:#f7f7f7;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if template == 1 %}
                <div class="menu-content">
                    <div class="title pb-20">
                        <h1>HOT DEALS</h1>
                    </div>
                </div>
                {% elif template == 2 %}
                <div class="section-heading wow fadeInUp" data-wow-delay="100ms" style="margin-bottom:20px;">
                    <h1>HOT DEALS</h1>
                </div>
                {% elif template == 3 %}
                <div class="title pb-2">
                    <div class="pb-20">
                        <h1>HOT DEALS</h1>
                    </div>
                </div>
                {% elif template == 4 %}
                <div class="row justify-content-center mb-5">
                    <div class="col-md-12 border-primary">
                        <h1 class="font-weight-light text-primary" style="color:black !important">HOT DEALS</h1>
                    </div>
                </div>
                {% elif template == 5 %}
                <div class="menu-content">
                    <div class="title mb-3">
                        <h1>HOT DEALS</h1>
                    </div>
                </div>
                {% elif template == 6 %}
                <div class="fetured-info py-lg-3 py-3 mb-3">
                    <h3>
                        HOT DEALS
                    </h3>
                </div>
                {% elif template == 7 %}
                <div class="ten">
                    <h1 class="style_h1">HOT DEALS</h1>
                </div>
                {%endif%}

                <div id="small_banner">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="stripe_small_banner">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="stripe_small_banner show_hide_mb">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="stripe_small_banner show_hide">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="stripe_small_banner show_hide">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!--{% if dynamic_page_value == 1 %}-->
<!--<section class="pt-5 pb-5" style="z-index:0; position:relative; background: #f7f7f7;">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12 mb-3">-->
<!--                {% if template == 1%}-->
<!--                <div class="menu-content">-->
<!--                    <div class="title pb-20">-->
<!--                        <h1>INFORMATION</h1>-->
<!--                    </div>-->
<!--                </div>-->
<!--                {% elif template == 2 %}-->
<!--                <div class="section-heading wow fadeInUp" data-wow-delay="100ms" style="margin-bottom:20px;">-->
<!--                    <h1>INFORMATION</h1>-->
<!--                </div>-->
<!--                {% elif template == 3 %}-->
<!--                <div class="title pb-2">-->
<!--                    <div class="pb-20">-->
<!--                        <h1>INFORMATION</h1>-->
<!--                    </div>-->
<!--                </div>-->
<!--                {% elif template == 4 %}-->
<!--                <div class="row justify-content-center mb-5">-->
<!--                    <div class="col-md-12 border-primary">-->
<!--                        <h1 class="font-weight-light text-primary" style="color:black !important">HOT DEALS</h1>-->
<!--                    </div>-->
<!--                </div>-->
<!--                {% elif template == 5 %}-->
<!--                <div class="menu-content">-->
<!--                    <div class="title mb-3">-->
<!--                        <h1>INFORMATION</h1>-->
<!--                    </div>-->
<!--                </div>-->
<!--                {% elif template == 6 %}-->
<!--                <div class="fetured-info py-lg-3 py-3 mb-3">-->
<!--                    <h3>-->
<!--                        INFORMATION-->
<!--                    </h3>-->
<!--                </div>-->
<!--                {% elif template == 7 %}-->
<!--                <div class="ten">-->
<!--                    <h1 class="style_h1">INFORMATION</h1>-->
<!--                </div>-->
<!--                {%endif%}-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-12" id="owl-login2">-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-3 col-md-6">-->
<!--                                <div class="stripe_dynamic_page">-->
<!--                                    <div class="div_stripe">-->
<!--                                        <div class="loading_stripe"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-3 col-md-6">-->
<!--                                <div class="stripe_dynamic_page show_hide_mb">-->
<!--                                    <div class="div_stripe">-->
<!--                                        <div class="loading_stripe"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-3 col-md-6">-->
<!--                                <div class="stripe_dynamic_page show_hide">-->
<!--                                    <div class="div_stripe">-->
<!--                                        <div class="loading_stripe"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-3 col-md-6">-->
<!--                                <div class="stripe_dynamic_page show_hide">-->
<!--                                    <div class="div_stripe">-->
<!--                                        <div class="loading_stripe"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--{% endif %}-->


<div id="promotion">

</div>

{% include 'tt_website/footer.html' %}
{% include 'tt_website/plugin_live_youtube.html' %}
<script>
    {% if username.co_user_login != '' %}
        try{
            {% if "labpintar" in provider and "ticketing_labpintar" in username.co_agent_frontend_security %}
            get_config_lab_pintar('home');
            {% endif %}

        }catch(err){

        }
    {% endif %}
    {% if username.co_user_login != '' %}

    $( document ).ready(function() {
          $('.js-example-basic-single').select2();

          get_banner('big_banner','labpintar');
          get_banner('small_banner','labpintar');
          ///get_dynamic_page('labpintar');
          ///get_banner('promotion','labpintar');
          var now = moment().format('DD MMM YYYY');

    });


    try{
        document.getElementById("country_id").value = 100;
        document.getElementById("start").value = moment().format('YYYY-MM-DD');
        document.getElementById("end").value = moment().subtract(-1, 'years').format('YYYY-MM-DD');
        get_public_holiday(document.getElementById("start").value, document.getElementById("end").value, document.getElementById("country_id").value, );
        new_get_public_holiday(document.getElementById("start").value, document.getElementById("end").value, document.getElementById("country_id").value, );
    }catch(err){

    }
    {%endif%}

    {% if big_banner_value == 1 %}
    get_banner('big_banner','labpintar');
    {% endif %}
    {% if small_banner_value == 1 %}
    get_banner('small_banner','labpintar');
    {% endif %}
    {% if dynamic_page_value == 1 %}
    ///get_dynamic_page('labpintar');
    {% endif %}
    ///get_banner('promotion','labpintar');

</script>

{% endblock %}
