<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>

<div class="col-lg-6" style="text-align:left; padding-top:10px;" {% if 'b2c_limitation' in username.co_agent_frontend_security %} hidden {% endif %}>
    <i class="fas fa-user" style="padding-right:5px; color:{{color}}; font-size:16px;"></i><span title="{{username.co_user_login}}" style="font-size:13px; font-weight:600; padding-right:10px; cursor:text; color:black; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{username.co_user_login}}</span>

    {% if 'co_customer_parent_type_name' in username and username.co_customer_parent_type_name == "COR" or 'co_customer_parent_type_name' in username and username.co_customer_parent_type_name == "POR" %}
    <span id="credit_limit" style="font-size:13px; font-weight:500;"></span>
    {% endif %}
    <a id="balance" style="font-size:13px; font-weight:500; border-bottom:2px solid {{color}};"></a>

</div>

<script>
    agent_security = `{{username.co_agent_frontend_security}}`;
    agent_security = agent_security.replace(/False/g, '""');
    agent_security = agent_security.replace(/True/g, '""');
    agent_security = JSON.parse(agent_security.replace(/&#39;/g, '"'));
    {% if 'b2c_limitation' not in username.co_agent_frontend_security %}
        {% if username.co_user_login != '' %}
            time = 300;
            triggered_balance({{update_data}});
            setTimeout(function() {
                get_vendor_balance({{update_data}});
            }, 2000);
        {% endif %}
    {% endif %}
</script>
