{% load i18n %}
<script src="{{ static_path }}js/social_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/contact_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/payment_partner_javascript.js?version={{javascript_version}}"></script>

{% if template == 1%}
<button onclick="topFunction()" id="myBtnBTP" title="Go to top">
    <span><i class="fas fa-chevron-up"></i></span>
</button>

<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mb-3">
                <h6 style="color:black;">{% trans 'About' %} {{name}}</h6>
                <div class="single-footer-widget">
                    <ul>
                        <li><a href="/about_us">{% trans 'About Us' %}</a></li>
                        <li><a href="/contact_us">{% trans 'Contact Us' %}</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </div>
                <div id="payment_partner_footer_div" class="mb-3">

                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h6 style="color:black;">{% trans 'Our Product' %}</h6>
                <div class="single-footer-widget">
                    <div class="row">
                        {% for provider_type in provider_types %}
                            {% if forloop.counter == 1 or forloop.counter == provider_divider_start %}
                            <div class="col">
                                <ul>
                            {% endif %}
                            {% if 'b2c_limitation' not in username.co_agent_frontend_security %}
                                {% if provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{% if provider_type == 'phc' or provider_type == 'periksain' %}medical/{% endif %}{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% else %}
                                {% if provider_type != 'visa' and provider_type != 'passport' and provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% endif %}
                            {% if forloop.counter == provider|length or forloop.counter == provider_divider_end %}
                                </ul>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
<!--                {% if name == "Rodextrip" %}-->
<!--                <hr/>-->
<!--                <h6 style="color:black;">{% trans 'Download' %} {{name}} App</h6>-->
<!--                <div class="single-footer-widget">-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-12">-->
<!--                            <a href="https://play.google.com/store/apps/details?id=com.rodextrip&hl=in&gl=US"><img src="{{static_path}}img/playstore.png" style="width:120px; height:auto;" alt="" title="Skytors.ID Android" /></a>-->
<!--                            <a href="https://apps.apple.com/id/app/skytors/id1449434282?l=id"><img src="{{static_path}}img/appstore.png" style="width:120px; height:auto;" alt="" title="Skytors.ID Apple" /></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                {% endif %}-->
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h6 style="color:black;">{% trans 'Information' %}</h6>
                <p>
                    {% for description in contact_us%}
                    {{description}}
                    <br/>
                    {% endfor %}
                </p>

                <div id="contact_footer_div">

                </div>

                <div id="social_footer_div">

                </div>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0">
                {% trans 'Copyright' %} &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by {{name}}
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
            </div>
        </div>
    </div>
</footer>
{% elif template == 2%}
<footer class="footer-area section-padding-80-0">
    <div class="main-footer-area">
        <div class="container">
            <div class="row align-items-baseline justify-content-between">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="single-footer-widget mb-80">
                        <h5 class="widget-title" style="color:black;">{% trans 'About' %} {{name}}</h5>

                        <div class="single-footer-widget">
                            <ul class="footer-nav">
                                <li><a href="/about_us">{% trans 'About Us' %}</a></li>
                                <li><a href="/contact_us">{% trans 'Contact Us' %}</a></li>
                                <li><a href="/faq">FAQ</a></li>
                            </ul>
                        </div>
                        <div id="payment_partner_footer_div" class="mb-3">

                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="single-footer-widget mb-80">
                        <h5 class="widget-title" style="color:black;">{% trans 'Our Product' %}</h5>
                        <div class="row">
                            {% for provider_type in provider_types %}
                            {% if forloop.counter == 1 or forloop.counter == provider_divider_start %}
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                <ul class="footer-nav">
                            {% endif %}
                            {% if 'b2c_limitation' not in username.co_agent_frontend_security %}
                                {% if provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% else %}
                                {% if provider_type != 'visa' and provider_type != 'passport' and provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% endif %}
                            {% if forloop.counter == provider|length or forloop.counter == provider_divider_end %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
<!--                        {% if name == "Rodextrip" %}-->
<!--                        <hr/>-->
<!--                        <h5 class="widget-title" style="color:black;">{% trans 'Download' %} {{name}} App</h5>-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-12">-->
<!--                                <a href="https://play.google.com/store/apps/details?id=com.rodextrip&hl=in&gl=US"><img src="{{static_path}}img/playstore.png" style="width:120px; height:auto;" alt="" title="Skytors.ID Android" /></a>-->
<!--                                <a href="https://apps.apple.com/id/app/skytors/id1449434282?l=id"><img src="{{static_path}}img/appstore.png" style="width:120px; height:auto;" alt="" title="Skytors.ID Apple" /></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        {% endif %}-->
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="single-footer-widget mb-30">
                        <h5 class="widget-title" style="color:black;">{% trans 'Information' %}</h5>
                        <p>
                            {% for description in contact_us%}
                            {{description}}
                            <br/>
                            {% endfor %}
                        </p>

                        <div id="contact_footer_div">

                        </div>

                        <div id="social_footer_div">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copywrite-content">
            <div class="row align-items-center">
                <div class="col-xs-12 col-md-8">
                    <div class="copywrite-text">
                        <p>
                            {% trans 'Copyright' %} &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved {{name}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% elif template == 3%}
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="single-footer-widget">
                    <h6 style="color:black;">About {{name}}</h6>
                    <div class="single-footer-widget">
                        <ul class="footer-nav">
                            <li><a href="/about_us">{% trans 'About Us' %}</a></li>
                            <li><a href="/contact_us">{% trans 'Contact Us' %}</a></li>
                            <li><a href="/faq">FAQ</a></li>
                        </ul>
                    </div>
                    <div id="payment_partner_footer_div" class="mb-3">

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="single-footer-widget">
                    <h6 style="color:black;">{% trans 'Our Product' %}</h6>
                    <div class="row">
                        {% for provider_type in provider_types %}
                        {% if forloop.counter == 1 or forloop.counter == provider_divider_start %}
                        <div class="col-xs-12 col-sm-6 col-lg-6">
                            <ul class="footer-nav">
                        {% endif %}
                        {% if 'b2c_limitation' not in username.co_agent_frontend_security %}
                            {% if provider_type != 'payment' and  provider_type != 'bank' %}
                        <li><a href="/{{provider_type}}"><script>
                        temp = `{{provider_type}}`;
                        temp = temp.split('_');
                        data = '';
                        for(i in temp)
                            data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                        document.write(data);</script></a></li>
                            {% endif %}
                        {% else %}
                            {% if provider_type != 'visa' and provider_type != 'passport' and provider_type != 'payment' and  provider_type != 'bank' %}
                        <li><a href="/{{provider_type}}"><script>
                        temp = `{{provider_type}}`;
                        temp = temp.split('_');
                        data = '';
                        for(i in temp)
                            data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                        document.write(data);</script></a></li>
                            {% endif %}
                        {% endif %}
                        {% if forloop.counter == provider|length or forloop.counter == provider_divider_end %}
                            </ul>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
<!--                    {% if name == "Rodextrip" %}-->
<!--                    <hr/>-->
<!--                    <h6 style="color:black;">{% trans 'Download' %} {{name}} App</h6>-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-12">-->
<!--                            <a href="https://play.google.com/store/apps/details?id=com.rodextrip&hl=in&gl=US"><img src="{{static_path}}img/playstore.png" style="width:120px; height:auto;" alt="" title="Skytors.ID Android" /></a>-->
<!--                            <a href="https://apps.apple.com/id/app/skytors/id1449434282?l=id"><img src="{{static_path}}img/appstore.png" style="width:120px; height:auto;" alt="" title="Skytors.ID Apple" /></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endif %}-->
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="single-footer-widget">
                    <h6 style="color:black;">{% trans 'Information' %}</h6>
                    <p>
                        {% for description in contact_us%}
                        {{description}}
                        <br/>
                        {% endfor %}
                    </p>
                    <div id="contact_footer_div">

                    </div>

                    <div id="social_footer_div">

                    </div>
                </div>
            </div>

            <span class="mt-50 col-lg-12" style="color:#f15a22;">
                <hr/>
                {% trans 'Copyright' %} &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by {{name}}
            </span>
        </div>
    </div>
</footer>
<button onclick="topFunction()" id="myBtnBTP" title="Go to top">
    <span style="color:{{text_color}}; font-size:20px;"><i class="fas fa-chevron-up"></i></span>
</button>
{% elif template == 4%}
<footer class="site-footer" style="padding:3em 0 !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <h2 class="footer-heading mb-4" style="color:black;">About {{name}}</h2>
                        <div class="single-footer-widget">
                            <ul class="footer-nav">
                                <li><a href="/about_us">{% trans 'About Us' %}</a></li>
                                <li><a href="/contact_us">{% trans 'Contact Us' %}</a></li>
                                <li><a href="/faq">FAQ</a></li>
                            </ul>
                        </div>
                        <div id="payment_partner_footer_div" class="mb-3">

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <h2 class="footer-heading mb-4" style="color:black;">{% trans 'Our Product' %}</h2>
                        <div class="row">
                            {% for provider_type in provider_types %}
                            {% if forloop.counter == 1 or forloop.counter == provider_divider_start %}
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                <ul class="footer-nav">
                            {% endif %}
                            {% if 'b2c_limitation' not in username.co_agent_frontend_security %}
                                {% if provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% else %}
                                {% if provider_type != 'visa' and provider_type != 'passport' and provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% endif %}
                            {% if forloop.counter == provider|length or forloop.counter == provider_divider_end %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
<!--                        {% if name == "Rodextrip" %}-->
<!--                        <hr/>-->
<!--                        <h2 class="footer-heading mb-4" style="color:black;">{% trans 'Download' %} {{name}} App</h2>-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-12">-->
<!--                                <a href="https://play.google.com/store/apps/details?id=com.rodextrip&hl=in&gl=US"><img src="{{static_path}}img/playstore.png" style="width:120px; height:auto;" alt="" title="Skytors.ID Android" /></a>-->
<!--                                <a href="https://apps.apple.com/id/app/skytors/id1449434282?l=id"><img src="{{static_path}}img/appstore.png" style="width:120px; height:auto;" alt="" title="Skytors.ID Apple" /></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        {% endif %}-->
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <h2 class="footer-heading mb-4" style="color:black;">{% trans 'Information' %}</h2>
                        <p>
                            {% for description in contact_us%}
                            {{description}}
                            <br/>
                            {% endfor %}
                        </p>
                        <div id="contact_footer_div">

                        </div>

                        <div id="social_footer_div">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <hr/>
                <div class="border-top">
                    <p>
                        {% trans 'Copyright' %} &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by {{name}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<button onclick="topFunction()" id="myBtnBTP" title="Go to top">
    <span style="color:{{text_color}}; font-size:20px;"><i class="fas fa-chevron-up"></i></span>
</button>
{% elif template == 5%}
<footer class="footer-area section-gap" style="border-top:1px solid #cdcdcd;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="single-footer-widget">
                    <h4 style="color:black;">About {{name}}</h4><br/>
                    <div class="footer-social d-flex align-items-center">
                        <ul class="footer-nav">
                            <li><a href="/about_us">{% trans 'About Us' %}</a></li>
                            <li><a href="/contact_us">{% trans 'Contact Us' %}</a></li>
                            <li><a href="/faq">FAQ</a></li>
                        </ul>
                    </div>
                    <div id="payment_partner_footer_div" class="mb-3">

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="single-footer-widget">
                    <h4 style="color:black;">{% trans 'Our Product' %}s</h4><br/>
                    <div class="footer-social d-flex align-items-center">
                        <div class="row">
                            {% for provider_type in provider_types %}
                            {% if forloop.counter == 1 or forloop.counter == provider_divider_start %}
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                <ul class="footer-nav">
                            {% endif %}
                            {% if 'b2c_limitation' not in username.co_agent_frontend_security %}
                                {% if provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% else %}
                                {% if provider_type != 'visa' and provider_type != 'passport' and provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% endif %}
                            {% if forloop.counter == provider|length or forloop.counter == provider_divider_end %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
<!--                    {% if name == "Rodextrip" %}-->
<!--                    <hr/>-->
<!--                    <h4 style="color:black;">{% trans 'Download' %} {{name}} App</h4><br/>-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-12">-->
<!--                            <a href="https://play.google.com/store/apps/details?id=com.rodextrip&hl=in&gl=US"><img src="{{static_path}}img/playstore.png" style="width:120px; height:auto;" alt="" title="Skytors.ID Android" /></a>-->
<!--                            <a href="https://apps.apple.com/id/app/skytors/id1449434282?l=id"><img src="{{static_path}}img/appstore.png" style="width:120px; height:auto;" alt="" title="Skytors.ID Apple" /></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% endif %}-->
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="single-footer-widget">
                    <h4 style="color:black;">{% trans 'Information' %}</h4><br/>
                    <p>
                        {% for description in contact_us%}
                        {{description}}
                        <br/>
                        {% endfor %}
                    </p>
                    <div id="contact_footer_div">

                    </div>

                    <div id="social_footer_div">

                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="m-0" style="color:#f15a22;">
                {% trans 'Copyright' %} &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by {{name}}
            </p>
        </div>
    </div>
</footer>
<button onclick="topFunction()" id="myBtnBTP" title="Go to top">
    <span style="color:{{text_color}}; font-size:20px;"><i class="fas fa-chevron-up"></i></span>
</button>
{% endif %}

<script>
    get_contact('footer');
    get_social('footer');
    get_payment_partner('footer');
</script>