{% load i18n %}
<script src="{{ static_path }}js/social_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/contact_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/payment_partner_javascript.js?version={{javascript_version}}"></script>

{% if template == 1%}
<button onclick="topFunction()" id="myBtnBTP" title="Go to top">
    <span><i class="fas fa-chevron-up"></i></span>
</button>

<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mb-3">
                <h6 style="color:black;">About {{name}}</h6>
                <div class="single-footer-widget">
                    <ul>
                        <li><a href="/about_us">About Us</a></li>
                        <li><a href="/contact_us">Contact Us</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </div>
                <div id="payment_partner_footer_div" class="mb-3">

                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h6 style="color:black;">Our Product</h6>
                <div class="single-footer-widget">
                    <div class="row">
                        {% for provider_type in provider_types %}
                            {% if forloop.counter == 1 or forloop.counter == provider_divider_start %}
                            <div class="col">
                                <ul>
                            {% endif %}
                            {% if 'b2c_limitation' not in username.co_agent_frontend_security %}
                                {% if provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% else %}
                                {% if provider_type != 'visa' and provider_type != 'passport' and provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% endif %}
                            {% if forloop.counter == provider|length or forloop.counter == provider_divider_end %}
                                </ul>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h6 style="color:black;">Information</h6>
                <p>
                    {% for description in contact_us%}
                    {{description}}
                    <br/>
                    {% endfor %}
                </p>

                <div id="contact_footer_div">

                </div>

                <div id="social_footer_div">

                </div>
            </div>

            <!--<div class="col-lg-6 col-md-6 col-sm-6">-->
            <!--<div class="single-footer-widget">-->
            <!--<h6>Navigation Links</h6>-->
            <!--<div class="row">-->
            <!--<div class="col">-->
            <!--<ul>-->
            <!--<li><a href="#">Home</a></li>-->
            <!--<li><a href="#">Reservation</a></li>-->
            <!--<li><a href="#">Top Up</a></li>-->
            <!--<li><a href="#">Partnership</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--<div class="col">-->
            <!--<ul>-->
            <!--<li><a href="#">Issued Offline</a></li>-->
            <!--<li><a href="#">User Guide</a></li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-4 col-md-6 col-sm-6">-->
            <!--<div class="single-footer-widget">-->
            <!--<h6>Newsletter</h6>-->
            <!--<p>-->
            <!--Get Deals Directly in Your Email Inbox!-->
            <!--</p>-->
            <!--<div id="mc_embed_signup">-->
            <!--<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">-->
            <!--<div class="input-group d-flex flex-row">-->
            <!--<input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">-->
            <!--<button class="btn bb-btn"><i class="fas fa-paper-plane"></i></button>-->
            <!--</div>-->
            <!--<div class="mt-10 info"></div>-->
            <!--</form>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by {{name}}
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-sm-12 footer-social">
            </div>
        </div>
    </div>
</footer>
{% elif template == 2%}
<!--template2-->
<footer class="footer-area section-padding-80-0">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row align-items-baseline justify-content-between">
                <!-- Single Footer Widget Area -->
                <!--                <div class="col-xs-12 col-sm-6 col-lg-3">-->
                <!--                    <div class="single-footer-widget mb-80">-->
                <!--                        &lt;!&ndash; Footer Logo &ndash;&gt;-->
                <!--                        <a href="#" class="footer-logo"><img src="img/core-img/logo2.png" alt=""></a>-->

                <!--                        <h4>+12 345-678-9999</h4>-->
                <!--                        <span>Info.colorlib@gmail.com</span>-->
                <!--                        <span>856 Cordia Extension Apt. 356, Lake Deangeloburgh, South Africa</span>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!-- Single Footer Widget Area -->
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h5 class="widget-title" style="color:black;">About {{name}}</h5>

                        <!-- Single Blog Area -->
                        <div class="single-footer-widget">
                            <ul class="footer-nav">
                                <li><a href="/about_us">About Us</a></li>
                                <li><a href="/contact_us">Contact Us</a></li>
                                <li><a href="/faq">FAQ</a></li>
                            </ul>
                        </div>
                        <div id="payment_partner_footer_div" class="mb-3">

                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget Area -->
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="single-footer-widget mb-80">
                        <!-- Widget Title -->
                        <h5 class="widget-title" style="color:black;">Our product</h5>

                        <!-- Footer Nav -->
                        <div class="row">
                            {% for provider_type in provider_types %}
                            {% if forloop.counter == 1 or forloop.counter == provider_divider_start %}
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                <ul class="footer-nav">
                            {% endif %}
                            {% if 'b2c_limitation' not in username.co_agent_frontend_security %}
                                {% if provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% else %}
                                {% if provider_type != 'visa' and provider_type != 'passport' and provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% endif %}
                            {% if forloop.counter == provider|length or forloop.counter == provider_divider_end %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="single-footer-widget mb-30">
                        <h5 class="widget-title" style="color:black;">Information</h5>
                        <p>
                            {% for description in contact_us%}
                            {{description}}
                            <br/>
                            {% endfor %}
                        </p>

                        <div id="contact_footer_div">

                        </div>

                        <div id="social_footer_div">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
        <div class="copywrite-content">
            <div class="row align-items-center">
                <div class="col-xs-12 col-md-8">
                    <!-- Copywrite Text -->
                    <div class="copywrite-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved {{name}}
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% elif template == 3%}
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="single-footer-widget">
                    <h6 style="color:black;">About {{name}}</h6>
                    <div class="single-footer-widget">
                        <ul class="footer-nav">
                            <li><a href="/about_us">About Us</a></li>
                            <li><a href="/contact_us">Contact Us</a></li>
                            <li><a href="/faq">FAQ</a></li>
                        </ul>
                    </div>
                    <div id="payment_partner_footer_div" class="mb-3">

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="single-footer-widget">
                    <h6 style="color:black;">Our product</h6>
                    <div class="row">
                        {% for provider_type in provider_types %}
                        {% if forloop.counter == 1 or forloop.counter == provider_divider_start %}
                        <div class="col-xs-12 col-sm-6 col-lg-6">
                            <ul class="footer-nav">
                        {% endif %}
                        {% if 'b2c_limitation' not in username.co_agent_frontend_security %}
                            {% if provider_type != 'payment' and  provider_type != 'bank' %}
                        <li><a href="/{{provider_type}}"><script>
                        temp = `{{provider_type}}`;
                        temp = temp.split('_');
                        data = '';
                        for(i in temp)
                            data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                        document.write(data);</script></a></li>
                            {% endif %}
                        {% else %}
                            {% if provider_type != 'visa' and provider_type != 'passport' and provider_type != 'payment' and  provider_type != 'bank' %}
                        <li><a href="/{{provider_type}}"><script>
                        temp = `{{provider_type}}`;
                        temp = temp.split('_');
                        data = '';
                        for(i in temp)
                            data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                        document.write(data);</script></a></li>
                            {% endif %}
                        {% endif %}
                        {% if forloop.counter == provider|length or forloop.counter == provider_divider_end %}
                            </ul>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="single-footer-widget">
                    <h6 style="color:black;">Information</h6>
                    <p>
                        {% for description in contact_us%}
                        {{description}}
                        <br/>
                        {% endfor %}
                    </p>
                    <div id="contact_footer_div">

                    </div>

                    <div id="social_footer_div">

                    </div>
                </div>
            </div>

            <!--            <div class="col-lg-2 col-md-6 col-sm-6">-->
            <!--                <div class="single-footer-widget">-->
            <!--                    <h6>Features</h6>-->
            <!--                    <ul>-->
            <!--                        <li><a href="#">Jobs</a></li>-->
            <!--                        <li><a href="#">Brand Assets</a></li>-->
            <!--                        <li><a href="#">Investor Relations</a></li>-->
            <!--                        <li><a href="#">Terms of Service</a></li>-->
            <!--                    </ul>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="col-lg-2 col-md-6 col-sm-6">-->
            <!--                <div class="single-footer-widget">-->
            <!--                    <h6>Resources</h6>-->
            <!--                    <ul>-->
            <!--                        <li><a href="#">Jobs</a></li>-->
            <!--                        <li><a href="#">Brand Assets</a></li>-->
            <!--                        <li><a href="#">Investor Relations</a></li>-->
            <!--                        <li><a href="#">Terms of Service</a></li>-->
            <!--                    </ul>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="col-lg-2 col-md-6 col-sm-6 social-widget">-->
            <!--                <div class="single-footer-widget">-->
            <!--                    <h6>Follow Us</h6>-->
            <!--                    <p>Let us be social</p>-->
            <!--                    <div class="footer-social d-flex align-items-center">-->
            <!--                        <a href="#"><i class="fa fa-facebook"></i></a>-->
            <!--                        <a href="#"><i class="fa fa-twitter"></i></a>-->
            <!--                        <a href="#"><i class="fa fa-dribbble"></i></a>-->
            <!--                        <a href="#"><i class="fa fa-behance"></i></a>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="col-lg-4  col-md-6 col-sm-6">-->
            <!--                <div class="single-footer-widget">-->
            <!--                    <h6>Newsletter</h6>-->
            <!--                    <p>Stay update with our latest</p>-->
            <!--                    <div class="" id="mc_embed_signup">-->
            <!--                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">-->
            <!--                            <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">-->
            <!--                            <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>-->
            <!--                            <div style="position: absolute; left: -5000px;">-->
            <!--                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">-->
            <!--                            </div>-->

            <!--                            <div class="info"></div>-->
            <!--                        </form>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <span class="mt-50 col-lg-12" style="color:#f15a22;">
                <hr/>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by {{name}}
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </span>
        </div>
    </div>
</footer>
<button onclick="topFunction()" id="myBtnBTP" title="Go to top">
    <span style="color:{{text_color}}; font-size:20px;"><i class="fas fa-chevron-up"></i></span>
</button>
{% elif template == 4%}
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <h2 class="footer-heading mb-4" style="color:black;">About {{name}}</h2>
                        <div class="single-footer-widget">
                            <ul class="footer-nav">
                                <li><a href="/about_us">About Us</a></li>
                                <li><a href="/contact_us">Contact Us</a></li>
                                <li><a href="/faq">FAQ</a></li>
                            </ul>
                        </div>
                        <div id="payment_partner_footer_div" class="mb-3">

                        </div>
                    </div>

                    <!--                    <div class="col-md-3">-->
                    <!--                        <h2 class="footer-heading mb-4">Navigations</h2>-->
                    <!--                        <ul class="list-unstyled">-->
                    <!--                            <li><a href="#">About Us</a></li>-->
                    <!--                            <li><a href="#">Services</a></li>-->
                    <!--                            <li><a href="#">Testimonials</a></li>-->
                    <!--                            <li><a href="#">Contact Us</a></li>-->
                    <!--                        </ul>-->
                    <!--                    </div>-->
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <h2 class="footer-heading mb-4" style="color:black;">Our Product</h2>
                        <div class="row">
                            {% for provider_type in provider_types %}
                            {% if forloop.counter == 1 or forloop.counter == provider_divider_start %}
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                <ul class="footer-nav">
                            {% endif %}
                            {% if 'b2c_limitation' not in username.co_agent_frontend_security %}
                                {% if provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% else %}
                                {% if provider_type != 'visa' and provider_type != 'passport' and provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% endif %}
                            {% if forloop.counter == provider|length or forloop.counter == provider_divider_end %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <h2 class="footer-heading mb-4" style="color:black;">Information</h2>
                        <p>
                            {% for description in contact_us%}
                            {{description}}
                            <br/>
                            {% endfor %}
                        </p>
                        <div id="contact_footer_div">

                        </div>

                        <div id="social_footer_div">

                        </div>
                    </div>
                </div>
            </div>
            <!--            <div class="col-md-3">-->
            <!--                <form action="#" method="post">-->
            <!--                    <div class="input-group mb-3">-->
            <!--                        <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Search products..." aria-label="Enter Email" aria-describedby="button-addon2">-->
            <!--                        <div class="input-group-append">-->
            <!--                            <button class="btn btn-primary text-white" type="button" id="button-addon2">Search</button>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </form>-->
            <!--            </div>-->
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <hr/>
                <div class="border-top">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by {{name}}
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<button onclick="topFunction()" id="myBtnBTP" title="Go to top">
    <span style="color:{{text_color}}; font-size:20px;"><i class="fas fa-chevron-up"></i></span>
</button>
{% elif template == 5%}
<footer class="footer-area section-gap" style="border-top:1px solid #cdcdcd;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="single-footer-widget">
                    <h4 style="color:black;">About {{name}}</h4><br/>
                    <div class="footer-social d-flex align-items-center">
                        <ul class="footer-nav">
                            <li><a href="/about_us">About Us</a></li>
                            <li><a href="/contact_us">Contact Us</a></li>
                            <li><a href="/faq">FAQ</a></li>
                        </ul>
                    </div>
                    <div id="payment_partner_footer_div" class="mb-3">

                    </div>
                </div>
            </div>
            <!--            <div class="col-lg-4 col-md-6 col-sm-6">-->
            <!--                <div class="single-footer-widget">-->
            <!--                    <h6>Newsletter</h6>-->
            <!--                    <p>Stay update with our latest</p>-->
            <!--                    <div class="" id="mc_embed_signup">-->
            <!--                        <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"-->
            <!--                              method="get" class="form-inline">-->
            <!--                            <div class="d-flex flex-row">-->
            <!--                                <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"-->
            <!--                                       required="" type="email">-->

            <!--                                <button class="click-btn btn btn-default"><i class="lnr lnr-arrow-right" aria-hidden="true"></i></button>-->
            <!--                                <div style="position: absolute; left: -5000px;">-->
            <!--                                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                            <div class="info"></div>-->
            <!--                        </form>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            <div class="col-lg-3 col-md-6 col-sm-6">-->
            <!--                <div class="single-footer-widget mail-chimp">-->
            <!--                    <h6 class="mb-20">Instragram Feed</h6>-->
            <!--                    <ul class="instafeed d-flex flex-wrap">-->
            <!--                        <li><img src="img/i1.jpg" alt=""></li>-->
            <!--                        <li><img src="img/i2.jpg" alt=""></li>-->
            <!--                        <li><img src="img/i3.jpg" alt=""></li>-->
            <!--                        <li><img src="img/i4.jpg" alt=""></li>-->
            <!--                        <li><img src="img/i5.jpg" alt=""></li>-->
            <!--                        <li><img src="img/i6.jpg" alt=""></li>-->
            <!--                        <li><img src="img/i7.jpg" alt=""></li>-->
            <!--                        <li><img src="img/i8.jpg" alt=""></li>-->
            <!--                    </ul>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="single-footer-widget">
                    <h4 style="color:black;">Our products</h4><br/>
                    <div class="footer-social d-flex align-items-center">
                        <div class="row">
                            {% for provider_type in provider_types %}
                            {% if forloop.counter == 1 or forloop.counter == provider_divider_start %}
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                <ul class="footer-nav">
                            {% endif %}
                            {% if 'b2c_limitation' not in username.co_agent_frontend_security %}
                                {% if provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% else %}
                                {% if provider_type != 'visa' and provider_type != 'passport' and provider_type != 'payment' and  provider_type != 'bank' %}
                            <li><a href="/{{provider_type}}"><script>
                            temp = `{{provider_type}}`;
                            temp = temp.split('_');
                            data = '';
                            for(i in temp)
                                data += temp[i].charAt(0).toUpperCase() + temp[i].slice(1).toLowerCase() + ' ';
                            document.write(data);</script></a></li>
                                {% endif %}
                            {% endif %}
                            {% if forloop.counter == provider|length or forloop.counter == provider_divider_end %}
                                </ul>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="single-footer-widget">
                    <h4 style="color:black;">Information</h4><br/>
                    <p>
                        {% for description in contact_us%}
                        {{description}}
                        <br/>
                        {% endfor %}
                    </p>
                    <div id="contact_footer_div">

                    </div>

                    <div id="social_footer_div">

                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="m-0" style="color:#f15a22;"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by {{name}}
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
    </div>
</footer>
{% endif %}

<script>
    get_contact('footer');
    get_social('footer');
    get_payment_partner('footer');
</script>