{%if template == 1%}
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<header id="header">
    <!--<div class="main-menu-2">-->
    <!--<div class="container" style="padding-right:0px;">-->
    <!--<div class="align-items-center justify-content-between d-flex" style="justify-content: flex-end !important;">-->
    <!--<nav>-->
    <!--<ul class="nav-menu">-->
    <!--<li id="phone-detail" style="color:black;"><a href="tel:0315662000" style="font-size:11px;"><i class="fas fa-phone"></i> (031) 5662000</a></li>-->
    <!--<li id="phone-detail-show" style="color:black;"><a href="tel:0315662000" style="font-size:11px;"><i class="fas fa-phone"></i></a></li>-->
    <!--<li id="email-detail" style="color:black;"><a href="mailto:rodextravel@tours" style="font-size:11px; border-right:1px solid black; margin-right:3px;"> <i class="fas fa-envelope"></i> rodextravel@tours</a></li>-->
    <!--<li id="email-detail-show" style="color:black;"><a href="mailto:rodextravel@tours" style="font-size:11px; border-right:1px solid black; margin-right:3px;"> <i class="fas fa-envelope"></i></a></li>-->
    <!--&lt;!&ndash;                        <li class="menu-has-children"><a href="#">Template</a>&ndash;&gt;-->
    <!--&lt;!&ndash;                            <ul>&ndash;&gt;-->
    <!--&lt;!&ndash;                                <li><a href="jav * ascript:change_template(1);">Template 1</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                <li><a href="jav * ascript:change_template(2);">Template 2</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                <li><a href="jav * ascript:change_template(3);">Template 3</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                <li><a href="jav * ascript:change_template(4);">Template 4</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;                                <li><a href="jav * ascript:change_template(5);">Template 5</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;                            </ul>&ndash;&gt;-->
    <!--&lt;!&ndash;                        </li>&ndash;&gt;-->
    <!--<li class="menu-has-children"><a href="#" style="border-right:1px solid black;"> Language </a>-->
    <!--<ul>-->
    <!--<li><a href="#"> ID </a></li>-->
    <!--<li><a href="#"> ENG</a></li>-->
    <!--<li><a href="#"> JP </a></li>-->
    <!--</ul>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</nav>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="width:80px; height:40px;" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-has-children pt5"><a href="{% url 'tt_website_rodextrip:index'%}">Home</a></li>
                        {% if username != null %}
                        <li class="pt5"><a href="{% url 'tt_website_rodextrip:reservation'%}">Reservation</a></li>
                        {% if "top_up" in username.co_agent_frontend_security %}
                        <li class="pt5"><a href="#">Top Up</a>
                            <ul>
                                <li><a href="{% url 'tt_website_rodextrip:top_up'%}">Request</a></li>
                                <li><a href="{% url 'tt_website_rodextrip:top_up_history'%}">History</a></li>
                            </ul>
                        </li>
                        {% endif%}
                        <li class="pt5"><a href="{% url 'tt_website_rodextrip:issued_offline'%}">Issued Offline</a></li>
                        {% endif %}
                        <li class="menu-has-children pt5"><a href="#">Partnership</a>
                            <ul>
                                <li><a href="/registration">Register Agent</a></li>
                                <li><a href="#">Registration List</a></li>
                                <li><a href="#">Search Registration</a></li>
                            </ul>
                        </li>
                        {% if username != null %}
                        <li class="pt5"><a id="balance"></a></li>
                        <li class="pt5"><a id="credit_limit"></a></li>
                        <li class="menu-has-children notification-pc" style="padding-right:15px;cursor:pointer;"><img src="{{static_path}}images/noprofile.png" class="image-rounded-profile"/>
                            <ul>
                                <!--                                <li><a id="username" title="{{username.co_user_login}}"> {{username.co_user_login}}</a></li>-->
                                <li><a href="#">Guidelines</a></li>
                                <li><a href="#">FAQ</a></li>
                                {% if "admin" in username.co_agent_frontend_security %}
                                <li><a href="{% url 'tt_website_rodextrip:admin'%}">Admin</a></li>
                                {% endif %}
                                <li><a href="https://backend.rodextrip.com">Backend</a></li>
                                <li>
                                    <a>
                                        <form action="{% url 'tt_website_rodextrip:index'%}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="primary-btn-logout" style="color:white;">Logout</button>
                                            <input type="hidden" id="logout" name="logout" value=true>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-has-children notification-mobile" style="padding-right:15px;cursor:pointer; display:none;"><a href="#"><img src="{{static_path}}images/noprofile.png" class="image-rounded-profile" style="margin-right:10px;"/> {{username.co_user_login}}</a>
                            <ul>
                                <li><a>My Virtual Account: 9317918739186</a></li>
                                <li><a href="#">Edit Agent Profile</a></li>
                                <li>
                                    <a>
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="primary-btn-logout" style="color:white;">Logout</button>
                                            <input type="hidden" id="logout" name="logout" value=true>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li title="Click to show your notification" class="notification-pc pt5" style="color:#f15a22; padding-right:15px; cursor:pointer;" data-toggle="modal" data-target="#myModalNotification"><i class="fas fa-bell notif-hover" style="font-size:20px;"></i>

                        </li>
                        {% else %}
                        <li style="font-size:12px;color:black;">
                            <button onclick="location.href='{% url 'tt_website_rodextrip:login'%}';" class="primary-btn-custom">Sign in <i class="fas fa-sign-in-alt"></i></button>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                <nav class="notification-mobile" style="display:none;">
                    <ul class="nav-menu">
                        <li title="Click to show your notification" style="font-size:16px;color:#f15a22; cursor:pointer;" data-toggle="modal" data-target="#myModalNotification"><i class="fas fa-bell notif-hover" style="font-size:20px;"></i>

                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<div id="status" class="status on" style="display:none;"></div>
{% elif template == 2 %}
<!--template2-->
<header class="header-area">
    <!-- Search Form -->
    <!--    <div class="search-form d-flex align-items-center">-->
    <!--        <div class="container">-->
    <!--            <form action="index.html" method="get">-->
    <!--                <input type="search" name="search-form-input" id="searchFormInput" placeholder="Type your keyword ...">-->
    <!--                <button type="submit"><i class="icon_search"></i></button>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </div>-->

    <!-- Top Header Area Start -->
    <!--    <div class="top-header-area">-->
    <!--        <div class="container">-->
    <!--            <div class="row">-->
    <!--                <div class="col-xs-4">-->
    <!--                    <div class="top-header-content">-->
    <!--                        <a href="tel:0315662000"><i class="fas fa-phone"></i> <span style="font-size:12px;">(031) 5662000</span></a>-->
    <!--                        <a href="mailto:rodextravel@tours"><i class="fas fa-envelope"></i> <span style="font-size:12px;">rodextravel@tours</span></a>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="col-xs-8">-->
    <!--                    <div class="top-header-content">-->
    <!--                        &lt;!&ndash; Top Social Area &ndash;&gt;-->
    <!--                        <div class="top-social-area ml-auto">-->
    <!--                            <div class="dropdown-custom">-->
    <!--                                <button class="dropbtn-custom">Language <i class="fas fa-chevron-down"></i></button>-->
    <!--                                <div class="dropdown-content-custom">-->
    <!--                                    <a href="javascript:change_template(1);" style="line-height:10px !important;">ID</a><br/>-->
    <!--                                    <a href="javascript:change_template(2);" style="line-height:10px !important;">JP</a><br/>-->
    <!--                                    <a href="javascript:change_template(3);" style="line-height:10px !important;">ENG</a><br/>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    &lt;!&ndash; Nav Start &ndash;&gt;-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!-- Top Header Area End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <nav class="classy-navbar justify-content-between" id="robertoNav">
                    <a class="nav-brand" href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="width:80px; height:35px;" alt="" title="" /></a>
                    <div style="display:flex;">
                        <i class="fas fa-bell notification-mobile" data-toggle="modal" data-target="#myModalNotification" style="font-size:20px; cursor:pointer; padding-right:15px; padding-top:5px; display:none; color:#f15a22;"></i>
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>
                    </div>

                    <div class="classy-menu">
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <div class="classynav">
                            <ul id="nav">
                                <li class="active"><a href="{% url 'tt_website_rodextrip:index'%}">Home</a></li>
                                {% if username != null %}
                                <li><a href="{% url 'tt_website_rodextrip:reservation'%}">Reservation</a></li>
                                {% if "top_up" in username.co_agent_frontend_security %}
                                <li><a href="#">Top Up</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'tt_website_rodextrip:top_up'%}">Request</a></li>
                                        <li><a href="{% url 'tt_website_rodextrip:top_up_history'%}">History</a></li>
                                    </ul>
                                </li>
                                {% endif%}
                                <li><a href="#" style="margin-right:5px;">Issued Offline</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'tt_website_rodextrip:issued_offline'%}">Create</a></li>
                                        <li><a href="{% url 'tt_website_rodextrip:issued_offline_history'%}">History</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                                <li><a href="#">Partnership</a>
                                    <ul class="dropdown">
                                        <li><a href="/registration">Register Agent</a></li>
                                        <li><a href="#">Registration List</a></li>
                                        <li><a href="#">Search Registration</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">User Guide</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Guidelines</a></li>
                                        <li><a href="#">FAQ</a></li>
                                    </ul>
                                </li>
                                {% if username != null %}
                                <li><a href="#">Setting</a>
                                    <ul class="dropdown">
                                        {% if "admin" in username.co_agent_frontend_security %}
                                        <li><a href="{% url 'tt_website_rodextrip:admin'%}">Admin</a></li>
                                        {% endif %}
                                        <li class="pt5"><a href="https://backend.rodextrip.com">Backend</a></li>
                                    </ul>
                                </li>
                                <li class="notification-pc"><a href="#" id="username" title="{{username.co_user_login}}"><img src="{{static_path}}images/noprofile.png" class="image-rounded-profile"/></a>
                                    <ul class="dropdown">
                                        <li><a id="username" title="{{username.co_user_login}}">{{username.co_user_login}}</a></li>
                                        <li><a id="balance"></a></li>
                                        <li><a id="credit_limit"></a></li>
                                        <li><a href="#">Edit Agent Profile</a></li>
                                        <li>
                                            <a>
                                                <form action="" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="primary-btn-logout" style="color:white;">Sign Out</button>
                                                    <input type="hidden" id="logout" name="logout" value=true>
                                                </form>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="notification-mobile" style="display:none;"><a href="#"><img src="{{static_path}}images/noprofile.png" class="image-rounded-profile"/> {{username.agent_name}}</a>
                                    <ul class="dropdown">
                                        <li><a>My Virtual Account: 9317918739186</a></li>
                                        <li><a href="#">Edit Agent Profile</a></li>
                                        <li>
                                            <a>
                                                <form action="" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn roberto-btn" style="color:white;">Sign Out</button>
                                                    <input type="hidden" id="logout" name="logout" value=true>
                                                </form>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li title="Click to show your notification" class="notification-pc" style="color:#f15a22; padding-right:15px; cursor:pointer;" data-toggle="modal" data-target="#myModalNotification"><i class="fas fa-bell notif-hover" style="font-size:20px;"></i>
                                    {% endif %}
                            </ul>
                            <!-- Search -->
                            <!--                            <div class="search-btn ml-4">-->
                            <!--                                <i class="fa fa-search" aria-hidden="true"></i>-->
                            <!--                            </div>-->

                            {% if username == null %}
                            <div class="book-now-btn ml-3 ml-lg-5">
                                <a href="{% url 'tt_website_rodextrip:login'%}">Sign In <i class="fas fa-sign-in-alt" aria-hidden="true"></i></a>
                            </div>
                            {% endif %}
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
{% elif template == 3%}
<header id="header" id="home">
    <div class="main-menu" style="background:rgba(0, 0, 0, 0.9);">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex mobile-menu">
                <!--                <div class="col-lg-12" style="padding:0px 0px 0px 15px;">-->
                <!--                    <ul class="nav-menu" style="float:left;">-->
                <!--                        <li id="phone-detail" style="color:black;"><a href="tel:0315662000" style="font-size:11px;"><i class="fas fa-phone"></i> (031) 5662000</a></li>-->
                <!--                        <li id="phone-detail-show" style="color:black;"><a href="tel:0315662000" style="font-size:11px;"><i class="fas fa-phone"></i></a></li>-->
                <!--                        <li id="email-detail" style="color:black;"><a href="mailto:rodextravel@tours" style="font-size:11px; margin-right:3px;"> <i class="fas fa-envelope"></i> rodextravel@tours</a></li>-->
                <!--                        <li id="email-detail-show" style="color:black;"><a href="mailto:rodextravel@tours" style="font-size:11px; margin-right:3px;"> <i class="fas fa-envelope"></i></a></li>-->
                <!--                    </ul>-->
                <!--                </div>-->
                <div id="logo" style="padding:15px 0px 15px 15px;">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="width:80px; height:35px;" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="index.html">Home</a></li>
                        {% if username != null %}
                        <li><a href="{% url 'tt_website_rodextrip:reservation'%}">Reservation</a></li>
                        {% if "top_up" in username.co_agent_frontend_security %}
                        <li class="menu-has-children"><a href="#">Top Up</a>
                            <ul>
                                <li><a href="{% url 'tt_website_rodextrip:top_up'%}">Request</a></li>
                                <li><a href="{% url 'tt_website_rodextrip:top_up_history'%}">History</a></li>
                            </ul>
                        </li>
                        {% endif%}
                        <li class="menu-has-children"><a href="#">Issued Offline</a>
                            <ul>
                                <li><a href="{% url 'tt_website_rodextrip:issued_offline'%}">Create</a></li>
                                <li><a href="{% url 'tt_website_rodextrip:issued_offline_history'%}">History</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li class="menu-has-children"><a href="#">Partnership</a>
                            <ul>
                                <li><a href="/registration">Register Agent</a></li>
                                <li><a href="#">Registration List</a></li>
                                <li><a href="#">Search Registration</a></li>
                            </ul>
                        </li>
                        <li class="menu-has-children"><a href="#">User Guide</a>
                            <ul>
                                <li><a href="#">Guidelines</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </li>
                        {% if username != null %}
                        <li class="menu-has-children"><a href="#">Setting</a>
                            <ul>
                                {% if "admin" in username.co_agent_frontend_security %}
                                <li><a href="{% url 'tt_website_rodextrip:admin'%}">Admin</a></li>
                                {% endif %}
                                <li class="pt5"><a href="https://backend.rodextrip.com">Backend</a></li>
                            </ul>
                        </li>
                        <li class="menu-has-children notification-pc" style="padding-right:15px;cursor:pointer;"><img src="{{static_path}}images/noprofile.png" class="image-rounded-profile"/></a>
                            <ul>
                                <li><a id="username" title="{{username.co_user_login}}">{{username.co_user_login}}</a></li>
                                <li><a id="balance"></a></li>
                                <li><a id="credit_limit"></a></li>
                                <li><a href="#">Edit Agent Profile</a></li>
                                <li>
                                    <a>
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="primary-btn-ticket" style="color:white;">Sign Out</button>
                                            <input type="hidden" id="logout" name="logout" value=true>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-has-children notification-mobile" style="padding-right:15px;cursor:pointer; display:none"><a href="#"><img src="{{static_path}}images/noprofile.png" class="image-rounded-profile"/> {{username.agent_name}}</a>
                            <ul>
                                <li><a id="username" title="{{username.co_user_login}}">{{username.co_user_login}}</a></li>
                                <li><a id="balance"></a></li>
                                <li><a id="credit_limit"></a></li>
                                <li><a href="#">Edit Agent Profile</a></li>
                                <li>
                                    <a>
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="primary-btn-ticket" style="color:white;">Sign Out</button>
                                            <input type="hidden" id="logout" name="logout" value=true>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li title="Click to show your notification" class="notification-pc" style="color:#f15a22; padding-right:15px; padding-top:7px; cursor:pointer;" data-toggle="modal" data-target="#myModalNotification"><i class="fas fa-bell notif-hover" style="font-size:20px;"></i>
                            {% endif %}

                    </ul>
                </nav>
                <nav class="notification-mobile mobile-nav" style="display:none; padding:15px 15px 15px 0px;">
                    <ul class="nav-menu" style="display:inline;">
                        <li title="Click to show your notification" class="menu-has-children" style="font-size:13px; padding-top:5px; padding-right:5px; cursor:pointer; color:#f15a22;" data-toggle="modal" data-target="#myModalNotification"><i class="fas fa-bell notif-hover" id="red_notification" style="font-size:16px; color:white; padding-top:5px;"></i></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header><!-- #header -->
{% elif template == 4%}
<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar container py-0" role="banner">
    <div class="container">
        <!--        <div class="row" style="border-radius: 4px;">-->
        <!--            <div class="col-5" id="with-detail" style="text-align:left; padding:0px 0px 5px 0px;">-->
        <!--                <a href="tel:0315662000" style="padding-right:15px; font-size:13px;"><i class="fas fa-phone"></i> <span>(031) 5662000</span></a>-->
        <!--                <a href="mailto:rodextravel@tours" style="font-size:13px;"><i class="fas fa-envelope"></i> <span>rodextravel@tours</span></a>-->
        <!--            </div>-->
        <!--            <div class="col-5" id="no-detail" style="text-align:left; padding:0px 0px 5px 0px;">-->
        <!--                <a href="tel:0315662000" style="padding-right:15px; font-size:13px;"><i class="fas fa-phone"></i></a>-->
        <!--                <a href="mailto:rodextravel@tours" style="font-size:13px;"><i class="fas fa-envelope"></i></a>-->
        <!--            </div>-->
        <!--            <div class="col-7" style="text-align:right; padding:0px;">-->
        <!--                <div class="dropdown-custom">-->
        <!--                    <button class="dropbtn-custom">Language <i class="fas fa-chevron-down"></i></button>-->
        <!--                    <div class="dropdown-content-custom">-->
        <!--                        <a href="javascript:change_template(1);" style="line-height:10px !important; margin-top:20px;">ID</a><br/>-->
        <!--                        <a href="javascript:change_template(2);" style="line-height:10px !important;">JP</a><br/>-->
        <!--                        <a href="javascript:change_template(3);" style="line-height:10px !important;">ENG</a><br/>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="row align-items-center" style="border-radius: 4px; padding:5px; background:rgba(255,255,255,0.9);">
            <div class="col-6 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="width:80px; height:35px;" alt="" title="" /></a></h1>
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li><a href="{% url 'tt_website_rodextrip:index'%}">Home</a></li>
                        {% if username != null %}
                        <li><a href="{% url 'tt_website_rodextrip:reservation'%}">Reservation</a></li>
                        {% if "top_up" in username.co_agent_frontend_security %}
                        <li class="has-children"><a href="#">Top Up</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'tt_website_rodextrip:top_up'%}">Request</a></li>
                                <li><a href="{% url 'tt_website_rodextrip:top_up_history'%}">History</a></li>
                            </ul>
                        </li>
                        {% endif%}
                        <li class="has-children"><a href="#">Issued Offline</a>
                            <ul class="dropdown">
                                <li><a href="{% url 'tt_website_rodextrip:issued_offline'%}">Create</a></li>
                                <li><a href="{% url 'tt_website_rodextrip:issued_offline_history'%}">History</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li class="has-children"><a href="#">User Guide</a>
                            <ul class="dropdown">
                                <li><a href="#">Guidelines</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </li>
                        <li class="has-children"><a href="#">Partnership</a>
                            <ul class="dropdown">
                                <li><a href="/registration">Register Agent</a></li>
                                <li><a href="#">Registration List</a></li>
                                <li><a href="#">Search Registration</a></li>
                            </ul>
                        </li>
                        {% if username != null %}
                        <li class="has-children"><a href="#">Setting</a>
                            <ul class="dropdown">
                                {% if "admin" in username.co_agent_frontend_security %}
                                <li><a href="{% url 'tt_website_rodextrip:admin'%}">Admin</a></li>
                                {% endif %}
                                <li class="pt5"><a href="https://backend.rodextrip.com">Backend</a></li>
                            </ul>
                        </li>
                        <li class="has-children notification-pc"><a href="#" id="username" title="{{username.co_user_login}}"><img src="{{static_path}}images/noprofile.png" class="image-rounded-profile"/></a>
                            <ul class="dropdown">
                                <li><a id="username" title="{{username.co_user_login}}">{{username.co_user_login}}</a></li>
                                <li><a id="balance"></a></li>
                                <li><a id="credit_limit"></a></li>
                                <li><a href="#">Edit Agent Profile</a></li>
                                <li>
                                    <a>
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="primary-btn-ticket" style="color:white;">Sign Out</button>
                                            <input type="hidden" id="logout" name="logout" value=true>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-children notification-mobile" style="display:none;"><a href="#" id="username" title="{{username.co_user_login}}"><img src="{{static_path}}images/noprofile.png" class="image-rounded-profile"/> {{username.agent_name}}</a>
                            <ul class="dropdown">
                                <li><a id="username" title="{{username.co_user_login}}">{{username.co_user_login}}</a></li>
                                <li><a id="balance"></a></li>
                                <li><a id="credit_limit"></a></li>
                                <li><a href="#">Edit Agent Profile</a></li>
                                <li>
                                    <a>
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="primary-btn-ticket" style="color:white;">Sign Out</button>
                                            <input type="hidden" id="logout" name="logout" value=true>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li title="Click to show your notification" class="notification-pc" style="color:#f15a22; padding-right:15px; padding-top:7px; cursor:pointer;" data-toggle="modal" data-target="#myModalNotification"><i class="fas fa-bell notif-hover" style="font-size:20px;"></i>

                            {% else %}
                        <li style="font-size:12px;color:black;"><a href="{% url 'tt_website_rodextrip:login'%}" class="cta"><span class="bg-primary text-white rounded">Sign in</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>


            <div class="d-inline-block d-xl-none ml-auto py-3 col-6 text-right" style="position: relative; top: 3px;">
                <div class="dropdown-custom" style="bottom:3px;">
                    <button class="dropbtn-custom" style="color:#f15a22;padding-top:7px; cursor:pointer;" data-toggle="modal" data-target="#myModalNotification"><i class="fas fa-bell" id="red_notification" style="font-size:20px;"></i></button>
                </div>
                <a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
            </div>

        </div>
    </div>
</header>
{% elif template == 5%}
<header class="default-header">
    <!--    <div class="menutop-wrap">-->
    <!--        <div class="menu-top container">-->
    <!--            <div class="d-flex justify-content-end align-items-center">-->
    <!--                <div class="dropdown-custom">-->
    <!--                    <button class="dropbtn-custom">Language <i class="fas fa-chevron-down"></i></button>-->
    <!--                    <div class="dropdown-content-custom">-->
    <!--                        <a href="javascript:change_template(1);" style="line-height:10px !important; margin-top:20px;">ID</a><br/>-->
    <!--                        <a href="javascript:change_template(2);" style="line-height:10px !important;">JP</a><br/>-->
    <!--                        <a href="javascript:change_template(3);" style="line-height:10px !important;">ENG</a><br/>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <ul class="list">-->
    <!--                    <li id="phone-detail" style="color:black; border-left:1px solid black;"><a href="tel:0315662000" style="font-size:12px;"><i class="fas fa-phone"></i> (031) 5662000</a></li>-->
    <!--                    <li id="phone-detail-show" style="color:black; border-left:1px solid black;"><a href="tel:0315662000" style="font-size:12px;"><i class="fas fa-phone"></i></a></li>-->
    <!--                    <li id="email-detail" style="color:black;"><a href="mailto:rodextravel@tours" style="font-size:12px;"> <i class="fas fa-envelope"></i> rodextravel@tours</a></li>-->
    <!--                    <li id="email-detail-show" style="color:black;"><a href="mailto:rodextravel@tours" style="font-size:12px;"> <i class="fas fa-envelope"></i></a></li>-->
    <!--                </ul>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex menu-header-icon">
                <div id="logo">
                    <a href="index.html"><img src="{{logo}}" style="width:80px; height:35px;" alt="" title="" /></a>
                </div>
                <div class="menu-header-icon2">

                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li style="margin-top:8px;"><a href="{% url 'tt_website_rodextrip:index'%}">Home</a></li>

                        {% if username != null %}
                        <li style="margin-top:8px;"><a href="{% url 'tt_website_rodextrip:reservation'%}">Reservation</a></li>
                        {% if "top_up" in username.co_agent_frontend_security %}
                        <li class="menu-has-children" style="margin-top:8px;"><a href="">Top Up <i class="fas fa-chevron-down fat-dh" style="display:inline-block;"></i></a>
                            <ul>
                                <li><a href="{% url 'tt_website_rodextrip:top_up'%}">Request</a></li>
                                <li><a href="{% url 'tt_website_rodextrip:top_up_history'%}">History</a></li>
                            </ul>
                        </li>
                        {% endif%}
                        <li class="menu-has-children" style="margin-top:8px;"><a href="">Issued Offline <i class="fas fa-chevron-down fat-dh" style="display:inline-block;"></i></a>
                            <ul>
                                <li><a href="{% url 'tt_website_rodextrip:issued_offline'%}">Create</a></li>
                                <li><a href="{% url 'tt_website_rodextrip:issued_offline_history'%}">History</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li class="menu-has-children" style="margin-top:8px;"><a href="">Partnership <i class="fas fa-chevron-down fat-dh" style="display:inline-block;"></i></a>
                            <ul>
                                <li><a href="/registration">Register Agent</a></li>
                                <li><a href="#">Registration List</a></li>
                                <li><a href="#">Search Registration</a></li>
                            </ul>
                        </li>
                        <li class="menu-has-children" style="margin-top:8px;"><a href="">User Guide <i class="fas fa-chevron-down fat-dh" style="display:inline-block;"></i></a>
                            <ul>
                                <li><a href="#">Guidelines</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </li>
                        {% if username != null %}
                        <li class="menu-has-children" style="margin-top:8px;"><a href="">Setting <i class="fas fa-chevron-down fat-dh" style="display:inline-block;"></i></a>
                            <ul>
                                {% if "admin" in username.co_agent_frontend_security %}
                                <li><a href="{% url 'tt_website_rodextrip:admin'%}">Admin</a></li>
                                {% endif %}
                                <li><a href="https://backend.rodextrip.com">Backend</a></li>
                            </ul>
                        </li>
                        <li class="menu-has-children notification-pc"><a href="" id="username" title="{{username.co_user_login}}"><img src="{{static_path}}images/noprofile.png" class="image-rounded-profile"/></a>
                            <ul>
                                <li><a id="username" title="{{username.co_user_login}}">{{username.co_user_login}}</a></li>
                                <li><a id="balance"></a></li>
                                <li><a id="credit_limit"></a></li>
                                <li><a href="#">Edit Agent Profile</a></li>
                                <li>
                                    <a>
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="primary-btn-ticket" style="color:white;">Sign Out</button>
                                            <input type="hidden" id="logout" name="logout" value=true>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-has-children notification-mobile" style="display:none;"><a href="" id="username" title="{{username.co_user_login}}"><img src="{{static_path}}images/noprofile.png" class="image-rounded-profile"/> {{username.agent_name}}</a>
                            <ul>
                                <li><a id="username" title="{{username.co_user_login}}">{{username.co_user_login}}</a></li>
                                <li><a id="balance"></a></li>
                                <li><a id="credit_limit"></a></li>
                                <li><a href="">Edit Agent Profile</a></li>
                                <li>
                                    <a>
                                        <form action="" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="primary-btn-ticket" style="color:white;">Sign Out</button>
                                            <input type="hidden" id="logout" name="logout" value=true>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li title="Click to show your notification" class="menu-has-children notification-pc" style="color:#f15a22; padding-right:15px; padding-top:25px; cursor:pointer;" data-toggle="modal" data-target="#myModalNotification"><i class="fas fa-bell notif-hover" style="font-size:20px;"></i>
                            {% else %}
                        <li style="font-size:12px;color:black;"><a href="{% url 'tt_website_rodextrip:login'%}" class="cta"><span class="primary-btn" style="padding-right:30px !important;">Sign in <i class="fas fa-sign-in-alt"></i></span></a></li>
                        {% endif %}
                    </ul>
                </nav>
                <!--######## #nav-menu-container -->
            </div>
        </div>
    </div>
</header>
{%endif%}
<div class="modal fade" id="myModalNotification" role="dialog" style="z-index:10001;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="color:white;"> Notification <i class="fas fa-bell"></i></i></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="notification_detail">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    {% if username != null %}
        time = 300;
        triggered_balance({{update_data}});
        get_balance({{update_data}});

        function set_csrf_notification(number){
            document.getElementById('notification_'+number).innerHTML += `{% csrf_token %}`;
            document.getElementById('notification_'+number).submit();
        }
    {% endif %}
</script>