{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_payment_acq.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_airline.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_event.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_activity.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_hotel.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_tour.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_medical.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_medical_global.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_insurance.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_lab_pintar.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_swab_express.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_mitra_keluarga.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_sentra_medika.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/tour_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_train.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_passport.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_visa.js?version={{javascript_version}}"></script>
<script>
    signature = `{{signature}}`;
    static_path_url_server = '{{static_path_url_server}}';
    passengers = `{{passengers}}`;
    passengers = passengers.replace(/&#39;/g, '"');
    passengers = passengers.replace(/True/g, true);
    passengers = passengers.replace(/False/g, false);
    passengers = JSON.parse(passengers);
    voucher_code = '{{voucher_code}}';
    discount_voucher = `{{discount_voucher}}`;
    discount_voucher = discount_voucher.replace(/&#39;/g, '"');
    discount_voucher = JSON.parse(discount_voucher);
    time_limit = {{time_limit}};
    session_time_limit();
    type_payment = `{{payment}}`;
    type_payment  = type_payment.replace(/&#39;/g, '"');
    type_payment  = type_payment.replace(/&quot;/g, '"');
    type_payment  = type_payment.replace(/True/g, true);
    type_payment  = type_payment.replace(/False/g, false);
    type_payment  = JSON.parse(type_payment);
    console.log(type_payment);
</script>

<title>{{name}} - {% trans 'Payment' %} {{provider_payment}}</title>

{% if username.co_user_login != '' %}
{% include 'tt_website_rodextrip/logout.html' %}
{% endif %}
{% include 'tt_website_rodextrip/loading_screen.html' %}
<header id="header" class="header_breadcrumb" style="position:sticky; top:0px;">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="Logo {{name}}" title="{{name}}" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                            <span style="font-size:14px; font-weight:600;">Session Time <span class="count_time" id="session_time"> </span></span>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                            <span style="font-size:14px; font-weight:600;">Elapsed Time <span class="count_time" id="elapse_time"> </span></span>
                        </div>
                        {% include 'tt_website_rodextrip/balance_credit.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% include 'tt_website_rodextrip/waiting_transaction_modal.html' %}
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px; background:#f7f7f7;">
    <div class="container">
        <form method="post" id="back_btn_reservation" action=''>
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4">
                    <button type="submit" class="primary-btn-white" style="width:100%;"> <i class="fas fa-arrow-left"></i> Back To Reservation</button>
                </div>
                <div class="col-lg-8">

                </div>
            </div>
        </form>
        <div class="col-lg-12" id="show_loading_booking_airline">
            <div class="center-div">
                <div>
                    <img src="{{static_path}}img/loading-screen-white.gif" alt="Loading Screen" style="height:25px; width:25px;"/>
                </div>
            </div>
            <div style="text-align:center">
                <span style="font-size:18px; font-weight:bold;">{% trans 'PLEASE WAIT' %} ... </span>
            </div>
        </div>
        <form method="POST" id="global_payment_form" action="">
            <div style="background-color:white; border:1px solid #cdcdcd; padding:10px; margin-top:15px; position:relative;" id="payment_acq">

            </div>
        </form>
        <div id="issuedModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>{% trans 'Payment Option' %}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <label class="radio-button-custom">
                            <input type="radio" name="payment_opt" value="full" checked=""/> {% trans 'Full Payment' %} (<span id="full_payment_amt"></span>)
                            <span class="checkmark-radio"></span>
                        </label>
                        <br/>
                        <label class="radio-button-custom">
                            <input type="radio" name="payment_opt" value="installment"/> {% trans 'Installment' %}
                            <span class="checkmark-radio"></span>
                        </label>
                        <!--<input type="hidden" name="installment_count" t-att-value="len(payment_rules)"/>-->
                        <table class="table table-bordered" style="font-size:12px;">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{% trans 'Amount' %}</th>
                                <th>{% trans 'Due Date' %}</th>
                            </tr>
                            </thead>
                            <tbody id="tour_payment_rules">

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="next-loading-issued primary-btn hold-seat-booking-train ld-ext-right" type="button" onclick="force_issued_tour(1);" style="width:100%;">
                            {% trans 'Confirm' %} <div class="ld ld-ring ld-cycle"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <form method="POST" id="issued" action="">
            {% csrf_token %}
            <input type="hidden" id="order_number" name="order_number"/>
        </form>
    </div>
</section>
{% include 'tt_website_rodextrip/footer.html' %}
<script>
    try{
        document.getElementById('back_btn_reservation').action = '/' + '{% if provider_payment == 'phc' or provider_payment == 'periksain' %}medical/{% endif %}{% if provider_payment == 'medical' %}medical_global{% elif provider_payment == 'labpintar' %}lab_pintar{% elif provider_payment == 'swabexpress' %}swab_express{% elif provider_payment == 'mitrakeluarga' %}mitra_keluarga{% elif provider_payment == 'sentramedika' %}sentra_medika{% else %}{{provider_payment}}{% endif %}' + '/booking/' + btoa('{{order_number}}');
        get_payment_acq('Issued',passengers.booker.booker_seq_id, '{{order_number}}', 'billing',signature,'{{type}}');
    }catch(err){console.log(err);}
    $( document ).ready(function() {
        breadcrumb_create("{{provider_payment}}", 4, 0);
    });
</script>
{% endblock %}