{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_airline.js?version={{javascript_version}}"></script>
<script>
    signin_rodextrip();
    signature = `{{signature}}`;
</script>

<title>{{name}} - Payment {{provider}}</title>

{% if username.co_user_login != '' %}
{% include 'tt_website_rodextrip/logout.html' %}
{% endif %}
{% include 'tt_website_rodextrip/header.html' %}
{% include 'tt_website_rodextrip/loading_screen.html' %}
<div class="modal fade" id="waitingTransaction" role="dialog" style="background:rgba(20,20,20,0.8);">
    <div class="modal-dialog" style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <!-- Modal content-->
        <div class="modal-content" style="background-color:transparent; border:unset;">
            <div class="modal-body">
                <div class="col-lg-12" id="viewWaitingTransaction">

                </div>
            </div>
        </div>
    </div>
</div>
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px; background:#f7f7f7;">
    <div class="container">
        <div class="col-lg-12" id="chat" style="height:50vh;border: groove;border-color: black;overflow: auto;">

        </div>
        <div id="div_chat_user" style="height:25vh;margin-top:10px;">
            <div id="radio_airline_change_search" style="padding:0px; text-align:left;">
                <label class="radio-button-custom">
                    <span style="font-size:14px; color:{{color}};">Amadeus</span>
                    <input type="radio" checked="checked" name="provider" id="provider" value="amadeus">
                    <span class="checkmark-radio"></span>
                </label>
                <label class="radio-button-custom">
                    <span style="font-size:14px; color:{{color}};">Altea</span>
                    <input type="radio" name="provider" id="provider" value="altea">
                    <span class="checkmark-radio"></span>
                </label>
            </div>
            <textarea style="width:100%;" rows="4" id="message"></textarea>
            <div>
               <input type="button" id="send_command" class="primary-btn-ticket" onclick="command_cryptic();" value="Send" style="width:100%;"/>
           </div>
        </div>
    </div>
</section>
{% include 'tt_website_rodextrip/footer.html' %}
<script>
    document.getElementById("message").addEventListener("keyup", function(event) {
      // Number 13 is the "Enter" key on the keyboard
      if (event.keyCode === 13) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        document.getElementById("send_command").click();
      }
    });
    counter = 0;
</script>
{% endblock %}