<script src="{{ static_path }}js/webservice_voucher.js?version={{javascript_version}}"></script>

<div id="voucher_discount" style="width:100%">
    <button class="primary-btn issued_booking_btn" type="button" style="width:100%; margin-top:15px;" onclick="use_voucher();">
        Use Voucher Code
    </button>
</div>
<script>
    voucher_code = '';
    function use_voucher(){
        document.getElementById('voucher_discount').innerHTML = `
            <div style="background-color: white;text-align:left; padding: 10px; border: 1px solid `+color+`; margin-top: 15px; position: relative; z-index: 5;"><h4 style="color:`+color+`;">Voucher</h4><hr>
                <h6 style="padding-bottom:10px;">1. Code:</h6>
                <div class="input-container-search-ticket btn-group">
                    <input class="form-select" type="text" id="voucher_code"/>
                </div>
                <span style="color:red">*  </span>this code will be use if issued
                <button class="primary-btn issued_booking_btn" type="button" style="width:100%; margin-top:15px;" onclick="check_voucher();">
                    Check Voucher
                </button>
            </div>
        `;
    }
</script>