<div class="modal fade" id="waitingTransaction" role="dialog" style="background:rgba(20,20,20,0.8);">
    <div class="modal-dialog" style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <!-- Modal content-->
        <div class="modal-content" style="background-color:transparent; border:unset;">
            <div class="modal-body">
                <div class="col-lg-12" id="viewWaitingTransaction">

                </div>
            </div>
        </div>
    </div>
</div>