{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/activity_javascript.js"></script>
<script src="{{ static_path }}js/webservice_activity.js"></script>
<script src="{{ static_path }}js/webservice_agent.js"></script>
<script>
    offset = 600;
    get_new = true;
    activity_country = [];
    city = [];
    sub_category = {};
    sub_category_list = [];
    name = '';
    {% for country in activity_countries %}
        {% for city in country.city %}
            city.push({
                'name': '{{city.name}}', 'id':'{{city.id}}'
            });
        {% endfor %}
        activity_country.push({
            'city': city,
            'name': '{{country.name}}',
            'id': '{{country.id}}'
        });
        city = [];
    {% endfor %}

    {% for key, value in activity_sub_categories.items %}
        {% for item in value %}
            name = '{{item.name}}';
            if(name.search('amp;') !== -1){
                name = name.replace(/&amp;/g, '&');
            }

            sub_category_list.push({
                'name': name,
                'id': '{{item.id}}'
            });
            name = '';
        {% endfor %}
        key = '{{key}}';
        sub_category[key.replace(/&amp;/g, '&')] = sub_category_list;
        sub_category_list = [];
    {% endfor %}

</script>


<header id="header" style="position:sticky;">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="index.html"><img src="{{static_path}}images/icon/skytors_logo.png" style="width:80px; height:35px;" alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="#">Home</a></li>
                        <li class="menu-has-children"><a href="#">User Guide</a>
                            <ul>
                                <li><a href="#">Guidelines</a></li>
                                <li><a href="#">Frequently Asked Question</a></li>
                            </ul>
                        </li>
                        <li class="menu-has-children"><a href="#">Partnership</a>
                            <ul>
                                <li><a href="#">Registration List</a></li>
                                <li><a href="#">Search Registration</a></li>
                            </ul>
                        </li>
                        <!--                        <li class="menu-has-children">-->
                        <!--                            <a href="#">-->
                        <!--                                <img alt="notification" style="height:20px; width:20px;" src="{{static_path}}img/notification.png">-->
                        <!--                                <span class="badge">500</span>-->
                        <!--                            </a>-->
                        <!--                            <ul>-->
                        <!--                                <li class="title">Notifications</li>-->
                        <!--                                <li>-->
                        <!--                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    <a href="#">Lorem ipsum dolor sit amet adipiscing elit</a>-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    <a href="#">Lorem sit amet consectetur adipiscing elit</a>-->
                        <!--                                </li>-->
                        <!--                                <li>-->
                        <!--                                    <a href="#">Lorem ipsum dolor sit amet adipiscing elit</a>-->
                        <!--                                </li>-->
                        <!--                                <li class="footer">-->
                        <!--                                    <a href="#">See all</a>-->
                        <!--                                </li>-->

                        <!--                            </ul>-->
                        <!--                        </li>-->
                        <li class="menu-has-children"><a href="#">{{username}}</a>
                            <ul>
                                <li>
                                    <a>
                                        <!--<img alt="wallet" style="height:25px; width:25px;" src="{{static_path}}img/wallet.png">-->
                                        My Balance: Rp {{balance}}
                                    </a>
                                </li>
                                <li><a>My Virtual Account: 9317918739186</a></li>
                                <li><a href="#">Edit Agent Profile</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    <div class="main-menu-2">
        <div class="container">
            <div class="align-items-center justify-content-between d-flex">
                <nav>
                    <ul class="nav-menu">
                        <li><a href="#">Top Up</a>
                            <ul>
                                <li><a href="#">Request</a></li>
                                <li><a href="#">Confirm</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Reservation</a>
                            <ul>
                                <li><a href="#">Airline Hold Booking List</a></li>
                                <li><a href="#">Train Hold Booking List</a></li>
                                <li><a href="#">Group Booking Hold Booking List</a></li>
                            </ul>
                        </li>
                        <!--                        <li><a href="javascript:showCart();"><i class="fa fa-shopping-cart"></i> My Ticket <span class="badge">0</span></a></li>-->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- END nav -->

<div id="search" class="ftco-section-search" style="background-color:#989898;" hidden>
    <div class="container">
        <!--train-->
        <div class="block-17">
            <div class="row">
                <div class="col-md-12">
                    <form action="{% url 'tt_website_skytors:train_search'%}" method="POST" class="d-block" id="train_searchForm">
                        {% csrf_token %}
                        <div class="fields d-block" style="color: white !important;">

                            <div style="padding-top:100px;">
                                <div>
                                    <div class="fields">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="themespark_query" id="themespark_query" placeholder="Search for Activity" value="{{query}}"/>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <select id="themespark_sorting" onchange="set_city();" class="form-control selectpicker show-tick" data-size="5" data-live-search="true" name="themespark_countries">
                                                        <option value="name_asc">Name (A-Z)</option>
                                                        <option value="name_desc">Name (Z-A)</option>
                                                        <option value="price_asc" selected>Price (Low-High)</option>
                                                        <option value="price_desc">Price (High-Low)</option>

                                                        <!--<option id="temp_themespark_countries"/>-->
                                                    </select>
                                                </div>
                                            </div>
                                        </div><br/>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <p style="color: white;"><i class="fas fa-map-marker-alt"></i> Search by Location {{parsed_country}}</p>
                                                <div class="row">
                                                    <div class="col-sm-6" style="margin-bottom:10px;">
                                                        <div class="form-group">
                                                            <select id="themespark_countries" onchange="set_city();" class="form-control selectpicker show-tick" data-size="5" data-live-search="true" name="themespark_countries">
                                                                {% if not parsed_country %}
                                                                <option value="" selected="">All Country</option>
                                                                {% for country in activity_countries %}
                                                                <option value="{{country.id}}">{{country.name}}</option>
                                                                {% endfor %}
                                                                {% else %}
                                                                {% for country in activity_countries %}
                                                                {% if parsed_country == country.id %}
                                                                <option value="{{country.id}}" selected>{{country.name}}</option>
                                                                {% else %}
                                                                <option value="{{country.id}}">{{country.name}}</option>
                                                                {% endif %}
                                                                {% endfor %}
                                                                {% endif %}
                                                                <!--<option id="temp_themespark_countries"/>-->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6" style="margin-bottom:10px;">
                                                        <div class="form-group">
                                                            <div id="temp_themespark_cities">
                                                                <select id="themespark_cities" name="themespark_cities" data-size="5" class="form-control selectpicker">
                                                                    <option value="" selected="">Cities</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <p style="color: white;"><i class="fa fa-folder-open" aria-hidden="true"></i> Search by Category / Type</p>
                                                <div class="row">
                                                    <div class="col-sm-4" style="margin-bottom:10px;">
                                                        <div class="form-group">
                                                            <select id="themespark_type" class="form-control selectpicker" name="themespark_type" data-size="5">
                                                                <option value="0" selected="">All Types</option>
                                                                {% for type in activity_types %}
                                                                <option value="{{type.id}}">{{type.name}}</option>
                                                                {% endfor %}
                                                                <!--<option id="temp_themespark_type"/>-->

                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4" style="margin-bottom:10px;">
                                                        <div class="form-group">
                                                            <select id="themespark_category" onchange="set_sub_category();" class="form-control selectpicker" name="themespark_category" data-size="5">
                                                                <option value="0" selected="">All Categories</option>
                                                                {% for category in activity_categories %}
                                                                <option value="{{category.id}} - {{category.name}}">{{category.name}}</option>
                                                                {% endfor %}
                                                                <!--<option id="temp_themespark_category"/>-->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4" style="margin-bottom:10px;">
                                                        <div class="form-group">
                                                            <div id="temp_themespark_sub_category">
                                                                <select id="themespark_sub_category" name="themespark_sub_category" class="form-control selectpicker" data-size="5">
                                                                    <option value="0" selected="">Sub Categories</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10 col-sm-6">

                                        </div>
                                        <div class="col-md-2 col-sm-6">
                                            <button id="btnSearch" class="btn btn-primary btn-block space" onclick="activity_login(0);"><i class="fas fa-search"></i>Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="activity-body" style="margin-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row" style="margin: 20px 30px 15px 30px;">
                    <div class="col-lg-10" style="padding: 15px; background-color: #ececec;">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                        <span> Show Results for&nbsp;</span>
                        {% if query != null %}
                        <strong>{{query}}</strong>
                        {% else %}
                        <strong>&nbsp;All Activities</strong>
                        {% endif %}
                        <span>&nbsp;In&nbsp;</span>
                        {% if not parsed_country %}
                        <strong>All Countries</strong>
                        {% else %}
                        <strong>{{parsed_country_name}}</strong>
                        {% endif %}

                        {% if not parsed_city %}

                        {% else %}
                        <strong>&nbsp;-&nbsp;{{parsed_city}}</strong>
                        {% endif %}
                    </div>
                    <div class="col-lg-2 form-group">
                        <input type="button" class="btn btn-primary btn-block space" value="Change search" onclick="triggered();" id="button"/>
                    </div>
                </div>
                <div class="row" style="margin: 20px 30px 15px 30px;">
                    <div class="col-md-2 col-xs-6 form-group">
                        <label for="themespark_sort" style="font-weight:normal;">Sort</label>
                        <select id="themespark_sort" class="form-control selectpicker" name="themespark_sort">
                            <option value="name_asc">Name (A-Z)</option>
                            <option value="name_desc">Name (Z-A)</option>
                            <option value="price_asc" selected="">Price (Low-High)</option>
                            <option value="price_desc">Price (High-Low)</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-xs-6 form-group">
                        <label for="filter_type" style="font-weight:normal;">Types</label>
                        <select id="filter_type" class="form-control selectpicker" name="filter_type" data-size="5">
                            <option value="0" selected="">All</option>
                            <option id="temp_filter_type"/>
                        </select>
                    </div>
                    <div class="col-md-2 col-xs-6 form-group">
                        <label for="filter_category" style="font-weight:normal;">Categories</label>
                        <select id="filter_category" class="form-control selectpicker" name="filter_category" data-size="5">
                            <option value="0" selected="">All</option>
                            <option id="temp_filter_category"/>
                        </select>
                    </div>
                    <div class="col-md-3 col-xs-6 form-group">
                        <label for="filter_sub_category" style="font-weight:normal;">Sub Categories</label>
                        <div id="temp_filter_sub_category">
                            <select id="filter_sub_category" name="filter_sub_category" class="form-control selectpicker" data-size="5">
                                <option value="" selected="" disabled="">Select a category first</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12 form-group" style="margin-top: 25px;">
                        <input type="button" id="btnFilter" class="btn btn-primary btn-block space" value="Apply Filter"/>
                    </div>
                </div>
                <div class="row" style="margin: 0px 30px;">
                    <div class="col-xs-12 orange_stripe" style="margin-bottom: 15px;"/>
                </div>

                <div class="row" style="margin:0px;">
                    <div class="col-md-12" id="activity_ticket">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;2017 SkyTors. All Rights Reserved.
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>

<script>
    activity_login(0);

    function go_to_detail(sequence){
        console.log(sequence);
        document.getElementById(`csrf`+sequence).innerHTML = `{% csrf_token %}`;
        document.getElementById('myForm'+sequence).submit();
    }


    $(document).ready(function () {
    $(window).scroll(function() {
        console.log($(window).scrollTop());
        console.log($(document).height() - ($(window).height() + 300));
        console.log(get_new);
        if($(window).scrollTop() >= $(document).height() - ($(window).height() + 300)) {
            if(get_new == true){
                get_new = false;
                activity_search();

            }
        }
    });
});
</script>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
{% endblock %}
