{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/webservice_agent.js"></script>
<script src="{{ static_path }}js/activity_javascript.js"></script>
<script src="{{ static_path }}js/webservice_activity.js"></script>
<script src="{{ static_path }}js/moment.js"></script>

<script>
    time = 300;
    triggered_balance();
</script>


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'tt_website_skytors:index'%}">Skytors</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="#" class="nav-link">{% trans 'Home' %}</a></li>
                <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Top Up</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                        <input type="hidden" id="co_uid" name="co_uid" value="{{co_uid}}" />
                    </ul>
                </li>
                <li class="nav-item"><a href="#" class="nav-link">Reservation</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Highlights</a></li>
                <li class="nav-item"><a href="#" class="nav-link">User Guide</a></li>
                <!--<li class="nav-item"><a href="#" class="nav-link">Points</a></li>-->
                <li class="nav-item"><a href="#" class="nav-link">Partnership</a></li>
                {% if username != null %}
                <li class="nav-item"><a href="#" class="nav-link" id="balance">Balance: Rp {{balance}}</a></li>
                <li class="nav-item"><a href="#" class="nav-link">{{username}}</a></li>
                {% else %}
                <li class="nav-item"><a href="{% url 'tt_website_skytors:login'%}" class="nav-link">Sign in</a></li>
                {% endif %}
                <!--<li class="nav-item">-->
                    <!--<form action="{% url 'set_language' %}" method="post" id="form_language" style="padding: 15px 0px 0px 5px;">-->
                        <!--{% csrf_token %}-->
                        <!--<input name="next" type="hidden" value="{{ redirect_to }}" >-->
                        <!--<select name="language" id="selection_language">-->
                            <!--{% get_current_language as LANGUAGE_CODE %}-->
                            <!--{% get_available_languages as LANGUAGES %}-->
                            <!--{% get_language_info_list for LANGUAGES as languages %}-->
                            <!--{% for language in languages %}-->
                            <!--<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>-->
                                <!--{{ language.code }}-->
                            <!--</option>-->
                            <!--{% endfor %}-->
                        <!--</select>-->
                    <!--</form>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->


<div class="ftco-section-search" style="background-color:#989898;">
    <div class="container">
        <!--train-->
        <form method="POST" id="acitivity_booking" action="{% url 'tt_website_skytors:activity_booking'%}">
            {% csrf_token %}
            <div class="block-17">
                <div class="row" style="padding-top:100px;">
                    <div class="col-sm-9" id="activity_ticket">

                    </div>
                    <div class="col-sm-3" id="activity_detail">
                        <div class="themespark-price-container" id="themespark-price-container" style="border: 1px solid #f5f5f5;padding">
                            <h3 style="text-align:center; color:#f15a22;">TOTAL PRICE</h3>
                            <div class="row">
                                <div class="col-xs-12">
                                    <span id="product_title" style="font-weight: bold;">{{response.name}}</span>
                                        <br><span id="product_type_title">{{detail.name}}</span>

                                    <br><br>
                                </div>
                            </div>
                            <div id="activity_detail_table">

                            </div>
                        </div>

                    </div>
                </div>
                <div id="voucher">

                </div>
            </div>
        </form>
    </div>
</div>

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Voyage Fellow Tourist</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Book Now</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Flight</a></li>
                        <li><a href="#" class="py-2 d-block">Hotels</a></li>
                        <li><a href="#" class="py-2 d-block">Tour</a></li>
                        <li><a href="#" class="py-2 d-block">Car Rent</a></li>
                        <li><a href="#" class="py-2 d-block">Beach &amp; Resorts</a></li>
                        <li><a href="#" class="py-2 d-block">Mountains</a></li>
                        <li><a href="#" class="py-2 d-block">Cruises</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Top Deals</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Luxe Hotel</a></li>
                        <li><a href="#" class="py-2 d-block">Venice Tours</a></li>
                        <li><a href="#" class="py-2 d-block">Deluxe Hotels</a></li>
                        <li><a href="#" class="py-2 d-block">Boracay Beach &amp; Resorts</a></li>
                        <li><a href="#" class="py-2 d-block">Beach &amp; Resorts</a></li>
                        <li><a href="#" class="py-2 d-block">Fuente Villa</a></li>
                        <li><a href="#" class="py-2 d-block">Japan Tours</a></li>
                        <li><a href="#" class="py-2 d-block">Philippines Tours</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Contact Information</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">198 West 21th Street, Suite 721 New York NY 10016</a></li>
                        <li><a href="#" class="py-2 d-block">+ 1235 2355 98</a></li>
                        <li><a href="#" class="py-2 d-block">info@yoursite.com</a></li>
                        <li><a href="#" class="py-2 d-block">email@email.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <ul class="ftco-footer-social list-unstyled float-md-right float-lft">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;2017 SkyTors. All Rights Reserved.
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>

<script>
    activit_get_booking();
</script>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
{% endblock %}
