{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/activity_javascript.js"></script>
<script src="{{ static_path }}js/webservice_activity.js"></script>
<script src="{{ static_path }}js/moment.js"></script>
<script>
    locations = [];
    images = [];
    {% for i in response.locations %}
        locations.push({
            'country_name': '{{i.country_name}}',
            'city_name': '{{i.city_name}}',
            'state_name': '{{i.state_name}}'
        })
    {% endfor %}

    {% for i in response.images %}
        images.push({
            'url': '{{i.url}}',
            'path': '{{i.path}}',
        })
    {% endfor %}

    highlights = `{{response.highlights}}`;

    response = {
        'locations':locations,
        'images': images,
        'additionalInfo': `{{response.additionalInfo}}`,
        'uuid': '{{response.uuid}}',
        'highlights': highlights.replace('&#39;', "'"),
        'safety': `{{response.safety}}`,
        'longitude': {{response.longitude}},
        'latitude': {{response.latitude}},
        'provider': '{{response.provider}}',
        'description': `{{response.description}}`,
        'warnings': `{{response.warnings}}`,
        'priceExcludes': `{{response.priceExcludes}}`,
        'minPax': {{response.minPax}},
        'maxPax': {{response.maxPax}},
        'businessHoursFrom': `{{response.businessHoursFrom}}`,
        'businessHoursTo': `{{response.businessHoursTo}}`,
        'name': '{{response.name}}',
        'itinerary': `{{response.itinerary}}`,
    };
    document.getElementById("balance").innerHTML = 'Balance: Rp '+getrupiah({{balance}});
</script>

<script src="{{ static_path }}js/webservice_agent.js"></script>

<style>
    @media only screen and (min-width: 991px) {
        #header_home {
            padding-top: 100px;
        }
    }
    @media only screen and (max-width: 990px) {
        #header_home {
            padding-top: 0px;
        }
    }
</style>
<script>
    $(document).ready(function() {
        $('#asdasd').datepicker({
            'format': 'd M yyyy',
            'todayHighlight': true,
            'autoclose': true
        });
    });

</script>


<div class="destinations-area" style="margin-bottom:25px;">
    <div class="container">
        <div class="row" style="padding-bottom:10px; padding-top:20px; margin-left: -30px !important;">
            <div class="col-lg-12" style="margin-top:10px;">
                <div class="breadcrumb-ticket" style="text-align:center;">
                    <a href="#" class="active"> Home <i class="fas fa-home"></i></a>
                    <a href="#" class="active"> Search <i class="fas fa-search"></i></a>
                    <a href="#" style="pointer-events: none;"> Booker & Passenger <i class="fas fa-users"></i></a>
                    <a href="#" style="pointer-events: none;"> Review <i class="fas fa-info-circle"></i></a>
                    <a href="#" style="pointer-events: none;"> Issued <i class="fas fa-check-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="row full_activity_details">
            <div class="col-lg-12">
                <form method='POST' action="{% url 'tt_website_skytors:activity_passenger'%}" id="go_to_pax" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!--train-->
                    <h2 style="margin-left: -15px !important; margin-bottom:10px;">Select Product Type</h2>
                    <div class="row">
                        <div class="input-group-btn" id="ticket_type" data-toggle="buttons" style="width: 100%; white-space: normal;">

                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-8" id="ticket_detail">
                            <div class="row" style="border:1px solid #f15a22;">
                                <div class="col-sm-4 themespark-detail-images">
                                    <div id="slider">
                                        <ul>
                                            <!--<div class="w3-content w3-section">-->
                                            {% for i in response.images %}
                                            <li><img src="{{i.url}}{{i.path}}"></li>
                                            {% endfor %}
                                            <!--</div>-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-8 themespark-detail-description">
                                    <h3 style="margin:0px 0px 5px 0px; font-size:20px; color:white;">{{response.name}}</h3>
                                    <h4 style="margin:0px 0px 5px 0px; font-size:18px; color:white;" id="product_type"></h4>
                                    {% for i in response.locations %}
                                    <h4 style="margin:0px 0px 5px 0px; font-size:15px; display: inline-block; color:white;">{{i.city_name}},</h4>
                                    <h4 style="margin:0px 0px 5px 0px; font-size:15px; display: inline-block; color:white;"> {{i.country_name}}</h4><br/>
                                    {% endfor %}
                                    <div class="row" style="margin-left: -5px;">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" style="background-color:white; border:1px solid #f15a22; padding: 10px 0px 10px 0px;">
                                    <div class="row" style="margin-left: 15px !important" id="date">

                                    </div>
                                    <div class="row" style="padding:0 20px;margin-top:5px;" id="event">

                                    </div>
                                    <div class="row" style="padding:0 20px;margin-top:5px; margin-left: -5px; margin-right: -5px;" id="pax">

                                    </div>
                                    <div class="row" style="padding:0 20px;margin-top:5px;" id="timeslot">

                                    </div>

                                    <!--<div style="padding:0 20px;margin-top:5px;" id="detail_to_passenger_page">-->

                                    <!--</div>-->

                                    <div style="padding:0 20px;margin-top:5px;" id="perbooking">

                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-sm-12" style="background-color:white; border:1px solid #f15a22; margin-top:5px; padding:0;">
                                    <ul class="nav nav-tabs-themespark" style="text-align:center; margin-bottom:15px;">
                                        <li class="li-themespark" style="display: inline-block !important; width: 135px; text-align: center; margin: 0px -2px 0px 0px !important;">
                                            <a class="tab-menu-themespark active" data-toggle="tab" href="#detail"><i class="fa fa-info-circle" aria-hidden="true" title="details" style="font-size: 18px;"></i><span class="hidden-xs"> Details</span></a>
                                        </li>
                                        <li class="li-themespark" style="display: inline-block !important; width: 135px; text-align: center; margin: 0px -2px 0px 0px !important;">
                                            <a class="tab-menu-themespark" data-toggle="tab" href="#rules"><i class="fa fa-exclamation-circle" aria-hidden="true" title="details" style="font-size: 18px;"></i><span class="hidden-xs"> Rules</span></a>
                                        </li>
                                        <li class="li-themespark" style="display: inline-block !important; width: 135px; text-align: center; margin: 0px -2px 0px 0px !important;">
                                            <a class="tab-menu-themespark" data-toggle="tab" href="#prices"><i class="fa fa-usd" aria-hidden="true" title="details" style="font-size: 18px;"></i><span class="hidden-xs"> Prices</span></a>
                                        </li>
                                        <li class="li-themespark" style="display: inline-block !important; width: 135px; text-align: center; margin: 0px -2px 0px 0px !important;">
                                            <a class="tab-menu-themespark" data-toggle="tab" href="#vouchers"><i class="fa fa-ticket-alt" aria-hidden="true" title="details" style="font-size: 18px;"></i><span class="hidden-xs"> Vouchers</span></a>
                                        </li>
                                        {% if response.itinerary != ''%}
                                        <li class="li-themespark" style="display: inline-block !important; width: 135px; text-align: center; margin: 0px -2px 0px 0px !important;">
                                            <a class="tab-menu-themespark" data-toggle="tab" href="#price_itinerary"><i class="fa fa-list-ul" aria-hidden="true" title="details" style="font-size: 18px;"></i><span class="hidden-xs"> Price Itinerary</span></a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                    <div class="tab-content">
                                        <div id="detail" class="tab-pane fade in active show">
                                            {% if response.description != '' %}
                                            <h3 style="padding:0 20px; margin-bottom:10px;">Description</h3>
                                            <p style="padding:0 20px;text-align:justify">{{response.description}}</p>
                                            {% endif %}
                                            {% if response.highlights != '' %}
                                            <h3 style="padding:0 20px; margin-bottom:10px;">Highlights</h3>
                                            <p style="padding:0 20px;text-align:justify">{{response.highlights}}</p>
                                            {% endif %}
                                            {% if response.additionalInfo != '' %}
                                            <h3 style="padding:0 20px; margin-bottom:10px;">Additional Info</h3>
                                            <p style="padding:0 20px;text-align:justify">{{response.additionalInfo}}</p>
                                            {% endif %}
                                        </div>
                                        <div id="rules" class="tab-pane fade">
                                            {% if response.warnings != '' %}
                                            <h3 style="padding:0 20px; margin-bottom:10px;">Warnings</h3>
                                            <p style="padding:0 20px;text-align:justify">{{response.warnings}}</p>
                                            {% endif %}
                                            {% if response.safety != '' %}
                                            <h3 style="padding:0 20px; margin-bottom:10px;">Safety</h3>
                                            <p style="padding:0 20px;text-align:justify">{{response.safety}}</p>
                                            {% endif %}
                                        </div>
                                        <div id="prices" class="tab-pane fade">
                                            {% if response.priceIncludes != '' %}
                                            <h3 style="padding:0 20px; margin-bottom:10px;">Price Includes</h3>
                                            <p style="padding:0 20px;text-align:justify">{{response.priceIncludes}}</p>
                                            {% endif %}
                                            {% if response.priceExcludes != '' %}
                                            <h3 style="padding:0 20px; margin-bottom:10px;">Price Excludes</h3>
                                            <p style="padding:0 20px;text-align:justify">{{response.priceExcludes}}</p>
                                            {% endif %}
                                        </div>
                                        <div id="vouchers" class="tab-pane fade" id="vouchers">
                                            {% if response.voucher_validity != '' %}
                                            <h3 style="padding:0 20px; margin-bottom:10px;">Validity</h3>
                                            <p style="padding:0 20px;text-align:justify">{{response.voucher_validity}}</p>
                                            {% endif %}
                                            {% if response.voucherUse != '' %}
                                            <h3 style="padding:0 20px; margin-bottom:10px;">Voucher Use</h3>
                                            <p style="padding:0 20px;text-align:justify">{{response.voucherUse}}</p>
                                            {% endif %}
                                            {% if response.voucherRedemptionAddress != '' %}
                                            <h3 style="padding:0 20px; margin-bottom:10px;">Voucher Address</h3>
                                            <p style="padding:0 20pxtext-align:justify;">{{response.voucherRedemptionAddress}}</p>
                                            {% endif %}
                                            {% if response.voucherRequiresPrinting != '' %}
                                            <h3 style="padding:0 20px; margin-bottom:10px;">Voucher Print</h3>
                                            <p style="padding:0 20px;text-align:justify">{{response.voucherRequiresPrinting}}</p>
                                            {% endif %}
                                        </div>
                                        <div id="price_itinerary" class="tab-pane fade">
                                            {% if response.itinerary != '' %}
                                            <h3 style="padding:0 20px; margin-bottom:10px;">Itinerary</h3>
                                            <p style="padding:0 20px; text-align:justify">{{response.itinerary}}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4" id="ticket_price">
                            <div style="background-color:#f15a22; padding:5px;">
                                <center><span style="color:white; font-size:16px;"> Price Detail <i class="fas fa-money-bill-wave"></i></span></center>
                            </div>
                            <div style="background-color:white; padding:10px; border:1px solid #f15a22;" id="activity_detail">
                                <span id="product_title" style="font-weight: bold;">{{response.name}}</span>
                                <br/><span id="product_type_title"></span>
                                <br/><br/>
                                <div id="activity_detail_table">

                                </div>
                            </div>
                            <br/>
                            <div id="activity_detail_next_btn">

                            </div>
                        </div>
                    </div>
                    <div id="data_id">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About RODEX TRIP</h6>
                    <p>
                        PT. Roda Express Sukses Mandiri adalah perusahaan yang bergerak di bidang Tour & Travel dan dikenal dengan nama RODEX TOUR & TRAVEL. Rodex Tour & Travel didirikan pertama kali pada tanggal 09 September 2009 bertempat di sebuah pusat perbelanjaan terkemuka di Surabaya yaitu Mall Pakuwon Trade Center (PTC). Di bawah kepemimpinan Bapak Galuh Suryono Cipto Adi, Rodex Tour & Travel mengalami perkembangan yang signifikan dari tahun ke tahun.
                    </p>
                    <p>
                        Hingga saat ini kami telah memiliki  lebih kurang 1.000 orang reseller yang teregister dan puluhan Cabang Mitra (Citra) yang tersebar di seluruh indonesia.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Navigation Links</h6>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Feature</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Portfolio</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>
                        For business professionals caught between high OEM price and mediocre print and graphic output.
                    </p>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="btn bb-btn"><span class="lnr lnr-location"></span></button>
                            </div>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">InstaFeed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="{{static_path}}img/i1.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i2.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i3.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i4.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i5.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i6.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i7.jpg" alt=""></li>
                        <li><img src="{{static_path}}img/i8.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by RODEX TRIP
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>

<script>
    activity_get_detail(`{{response.uuid}}`);
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 5000); // Change image every 2 seconds
    }

    //gotopax

    function detail_to_passenger_page(){

        text = `
                    <input type='hidden' value='`+activity_type_pick+`' name='activity_type_pick'/>
                    <input type='hidden' value='`+activity_date_pick+`' name='activity_date_pick'/>
                    <input type='hidden' value='`+activity_timeslot+`' name='activity_timeslot'/>
                    <input type='hidden' value='`+additional_price+`' name='additional_price'/>
                    <input type='hidden' value='`+event_pick+`' name='event_pick'/>`;

        /*  for(i in activity_type[activity_type_pick].options.perBooking){
            if(activity_type[activity_type_pick].options.perBooking[i].inputType==1){
                for (var i = 0, length = radios.length; i < length; i++) {
                    var radios = document.getElementsByName('perbooking'+i);
                    if (radios[i].checked) {
                        text+= `<input type='hidden' value='`+radios[i].value+`' name='perbooking`+i+`'/>`;
                        break;
                    }
                }
            }else if(activity_type[activity_type_pick].options.perBooking[i].inputType==2){
                for(j in activity_type[activity_type_pick].options.perBooking[i].items){
                    text+=`<input type='hidden' value='`+document.getElementById('perbooking'+i+j).checked+`' name='perbooking`+i+j+`'/>`;
                }
            }else if(activity_type[activity_type_pick].options.perBooking[i].inputType==3){
                text+= `<input type='hidden' value='`+document.getElementById('perbooking'+i).value+`' name='perbooking`+i+`'/>`;
            }else if(activity_type[activity_type_pick].options.perBooking[i].inputType==4){
                text+= `<input type='hidden' value='`+document.getElementById('perbooking'+i).value+`' name='perbooking`+i+`'/>`;
            }else if(activity_type[activity_type_pick].options.perBooking[i].inputType==5){
                text+= `<input type='hidden' value='`+document.getElementById('perbooking'+i).value+`' name='perbooking`+i+`'/>`;
            }else if(activity_type[activity_type_pick].options.perBooking[i].inputType==6){
                text+= `<input type='hidden' value='`+document.getElementById('perbooking'+i).value+`' name='perbooking`+i+`'/>`;
            }else if(activity_type[activity_type_pick].options.perBooking[i].inputType==7){

            }else if(activity_type[activity_type_pick].options.perBooking[i].inputType==8){

            }else if(activity_type[activity_type_pick].options.perBooking[i].inputType==9){
                text+= `<input type='hidden' value='`+document.getElementById('perbooking'+i).value+`' name='perbooking`+i+`'/>`;
            }else if(activity_type[activity_type_pick].options.perBooking[i].inputType==10){
                text+= `<input type='hidden' value='`+document.getElementById('perbooking'+i).value+`' name='perbooking`+i+`'/>`;
            }else if(activity_type[activity_type_pick].options.perBooking[i].inputType==11){
                text+= `<input type='hidden' value='`+document.getElementById('perbooking'+i+'0').value+' '+document.getElementById('perbooking'+i+'1').value+`' name='perbooking`+i+`'/>`;
            }else if(activity_type[activity_type_pick].options.perBooking[i].inputType==12){
                text+= `<input type='hidden' value='`+document.getElementById('perbooking'+i).value+`' name='perbooking`+i+`'/>`;
            }else if(activity_type[activity_type_pick].options.perBooking[i].inputType==13){

            }else if(activity_type[activity_type_pick].options.perBooking[i].inputType==14){
                text+= `<input type='hidden' value='`+document.getElementById('perbooking'+i).value+`' name='perbooking`+i+`'/>`;
            }

        }*/
        //adult
        try{
            if(document.getElementById('adult_passenger').value != 0 )
                text+=`<input type='hidden' value='`+document.getElementById('adult_passenger').value+`' name='adult_passenger'/>`;
            else
                text+=`<input type='hidden' value='0' name='adult_passenger'/>`;
        }catch(err){
            text+=`<input type='hidden' value='0' name='adult_passenger'/>`;
        }

        //children
        try{
            if(document.getElementById('children_passenger').value != 0 )
                text+=`<input type='hidden' value='`+document.getElementById('children_passenger').value+`' name='children_passenger'/>`;
            else
                text+=`<input type='hidden' value='0' name='children_passenger'/>`;
        }catch(err){
            text+=`<input type='hidden' value='0' name='children_passenger'/>`;
        }

        //infant
        try{
            if(document.getElementById('infant_passenger').value != 0 )
                text+=`<input type='hidden' value='`+document.getElementById('infant_passenger').value+`' name='infant_passenger'/>`;
            else
                text+=`<input type='hidden' value='0' name='infant_passenger'/>`;
        }catch(err){
            text+=`<input type='hidden' value='0' name='infant_passenger'/>`;
        }

        //senior
        try{
            if(document.getElementById('senior_passenger').value != 0 )
                text+=`<input type='hidden' value='`+document.getElementById('senior_passenger').value+`' name='senior_passenger'/>`;
            else
                text+=`<input type='hidden' value='0' name='senior_passenger'/>`;
        }catch(err){
            text+=`<input type='hidden' value='0' name='senior_passenger'/>`;
        }


        //text += `</form>`;
        document.getElementById('data_id').innerHTML = text;
        document.getElementById('go_to_pax').submit();
    }
</script>

{% endblock %}
