{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/activity_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_activity.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script>
    offset = 600;
    get_new = true;
    activity_country = [];
    city = [];
    sub_category = {};
    sub_category_list = [];
    name = '';
    {% for country in activity_countries %}
        {% for city in country.city.response %}
            city.push({
                'name': '{{city.name}}', 'id':'{{city.id}}'
            });
        {% endfor %}
        activity_country.push({
            'city': city,
            'name': '{{country.name}}',
            'id': '{{country.id}}'
        });
        city = [];
    {% endfor %}

    {% for key, value in activity_sub_categories.items %}
        {% for item in value %}
            name = '{{item.name}}';
            if(name.search('amp;') !== -1){
                name = name.replace(/&amp;/g, '&');
            }

            sub_category_list.push({
                'name': name,
                'id': '{{item.id}}'
            });
            name = '';
        {% endfor %}
        key = '{{key}}';
        sub_category[key.replace(/&amp;/g, '&')] = sub_category_list;
        sub_category_list = [];
    {% endfor %}
    signature = '{{signature}}';
    time_limit = {{time_limit}};
    session_time_limit();
</script>

{% include 'tt_website_skytors/header.html' %}
<section class="destinations-area" style="padding:15px 0px 15px 0px; background:white; border-bottom:2px solid #cdcdcd;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8" style="text-align:left;">
                <span style="text-transform: capitalize;">Activity Search: {% if query %}{{query}}{% else %}All Activities{% endif %}</span><br/>
                <span style="text-transform: capitalize; padding-right:10px;"><i class="fas fa-map-marker-alt"></i>
                    <span id="search_country_name">
                        {% if not parsed_country %}
                        All Countries
                        {% else %}
                        {% for country in activity_countries %}
                        {% if parsed_country == country.id %}
                        {{country.name}}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </span>,
                    <span id="search_city_name">
                        All Cities
                    </span>
                </span>
                <span style="text-transform: capitalize;"><i class="fa fa-folder-open"></i>
                    <span id="search_type_name">
                        {% if not parsed_type %}
                        All Types
                        {% else %}
                        {% for type in activity_types %}
                        {% if parsed_type == type.id %}
                        {{type.name}}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </span>,
                    <span id="search_category_name">
                        {% if not parsed_category %}
                        All Categories
                        {% else %}
                        {% for category in activity_categories %}
                        {% if parsed_category == category.id %}
                        {{category.name}}
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </span>,
                    <span id="search_sub_category_name">
                        All Sub Categories
                    </span>
                </span>
                <br/>
            </div>
            <div class="col-lg-4" style="text-align:right;">
                <button class="primary-btn" type="button" onclick="show_hide_change_search();">
                    <img src="{{static_path}}img/icon/search-icon.png" style="width:25px; height:25px;"/>
                    Change Search
                </button>
            </div>
        </div>
    </div>
</section>

<section class="price-area" id="change_search_box" data-aos="fade-up" style="padding-top:30px; padding-bottom:5px; background-color: black; z-index:2; position:relative; display:none">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="padding:0;">
                <div class="banner-right">
                    <form action="{% url 'tt_website_skytors:activity_search'%}" class="form-wrap" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7" style="padding:0px;">
                                <span class="span-search-ticket"><i class="fas fa-umbrella-beach"></i> Activity</span>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="activity_query" id="activity_query" placeholder="Search for Activity" value="{{query}}"/>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-5" style="padding:0px;">
                                <div class="span-search-ticket"><i class="fas fa-cog"></i> Advanced Search</div>
                                <div class="input-container-search-ticket">
                                    <button type="button" class="form-control" id="advanced_down" onclick="show_hide_advanced();" style="background:#bababa; color:#000000;">Advanced Search <i class="fas fa-caret-down"></i></button>
                                    <button type="button" class="form-control" id="advanced_up" onclick="show_hide_advanced();" style="background:#bababa; color:#000000; display:none;">Advanced Search <i class="fas fa-caret-up"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="advanced_search" style="display:none;">
                            <div class="col-lg-6">
                                <div class="row">
                                    <span class="span-search-ticket"><i class="fas fa-map-marker-alt"></i> Search by Location </span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px;">
                                        <div class="form-select" id="default-select">
                                            <select class="js-example-basic-single" style="width:100%;" id="activity_countries" onchange="auto_complete_activity('activity_countries');"  size="5" data-live-search="true" name="activity_countries">
                                                {% if not parsed_country %}
                                                <option value="" selected="">All Countries</option>
                                                {% for country in activity_countries %}
                                                <option value="{{country.id}}">{{country.name}}</option>
                                                {% endfor %}
                                                {% else %}
                                                <option value="" selected="">All Countries</option>
                                                {% for country in activity_countries %}
                                                {% if parsed_country == country.id %}
                                                <option value="{{country.id}}" selected>{{country.name}}</option>
                                                {% else %}
                                                <option value="{{country.id}}">{{country.name}}</option>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px;">
                                        <div class="form-select">
                                            <div id="temp_activity_cities">
                                                <select class="js-example-basic-single" style="width:100%;" id="activity_cities" name="activity_cities" size="5">
                                                    <option value="" selected="">All Cities</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12 search_type">
                                        <span class="span-search-ticket"><i class="fa fa-folder-open"></i> Search by Category / Type </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 search_type">
                                        <div class="form-select">
                                            <select class="js-example-basic-single" style="width:100%;" id="activity_type" name="activity_type" data-live-search="true" size="5">
                                                {% if not parsed_type %}
                                                <option value="0" selected="">All Types</option>
                                                {% for type in activity_types %}
                                                <option value="{{type.id}}">{{type.name}}</option>
                                                {% endfor %}
                                                {% else %}
                                                <option value="0" selected="">All Types</option>
                                                {% for type in activity_types %}
                                                {% if parsed_type == type.id %}
                                                <option value="{{type.id}}" selected>{{type.name}}</option>
                                                {% else %}
                                                <option value="{{type.id}}">{{type.name}}</option>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:0px;">
                                        <div class="form-select">
                                            <select class="js-example-basic-single" style="width:100%;" id="activity_category" onchange="auto_complete_activity('activity_category');" name="activity_category" size="5">
                                                {% if not parsed_category %}
                                                <option value="0" selected="">All Categories</option>
                                                {% for category in activity_categories %}
                                                <option value="{{category.id}} - {{category.name}}">{{category.name}}</option>
                                                {% endfor %}
                                                {% else %}
                                                <option value="0" selected="">All Categories</option>
                                                {% for category in activity_categories %}
                                                {% if parsed_category == category.id %}
                                                <option value="{{category.id}} - {{category.name}}" selected>{{category.name}}</option>
                                                {% else %}
                                                <option value="{{category.id}} - {{category.name}}">{{category.name}}</option>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:0px;">
                                        <div class="form-select">
                                            <div id="temp_activity_sub_category">
                                                <select class="js-example-basic-single" style="width:100%;" id="activity_sub_category" name="activity_sub_category" size="5">
                                                    <option value="0" selected="">All Sub Categories</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <button class="button-search primary-btn ld-ext-right" type="submit" value="Submit">
                            <img src="{{static_path}}img/icon/search-icon.png" style="width:25px; height:25px;"/>
                            Search
                            <div class="ld ld-ring ld-cycle"></div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="row" style="padding-bottom:10px;">
            <div class="col-lg-12" id="breadcrumbs_create">

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" style="position:sticky; top:95px; z-index:997; background-color:#f7f7f7; display:none;" id="mybuttonsticky">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-right:2px;">
                        <button class="primary-btn-ticket" style="width:100%;" data-toggle="modal" data-target="#myModalFilterSort">
                            <span style="color:white; font-size:12px;"> Filter & Sorting </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="modal fade" id="myModalFilterSort" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:white;"> Filter & Sorting </i></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="min-height=100px; max-height:400px; overflow-y: scroll;">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div id="filter2">

                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div id="sorting-flight2">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background-color:white; padding:10px; margin-top:20px; border:1px solid #cdcdcd" id="session_timer">

                </div>
                <div class="filter-search-flight" id="filter-search-flight">
                    <div style="background-color:white; padding:10px; margin-top:20px; border:1px solid #cdcdcd" id="filter">

                    </div>
                </div>
            </div>
            <div class="col-lg-9" style="margin-top:10px;">
                <div class="row sorting-search-flight" id="sorting-search-flight">
                    <div class="col-lg-12">
                        <div id="sorting-flight" style="margin-bottom:15px; margin-top:10px;">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="loading-search-activity" style="margin-bottom:20px;">
                            <div class="col-lg-12">
                                <div class="sk-circle">
                                    <div class="sk-circle1 sk-child"></div>
                                    <div class="sk-circle2 sk-child"></div>
                                    <div class="sk-circle3 sk-child"></div>
                                    <div class="sk-circle4 sk-child"></div>
                                    <div class="sk-circle5 sk-child"></div>
                                    <div class="sk-circle6 sk-child"></div>
                                    <div class="sk-circle7 sk-child"></div>
                                    <div class="sk-circle8 sk-child"></div>
                                    <div class="sk-circle9 sk-child"></div>
                                    <div class="sk-circle10 sk-child"></div>
                                    <div class="sk-circle11 sk-child"></div>
                                    <div class="sk-circle12 sk-child"></div>
                                </div>
                                <div style="text-align:center">
                                    <span style="font-size:18px; font-weight:bold;">PLEASE WAIT </span><img src="{{static_path}}img/activity_loading.gif" style="height:40px; width:40px;"/>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="activity_ticket">

                        </div>
                        <input type="hidden" id="time_limit_input" name="time_limit_input" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'tt_website_skytors/footer.html' %}

<script>
    activity_login('');
    activity_filter_render();

    function go_to_detail(sequence){
        for (i in activity_data)
        {
            if(activity_data[i].sequence == sequence)
            {
                pick = JSON.stringify(activity_data[i]).replace(/'/g,'');
                document.getElementById(`csrf`+sequence).innerHTML = `{% csrf_token %}`;
                document.getElementById(`csrf`+sequence).innerHTML += `<input type='hidden' value='`+pick+`' name='activity_pick'/>`;
                document.getElementById('myForm'+sequence).innerHTML += `<input type='hidden' value='`+time_limit+`' name='time_limit_input'/>`;
                document.getElementById('myForm'+sequence).submit();
            }
        }
    }


    $(document).ready(function () {
        breadcrumb_create("activity", 2, 0);
        $('.js-example-basic-single').select2();
        {% if parsed_country %}
            auto_complete_activity('activity_countries', {{parsed_city}});
        {% endif %}

        {% if parsed_category %}
            auto_complete_activity('activity_category', {{parsed_sub_category}});
        {% endif %}

        get_city_search_name({{parsed_city}});
        get_sub_cat_name({{parsed_sub_category}});
    });
</script>

{% endblock %}
