{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/webservice_agent.js"></script>
<script src="{{ static_path }}js/agent_javascript.js"></script>
<script>
    time = 300;
    triggered_balance();
    document.getElementById('username').innerHTML = '{{username}}';
    document.getElementById("balance").innerHTML = 'Balance: Rp '+getrupiah({{balance}});
</script>

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-wrap" style="margin-bottom:25px;">
                    <div class="row banner-right">
                        <div class="col-lg-10">
                            <input type="text" id="tb" class="form-control" placeholder="TU. Number " onfocus="this.placeholder = ''" onblur="this.placeholder = 'TB. Number '" autocomplete="off"/>
                        </div>
                        <div class="col-lg-2">
                            <input type="button" style="width:100%;" class="primary-btn-custom" value="Search" onclick="triggered();" id="button"/>
                        </div>
                    </div>
                </div>
                <div id="loading-search-top-up" style="margin-bottom:20px;">
                    <div class="col-lg-12">
                        <div class="sk-circle">
                            <div class="sk-circle1 sk-child"></div>
                            <div class="sk-circle2 sk-child"></div>
                            <div class="sk-circle3 sk-child"></div>
                            <div class="sk-circle4 sk-child"></div>
                            <div class="sk-circle5 sk-child"></div>
                            <div class="sk-circle6 sk-child"></div>
                            <div class="sk-circle7 sk-child"></div>
                            <div class="sk-circle8 sk-child"></div>
                            <div class="sk-circle9 sk-child"></div>
                            <div class="sk-circle10 sk-child"></div>
                            <div class="sk-circle11 sk-child"></div>
                            <div class="sk-circle12 sk-child"></div>
                        </div>
                        <div style="text-align:center"><h6>PLEASE WAIT</h6></div>
                    </div>
                </div>

                <table style="width:100%;" id="table_top_up_history" class="list-of-reservation">
                    <tr>
                        <th style="width:10%;">No.</th>
                        <th style="width:20%;">Name</th>
                        <th style="width:20%;">Payment Method</th>
                        <th style="width:15%;">Due Date</th>
                        <th style="width:10%;">State</th>
                        <th style="width:15%;">Amount</th>
                        <th style="width:10%;">Action</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About RODEX TRIP</h6>
                    <p>
                        PT. Roda Express Sukses Mandiri adalah perusahaan yang bergerak di bidang Tour & Travel dan dikenal dengan nama RODEX TOUR & TRAVEL. Rodex Tour & Travel didirikan pertama kali pada tanggal 09 September 2009 bertempat di sebuah pusat perbelanjaan terkemuka di Surabaya yaitu Mall Pakuwon Trade Center (PTC). Di bawah kepemimpinan Bapak Galuh Suryono Cipto Adi, Rodex Tour & Travel mengalami perkembangan yang signifikan dari tahun ke tahun.
                    </p>
                    <p>
                        Hingga saat ini kami telah memiliki  lebih kurang 1.000 orang reseller yang teregister dan puluhan Cabang Mitra (Citra) yang tersebar di seluruh indonesia.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Navigation Links</h6>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Feature</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Portfolio</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>
                        Dapatkan Penawaran Langsung di Inbox Email Anda!
                    </p>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="btn bb-btn"><span class="lnr lnr-location"></span></button>
                            </div>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by RODEX TRIP
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fas fa-facebook-square"></i></a>
                <a href="#"><i class="fas fa-twitter-square"></i></a>
                <a href="#"><i class="fas fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>

<script>
    get_top_up_history();
    load_more = false;
    $(document).ready(function () {
        $(window).scroll(function() {
            console.log($(window).scrollTop());
            console.log($(document).height() - ($(window).height() + 600));
            console.log(load_more);
            if($(window).scrollTop() >= $(document).height() - ($(window).height() + 600)) {
                if(load_more == true){
                    load_more = false;
                    get_top_up_history();

                }
            }
        });
    });
</script>

{% endblock %}
