{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script>
    time = 300;
    triggered_balance();
    unique_amount = parseInt('{{top_up_request.unique_amount}}');
    document.getElementById("balance").innerHTML = 'Balance: Rp '+getrupiah({{balance}});
</script>


<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="form-wrap" style="margin-bottom:25px;">
            <div class="row banner-right">
                <div class="col-lg-12">
                    <h3>Payment</h3><br/>
                    <div class="alert alert-danger hid">
                        <p id="alert_top"></p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12" style="margin-bottom:20px;">
                            <div style="background-color:#f15a22; padding:5px;">
                                <center>
                                    <span style="color:white; font-size:16px;">Reference</span>
                                </center>
                            </div>
                            <div style="background-color:white; padding:10px; border:1px solid #f15a22;">
                                <div class="row">
                                    <div class="hidden">
                                        <div id="data-token" value="3ff775e27b77455098d3d28e6c91cbb4"></div>
                                    </div>
                                    <div class="col-lg-5">
                                        <span id="departure_time_iti" style="font-weight:bold;">
                                            Number
                                        </span>
                                    </div>
                                    <div class="col-lg-7">
                                        <span id="top_up_name" style="font-weight:bold;">

                                        </span>
                                    </div>
                                    <div class="col-lg-5">
                                        <span id="departure_time_iti" style="font-weight:bold;">
                                            Agent
                                        </span>
                                    </div>
                                    <div class="col-lg-7">
                                        <span id="agent" style="font-weight:bold;">
                                            {{agent.name}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h4>Payment Method</h4>
                            <br/>
                            <div class="input-container-search-ticket btn-group">
                                <div class="form-select" id="default-select">
                                    <select id="payment_selection" onchange="payment_top_up();">

                                    </select>
                                </div>
                            </div>

                            <div style="padding-top: 10px; margin-bottom:15px;">
                                <div style="border: 1px solid #BBB; padding:10px; background-color:white;" id="payment">
                                </div>
                            </div>

                            <div style="color: rgb(51, 51, 51); font-family: Roboto, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; background-color:white; padding:10px;" id="desc">

                            </div>
                            <div style="border:1px solid #f15a22; padding:10px; background-color:white;">
                                <h5 id="total_amount"></h5>
                            </div>
                        </div>

                        <div class="col-lg-12" style="margin-top:15px">
                            <h6 for="notes">NOTES</h6>
                            <textarea id="notes" name="notes" rows="6" cols="80" style="resize:none; width:100%; margin-bottom:15px;" placeholder="Leave any notes here"></textarea>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="payment_summary">
                        <div class="header">
                            <h4>Adv.</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" style="text-align:center;">
                    <button type="button" width="100px" class="btn btn-primary pull-right" onclick="top_up_payment();">
                        <span>Confirm Now <span class="fas fa-angle-right"></span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About RODEX TRIP</h6>
                    <p>
                        PT. Roda Express Sukses Mandiri adalah perusahaan yang bergerak di bidang Tour & Travel dan dikenal dengan nama RODEX TOUR & TRAVEL. Rodex Tour & Travel didirikan pertama kali pada tanggal 09 September 2009 bertempat di sebuah pusat perbelanjaan terkemuka di Surabaya yaitu Mall Pakuwon Trade Center (PTC). Di bawah kepemimpinan Bapak Galuh Suryono Cipto Adi, Rodex Tour & Travel mengalami perkembangan yang signifikan dari tahun ke tahun.
                    </p>
                    <p>
                        Hingga saat ini kami telah memiliki  lebih kurang 1.000 orang reseller yang teregister dan puluhan Cabang Mitra (Citra) yang tersebar di seluruh indonesia.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Navigation Links</h6>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Feature</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Portfolio</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>
                        Dapatkan Penawaran Langsung di Inbox Email Anda!
                    </p>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="btn bb-btn"><span class="lnr lnr-location"></span></button>
                            </div>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by RODEX TRIP
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fas fa-facebook-square"></i></a>
                <a href="#"><i class="fas fa-twitter-square"></i></a>
                <a href="#"><i class="fas fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>

<script>
    create_top_up({{top_up_request.amount}},{{top_up_request.qty}},{{top_up_request.unique_amount}});
</script>

{% endblock %}
