{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_content.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}'
    signature = `{{signature}}`;
</script>
<style>
	#selectedFiles_bigbanner img {
		max-width: 125px;
		max-height: 125px;
		float: left;
		margin-bottom:10px;
	}
	#selectedFiles_smallbanner img {
		max-width: 125px;
		max-height: 125px;
		float: left;
		margin-bottom:10px;
	}
	#selectedFiles_promotionbanner img {
		max-width: 125px;
		max-height: 125px;
		float: left;
		margin-bottom:10px;
	}
</style>
{% include 'tt_website_skytors/logout.html' %}
{% include 'tt_website_skytors/header.html' %}
{% if template == 1 %}
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
{% elif template == 2 %}
<section class="roberto-service-area" style="padding-top:30px; padding-bottom:40px; z-index:2;">
{% elif template == 3 %}
<section class="blog-area section-gap" style="padding-top:150px; z-index:2;">
{% elif template == 4 %}
<div style="padding: 65px 0px; background:rgba(0,0,0,0.8);"></div>
<div style="position:relative; padding: 30px 0px; background:#f9f9ff;">
{% elif template == 5 %}
<section style="padding-top:150px; padding-bottom:50px;">
{% endif %}
    <div class="container">
        <div class="banner-right" style="margin-bottom:25px;">
            <form action="" method="POST" id="form_admin" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-lg-12" style="border:1px solid #cdcdcd; background:white; padding:20px;">
                    <div class="row" style="text-align:left">
                        <div class="col-lg-12" style="margin-bottom:15px;">
                            <h3>Admin Setting</h3>
                        </div>
                        <div class="col-lg-6">
                            <span>Template Website</span><br/>
                            {% if template == 1 or template == 2 %}
                            <div class="form-select" id="default-select">
                                <select id="template" name="template" data-size="7" data-live-search="true" required="required" tabindex="-98" class="nice-select-default">
                                    <option value="1" {% if template == 1 %} selected {% endif%}>Template 1</option>
                                    <option value="2" {% if template == 2 %} selected {% endif%}>Template 2</option>
                                    <option value="3" {% if template == 3 %} selected {% endif%}>Template 3</option>
                                    <option value="4" {% if template == 4 %} selected {% endif%}>Template 4</option>
                                    <option value="5" {% if template == 5 %} selected {% endif%}>Template 5</option>
                                </select>
                            </div>
                            {% elif template == 3 %}
                            <div class="form-group" style="width:100%;">
                                <div class="default-select" id="default-select" style="width:100%;">
                                    <select id="template" name="template" data-size="7" data-live-search="true" required="required" tabindex="-98" style="width:100%;">
                                        <option value="1" {% if template == 1 %} selected {% endif%}>Template 1</option>
                                        <option value="2" {% if template == 2 %} selected {% endif%}>Template 2</option>
                                        <option value="3" {% if template == 3 %} selected {% endif%}>Template 3</option>
                                        <option value="4" {% if template == 4 %} selected {% endif%}>Template 4</option>
                                        <option value="5" {% if template == 5 %} selected {% endif%}>Template 5</option>
                                    </select>
                                </div>
                            </div>
                            {% elif template == 4 %}
                            <div class="select-wrap">
                                <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                                <select id="template" name="template" data-size="7" data-live-search="true" required="required" tabindex="-98" style="width:100%;" class="form-control rounded">
                                    <option value="1" {% if template == 1 %} selected {% endif%}>Template 1</option>
                                    <option value="2" {% if template == 2 %} selected {% endif%}>Template 2</option>
                                    <option value="3" {% if template == 3 %} selected {% endif%}>Template 3</option>
                                    <option value="4" {% if template == 4 %} selected {% endif%}>Template 4</option>
                                    <option value="5" {% if template == 5 %} selected {% endif%}>Template 5</option>
                                </select>
                            </div>
                            {% elif template == 5 %}
                            <div id="default-select">
                                <select id="template" name="template" data-size="7" data-live-search="true" required="required" tabindex="-98" style="width:100%;" class="app-select form-control">
                                    <option value="1" {% if template == 1 %} selected {% endif%}>Template 1</option>
                                    <option value="2" {% if template == 2 %} selected {% endif%}>Template 2</option>
                                    <option value="3" {% if template == 3 %} selected {% endif%}>Template 3</option>
                                    <option value="4" {% if template == 4 %} selected {% endif%}>Template 4</option>
                                    <option value="5" {% if template == 5 %} selected {% endif%}>Template 5</option>
                                </select>
                            </div>
                            {% endif %}
                        </div>

                        <div class="col-lg-6">
                            <span>Logo</span><br/>
                            <div class="input-container-search-ticket form-select">
                                <input type="file" name="fileToUpload" id="fileToUpload"/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <span>Big Banner</span><br/>
                            <button type="button" class="primary-btn" data-toggle="modal" data-target="#myModalBigBanner">Upload Image</button>
                            <!-- Modal -->
                            <div class="modal fade" id="myModalBigBanner" role="dialog" data-keyboard="false">
                                <div class="modal-dialog">

                                  <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" style="color:white;">Big Banner</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">

                                            Files: <input type="file" id="files_bigbanner" name="files_bigbanner" multiple="" accept="image/*"><br>

                                            <div id="selectedFiles_bigbanner"></div>

                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <span>Image</span><br/>
                            <div class="row" id="big_banner">

                            </div>
                        </div>

                        <div class="col-lg-12" style="margin-top:25px;">
                            <span>Small Banner</span><br/>
                            <button type="button" class="primary-btn" data-toggle="modal" data-target="#myModalSmallBanner">Upload Image</button>
                            <!-- Modal -->
                            <div class="modal fade" id="myModalSmallBanner" role="dialog" data-keyboard="false">
                                <div class="modal-dialog">

                                  <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" style="color:white;">Small Banner</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">

                                            Files: <input type="file" id="files_smallbanner" name="files_smallbanner" multiple="" accept="image/*"><br>

                                            <div id="selectedFiles_smallbanner"></div>

                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <span>Image</span><br/>
                            <div id="small_banner">

                            </div>
                        </div>

                        <div class="col-lg-12" style="margin-top:25px;">
                            <span>Promotion Banner</span><br/>
                            <button type="button" class="primary-btn" data-toggle="modal" data-target="#myModalPromotionBanner">Upload Image</button>
                            <!-- Modal -->
                            <div class="modal fade" id="myModalPromotionBanner" role="dialog" data-keyboard="false">
                                <div class="modal-dialog">

                                  <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" style="color:white;">Promotion Banner</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">

                                            Files: <input type="file" id="files_promotionbanner" name="files_promotionbanner" multiple="" accept="image/*"><br>

                                            <div id="selectedFiles_promotionbanner"></div>

                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <span>Image</span><br/>
                            <div id="promotion">

                            </div>
                        </div>

                        <div class="col-lg-12">
                            {% if template == 1 %}
                            <button type="button" class="primary-btn" onclick="update_banner();">Save</button>
                            {% elif template == 2 %}
                            <button type="button" class="btn roberto-btn" style="margin-top:20px;" onclick="update_banner();">Save</button>
                            {% elif template == 3 %}
                            <button type="button" class="primary-btn" onclick="update_banner();">Save</button>
                            {% elif template == 4 %}
                            <button type="button" class="btn btn-primary rounded" onclick="update_banner();">Save</button>
                            {% elif template == 5 %}
                            <button type="button" class="btn btn-primary" onclick="update_banner();">Save</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% if template == 1 or template == 2 or template == 3 or template == 5%}
</section>
{% elif template == 2 %}
</div>
{% endif %}

{% include 'tt_website_skytors/footer.html' %}

<script>

	var selDiv_bigbanner = "";
	var selDiv_smallbanner = "";
	var selDiv_promotionbanner = "";

	document.addEventListener("DOMContentLoaded", init, false);

	function init() {
		document.querySelector('#files_bigbanner').addEventListener('change', handleFileSelect_bigbanner, false);
		document.querySelector('#files_smallbanner').addEventListener('change', handleFileSelect_smallbanner, false);
		document.querySelector('#files_promotionbanner').addEventListener('change', handleFileSelect_promotionbanner, false);
		selDiv_bigbanner = document.querySelector("#selectedFiles_bigbanner");
		selDiv_smallbanner = document.querySelector("#selectedFiles_smallbanner");
		selDiv_promotionbanner = document.querySelector("#selectedFiles_promotionbanner");
	}

	get_banner('big_banner','admin');
    get_banner('small_banner','admin');
    get_banner('promotion','admin');

</script>

{% endblock %}
