{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script>
    signature = `{{signature}}`;
</script>
{% include 'tt_website_skytors/logout.html' %}
{% include 'tt_website_skytors/header.html' %}
{% if template == 1 %}
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
{% elif template == 2 %}
<section class="roberto-service-area" style="padding-top:30px; padding-bottom:40px; z-index:2;">
{% elif template == 3 %}
<section class="blog-area section-gap" style="padding-top:150px; z-index:2;">
{% elif template == 4 %}
<div style="padding: 110px 0px; background:rgba(0,0,0,0.8);"></div>
<div style="position:relative; padding: 30px 0px; background:#f9f9ff;">
{% elif template == 5 %}
<section style="padding-top:150px; padding-bottom:50px;">
{% endif %}
    <div class="container">
        <div class="banner-right" style="margin-bottom:25px;">
            <form action="" method="POST" id="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-lg-12" style="border:1px solid #cdcdcd; background:white; padding:20px;">
                    <div class="row" style="text-align:left">
                        <div class="col-lg-12" style="margin-bottom:15px;">
                            <h3>Admin Setting</h3>
                        </div>
                        <div class="col-lg-6">
                            <span>Template Website</span><br/>
                            {% if template == 1 or template == 2 %}
                            <div class="form-select" id="default-select">
                                <select id="template" name="template" data-size="7" data-live-search="true" required="required" tabindex="-98" class="nice-select-default">
                                    <option value="1" {% if template == 1 %} selected {% endif%}>Template 1</option>
                                    <option value="2" {% if template == 2 %} selected {% endif%}>Template 2</option>
                                    <option value="3" {% if template == 3 %} selected {% endif%}>Template 3</option>
                                    <option value="4" {% if template == 4 %} selected {% endif%}>Template 4</option>
                                    <option value="5" {% if template == 5 %} selected {% endif%}>Template 5</option>
                                </select>
                            </div>
                            {% elif template == 3 %}
                            <div class="form-group" style="width:100%;">
                                <div class="default-select" id="default-select" style="width:100%;">
                                    <select id="template" name="template" data-size="7" data-live-search="true" required="required" tabindex="-98" style="width:100%;">
                                        <option value="1" {% if template == 1 %} selected {% endif%}>Template 1</option>
                                        <option value="2" {% if template == 2 %} selected {% endif%}>Template 2</option>
                                        <option value="3" {% if template == 3 %} selected {% endif%}>Template 3</option>
                                        <option value="4" {% if template == 4 %} selected {% endif%}>Template 4</option>
                                        <option value="5" {% if template == 5 %} selected {% endif%}>Template 5</option>
                                    </select>
                                </div>
                            </div>
                            {% elif template == 4 %}
                            <div class="select-wrap">
                                <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                                <select id="template" name="template" data-size="7" data-live-search="true" required="required" tabindex="-98" style="width:100%;" class="form-control rounded">
                                    <option value="1" {% if template == 1 %} selected {% endif%}>Template 1</option>
                                    <option value="2" {% if template == 2 %} selected {% endif%}>Template 2</option>
                                    <option value="3" {% if template == 3 %} selected {% endif%}>Template 3</option>
                                    <option value="4" {% if template == 4 %} selected {% endif%}>Template 4</option>
                                    <option value="5" {% if template == 5 %} selected {% endif%}>Template 5</option>
                                </select>
                            </div>
                            {% elif template == 5 %}
                            <div id="default-select">
                                <select id="template" name="template" data-size="7" data-live-search="true" required="required" tabindex="-98" style="width:100%;" class="app-select form-control">
                                    <option value="1" {% if template == 1 %} selected {% endif%}>Template 1</option>
                                    <option value="2" {% if template == 2 %} selected {% endif%}>Template 2</option>
                                    <option value="3" {% if template == 3 %} selected {% endif%}>Template 3</option>
                                    <option value="4" {% if template == 4 %} selected {% endif%}>Template 4</option>
                                    <option value="5" {% if template == 5 %} selected {% endif%}>Template 5</option>
                                </select>
                            </div>
                            {% endif %}
                        </div>

                        <div class="col-lg-6">
                            <span>Logo</span><br/>
                            <div class="input-container-search-ticket form-select">
                                <input type="file" name="fileToUpload" id="fileToUpload"/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            {% if template == 1 %}
                            <button class="primary-btn text-uppercase">Save</button>
                            {% elif template == 2 %}
                            <button class="btn roberto-btn" style="margin-top:20px;">Save</button>
                            {% elif template == 3 %}
                            <button class="primary-btn">Save</button>
                            {% elif template == 4 %}
                            <button class="btn btn-primary rounded">Save</button>
                            {% elif template == 5 %}
                            <button class="btn btn-primary">Save</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% if template == 1 or template == 2 or template == 3 or template == 5%}
</section>
{% elif template == 2 %}
</div>
{% endif %}

{% include 'tt_website_skytors/footer.html' %}

<script>

</script>

{% endblock %}
