{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script>
    //DEPRECATED
    unique_amount = parseInt('{{top_up_request.unique_amount}}');
    signature = `{{signature}}`;
</script>

{% include 'tt_website_skytors/logout.html' %}
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="form-wrap" style="margin-bottom:25px;">
            <div class="row banner-right">
                <div class="col-lg-12">
                    <h3>Payment</h3><br/>
                    <div class="alert alert-danger hid">
                        <p id="alert_top"></p>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12" style="margin-bottom:20px;">
                            <div style="background-color:#f15a22; padding:5px;">
                                <center>
                                    <span style="color:white; font-size:16px;">Reference</span>
                                </center>
                            </div>
                            <div style="background-color:white; padding:10px; border:1px solid #f15a22;">
                                <div class="row">
                                    <div class="hidden">
                                        <div id="data-token" value="3ff775e27b77455098d3d28e6c91cbb4"></div>
                                    </div>
                                    <div class="col-lg-5">
                                        <span id="departure_time_iti" style="font-weight:bold;">
                                            Number
                                        </span>
                                    </div>
                                    <div class="col-lg-7">
                                        <span id="top_up_name" style="font-weight:bold;">

                                        </span>
                                    </div>
                                    <div class="col-lg-5">
                                        <span id="departure_time_iti" style="font-weight:bold;">
                                            Agent
                                        </span>
                                    </div>
                                    <div class="col-lg-7">
                                        <span id="agent" style="font-weight:bold;">
                                            {{agent.name}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <h4>Payment Method</h4>
                            <br/>
                            <div class="input-container-search-ticket btn-group">
                                <div class="form-select" id="default-select">
                                    <select id="payment_selection" onchange="payment_top_up();">

                                    </select>
                                </div>
                            </div>

                            <div style="padding-top: 10px; margin-bottom:15px;">
                                <div style="border: 1px solid #BBB; padding:10px; background-color:white;" id="payment">
                                </div>
                            </div>

                            <div style="color: rgb(51, 51, 51); font-family: Roboto, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; background-color:white; padding:10px;" id="desc">

                            </div>
                            <div style="border:1px solid #f15a22; padding:10px; background-color:white;">
                                <h5 id="total_amount"></h5>
                            </div>
                        </div>

                        <div class="col-lg-12" style="margin-top:15px">
                            <h6 for="notes">NOTES</h6>
                            <textarea id="notes" name="notes" rows="6" cols="80" style="resize:none; width:100%; margin-bottom:15px;" placeholder="Leave any notes here"></textarea>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="payment_summary">
                        <div class="header">
                            <h4>Adv.</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" style="text-align:center;">
                    <button type="button" width="100px" class="btn btn-primary pull-right" onclick="top_up_payment();">
                        <span>Confirm Now <span class="fas fa-angle-right"></span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'tt_website_skytors/footer.html' %}
<script>
    create_top_up({{top_up_request.amount}},{{top_up_request.unique_amount}});
</script>

{% endblock %}
