{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}js/daterangepicker.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.min.js?version={{javascript_version}}"></script>
<!--<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>-->
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/event_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_event.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>

<script>
    static_path_url_server = '{{static_path_url_server}}'
    signature = `{{signature}}`;
    time_limit = {{time_limit}};
    session_time_limit();

    event_search_data_request = {
        'event_name': `{{event_search.event_name}}`,
        'is_online': `{{event_search.is_online}}`,
        'category_name': `{{event_search.category_name}}`,
    }

</script>

{% include 'tt_website_rodextrip/header.html' %}
{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/plugin_passenger.html' %}
{% include 'tt_website_rodextrip/loading_screen.html' %}

<title id="title_search">{{name}} Event - {% trans 'Session Time' %} {{event_code.name}}</title>

<div id="overlay-search-box" onclick="off_overlay()" style="z-index:90;"></div>
{%if template == 1%}
<section class="destinations-area" style="padding:15px 0px 15px 0px; background:white; border-bottom:1px solid #cdcdcd; z-index:90; position:relative;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6" style="text-align:left;">
                <span class="copy_span" style="text-transform: capitalize; font-size:13px;"><i class="fas fa-map-marker-alt"></i> Event in or Contain(s):
                    {% if event_search.event_name != ''%}{{event_search.event_name}}{% else %}All Event{% endif %}
                </span><br/>
                <span class="copy_span" style="text-transform: capitalize; font-size:13px;"><i class="fas fa-tags"></i> Category: {{event_search.category_name}}</span><br/>
            </div>

            <div class="col-lg-6 col-md-6" style="text-align:right;">
                <button class="primary-btn-custom" type="button" onclick="show_hide_change_search();">
                    <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                    <span id="change_search_text">{% trans 'Change Search' %}</span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="price-area" id="change_search_box" data-aos="fade-up" style="padding-top:30px; padding-bottom:5px; background-color: black; z-index:90; position:relative; display:none">
    <div class="overlay overlay-bg"></div>
    <div class="container" id="div-search-overlay">
        <div class="row">
            <div class="col-lg-12" style="padding:0;">
                <div class="banner-right">
                    <form action="{% url 'tt_website_rodextrip:event_search'%}" method="POST" class="form-wrap" id="event_searchForm">
                        {% csrf_token %}
                        <div class="row">
                            <input type="hidden" id="response" name="response">
                            <div class="col-lg-3" style="padding:0px;">
                                <span class="span-search-ticket"><i class="fas fa-folder"></i> {% trans 'Category' %}</span>
                                <div class="input-container-search-ticket">
                                    <div class="form-select" id="default-select">
                                        <select id="category_event" name="category_event" class="nice-select-default">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9" style="padding:0px;">
                                <span class="span-search-ticket">{% trans 'Event Name' %}</span>
                                <div class="input-container-search-ticket">
                                    <input onClick="this.setSelectionRange(0, this.value.length);" id="event_name_id" name="event_name_id" class="form-control" type="text" placeholder="{% trans 'Origin' %}" style="width:100%;outline:0" autocomplete="off" value="{{event_search.event_name}}"/>
                                </div>
                            </div>
                        </div>

                        <button class="primary-btn" onclick="event_search_validation();" type="button" value="Submit">
                            <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                            {% trans 'Search' %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% elif template == 2 %}
<section class="destinations-area change_search_area" style="padding:14px 0px 14px 0px; background:white; border-bottom:1px solid #cdcdcd; border-top:1px solid #cdcdcd; position:relative; z-index:90;">
    <div id="hotel_search_params" class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6" style="text-align:left;">
                <span class="copy_span" style="text-transform: capitalize; font-size:13px;"><i class="fas fa-map-marker-alt"></i> Event in or Contain(s):
                    {% if event_search.event_name != ''%}{{event_search.event_name}}{% else %}All Event{% endif %}
                </span><br/>
                <span class="copy_span" style="text-transform: capitalize; font-size:13px;"><i class="fas fa-tags"></i> Category: {{event_search.category_name}}</span><br/>
            </div>

            <div class="col-lg-6 col-md-6" style="text-align:right;">
                <button class="primary-btn-custom" type="button" onclick="show_hide_change_search();">
                    <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                    <span id="change_search_text">{% trans 'Change Search' %}</span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="bg-img bg-overlay jarallax" id="change_search_box" style="background-image: url({{static_path}}images/christmas-wallpaper2.jpg); padding-top:40px; padding-bottom:40px; z-index:90; position:relative; display:none;">
    <div class="container" id="div-search-overlay">
        <div class="row">
            <div class="col-lg-12">
                <div class="hotel-search-form-area" style="bottom:0px; padding-left:0px; padding-right:0px;">
                    <div class="hotel-search-form" style="background-color:unset; padding:unset; box-shadow:unset; color:{{text_color}};">
                        <form action="{% url 'tt_website_rodextrip:event_search'%}" method="POST" class="form-wrap" id="event_searchForm">
                            {% csrf_token %}
                            <div class="row">
                                <input type="hidden" id="response" name="response">
                                <div class="col-lg-3">
                                    <span class="span-search-ticket"><i class="fas fa-folder"></i> {% trans 'Category' %}</span>
                                    <select id="category_event" name="category_event" class="form-control">

                                    </select>
                                </div>
                                <div class="col-lg-9">
                                    <span class="span-search-ticket">{% trans 'Event Name' %}</span>
                                    <div class="input-container-search-ticket">
                                        <input onClick="this.setSelectionRange(0, this.value.length);" id="event_name_id" name="event_name_id" class="form-control" type="text" placeholder="{% trans 'Origin' %}" style="width:100%;outline:0" autocomplete="off" value="{{event_search.event_name}}"/>
                                    </div>
                                </div>
                            </div>
                            <center>
                                <button class="primary-btn" onclick="event_search_validation();" type="button" value="Submit">
                                    <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                                    {% trans 'Search' %}
                                </button>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% elif template == 3 %}
<section class="destinations-area change_search_area" style="padding:14px 0px 14px 0px; background:white; border-bottom:1px solid #cdcdcd; border-top:1px solid #cdcdcd; position:relative; z-index:90;">
    <div id="hotel_search_params" class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6" style="text-align:left;">
                <span class="copy_span" style="text-transform: capitalize; font-size:13px;"><i class="fas fa-map-marker-alt"></i> Event in or Contain(s):
                    {% if event_search.event_name != ''%}{{event_search.event_name}}{% else %}All Event{% endif %}
                </span><br/>
                <span class="copy_span" style="text-transform: capitalize; font-size:13px;"><i class="fas fa-tags"></i> Category: {{event_search.category_name}}</span><br/>
            </div>

            <div class="col-lg-6 col-md-6" style="text-align:right;">
                <button class="primary-btn-custom" type="button" onclick="show_hide_change_search();">
                    <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                    <span id="change_search_text">{% trans 'Change Search' %}</span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="banner-area relative" id="change_search_box" style="padding-top:50px; padding-bottom:40px; background-color: black; z-index:98; position:relative; display:none;">
    <div class="overlay overlay-bg"></div>
    <div class="container" id="div-search-overlay">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-right" style="background:unset; border:unset;">
                    <form action="{% url 'tt_website_rodextrip:event_search'%}" method="POST" class="form-wrap" id="event_searchForm">
                        {% csrf_token %}
                        <div class="row">
                            <input type="hidden" id="response" name="response">
                            <div class="col-lg-3">
                                <span class="span-search-ticket"><i class="fas fa-folder"></i> {% trans 'Category' %}</span>
                                <div class="form-group">
                                    <div class="default-select" id="default-select">
                                        <select id="category_event" name="category_event">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <span class="span-search-ticket">{% trans 'Event Name' %}</span>
                                <div class="input-container-search-ticket">
                                    <input onClick="this.setSelectionRange(0, this.value.length);" id="event_name_id" name="event_name_id" class="form-control" type="text" placeholder="{% trans 'Origin' %}" style="width:100%;outline:0" autocomplete="off" value="{{event_search.event_name}}"/>
                                </div>
                            </div>
                        </div>
                        <center>
                            <button class="primary-btn" onclick="event_search_validation();" type="button" value="Submit">
                                <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                                {% trans 'Search' %}
                            </button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% elif template == 4 %}
<section class="destinations-area change_search_area" style="padding:14px 0px 14px 0px; background:white; border-bottom:1px solid #cdcdcd; position:relative; z-index:90;">
    <div id="hotel_search_params" class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6" style="text-align:left;">
                <span class="copy_span" style="text-transform: capitalize; font-size:13px;"><i class="fas fa-map-marker-alt"></i> Event in or Contain(s):
                    {% if event_search.event_name != ''%}{{event_search.event_name}}{% else %}All Event{% endif %}
                </span><br/>
                <span class="copy_span" style="text-transform: capitalize; font-size:13px;"><i class="fas fa-tags"></i> Category: {{event_search.category_name}}</span><br/>
            </div>

            <div class="col-lg-6 col-md-6" style="text-align:right;">
                <button class="primary-btn-custom" type="button" onclick="show_hide_change_search();">
                    <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                    <span id="change_search_text">{% trans 'Change Search' %}</span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="price-area" id="change_search_box" data-aos="fade-up" style="padding-top:35px; padding-bottom:35px; background-color: black; z-index:90; position:relative; display:none">
    <div class="overlay overlay-bg"></div>
    <div class="container" id="div-search-overlay">
        <div class="row">
            <div class="col-lg-12">
                <form action="{% url 'tt_website_rodextrip:event_search'%}" method="POST" class="form-wrap" id="event_searchForm">
                    {% csrf_token %}
                    <div class="row">
                        <input type="hidden" id="response" name="response">
                        <div class="col-lg-3">
                            <span class="span-search-ticket"><i class="fas fa-folder"></i> {% trans 'Category' %}</span>
                            <div class="input-container-search-ticket">
                                <div class="form-select" id="default-select">
                                    <select id="category_event" name="category_event" class="nice-select-default">

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <span class="span-search-ticket">{% trans 'Event Name' %}</span>
                            <div class="input-container-search-ticket">
                                <input onClick="this.setSelectionRange(0, this.value.length);" id="event_name_id" name="event_name_id" class="form-control" type="text" placeholder="{% trans 'Origin' %}" style="width:100%;outline:0" autocomplete="off" value="{{event_search.event_name}}"/>
                            </div>
                        </div>
                    </div>
                    <center>
                        <button class="primary-btn" onclick="event_search_validation();" type="button" value="Submit">
                            <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                            {% trans 'Search' %}
                        </button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</section>
{% elif template == 5 %}
<section class="destinations-area change_search_area" style="padding:14px 0px 14px 0px; background:white; border-bottom:1px solid #cdcdcd; border-top:1px solid #cdcdcd; position:relative; z-index:90;">
    <div id="hotel_search_params" class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6" style="text-align:left;">
                <span class="copy_span" style="text-transform: capitalize; font-size:13px;"><i class="fas fa-map-marker-alt"></i> Event in or Contain(s):
                    {% if event_search.event_name != ''%}{{event_search.event_name}}{% else %}All Event{% endif %}
                </span><br/>
                <span class="copy_span" style="text-transform: capitalize; font-size:13px;"><i class="fas fa-tags"></i> Category: {{event_search.category_name}}</span><br/>
            </div>

            <div class="col-lg-6 col-md-6" style="text-align:right;">
                <button class="primary-btn-custom" type="button" onclick="show_hide_change_search();">
                    <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                    <span id="change_search_text">{% trans 'Change Search' %}</span>
                </button>
            </div>
        </div>
    </div>
</section>
<section class="price-area" id="change_search_box" data-aos="fade-up" style="padding-top:35px; padding-bottom:35px; background-color: black; z-index:90; position:relative; display:none">
    <div class="overlay overlay-bg"></div>
    <div class="container" id="div-search-overlay">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-right">
                    <form action="{% url 'tt_website_rodextrip:event_search'%}" method="POST" class="form-wrap" id="event_searchForm">
                        {% csrf_token %}
                        <div class="row">
                            <input type="hidden" id="response" name="response">
                            <div class="col-lg-3">
                                <span class="span-search-ticket"><i class="fas fa-folder"></i> {% trans 'Category' %}</span>
                                <div class="input-container-search-ticket">
                                    <div class="form-select" id="default-select">
                                        <select id="category_event" name="category_event" class="nice-select-default">

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <span class="span-search-ticket">{% trans 'Event Name' %}</span>
                                <div class="input-container-search-ticket">
                                    <input onClick="this.setSelectionRange(0, this.value.length);" id="event_name_id" name="event_name_id" class="form-control" type="text" placeholder="{% trans 'Origin' %}" style="width:100%;outline:0" autocomplete="off" value="{{event_search.event_name}}"/>
                                </div>
                            </div>
                        </div>
                        <center>
                            <button class="primary-btn" onclick="event_search_validation();" type="button" value="Submit">
                                <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                                {% trans 'Search' %}
                            </button>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{%endif%}

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px; z-index:1; background:#f7f7f7">
    <div class="container">
        <div class="row" style="padding-bottom:15px;">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                <span style="font-size:14px; font-weight:600;">Session Time <span class="count_time" id="session_time"> </span></span>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                <span style="font-size:14px; font-weight:600;">Elapsed Time <span class="count_time" id="elapse_time"> </span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="margin-bottom:15px;">
                <button class="primary-btn-custom" type="button" onclick="location.href='{% url 'tt_website_rodextrip:event_search'%}';"><i class="fas fa-chevron-left"></i> Back to result search</button>
            </div>
        </div>

        <div class="row align-items-center justify-content-between d-flex">
            <div class="col-lg-12" id="breadcrumbs_create" style="margin-bottom:15px;">

            </div>
        </div>
        {% if username.co_user_login != 'agent_b2c' %}
        <div class="row" id="info_user_search" style="padding-bottom:15px; position: sticky; top: 0px; z-index: 2;">
            <div class="col-lg-12">
                <div style="padding:10px; background:white; border:1px solid #cdcdcd;">
                    <i class="fas fa-user" style="padding-right:5px; color:{{color}}; font-size:16px;"></i><span title="{{username.co_user_login}}" style="font-size:13px; font-weight:600; padding-right:10px; cursor:text; color:black; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{username.co_user_login}}</span>
                    <span id="balance_search" style="font-size:13px; font-weight:500; padding-right:10px;"></span>
                    <span id="credit_search" style="font-size:13px; font-weight:500;"></span>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row nav-hotel" style="position:sticky;top: 40px;z-index: 24;">
            <div class="col-lg-12">
                <div class="box-sticky-hotel" style="padding-right:0px;">
                    <button class="content-event primary-btn-sticky-hotel" type="button" id="information-event">Description</button>
                    <button class="content-event primary-btn-sticky-hotel" type="button" id="select-room-event">Buy Ticket</button>

                    <button class="myticket_static_detail" data-toggle="modal" data-target="#myModalCopyOption" onclick="get_checked_copy_result();">
                        <span style="color:{{text_color}}; font-size:14px;"><span id="badge-copy-notif">0</span> Copy Selected <i class="fas fa-copy"></i></span>
                    </button>
                </div>
            </div>
        </div>
        <form action="{% url 'tt_website_rodextrip:event_passenger'%}" id="goto_passenger" method="POST" style="padding:15px 15px 0px 15px;">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12 div-information-event" style="background:white; margin-bottom:30px; padding-top:20px; padding-bottom:20px; border:1px solid #cdcdcd; border-radius:3px;">
                    <div class="row">
                        <div class="modal fade modal-rdx" id="openImage" role="dialog" style="background:rgba(250,250,250,1);">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content" style="background-color:transparent; border:unset;">
                                    <div class="modal-header" style="background-color:transparent; border-bottom:unset;">
                                        <button type="button" class="close" data-dismiss="modal" style="color:black;">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-12" style="margin-bottom:15px;">
                                                    <div class="owl-carousel-hotel-img-modal owl-theme" style="text-align:center;">
                                                        {% for i in event_code.images %}
                                                        <div class="item" style="cursor:zoom-in; float:none; display:inline-block;">
<!--                                                            <div class="img-event-search zoom-img" style="background-size:contain; margin: auto; max-height:500px; background-repeat: no-repeat; cursor:pointer; background-image: url('{{i.url}}');" onerror="this.src='/static/tt_website_rodextrip/images/no pic/no-event.png';"></div>-->
                                                            <img class="img-fluid zoom-img" src="{{i.url}}" onerror="this.src='/static/tt_website_rodextrip/images/no pic/no_image_hotel.jpeg';" style="margin: auto; max-height:500px; width:unset;" alt="">
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-12" style="margin-bottom:15px; text-align:right;">
                                                    <h5 style="color:black;" id="total_image_hotel-modal"></h5>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="owl-carousel-hotel-modal owl-theme">
                                                        {% for i in event_code.images %}
                                                        <div class="item" style="cursor:pointer;">
                                                            <div class="img-event-search" style="background-size:contain; max-width:100%; height:90px; background-repeat: no-repeat; cursor:pointer; background-image: url('{{i.url}}');" onerror="this.src='/static/tt_website_rodextrip/images/no pic/no-event.png';"></div>
<!--                                                            <img class="img-fluid" src="{{i.url}}" onerror="this.src='/static/tt_website_rodextrip/images/no pic/no_image_hotel.jpeg';" style="max-width:100%; height:90px;">-->
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7" style="margin-bottom:15px;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="hidden" value="{{event_code.images|length}}" id="length-img"/>
                                    {% if event_code.images|length > 0 %}
                                    <div class="owl-carousel-hotel-img owl-theme">
                                        {% for i in event_code.images %}
                                        <div class="item" style="cursor:pointer; float:none;">
                                            <div class="img-event-search" style="background-size:contain; height:400px; background-repeat: no-repeat; cursor:pointer; background-image: url('{{i.url}}');" onerror="this.src='/static/tt_website_rodextrip/images/no pic/no-event.png';" data-toggle="modal" data-target="#openImage" onclick="go_to_owl_carousel({{forloop.counter}}, {{event_code.images|length}});"></div>
<!--                                            <img class="img-fluid" style="max-height:400px; margin-left:50%; transform:translateX(-50%); background-size:contain; background-repeat: no-repeat;" src="{{i.url}}" onerror="this.src='/static/tt_website_rodextrip/images/no pic/no_image_hotel.jpeg';" data-toggle="modal" data-target="#openImage" onclick="go_to_owl_carousel({{forloop.counter}}, {{event_code.images|length}});">-->
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <h6 style="color:black; text-align:right; padding-top:10px;" id="total_image_hotel">1 of {{event_code.images|length}}</h6>
                                    {% else %}
                                    <div class="owl-carousel-hotel-img owl-theme">
                                        <div class="item" style="float:none; display:inline-block; border:1px solid #cdcdcd;">
                                            <div class="img-event-search" style="background-size:contain; height:400px; background-repeat: no-repeat; cursor:pointer; background-image: url('{{static_path}}/images/no pic/no-event.png');" onerror="this.src='/static/tt_website_rodextrip/images/no pic/no-event.png';"></div>
<!--                                            <img class="img-fluid" src="{{static_path}}/images/no pic/no-event.png" style="margin: auto; max-height:400px; background-size:contain; background-repeat: no-repeat;">-->
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5" style="margin-bottom:10px;">
                            <div class="row">
                                <div class="col-lg-12" id="option_search_params">
                                    <input type="hidden" value="{{event_code.name}}" id="get_name_hotel"/>
                                    <span id="name_event" class="copy_span" style="font-size:22px; font-weight:bold; color:black;">{{event_code.name}}</span><br/>
                                    <span class="copy_span" style="font-size:14px;"><i class="fas fa-calendar-alt" style="color:{{color}};"></i> {{event_code.start_date}} {% if event_code.start_date != event_code.end_date and event_code.end_date %} - {{event_code.end_date}} {% endif %}</span><br/>
                                    <span class="copy_span" style="font-size:14px;"><i class="fas fa-clock" style="color:{{color}};"></i> {{event_code.start_time}} {% if event_code.start_time != event_code.end_time and event_code.end_time %} - {{event_code.end_time}} {% endif %}</span><br/>
                                    {% for loc in event_code.locations %}
                                    <span class="copy_span loc_address" style="font-size:14px;"><i class="fas fa-map-marker-alt" style="color:{{color}};"></i><span class="loc_address"> {{loc.location_name}}, {{loc.location_address}}, {{loc.city_name}}, {{loc.country_name}}</span></span><br/>
                                    {% endfor %}
                                    <!-- <span class="address_hotel" id="address_hotel">{% if event_code.location.address != false %}{{event_code.location.address}}{% endif %}{% if event_code.location.city != false %}, {{event_code.location.city}}{% endif %}{% if event_code.location.kelurahan != false %}, {{event_code.location.kelurahan}}{% endif %}{% if event_code.location.state != false %}, {{event_code.location.state}}{% endif %}{% if event_code.location.zipcode != false %}, {{event_code.location.zipcode}}{% endif %}</span>-->
                                    <!-- - <a href="#" style="color:blue; text-decoration: underline;">Show Map</a><br/>-->
                                    <hr/>
                                </div>

                                <div class="col-lg-12">
                                    Category <i class="fas fa-tags" style="color:{{color}};"></i><br/>
                                    <div style="word-break:break-word;">
                                        {% for category in event_code.category %}
                                        <a class="tags_btn" href="/event/category/{{category}}"> {{category}} </a>
                                        {% endfor %}
                                    </div>
                                    <hr/>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 price_bottom">
                                    <div class="row">
                                        <div class="col-lg-6" style="text-align:left;">
                                            <span style="font-weight:bold; margin-bottom:15px;">Hosted by</span><br/>
                                            <a href="/event/vendor" style="text-decoration:unset;">
                                                {% if event_code.vendor_obj.vendor_logo %}
                                                <img src="{{event_code.vendor_obj.vendor_logo}}" class="image-rounded-profile" style="margin-right:5px;"/>
                                                {% else %}
                                                <img src="{{static_path}}images/noprofile.png" class="image-rounded-profile" style="margin-right:5px;"/>
                                                {% endif %}
                                                {{event_code.vendor_obj.vendor_name}}
                                            </a>
                                        </div>
                                        <div class="col-lg-6" style="text-align:right;">
                                            <h6>Price Start From</h6>
                                            <span style="font-weight:500; font-size:14px;" id="price_start_event"></span><br/>
                                            <button class="primary-btn" type="button" id="select-room-event2">Buy Ticket</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <hr/>
                            <div class="style-scrollbar" style="overflow:auto; white-space:nowrap;">
                                <ul class="create_tabs" id="identity">
                                    <li class="create_tab-link current" data-tab="description-tab"><label>Description</label></li>
                                    <li class="create_tab-link" data-tab="itinerary-tab"><label>Itinerary</label></li>
                                    <li class="create_tab-link" data-tab="inclusion-tab"><label>Price Inclusion</label></li>
                                    <li class="create_tab-link" data-tab="exclude-tab"><label>Price Exclude</label></li>
                                    <li class="create_tab-link" data-tab="info-tab"><label>Additional Info</label></li>
                                    <li class="create_tab-link" data-tab="notice-tab"><label>Warning(s)</label></li>
                                </ul>
                            </div>

                            <div class="banner-right" style="background:white; border:1px solid #cdcdcd;">
                                <div id="description-tab" class="create_tab-content current" style="padding:20px 0px 10px 0px;">
                                    <div class="col-lg-12">
                                        {% if event_code.description != '' %}
                                        {% autoescape off %}
                                        {{event_code.description}}
                                        {% endautoescape %}
                                        {% else %}
                                        Currently no description available for this event
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="itinerary-tab" class="create_tab-content" style="padding:20px 0px 10px 0px;">
                                    <div class="col-lg-12">
                                        {% if event_code.itinerary != ''%}
                                        {% autoescape off %}
                                        {{event_code.itinerary}}
                                        {% endautoescape %}
                                        {% else %}
                                        Currently no itinerary available for this event
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="inclusion-tab" class="create_tab-content" style="padding:20px 0px 10px 0px;">
                                    <div class="col-lg-12">
                                        {% if event_code.includes != ''%}
                                        {% autoescape off %}
                                        {{event_code.includes}}
                                        {% endautoescape %}
                                        {% else %}
                                        Currently no Inclusion data available for this event
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="exclude-tab" class="create_tab-content" style="padding:20px 0px 10px 0px;">
                                    <div class="col-lg-12">
                                        {% if event_code.excludes != ''%}
                                        {% autoescape off %}
                                        {{event_code.excludes}}
                                        {% endautoescape %}
                                        {% else %}
                                        Currently no Exclude information available for this event
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="info-tab" class="create_tab-content" style="padding:20px 0px 10px 0px;">
                                    <div class="col-lg-12">
                                        {% if event_code.additional_info != ''%}
                                        {% autoescape off %}
                                        {{event_code.additional_info}}
                                        {% endautoescape %}
                                        {% else %}
                                        Currently no Additional information available for this event
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="notice-tab" class="create_tab-content" style="padding:20px 0px 10px 0px;">
                                    <div class="col-lg-12">
                                        {% if event_code.to_notice != ''%}
                                        {% autoescape off %}
                                        {{event_code.to_notice}}
                                        {% endautoescape %}
                                        {% else %}
                                        Currently no Notification information available for this event
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 div-select-event" style="background:white; margin-bottom:30px; padding-top:20px; padding-bottom:20px; border:1px solid #cdcdcd; border-radius:3px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>{% trans 'Event Option(s)' %}</h4>
                            <hr/>
                        </div>

                        <div class="col-lg-7">
                            <div class="row" id="loading-detail-event">
                                <div class="col-lg-12">
                                    <div class="center-div">
                                        <div>
                                            <img src="{{static_path}}img/loading-screen-white.gif" style="height:25px; width:25px;"/>
                                        </div>
                                    </div>
                                    <div style="text-align:center">
                                        <span style="font-size:18px; font-weight:bold;">PLEASE WAIT ... </span>
                                    </div>
                                </div>
                            </div>
                            <div id="select_copy_all">

                            </div>
                            <div id="detail_room_pick">

                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="row" style="padding:0px 15px 15px 15px;">
                                <div class="col-lg-12" style="background:white; border:1px solid #cdcdcd; padding-bottom: 15px;">
                                    <h4 style="padding-top:15px;"> Price Detail</h4>
                                    <hr/>
                                    <span style="font-size:16px; font-weight:700;" id="product_title">{{event_code.name}} </span>
                                    <span class="address_event">{% if event_code.location.address != false %}{{event_code.location.address}}{% endif %}{% if event_code.location.city != false %}, {{event_code.location.city}}{% endif %}{% if event_code.location.kelurahan != false %}, {{event_code.location.kelurahan}}{% endif %}{% if event_code.location.state != false %}, {{event_code.location.state}}{% endif %}{% if event_code.location.zipcode != false %}, {{event_code.location.zipcode}}{% endif %}</span><br/>
                                    <hr/>
                                    <div style="padding-top:10px;" id="event_detail_table">

                                    </div>
                                    <div id="event_detail_button">

                                    </div>
                                    <div style="padding-bottom:10px;" id="not_room_select">
                                        <h5 id="please_select">Please select event options first</h5>
                                    </div>
                                </div>

                                <input type="hidden" id="event_option_send" name="event_option_send"/>
                                <textarea id="data_copy2" name="data_copy2" rows="4" hidden></textarea>
                            </div>
                            <div id="data_id">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="modal fade" id="myModalCopyOption" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" style="color:{{text_color}};"> List Copy Option <i class="fas fa-copy"></i></i></h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="row" id="choose-option-copy">
                                        <div class="col-lg-12">
                                            <h6>Please choose your option want to copy!</h6>
                                        </div>
                                    </div>
                                    <div id="show-list-copy-option">

                                    </div>
                                    <textarea id="data_copy" name="data_copy" rows="4" hidden></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="time_limit_input" name="time_limit_input" />
        </form>
    </div>
</section>
{% include 'tt_website_rodextrip/footer.html' %}


<script>
    get_event_config('detail');
    var event_autocomplete = new autoComplete({
        selector: '#event_name_id',
        minChars: 0,
        cache: false,
        delay:0,
        source: function(term, suggest){
            if(term.split(' - ').length == 2)
                term = ''
            if(term.length > 1)
                suggest(event_search_autocomplete(term));
        },
        renderItem: function (item, search){
            search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
            var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
            try{
                if(item.image_url.length != 0){
                    var autocomplete_event = '<div style="padding: 10px 10px 10px 10px;" class="autocomplete-suggestion" data-langname="'+item.name+' - '+item.type+'" data-lang="'+item.name+' - '+item.type+'" data-val="'+search+'"><div style="display:inline-block;">';
                    autocomplete_event += `<img src="`+item.image_url[0]+`" style="max-width:70px;" onerror="this.src='/static/tt_website_rodextrip/images/no pic/no-event.png';"></div>`;
                    autocomplete_event += '<div style="display:inline-block; position:absolute; margin-left:10px;"><p><span style="display:block; font-size:13px;">'+item.name.replace(re, "<b>$1</b>")+ '</span>';
                    if(item.locations.length != 0){
                        autocomplete_event += '<span style="display:block; font-size:13px;"><i class="fas fa-map-marker-alt" style="padding-right:5px;"></i>';
                        for(i in item.locations){
                            if(i > 0)
                                autocomplete_event += '; ';

                            if(item.locations[i].city_name != '' && item.locations[i].country_name != '')
                                autocomplete_event += item.locations[i].city_name + ', ' + item.locations[i].country_name;
                            else if(item.locations[i].city_name != '' && item.locations[i].country_name == '')
                                autocomplete_event += item.locations[i].city_name;
                            else if(item.locations[i].city_name == '' && item.locations[i].country_name != '')
                                autocomplete_event += item.locations[i].country_name;
                        }
                        autocomplete_event += '</span></p>';
                    }
                    autocomplete_event += '</div></div>';
                    return autocomplete_event;

                }
                else{
                    var autocomplete_event = '<div style="padding: 10px;" class="autocomplete-suggestion" data-langname="'+item.name+' - '+item.type+'" data-lang="'+item.name+'" data-val="'+search+'"><div style="display:inline-block;">';
                    autocomplete_event += `<img src="`+item.image_url[0]+`" style="max-width:70px;" onerror="this.src='/static/tt_website_rodextrip/images/no pic/no-event.png';"></div>`;
                    autocomplete_event += '<div style="display:inline-block; position:absolute; margin-left:10px;"><p><span style="display:block; font-size:13px;">'+item.name.replace(re, "<b>$1</b>")+ '</span>';
                    if(item.locations.length != 0){
                        autocomplete_event += '<i class="fas fa-map-marker-alt"></i><span style="padding-left:5px; font-size:13px;">';
                        for(i in item.locations){
                            if(i > 0)
                                autocomplete_event += '; ';

                            if(item.locations[i].city_name != '' && item.locations[i].country_name != '')
                                autocomplete_event += item.locations[i].city_name + ', ' + item.locations[i].country_name;
                            else if(item.locations[i].city_name != '' && item.locations[i].country_name == '')
                                autocomplete_event += item.locations[i].city_name;
                            else if(item.locations[i].city_name == '' && item.locations[i].country_name != '')
                                autocomplete_event += item.locations[i].country_name;
                        }
                        autocomplete_event += '</span></p>';
                    }
                    autocomplete_event += '</div></div>';
                    return autocomplete_event;

                }
            }catch(err){
                var autocomplete_event = '<div style="padding: 10px;" class="autocomplete-suggestion" data-langname="" data-lang="" data-val="'+search+'"><div style="display:inline-block;">';
                autocomplete_event += `<img src="/static/tt_website_rodextrip/images/no pic/no-event.png" style="max-width:70px;" onerror="this.src='/static/tt_website_rodextrip/images/no pic/no-event.png';"></div>`;
                autocomplete_event += '<div style="display:inline-block; position:absolute; margin-left:10px;"><p><span style="display:block; font-size:13px;">'+ search + '</span>';
                autocomplete_event += '</div></div>';
                return autocomplete_event;
            }
        },
        onSelect: function(e, term, item){
            $("#event_name_id").trigger("blur");
            document.getElementById('event_name_id').value = $(item).attr('data-lang');
        }
    });

    event_options('{{event_code.id}}');
    var myIndex = 0;
    $(document).ready(function () {
        try{
            document.getElementById("balance_search").innerHTML = document.getElementById("balance").innerHTML;
        }catch(err){}
        try{
            document.getElementById("credit_search").innerHTML = document.getElementById("credit_limit").innerHTML;
        }catch(err){}
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 66) {
                if ($(window).width() >= 992){
                   {% if username.co_user_login != 'agent_b2c' %}
                   document.getElementById("info_user_search").style.display = "block";
                   {% endif %}
                   try{
                       document.getElementById("balance_search").innerHTML = document.getElementById("balance").innerHTML;
                   }catch(err){}
                   try{
                       document.getElementById("credit_search").innerHTML = document.getElementById("credit_limit").innerHTML;
                   }catch(err){}
                }else{
                   {% if username.co_user_login != 'agent_b2c' %}
                   document.getElementById("info_user_search").style.display = "none";
                   {% endif %}
                }
            }else{
                {% if username.co_user_login != 'agent_b2c' %}
                document.getElementById("info_user_search").style.display = "none";
                {% endif %}
            }
        });
    });

    $(function() {
      $('.js-example-basic-single').select2();
      breadcrumb_create("event", 3, 0);
      $(window).scroll(function() {
        if($(this).scrollTop()>=$('.div-information-event').position().top-95 && $(this).scrollTop()<$('.div-select-event').position().top-95){
            active_sticky_event("information");
        }
        else if($(this).scrollTop()>=$('.div-select-event').position().top-95){
            active_sticky_event("select");
        }
        else if($(this).scrollTop() < $('.div-information-event').position().top){
            $(".content-event").removeClass("sticky-event-active");
        }
      });
    });

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 5000); // Change image every 2 seconds
    }
</script>

{% endblock %}