{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<!--<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>-->
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_event.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/event_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_payment_acq.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_printout.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/pricing_javascript.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}'
    signature = '{{signature}}';
    time_limit = {{time_limit}};
    session_time_limit();
    adult = `{{adults}}`;
    adult = adult.replace(/True/g, 'true');
    adult = adult.replace(/False/g, 'false');
    adult = adult.replace(/&#39;/g, '"');
    adult = JSON.parse(adult);
    booker = `{{booker}}`;
    booker = booker.replace(/True/g, 'true');
    booker = booker.replace(/False/g, 'false');
    booker = booker.replace(/&#39;/g, '"');
    booker = JSON.parse(booker);

    json_event_option_code = `{{event_option_code}}`;
    json_event_option_code = json_event_option_code.replace(/True/g, 'true');
    json_event_option_code = json_event_option_code.replace(/False/g, 'false');
    json_event_option_code = json_event_option_code.replace(/&#39;/g, '"');
    json_event_option_code = JSON.parse(json_event_option_code);

    json_event_answer = `{{event_extra_question}}`;
    json_event_answer = json_event_answer.replace(/True/g, 'true');
    json_event_answer = json_event_answer.replace(/False/g, 'false');
    json_event_answer = json_event_answer.replace(/&#39;/g, '"');
    json_event_answer = JSON.parse(json_event_answer);
</script>

{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/loading_screen.html' %}
{% include 'tt_website_rodextrip/check_connection.html' %}
<title id="title_search">{{name}} Event - {% trans 'Review' %}</title>
<div id="overlay-div-box" onclick="close_div('payment_acq');"></div>

{%if template == 1%}
<header id="header" class="header_breadcrumb" style="position:sticky; top:0px;">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="" title="" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Session Time' %} <span class="count_time" id="session_time"> </span></span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Elapsed Time' %} <span class="count_time" id="elapse_time"> </span></span>
                </div>
                {% include 'tt_website_rodextrip/balance_credit.html' %}
            </div>
        </div>
    </div>
</header>
{% elif template == 2 or template == 3 or template == 4 or template == 5%}
<header class="header_breadcrumb" style="position:sticky; top:0px; z-index:100; border-bottom:1px solid #cdcdcd; background:white;">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="" title="" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Session Time' %} <span class="count_time" id="session_time"> </span></span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Elapsed Time' %} <span class="count_time" id="elapse_time"> </span></span>
                </div>
                {% include 'tt_website_rodextrip/balance_credit.html' %}
            </div>
        </div>
    </div>
</header>
{% endif %}
<section class="destinations-area" style="padding-top:30px; padding-bottom:40px; background: #f7f7f7;">
    <div class="container">
        <form method="POST" id="event_booking">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <h3>{% trans 'Please Review Your Booking' %}</h3>
                    <h5>{% trans 'Prices may changes at any time' %}</h5><br/>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="hotel_review" style="padding:10px; background-color:white; border:1px solid #cdcdcd;">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4> {% trans 'Booking Event Review' %} </h4>
                                        <hr/>
                                    </div>
                                    <div class="col-lg-4"></div>

                                    <div class="col-lg-8">
                                        <span style="font-size:20px; font-weight:bold; color:black;">{{event_code.name}}</span>
                                        <br/>
                                        <span><i class="fas fa-calendar-alt" style="color:{{color}};"></i> 15 Mei - 17 Mei 2020</span>
                                        <br/>
                                        {% for location in event_code.locations%}
                                        <i class="fas fa-map-marker-alt" style="color:{{color}};"></i>
                                        <span>
                                                {% if location.location_name != False %}{{location.location_name}}{% endif %},
                                                {% if location.location_address != False %}{{location.location_address}}{% endif %},
                                                {% if location.city_name != False %}{{location.city_name}}{% endif %},
                                                {% if location.country_name != False %}{{location.country_name}}{% endif %}
                                        </span>
                                        <br/>
                                        {% endfor %}

                                        <br/>

                                    </div>
                                </div>


                                <h6 style="text-align:justify; font-weight:bold;">{% trans 'Description' %}: </h6><br/>
                                <span>{{event_code.description}}</span><br/>

                            </div>
                        </div>

                        <div class="col-lg-12" style="margin-top:15px;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div style="border:1px solid #cdcdcd; padding:10px; background-color:white;">
                                        <h4 style="text-align:justify; font-weight:bold;">{% trans 'Extra Question' %} </h4><hr/>
                                        <div id="extra_question_target">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12" style="margin-top:15px;">
                            <div class="row">
                                <div class="col-lg-12" style="padding-bottom:20px;">
                                    <div style="border:1px solid #cdcdcd; padding:10px; background-color:white;">
                                        <h4> {% trans 'List of Guest' %} <i class="fas fa-users"></i></h4>
                                        <hr/>
                                        <h5>{% trans 'Booker' %}</h5>
                                        <table style="width:100%; margin-top:10px;" id="list-of-passenger">
                                            <tr>
                                                <th style="width:40%;">{% trans 'Name' %}</th>
                                                <th style="width:30%;">Email</th>
                                                <th style="width:30%;">{% trans 'Phone Number' %}</th>
                                            </tr>
                                            <tr>
                                                <td>{{booker.title}} {{booker.first_name}} {{booker.last_name}}</td>
                                                <td>{{booker.email}}</td>
                                                <td>{{booker.mobile}}</td>
                                            </tr>
                                        </table>
                                        <br/>
                                        <h5>Guest</h5>
                                        <table style="width:100%; margin-top:10px;" id="list-of-passenger">
                                            <tr>
                                                <th>{% trans 'Name' %}</th>
                                                <th>{% trans 'Birth Date' %}</th>
                                            </tr>
                                            {% for adult in adults %}
                                            <tr>
                                                <td>{{adult.title}} {{adult.first_name}} {{adult.last_name}}</td>
                                                <td>{{adult.birth_date}}</td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <textarea id="data_copy2" name="data_copy2" rows="4" hidden></textarea>
                        <input id="json_event_code" name="json_event_code" hidden value=""/>
                        <div class="col-lg-4" style="padding-bottom:10px;">

                        </div>
                        <div class="col-lg-4" style="padding-bottom:10px;">
                            <!--<button class="primary-btn hold-seat-booking-train" type="button" onclick="window.open('https://backend.rodextrip.com/rodextrip/report/pdf/form.itinerary/{{ printout_rec }}')" style="width:100%;">-->
                                <!--Print Itinerary Form-->
                            <!--</button>-->
                            <button class="primary-btn hold-seat-booking-train" type="button" onclick="get_printout('','itinerary','hotel');" style="width:100%;">
                                {% trans 'Print Itinerary Form' %}
                            </button>
                        </div>
                        <div class="col-lg-4" style="padding-bottom:10px;">

                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="padding-bottom:20px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 style="padding-top:15px;"> Price Detail</h4>
                            <hr/>
                            <span style="font-size:16px; font-weight:700;" id="product_title">{{event_code.name}} </span>
                            <span class="address_event">{% if event_code.location.address != false %}{{event_code.location.address}}{% endif %}{% if event_code.location.city != false %}, {{event_code.location.city}}{% endif %}{% if event_code.location.kelurahan != false %}, {{event_code.location.kelurahan}}{% endif %}{% if event_code.location.state != false %}, {{event_code.location.state}}{% endif %}{% if event_code.location.zipcode != false %}, {{event_code.location.zipcode}}{% endif %}</span><br/>
                            <hr/>
                            <div style="padding-top:10px;" id="event_detail_table">

                            </div>
                            <div id="event_detail_button">

                            </div>
                        </div>
                        <div class="col-lg-12" style="margin-top:15px;">
                            <div style="background-color:white; padding:10px; border:1px solid #cdcdcd;">
                                <h4>{% trans 'Special Request' %}</h4>
                                <hr/>
                                {{special_req_event}}<br/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            {% if 'issued_reservation' in username.co_agent_frontend_security %}
                            {% include 'tt_website_rodextrip/voucher_code.html'  %}
                                <button class="primary-btn issued_booking_btn" type="button" style="width:100%; margin-top:15px;" id="issued_event_btn" onclick="event_issued_alert(0);">
                                    {% trans 'Hold Booking' %}
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <div style="background-color:white; padding:10px; border:1px solid {{color}};margin-top:15px; position:relative;" id="payment_acq" hidden>

                    </div>
                </div>
                <div class="modal fade" id="myModalRepricing" role="dialog">
                    <div class="modal-dialog" style="width:100% !important; height:100% !important; max-width:1200px;padding: 0;">

                        <!-- Modal content-->
                        <div class="modal-content" style="border-radius: 0;">
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:{{text_color}};">{% trans 'Reprice Change' %} <i class="fas fa-money"></i></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row" id="pricing" style="padding:15px;">
                                            <div class="col-lg-12" style="max-height:500px; overflow-y:auto; border:1px solid #cdcdcd; background-color:white; margin-top:15px;">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h4 style="padding-top:10px;">{% trans 'Pricing' %}</h4>
                                                        <hr/>
                                                    </div>
                                                    <div class="col-lg-12" style="text-align:right;">
                                                        <button class="primary-btn-ticket" type="button" onclick="add_table_of_equation();"><i class="fas fa-plus-circle"></i></button>
                                                        <button class="primary-btn-ticket" type="button" onclick="delete_table_of_equation();"><i class="fas fa-trash-alt"></i></button>
                                                        <br/>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div style="padding:10px;" id="table_of_equation">

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12" style="margin-bottom:15px; margin-top:15px;">
                                                        <hr/>
                                                        <center>
                                                            <input class="primary-btn-ticket" type="button" onclick="calculate('airline_review');" value="Calculate">
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="row" style="padding:15px;">
                                            <div class="col-lg-12" style="padding:10px; background-color:white; border:1px solid #cdcdcd; margin-top:15px;">
                                                <h4>{% trans 'Result Pricing' %}</h4>
                                                <hr/>
                                                <div class="row" id="repricing_div">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ModalChangePrice" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:`+text_color+`;">{% trans 'Price Change' %} <i class="fas fa-money"></i></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div id="search_result" style="overflow:auto;height:300px;margin-top:20px;">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div style="text-align:center" id="old_price">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div style="text-align:center" id="new_price">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                {% if 'b2c_limitation' in username.co_agent_frontend_security%}
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="hotel_force_issued_alert(0);">Continue with new price</button>
                                {% endif %}
                                {% if 'b2c_limitation' not in username.co_agent_frontend_security%}
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="hotel_force_issued_alert(1);">Continue with new price</button>
                                {% endif %}
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="time_limit_input" value="{{time_limit}}" name="time_limit_input" />
        </form>
        <form method="POST" id="event_issued" action="{% url 'tt_website_rodextrip:payment'%}">
            {% csrf_token %}
            <input type="hidden" id="passengers" name="passengers"/>
            <input type="hidden" id="signature" name="signature"/>
            <input type="hidden" id="order_number" name="order_number"/>
            <input type="hidden" id="provider" name="provider"/>
            <input type="hidden" id="discount" name="discount"/>
            <input type="hidden" id="voucher_code" name="voucher_code"/>
            <input type="hidden" id="type" name="type"/>
            <input type="hidden" id="session_time_input" name="session_time_input"/>
        </form>
    </div>
</section>


<script>
    //document.getElementById('voucher_discount').style.display = 'none';
    //get_payment_acq('Issued','{{booker.booker_seq_id}}', '', 'billing',signature,'hotel_review');
    document.getElementById('json_event_code').value = json_event_option_code;
    render_extra_question(json_event_answer);
    render_object_from_value(json_event_option_code);
    $( document ).ready(function() {
      breadcrumb_create("event", 5, 0);
    });
</script>
{% endblock %}
