{% extends 'tt_website/template_website_booking.html' %}

{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/daterangepicker.js?version={{javascript_version}}"></script>
<title>{{name}} - Error</title>

{% include 'tt_website/logout.html' %}
{% include 'tt_website/header.html' %}
<div class="m-3" style="text-align:center">
    <img src="{{ static_path }}images/no_found/question2.png" alt="Error" style="height:250px;">
    <h2>Oops! . . .</h2>
    <h4>Looks like we got error number 500.</h4>
    <p>Please refresh or re-login and try again</p>
</div>

{% endblock %}