{% extends 'tt_website/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_content.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_insurance.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/daterangepicker.js?version={{javascript_version}}"></script>

<link rel="stylesheet" type="text/css" href="{{ static_path }}login/css/owl.carousel.css?version={{javascript_version}}">
<link rel="stylesheet" type="text/css" href="{{ static_path }}login/css/owl.theme.default.min.css?version={{javascript_version}}">
<link rel="stylesheet" type="text/css" href="{{ static_path }}login/css/owl.theme.green.min.css?version={{javascript_version}}">
<script src="{{ static_path }}js/vendor/owl.carousel.min.js?version={{javascript_version}}"></script>
<script>
    signature = `{{signature}}`;
    static_path_url_server = '{{static_path_url_server}}'
    name = '';

</script>

<style>
    {% if template == 6%}
        header{
            background:unset;
            position: absolute;
        }
    {% endif %}

    @media only screen and (min-width: 991px) {
        #slider_home {
            margin-top: 88px;
        }
    }
    @media only screen and (max-width: 990px) {
        #slider_home {
            margin-top: 0px;
        }
        #logo_home {
            padding-top:10px;
        }
    }
</style>

<title>{{name}} - {% trans 'Insurance' %}</title>
{% for rec in provider_types_sequence %}
{% if "insurance" in provider and "ticketing_insurance" in username.co_agent_frontend_security and rec.code == "insurance" %}
<title>{{name}} - {% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}</title>
{% endif %}
{% endfor %}


{% if username.co_user_login != '' %}
{% include 'tt_website/plugin_passenger.html' %}
{% include 'tt_website/logout.html' %}
{% endif %}
{% include 'tt_website/header.html' %}
{% include 'tt_website/html_include/header_product_list.html' %}
{% include 'tt_website/notification_box.html' %}

{% if username.co_user_login != '' %}
<input type="hidden" id="country_id"/>
<input type="hidden" id="start"/>
<input type="hidden" id="end"/>
{% endif %}

<section class="pt-5 pb-4" style="background-image: url('{{static_path}}images/background/single_page/sp_bg_insurance.jpg') !important; min-height:350px; background-position: center center !important; background-size: cover !important; background-repeat: no-repeat !important;">
    <div class="container">
        <div class="row">
            {% if username.co_user_login != '' %}
            {% if big_banner_value == 1 %}
            <div class="col-lg-12">
                <div id="big_banner" style="padding-bottom:15px;">
                    <div class="stripe_big_banner">
                        <div class="div_stripe">
                            <div class="loading_stripe"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
</section>


{% if username.co_user_login != '' %}
{% for rec in provider_types_sequence %}
{% if "insurance" in provider and "ticketing_insurance" in username.co_agent_frontend_security and rec.code == "insurance" %}
<section class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="title_cst_sub">
                    {% if username.co_user_login != default_user %}
                    {{greeting_login.greeting}} <span style="color:{{color}};">{{greeting_login.website_name}}</span>
                    {% else %}
                    {% trans 'Hello, dear customer, book your trip with us' %}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</section>
<section class="pt-3 pb-3" style="background:#f7f7f7; border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    <img class="prd_img" src="/static/tt_website/images/icon/product/c-insurance.png" alt="Insurance Icon">
                    {% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="pt-4 pb-5">
    <div class="container">
        <div class="row">
            <div id="overlay-search-box" onclick="off_overlay()"></div>
            <div class="col-lg-12" id="div-search-overlay">
                {% if template == 1 %}
                <div class="banner-right">
                    <div class="tab-content" id="myTabContent" style="border:1px solid #cdcdcd; min-height:300px; background: {{tab_color}} !important; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                        <div class="tab-pane fade show active" id="insurance" role="tabpanel" aria-labelledby="insurance-tab">
                            <div id="insurance_provider_div">

                            </div>
                        </div>
                    </div>
                </div>
                {% elif template == 2 %}
                <div class="hotel-search-form-area" style="position:relative; bottom:unset; padding-left: unset; padding-right:unset;">
                    <div class="hotel-search-form">
                        <div class="tab_body" style="min-height:300px; border:2px solid #cdcdcd;">
                            <div id="tab-insurance" class="tab-content current">
                                <div id="insurance_provider_div">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif template == 3 %}
                <div class="row fullscreen d-flex" id="div-search-overlay" style="position:relative; padding:15px;">
                    <div class="banner-content col-xl-3 col-lg-3 col-md-3" style="background: {{tab_color}}; border: 1px solid #cdcdcd;">
                        <div class="pt-30">
                            <i class="image-rounded-icon"><img style="width:20px; height:20px" src="{{static_path}}images/icon/product/w-insurance.png" alt="Insurance Icon"/></i>
                        </div>
                        <h5 class="pt-30 pb-30" style="color:{{text_color}};">
                            Book your {% if rec.display %}{{rec.display}}{% else %}{{rec.name}}{%endif%}
                        </h5>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 header-right" style="min-height:300px; padding-left:0px;">
                        <div id="tab-insurance" class="tab-content current">
                            <div id="insurance_provider_div">

                            </div>
                        </div>
                    </div>
                </div>
                {% elif template == 4 %}
                <div style="min-height:300px; position:relative; background:{{tab_color}}; border:1px solid #cdcdcd; z-index:2;">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-12">
                                <div class="row">
                                    <div class="col-xl-12" style="text-align:left;">
                                        <div class="form-search-wrap">
                                            <div id="insurance_provider_div">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif template == 5 %}
                <div class="row">
                    <div class="banner-content col-xl-12">
                        <div class="search-field" style="min-height:300px; padding:20px; border:1px solid #cdcdcd">
                            <div class="row">
                                <div class="col-xl-12" style="text-align:left;">
                                    <div id="tab-insurance" class="tab-content current">
                                        <div id="insurance_provider_div">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% elif template == 6 %}
                <div class="row" style="padding:0px 15px;">
                    <div class="col-lg-12" style="min-height:75px; background: linear-gradient(0deg, rgba(63, 63, 63, 0.4), rgba(63, 63, 63, 0.4)), url('{{static_path}}images/background/search_box/sb_bg_insurance.jpg'); background-position: center !important; background-size: cover !important; background-repeat: no-repeat !important; padding:30px;">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10" style="min-height:300px; background:{{tab_color}}; padding:30px;">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="insurance_provider_div">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>
                {% elif template == 7 %}
                <div class="row" style="padding:0px 15px;">
                    <div class="col-lg-3" style="min-height:75px; background: linear-gradient(0deg, rgba(63, 63, 63, 0.4), rgba(63, 63, 63, 0.4)), url('{{static_path}}images/background/search_box/sb_bg_insurance.jpg'); background-position: center !important; background-size: cover !important; background-repeat: no-repeat !important;">

                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-lg-12" style="border:1px solid #cdcdcd; min-height:300px; background:{{tab_color}};">
                                <div id="insurance_provider_div">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}
{% endif %}

{% if small_banner_value == 1 %}
<section class="pt-5 pb-5" style="z-index:0; position:relative; padding-bottom:40px; background:#f7f7f7;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if template == 1 %}
                <div class="menu-content">
                    <div class="title pb-20">
                        <h1>HOT DEALS</h1>
                    </div>
                </div>
                {% elif template == 2 %}
                <div class="section-heading wow fadeInUp" data-wow-delay="100ms" style="margin-bottom:20px;">
                    <h1>HOT DEALS</h1>
                </div>
                {% elif template == 3 %}
                <div class="title pb-2">
                    <div class="pb-20">
                        <h1>HOT DEALS</h1>
                    </div>
                </div>
                {% elif template == 4 %}
                <div class="row justify-content-center mb-5">
                    <div class="col-md-12 border-primary">
                        <h1 class="font-weight-light text-primary" style="color:black !important">HOT DEALS</h1>
                    </div>
                </div>
                {% elif template == 5 %}
                <div class="menu-content">
                    <div class="title mb-3">
                        <h1>HOT DEALS</h1>
                    </div>
                </div>
                {% elif template == 6 %}
                <div class="fetured-info py-lg-3 py-3 mb-3">
                    <h3>
                        HOT DEALS
                    </h3>
                </div>
                {% elif template == 7 %}
                <div class="ten">
                    <h1 class="style_h1">HOT DEALS</h1>
                </div>
                {%endif%}

                <div id="small_banner">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="stripe_small_banner">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="stripe_small_banner show_hide_mb">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="stripe_small_banner show_hide">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="stripe_small_banner show_hide">
                                <div class="div_stripe">
                                    <div class="loading_stripe"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!--{% if dynamic_page_value == 1 %}-->
<!--<section class="pt-5 pb-5" style="z-index:0; position:relative; background: #f7f7f7;">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-lg-12 mb-3">-->
<!--                {% if template == 1%}-->
<!--                <div class="menu-content">-->
<!--                    <div class="title pb-20">-->
<!--                        <h1>INFORMATION</h1>-->
<!--                    </div>-->
<!--                </div>-->
<!--                {% elif template == 2 %}-->
<!--                <div class="section-heading wow fadeInUp" data-wow-delay="100ms" style="margin-bottom:20px;">-->
<!--                    <h1>INFORMATION</h1>-->
<!--                </div>-->
<!--                {% elif template == 3 %}-->
<!--                <div class="title pb-2">-->
<!--                    <div class="pb-20">-->
<!--                        <h1>INFORMATION</h1>-->
<!--                    </div>-->
<!--                </div>-->
<!--                {% elif template == 4 %}-->
<!--                <div class="row justify-content-center mb-5">-->
<!--                    <div class="col-md-12 border-primary">-->
<!--                        <h1 class="font-weight-light text-primary" style="color:black !important">HOT DEALS</h1>-->
<!--                    </div>-->
<!--                </div>-->
<!--                {% elif template == 5 %}-->
<!--                <div class="menu-content">-->
<!--                    <div class="title mb-3">-->
<!--                        <h1>INFORMATION</h1>-->
<!--                    </div>-->
<!--                </div>-->
<!--                {% elif template == 6 %}-->
<!--                <div class="fetured-info py-lg-3 py-3 mb-3">-->
<!--                    <h3>-->
<!--                        INFORMATION-->
<!--                    </h3>-->
<!--                </div>-->
<!--                {% elif template == 7 %}-->
<!--                <div class="ten">-->
<!--                    <h1 class="style_h1">INFORMATION</h1>-->
<!--                </div>-->
<!--                {%endif%}-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-12" id="owl-login2">-->
<!--                        <div class="row">-->
<!--                            <div class="col-lg-3 col-md-6">-->
<!--                                <div class="stripe_dynamic_page">-->
<!--                                    <div class="div_stripe">-->
<!--                                        <div class="loading_stripe"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-3 col-md-6">-->
<!--                                <div class="stripe_dynamic_page show_hide_mb">-->
<!--                                    <div class="div_stripe">-->
<!--                                        <div class="loading_stripe"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-3 col-md-6">-->
<!--                                <div class="stripe_dynamic_page show_hide">-->
<!--                                    <div class="div_stripe">-->
<!--                                        <div class="loading_stripe"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-lg-3 col-md-6">-->
<!--                                <div class="stripe_dynamic_page show_hide">-->
<!--                                    <div class="div_stripe">-->
<!--                                        <div class="loading_stripe"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--{% endif %}-->

<div id="promotion">

</div>

{% include 'tt_website/footer.html' %}
<script>
    {% if username.co_user_login != '' %}

    $( document ).ready(function() {
        $('.js-example-basic-single').select2();
        {% if "insurance" in provider and "ticketing_insurance" in username.co_agent_frontend_security %}
        insurance_get_config_provider('home');
        {% endif %}

        {% if "insurance" in provider and "ticketing_insurance" in username.co_agent_frontend_security%}
            selected_value_start = $("input[name='radio_insurance_type']:checked").val();
            if (selected_value_start == "Single Trip"){
                $('input[name="insurance_date"]').daterangepicker({
                    singleDatePicker: false,
                    autoUpdateInput: true,
                    startDate: moment(),
                    autoApply: true,
                    endDate: moment().subtract(-2, 'days'),
                    minDate: moment().subtract(-1, 'days'),
                    maxDate: moment().subtract(-1, 'years'),
                    showDropdowns: true,
                    opens: 'center',
                    locale: {
                        format: 'DD MMM YYYY',
                    }
                });

                $('input[name="insurance_date"]').on('apply.daterangepicker', function(ev, picker) {
                    setTimeout(function(){
                        $("#show_total_pax_insurance").click();
                    }, 200);
                });

            }
        {% endif %}
    });

    function print_insurance(){
        text = '';
        text += `<input type="hidden" name="g-recaptcha-response" id='recaptcha_insurance'>`;

        //add template
        if(template == 1 || template == 7){
            text+=`<div class="col-lg-12" style="padding:30px; text-align:left;" onchange="onchange_provider_insurance();">`;
        }else{
            text+=`<div class="col-lg-12" style="padding:0px 15px 15px 0px; text-align:left;" onchange="onchange_provider_insurance();">`;
        }

        is_checked = false;
        is_insurance_need_to_print = false;
        if(insurance_config.hasOwnProperty('bcainsurance')){
            text+=`
            <label class="radio-img">
                <input type="radio" name="insurance_provider" value="bcainsurance" checked="checked">
                <div style="width:200px; max-width:200px; display:flex; text-align:left; font-weight: 700; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    <img src="/static/tt_website/images/logo/insurance/bca_insurance.png" alt="BCA Insurance" style="width:auto; height:45px; border-radius:7px; padding:0px; background:white;">
                    <span class="title_prd">BCA<br/>Insurance</span></span>
                </div>
            </label>`;
            is_checked = true;
            is_insurance_need_to_print = true;
        }
        if(insurance_config.hasOwnProperty('zurich')){
            text+=`
            <label class="radio-img">
                <input type="radio" name="insurance_provider" value="zurich"`;
            if(is_checked == false)
                text += `checked="checked"`;
            text+=`>
                <div style="width:200px; max-width:200px; display:flex; text-align:left; font-weight: 700; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                    <img src="/static/tt_website/images/logo/insurance/zurich.png" alt="Zurich" style="width:auto; height:45px; border-radius:7px; padding:0px; background:white;">
                    <span class="title_prd">Zurich<br/>(Cover Covid-19)</span></span>
                </div>
            </label>`;
            is_insurance_need_to_print = true;
        }
            text+=`
        </div>`;
        if(is_insurance_need_to_print){
            //add template
            if(template == 1 || template == 7){
                text+=`<form action="{% url 'tt_website:insurance_search'%}" method="POST" class="form-wrap search-box" style="padding-top:0px;" id="insurance_searchForm">`;
            }else{
                text+=`<form action="{% url 'tt_website:insurance_search'%}" method="POST" class="form-wrap" id="insurance_searchForm">`;
            }

            text+=`
            {% csrf_token %}
            <div class="row" id="insurance_div">

            </div>

            <input type="hidden" id="insurance_response" name="response"/>
            <center>
                <button class="primary-btn ld-ext-right" id="btn-search-insurance" type="button" onclick="insurance_check_search_values();" value="Submit">
                    <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                    {% trans 'Search' %}
                    <div class="ld ld-ring ld-cycle"></div>
                </button>
            </center>
        </form>`;
        }
        document.getElementById('insurance_provider_div').innerHTML = text;
        onchange_provider_insurance();
    }

    {%endif%}
    //bank_get_balance();
    //get_transaction();

    {% if big_banner_value == 1 %}
    get_banner('big_banner','insurance');
    {% endif %}
    {% if small_banner_value == 1 %}
    get_banner('small_banner','insurance');
    {% endif %}
    {% if dynamic_page_value == 1 %}
    ///get_dynamic_page('insurance');
    {% endif %}
    ///get_banner('promotion','insurance');


</script>

    {% endblock %}
