{% extends 'tt_website_skytors/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="{{ static_path }}js/webservice_token.js"></script>
<script src="{{ static_path }}js/webservice_agent.js"></script>
<script src="{{ static_path }}js/webservice_hotel.js"></script>
<script src="{{ static_path }}js/hotel_javascript.js"></script>
<script src="{{ static_path }}js/agent_javascript.js"></script>
<script>
    document.getElementById('username').innerHTML = '{{username}}';
    document.getElementById("balance").innerHTML = 'Balance: Rp '+getrupiah({{balance}});
</script>

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="margin-top:10px;">
                <div class="breadcrumb-ticket" style="text-align:center;">
                    <a href="#" class="active"> Home <i class="fas fa-home"></i></a>
                    <a href="#" class="active"> Search <i class="fas fa-search"></i></a>
                    <a href="#" class="active"> Booker & Passenger <i class="fas fa-users"></i></a>
                    <a href="#" class="active"> Review <i class="fas fa-info-circle"></i></a>
                    <a href="#" style="pointer-events: none;"> Booking <i class="fas fa-book-open"></i></a>
                    <a href="#" style="pointer-events: none;"> Issued <i class="fas fa-check-circle"></i></a>
                </div>
            </div>
        </div>
        <br/>
        <form method="POST" id="hotel_booking" action="{% url 'tt_website_skytors:hotel_booking'%}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <h3>Please Review Your Booking</h3>
                    <h5>Prices may changes at any time</h5><br/>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="background-color:#f15a22;">
                                <center>
                                    <span style="color:white; font-size:16px;"> Hotel Detail <img style="width:18px;" src="{{static_path}}images/icon/hotel.png"/></span>
                                </center>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div id="hotel_review" style="padding:10px; background-color:white; border:1px solid #f15a22;">
                                <span style="font-size:20px; font-weight:bold; color:black;">{{response.name}}</span>
                                <span>
                                    <i class="fas fa-star" style="color:#FFC44D;"></i>
                                    <i class="fas fa-star" style="color:#FFC44D;"></i>
                                    <i class="fas fa-star" style="color:#FFC44D;"></i>
                                    <i class="fas fa-star" style="color:#FFC44D;"></i>
                                    <i class="fas fa-star" style="color:#FFC44D;"></i>
                                    ( {{response.rating}} )
                                </span><br/>

                                <span>
                                <i class="fas fa-map-marker-alt" style="color:#f15a22;"></i>
                                    {% if response.location.address != False %}
                                    {{response.location.address}}
                                    {% endif %}
                                    {% if response.location.city != False %}
                                    {{response.location.city}}
                                    {% endif %}
                                    {% if response.location.kelurahan != False %}
                                    {{response.location.kelurahan}}
                                    {% endif %}
                                    {% if response.location.state != False %}
                                    {{response.location.state}}
                                    {% endif %}
                                    {% if response.location.zipcode != False %}
                                    {{response.location.zipcode}}
                                    {% endif %}

                                    - <a href="#" style="color:blue; text-decoration: underline;"> Show Map ({{response.lat}}, {{response.long}})</a>
                                </span>
                                <br/>
                                <span>Telephone: {{response.telephone}}</span><br/><br/>
                                <span style="text-align:justify; font-weight:bold;">Description: </span>
                                <span>{{response.description}}</span><br/><br/>

                                <span style="text-align:justify; font-weight:bold;">Room: </span>
                                {% for room in hotel_room_detail_pick.rooms %}
                                {% with forloop.counter as counter_room %}
                                <span>{{room.type}} - {{room.description}}</span>
                                {% for night in room.nightly_prices%}
                                {% with forloop.counter as counter_night %}
                                <br/>
                                <span style="text-align:justify; font-weight:bold;">Check-In Date: {{night.date}}</span><br/>
                                {% endwith %}
                                {% endfor %}
                                {% endwith %}
                                {% endfor %}
                                <br/>
                                <span>
                                    <span style="text-align:justify; font-weight:bold;">Facilities: </span><br/>
                                    {% for facility in response.facilities %}
                                    {{facility.description}},
                                    {% endfor %}
                                </span>
                                <br/>
                            </div>
                        </div>

                        <div class="col-lg-12" style="margin-top:15px;">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div style="background-color:#f15a22;">
                                        <center>
                                            <span style="color:white; font-size:16px;"> List of Guest <i class="fas fa-users"></i></span>
                                        </center>
                                    </div>
                                </div>

                                <div class="col-lg-12" style="padding-bottom:20px;">
                                    <div style="border:1px solid #f15a22; padding:10px; background-color:white;">
                                        <h6>Booker</h6>
                                        <table style="width:100%;">
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Mobile</th>
                                            </tr>
                                            <tr>
                                                <td>{{booker.title}} {{booker.first_name}} {{booker.last_name}}</td>
                                                <td>{{booker.email}}</td>
                                                <td>{{booker.mobile}}</td>
                                            </tr>
                                        </table>
                                        <br/>
                                        <h6>Guest</h6>
                                        <table style="width:100%;">
                                            <tr>
                                                <th>Name</th>
                                                <th>Birth Date</th>
                                            </tr>
                                            {% for adult in adults %}
                                            <tr>
                                                <td>{{adult.title}} {{adult.first_name}} {{adult.last_name}}</td>
                                                <td>{{adult.birth_date}}</td>
                                            </tr>
                                            {% endfor %}

                                            {% for child in childs %}
                                            <tr>
                                                <td>{{child.title}} {{child.first_name}} {{child.last_name}}</td>
                                                <td>{{child.birth_date}}</td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" style="padding-bottom:20px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="background-color:#f15a22;">
                                <center>
                                    <span style="color:white; font-size:16px;"> Price Detail <i class="fas fa-money-bill-wave"></i></span>
                                </center>
                            </div>
                            <div style="background-color:white; padding:10px;" id="price_total"></div>
                            <div style="background-color:white; padding:0px 10px 0px 10px; border:1px solid #f15a22;" id="train_detail"></div>
                        </div>

                        <div class="col-lg-12" style="margin-top:15px;">
                            <div style="background-color:#f15a22;">
                                <center>
                                    <span style="color:white; font-size:16px;"> Special Request </span>
                                </center>
                            </div>
                            <div style="background-color:white; padding:10px;">
                                <div class="form-wrap">
                                    <input class="form-control" type="text" id="special_request" name="special_request"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4" style="padding-bottom:10px;">
                            <button type="button" class="primary-btn hold-seat-booking-train ld-ext-right" id="btn-search-train" onclick="hotel_issued_booking();" style="width:100%;">
                                Issued
                                <div class="ld ld-ring ld-cycle"></div>
                            </button>


                            <!--                            <input type="button" class="primary-btn" style="width:100%;" value="Hold Booking" onclick="train_create_booking();" />-->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About RODEX TRIP</h6>
                    <p>
                        PT. Roda Express Sukses Mandiri adalah perusahaan yang bergerak di bidang Tour & Travel dan dikenal dengan nama RODEX TOUR & TRAVEL. Rodex Tour & Travel didirikan pertama kali pada tanggal 09 September 2009 bertempat di sebuah pusat perbelanjaan terkemuka di Surabaya yaitu Mall Pakuwon Trade Center (PTC). Di bawah kepemimpinan Bapak Galuh Suryono Cipto Adi, Rodex Tour & Travel mengalami perkembangan yang signifikan dari tahun ke tahun.
                    </p>
                    <p>
                        Hingga saat ini kami telah memiliki  lebih kurang 1.000 orang reseller yang teregister dan puluhan Cabang Mitra (Citra) yang tersebar di seluruh indonesia.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Navigation Links</h6>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Feature</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Portfolio</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>
                        For business professionals caught between high OEM price and mediocre print and graphic output.
                    </p>
                    <div id="mc_embed_signup">
                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscription relative">
                            <div class="input-group d-flex flex-row">
                                <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="btn bb-btn"><span class="lnr lnr-location"></span></button>
                            </div>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by RODEX TRIP
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>

<script>
    document.getElementById('price_total').innerHTML = 'Total Price: IDR ' + getrupiah(parseInt({{hotel_room_detail_pick.price_total}}) + parseInt({{hotel_room_detail_pick.commission}}));
    {% for room in hotel_room_detail_pick.rooms %}
        {% with forloop.counter as counter_room %}

            {% for night in room.nightly_prices%}
                {% with forloop.counter as counter_night %}
                    document.getElementById('price_per_night_{{counter_room}}_{{counter_night}}').innerHTML = getrupiah(parseInt({{night.price}}) + parseInt({{night.commission}}));
                {% endwith %}
            {% endfor %}
        {% endwith %}
    {% endfor %}
</script>
{% endblock %}
