{% extends 'tt_website/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}

<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/activity_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_activity.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_content.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/daterangepicker.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}'
    locations = [];
    images = [];
    images_first = "";

    signature = '{{signature}}';
    parsed_country = {{parsed_country}};
    parsed_city = {{parsed_city}};
    parsed_type = {{parsed_type}};
    parsed_category = {{parsed_category}};
    parsed_sub_category = {{parsed_sub_category}};
    activity_uuid = '{{activity_uuid}}';
    time_limit = {{time_limit}};
    session_time_limit();
</script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<style>
    @media only screen and (min-width: 991px) {
        #header_home {
            padding-top: 100px;
        }
    }
    @media only screen and (max-width: 990px) {
        #header_home {
            padding-top: 0px;
        }
    }
</style>

<title id="title_search">{{name}} {% trans 'Activity' %} {% trans 'Detail' %} - </title>
<div id="overlay-search-box" onclick="off_overlay()" style="z-index:90;"></div>

{% include 'tt_website/header.html' %}
{% include 'tt_website/logout.html' %}
{% include 'tt_website/plugin_passenger.html' %}
{% include 'tt_website/notification_box.html' %}

<div style="text-align:left;" class="modal fade" id="myModalErrorDetail" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-search-minus"></i> Oops! Please check your details </i></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="max-height:300px; overflow-y:auto;">
                            <h5><i class="fas fa-times-circle" style="color:red; font-size:24px;"></i> We found a mistake in your data.</h5>
                            <br/>
                            <span id="show_error_log" style="font-size:15px;">

                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="primary-btn" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<section class="change-search-area-pcw" id="section_change_search_ns" style="display:none; padding-top:30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="div-search-overlay">
                    <div style="background:{{color}}; padding: 5px 10px; box-shadow: rgb(3 18 26 / 15%) 4px -1px 10px -4px, rgb(3 18 26 / 15%) -4px -1px 10px -4px; border-top-left-radius: 5px; border-top-right-radius: 5px;">
                        <div class="row">
                            <div class="col-xs-9" style="margin:auto;">
                                <h5 style="color:{{text_color}};">{% trans 'Change Search' %}</h5>
                            </div>
                            <div class="col-xs-3" style="margin:auto; text-align:right;">
                                <i class="fas fa-times" onclick="go_to_change_search('section_change_search_ns');" style="font-size:20px; color:{{text_color}}; cursor:pointer;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="change_search_box_bg">
                        <form action="{% url 'tt_website:activity_search'%}" id="activity_search_form" class="form-wrap" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="span-search-ticket"><i class="fas fa-umbrella-beach"></i> {% trans 'Activity' %}</span>
                                </div>
                                <div class="col-lg-8">
                                    <div class="input-container-search-ticket">
                                        <input onClick="this.setSelectionRange(0, this.value.length);" type="text" class="form-control" name="activity_query" id="activity_query" placeholder="{% trans 'Search for Activities, Theme Parks, etc' %}" value="{{query}}" style="margin-bottom:0px;"/>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-container-search-ticket">
                                        <button type="button" class="form-control" id="activity_advanced_down" onclick="show_hide_advanced('activity');" style="background:{{color}}; color:#ffffff; cursor:pointer;"><i class="fas fa-cog"></i> <strong>{% trans 'Advanced' %}</strong> <i class="fas fa-caret-down"></i></button>
                                        <button type="button" class="form-control" id="activity_advanced_up" onclick="show_hide_advanced('activity');" style="background:{{color}}; color:#ffffff; cursor:pointer; display:none;"><i class="fas fa-cog"></i> <strong>{% trans 'Advanced' %}</strong> <i class="fas fa-caret-up"></i></button>
                                    </div>
                                </div>
                            </div>

                            <div class="row" id="activity_advanced_search" style="display:none;">
                                <div class="col-lg-6 mb-2">
                                    <span class="span-search-ticket"><i class="fas fa-map-marker-alt"></i> {% trans 'Location' %} </span>
                                    <div class="input-container-search-ticket btn-group">
                                        <button id="show_country_city" style="text-align:left; cursor:pointer;" type="button" class="form-control remove-arrow-dt dropdown-toggle" data-toggle="dropdown">
                                            <span id="show_country_activity">All Countries</span>, <span id="show_city_activity">All Cities</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" style="z-index:5; padding:15px;">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h6>Country</h6>
                                                    <div class="form-select" id="default-select">
                                                        <select class="js-example-basic-single" style="width:100%;" id="activity_countries" size="5" data-live-search="true" name="activity_countries">
                                                            <option value="" selected="">{% trans 'All Countries' %}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <h6>City</h6>
                                                    <div class="form-select">
                                                        <div id="temp_activity_cities">
                                                            <select class="js-example-basic-single" style="width:100%;" id="activity_cities" name="activity_cities" size="5">
                                                                <option value="" selected="">{% trans 'All Cities' %}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12" style="text-align:right;">
                                                    <button class="primary-btn" type="button" style="line-height:34px;" onclick="next_focus_element('activity','country');">Done</button>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <span class="span-search-ticket"><i class="fas fa-map-marker-alt"></i> {% trans 'Category / Type' %} </span>
                                    <div class="input-container-search-ticket btn-group">
                                        <button id="show_type_category" style="text-align:left; cursor:pointer;" type="button" class="form-control remove-arrow-dt dropdown-toggle" data-toggle="dropdown">
                                            <span id="show_type_activity">All Category</span>, <span id="show_category_activity">All Categories</span>, <span id="show_sub_category_activity">All Sub Categories</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" style="z-index:5; padding:15px;">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <h6>Type</h6>
                                                            <div class="form-select">
                                                                <select class="js-example-basic-single" style="width:100%;" id="activity_type" name="activity_type" data-live-search="true" size="5">
                                                                    <option value="0" selected="">{% trans 'All Types' %}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <h6>Category</h6>
                                                            <div class="form-select">
                                                                <select class="js-example-basic-single" style="width:100%;" id="activity_category" name="activity_category" size="5">
                                                                    <option value="0" selected="">{% trans 'All Categories' %}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <h6>Sub Category</h6>
                                                            <div class="form-select">
                                                                <div id="temp_activity_sub_category">
                                                                    <select class="js-example-basic-single" style="width:100%;" id="activity_sub_category" name="activity_sub_category" size="5">
                                                                        <option value="0" selected="">{% trans 'All Sub Categories' %}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12" style="text-align:right;">
                                                            <button class="primary-btn" type="button" style="line-height:34px;" onclick="next_focus_element('activity','type');">Done</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <button class="button-search primary-btn ld-ext-right" onclick="activity_search_form_submit();" type="submit" value="Submit">
                                <i class="fas fa-search" style="color:{{text_color}}; font-weight:bold; font-size:18px;"></i>
                                {% trans 'Search' %}
                                <div class="ld ld-ring ld-cycle"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px; z-index:1; background:#f7f7f7">
    <div class="container">
<!--        <div class="row" style="padding-top:15px; padding-bottom:15px;">-->
<!--            <div class="col-lg-12" id="breadcrumbs_create">-->

<!--            </div>-->
<!--        </div>-->

        <div class="row">
            <div class="col-lg-12">
                <div class="change_search_div_ns" id="hotel_search_params">
                    <div class="destinations-area change_search_n">
                        <div class="row">
                            <div class="col-lg-8 col-md-7 mb-1" style="text-align:left;">
                                <span style="text-transform: capitalize;">{% trans 'Activity Search' %}: {% if query %}{{query}}{% else %}{% trans 'All Activities' %}{% endif %}</span><br/>
                                <span style="text-transform: capitalize; padding-right:10px;"><i class="fas fa-map-marker-alt"></i>
                                    <span id="search_country_name">
                                        {% trans 'All Countries' %}
                                    </span>,
                                    <span id="search_city_name">
                                        {% trans 'All Cities' %}
                                    </span>
                                </span>
                                <span style="text-transform: capitalize;"><i class="fa fa-folder-open"></i>
                                    <span id="search_type_name">
                                        {% trans 'All Types' %}
                                    </span>,
                                    <span id="search_category_name">
                                        {% trans 'All Categories' %}
                                    </span>,
                                    <span id="search_sub_category_name">
                                        {% trans 'All Sub Categories' %}
                                    </span>
                                </span>
                                <br/>
                            </div>
                            <div class="col-lg-4 col-md-5" style="text-align:right;">
                                <button class="primary-btn-custom" type="button" onclick="go_to_change_search('section_change_search_ns');">
                                    <span id="change_search_text"><i class="fas fa-search" style="font-size:18px;"></i></span>
                                </button>
                            </div>
                        </div>
                        <div style="display:flex; border-top:1px solid #cdcdcd; margin-top:5px; padding-top:10px;">
                            <div style="display:inline-block; padding-right:15px;">
                                <span style="font-weight:600; padding-right:5px;">
                                    <i class="fas fa-stopwatch" style="font-size:17px;"></i> {% trans 'Session Time' %}
                                </span>
                                <span class="count_time" id="session_time" style="float:right;"> </span>
                            </div>
                            <div style="display:inline-block;">
                                <span style="font-weight:600; padding-right:5px;"><i class="fas fa-clock" style="font-size:16px;"></i> {% trans 'Elapsed Time' %}</span>
                                <span class="count_time" id="elapse_time" style="float:right;"> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row nav-hotel" style="position:sticky;top: -1px;z-index: 24;">
            <div class="col-lg-12">
                <div class="box-sticky-hotel div_box_default" style="padding:0px;">
<!--                    <button class="primary-btn-sticky-hotel" type="button" onclick="location.href='{% url 'tt_website:activity_search'%}';" style="border-right:1px solid #cdcdcd; background:aliceblue; font-weight:bold;">-->
<!--                        <i class="fas fa-chevron-left"></i> Result-->
<!--                    </button>-->

                    <button class="content-activity primary-btn-sticky-hotel" style="padding:15px; font-weight:bold;" type="button" id="description-activity">Overview</button>
                    <button class="content-activity primary-btn-sticky-hotel" style="padding:15px; font-weight:bold;" type="button" id="product-activity">Tickets</button>
                </div>
            </div>
        </div>

        <div class="row full_activity_details">
            <div class="col-lg-12">
                <form method='POST' action="/activity/passenger" id="go_to_pax" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row" id="div-description-activity">
                        <div class="col-lg-12">
                            <div class="div_box_default">
                                <div class="row">
                                    <input type="hidden" id="activity_uuid" name="activity_uuid" value=""/>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span id="main_activity_name" style="font-size:22px; font-weight:bold; color:black;"></span>
                                                <span class="address_hotel" id="address_hotel" style="font-size:14px;"></span><br/>

                                                <span id="activity_avg_score" style="font-size:14px;">
                                                <i class="fas fa-star" style="color:#FFC44D;"></i>
                                                </span>
                                                <br/>
                                                <span id="activity_locations" style="font-size:13px;">

                                                </span>
                                            </div>
                                            <div class="col-lg-12 mb-3" style="margin-top:15px;">
                                                <div class="row" id="activity_carousel">

                                                </div>
                                            </div>
                                            <div class="col-lg-12" id="activity_desc_bar">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3" id="div-product-activity">
                        <div class="col-lg-12">
                            {% if username.co_user_login != default_user %}
                            <div class="sticky_ru_fs" id="sticky_time_fs_div" style="display:none;">
                                <div class="time_user_box mb-3">
                                    <div style="display:flex; margin-top:7px;">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <span title="{{username.co_user_login}}" style="font-weight:600; cursor:pointer; color:black; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width:150px; display:inline-block; display:-webkit-inline-block;">
                                                    <i class="fas fa-user" style="font-size:16px;"></i> {{username.co_user_login}}
                                                </span><br/>
                                                <div class="drop_inline">
                                                    <div class="dropdown-toggle div-dropdown-txt btn-group" data-toggle="dropdown">
                                                        <button type="button" class="btn-dropdown-txt" style="color:black">
                                                            Balance & Credit
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-txt" role="menu" style="padding:15px;">
                                                            <span style="float:right; font-size:20px; cursor:pointer;"><i class="fas fa-times" onclick='$(".dropdown-menu").removeClass("show");'></i></span><br/>
                                                            <div id="balance_search"></div>
                                                            <div id="credit_search"></div>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-12">
                            <div class="div_box_default mb-3">
                                <div class="row">
                                    <div class="col-lg-12 mb-3">
                                        <h4>Tickets</h4>
                                    </div>
                                    <div class="col-lg-12 mb-3">
                                        <div class="div_box_default" style="margin-bottom:15px;">
                                            <h5 class="mb-3"><i class="fas fa-ticket-alt" style="font-size:18px;"></i> Product Type</h5>
                                            <div class="input-group-btn" id="ticket_type" data-toggle="buttons" style="width: 100%; white-space: normal;">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="row">
                                            <div class="col-lg-12 mb-3" id="ticket_detail">
                                                <div class="div_box_default">
                                                    <h5 id="product_title" style="font-weight: bold; margin-bottom:10px;"></h5>
                                                    <span id="product_type_title" style="font-size:13px; font-weight:500;"></span>
                                                    <div class="row" id="activity_type_desc" style="text-align:left; margin-bottom:10px;">

                                                    </div>
                                                    <div class="row" id="date" style="text-align:left;">

                                                    </div>
                                                    <div class="row" id="event" style="text-align:left;">

                                                    </div>
                                                    <div class="row" id="pax" style="text-align:left; margin-bottom:20px;">

                                                    </div>
                                                    <div class="row" id="timeslot" style="text-align:left;">

                                                    </div>

                                                    <div class="row" style="text-align:left;" id="perbooking">

                                                    </div>

                                                    <div class="row" style="margin-top:15px; margin-bottom:25px;">
                                                        <div class="col-lg-6" id="instantConfirmation">

                                                        </div>
                                                    </div>
                                                    <div id="activity_check_price">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5">
                                        <div class="div_box_default mb-3">
                                            <div class="row">
                                                <div class="col-lg-12" style="text-align:left; border-bottom:1px solid #cdcdcd; padding-bottom:15px; margin-bottom:15px;">
                                                    <h4>Price Detail</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h5 id="product_title_pd" style="font-weight: bold; margin-bottom:10px;"></h5>
                                                    <span id="product_type_title_pd" style="font-size:13px; font-weight:500;"></span><br/>
                                                    <span id="product_visit_date" style="font-size:13px; font-weight:500;"></span>
                                                    <div style="margin-top:15px;" id="activity_detail">
                                                        <div id="loading-detail-activity" style="margin-bottom:20px;">
                                                            <div class="col-lg-12">
                                                                <div class="sk-circle">
                                                                    <div class="sk-circle1 sk-child"></div>
                                                                    <div class="sk-circle2 sk-child"></div>
                                                                    <div class="sk-circle3 sk-child"></div>
                                                                    <div class="sk-circle4 sk-child"></div>
                                                                    <div class="sk-circle5 sk-child"></div>
                                                                    <div class="sk-circle6 sk-child"></div>
                                                                    <div class="sk-circle7 sk-child"></div>
                                                                    <div class="sk-circle8 sk-child"></div>
                                                                    <div class="sk-circle9 sk-child"></div>
                                                                    <div class="sk-circle10 sk-child"></div>
                                                                    <div class="sk-circle11 sk-child"></div>
                                                                    <div class="sk-circle12 sk-child"></div>
                                                                </div>
                                                                <div style="text-align:center"><h6>PLEASE WAIT</h6></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="activity_detail_table">

                                                    </div>
                                                    <div class="for-show-website" id="activity_detail_next_btn">

                                                    </div>
                                                    <div class="for-show-mobile" id="activity_detail_next_btn2">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div id="details_div"></div>
                    <div id="activity_date_div"></div>
                    <div id="data_id">

                    </div>
                    <input type="hidden" id="time_limit_input" value="{{time_limit}}" name="time_limit_input" />
                    <input type="hidden" id="additional_price_input" value="" name="additional_price_input" />
                </form>
            </div>
        </div>
    </div>
</section>

{% include 'tt_website/footer.html' %}

<script>
    get_agent_currency_rate();
    $( document ).ready(function() {
        //breadcrumb_create("activity", 3, 0);
        $('#loading-detail-activity').hide();
        $('.js-example-basic-single').select2();
        if(document.getElementById("balance_search") && document.getElementById("balance"))
            document.getElementById("balance_search").innerHTML = document.getElementById("balance").innerHTML;

        if(document.getElementById("credit_search") && document.getElementById("customer_parent_balance"))
            document.getElementById("credit_search").innerHTML = document.getElementById("customer_parent_balance").innerHTML;
        else if(document.getElementById("credit_search") && document.getElementById("credit_limit"))
            document.getElementById("credit_search").innerHTML = document.getElementById("credit_limit").innerHTML;
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 66) {
                if ($(window).width() >= 768){
                   if(document.getElementById("balance_search") && document.getElementById("balance"))
                       document.getElementById("balance_search").innerHTML = document.getElementById("balance").innerHTML;

                   if(document.getElementById("credit_search") && document.getElementById("customer_parent_balance"))
                       document.getElementById("credit_search").innerHTML = document.getElementById("customer_parent_balance").innerHTML;
                   else if(document.getElementById("credit_search") && document.getElementById("credit_limit"))
                       document.getElementById("credit_search").innerHTML = document.getElementById("credit_limit").innerHTML;
                }
            }
        });

        var activity_autocomplete = new autoComplete({
            selector: '#activity_query',
            minChars: 1,
            cache: false,
            delay:0,
            source: function(term, suggest){
                activity_search_autocomplete(term,suggest);

            },
            onSelect: function(e, term, item){
                $("#activity_query").trigger("blur");
            }
        });
        if (signature != '')
        {
            get_activity_config('search');
            activity_get_detail(activity_uuid);
        }
        else
        {
            activity_login(activity_uuid, 'get_details');
        }

        $("#video_activity").attr("poster", images_first);
        $("#video_activity2").attr("src", images_first);

        $('#product-activity').click(function(e){
            $('html, body').animate({
                scrollTop: $("#div-product-activity").offset().top - 50
            }, 500);
            active_sticky_activity("product");
        });
        $('#description-activity').click(function(e){
            $('html, body').animate({
                scrollTop: $("#div-description-activity").offset().top - 50
            }, 500);
            active_sticky_activity("description");
        });

        $("#activity_search_form").bind("keypress", function(e) {
            if (e.keyCode == 13) {
                return false;
            }
        });

      $(window).scroll(function() {
        if($(this).scrollTop()>=$('#div-description-activity').position().top-95 && $(this).scrollTop()<$('#div-product-activity').position().top-95){
            active_sticky_activity("description");
        }
        else if($(this).scrollTop()>=$('#div-product-activity').position().top-95){
            active_sticky_activity("product");
        }
      });


    });

    var myIndex = 0;

    //gotopax

    function detail_to_passenger_page(){

        text = `
        <input type='hidden' value='`+activity_type_pick+`' name='activity_type_pick'/>
        <input type='hidden' value='`+activity_timeslot+`' name='activity_timeslot'/>
        <input type='hidden' value='`+additional_price+`' name='additional_price'/>
        <input type='hidden' value='`+event_pick+`' name='event_pick'/>`;

        for (pax_check in activity_type[activity_type_pick].skus)
        {
            low_sku_id_check = String(activity_type[activity_type_pick].skus[pax_check].sku_id).toLowerCase();
            try{
                if(document.getElementById(low_sku_id_check + '_passenger').value != 0 )
                {
                    text+=`<input type='hidden' value='`+document.getElementById(low_sku_id_check + '_passenger').value+`' name=low_sku_id_check + '_passenger'/>`;
                    text+=`<input type='hidden' value='`+document.getElementById(low_sku_id_check + '_min_age').value+`' name=low_sku_id_check + '_min_age'/>`;
                    text+=`<input type='hidden' value='`+document.getElementById(low_sku_id_check + '_max_age').value+`' name=low_sku_id_check + '_max_age'/>`;
                }
                else
                {
                    text+=`<input type='hidden' value='0' name=low_sku_id_check + '_passenger'/>`;
                    text+=`<input type='hidden' value='0' name=low_sku_id_check + '_min_age'/>`;
                    text+=`<input type='hidden' value='200' name=low_sku_id_check + '_max_age'/>`;
                }
            }catch(err){
                text+=`<input type='hidden' value='0' name=low_sku_id_check + '_passenger'/>`;
                text+=`<input type='hidden' value='0' name=low_sku_id_check + '_min_age'/>`;
                text+=`<input type='hidden' value='200' name=low_sku_id_check + '_max_age'/>`;
            }
        }

        document.getElementById('data_id').innerHTML = text;
        if(!document.getElementById('go_to_pax').action.includes(signature))
            document.getElementById('go_to_pax').action += '/' + signature;
        document.getElementById('go_to_pax').submit();
    }
    try{
        get_public_holiday(moment().format('YYYY-MM-DD'), moment().subtract(-1, 'years').format('YYYY-MM-DD'));
        new_get_public_holiday(moment().format('YYYY-MM-DD'), moment().subtract(-1, 'years').format('YYYY-MM-DD'));
    }catch(err){
        console.log(err);
    }

    $( document ).on( "click", "ul.create_tabs li", function() {
        var tab_id = $(this).attr('data-tab');

        $('ul.create_tabs li').removeClass('current');
        $('.create_tab-content').removeClass('current');

        $(this).addClass('current');
        $("#"+tab_id).addClass('current');
    });
</script>

{% endblock %}
