{% extends 'tt_website/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<!--<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>-->
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_content.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/activity_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_activity.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_payment_acq.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_printout.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/pricing_javascript.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}';

    try{
        temp_timeslot_start = `{{timeslot.startTime}}`;
        temp_timeslot_end = `{{timeslot.endTime}}`;
        if (temp_timeslot_start && temp_timeslot_end)
        {
            time_slot_pick = temp_timeslot_start + ' - ' + temp_timeslot_end;
        }
        else
        {
            time_slot_pick = '';
        }
    }catch(err){
        console.log(err); // error kalau ada element yg tidak ada
    }
    additional_price = parseInt({{additional_price}});
    act_booker_id = '{{booker.booker_seq_id}}';

    signature = `{{signature}}`;
    time_slot_pick = `{{timeslot_pick}}`;
    time_limit = {{time_limit}};
    last_session = 'review';
    session_time_limit();
</script>
<div id="overlay-div-box" onclick="close_div('payment_acq');"></div>
{% include 'tt_website/logout.html' %}
{% include 'tt_website/loading_screen.html' %}
{% include 'tt_website/check_connection.html' %}
{% include 'tt_website/modal_balance_vendor.html' %}
<title id="title_search">{{name}} {% trans 'Activity' %} - {% trans 'Review' %}</title>
{%if template == 1%}
<header id="header" class="header_breadcrumb">
    {% if 'co_customer_parent_type_name' in username and 'corp_limitation' not in username.co_agent_frontend_security %}
    {% include 'tt_website/header_corporate.html' %}
    {% endif %}

    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="Logo {{name}}" title="{{name}}" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Session Time' %} <span class="count_time" id="session_time"> </span></span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Elapsed Time' %} <span class="count_time" id="elapse_time"> </span></span>
                </div>
                {% include 'tt_website/balance_credit.html' %}
            </div>
        </div>
    </div>
    {% if username.co_user_login == default_user %}
    {% include 'tt_website/header_signin_signup.html' %}
    {% endif %}
</header>
{% elif template == 2 %}
<header class="header_breadcrumb" style="padding-top:0px; z-index:100; border-bottom:1px solid #cdcdcd; background:white;">
    {% if 'co_customer_parent_type_name' in username and 'corp_limitation' not in username.co_agent_frontend_security %}
    {% include 'tt_website/header_corporate.html' %}
    {% endif %}

    <div class="main-menu" style="padding-top:15px;">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="Logo {{name}}" title="{{name}}" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Session Time' %} <span class="count_time" id="session_time"> </span></span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Elapsed Time' %} <span class="count_time" id="elapse_time"> </span></span>
                </div>
                {% include 'tt_website/balance_credit.html' %}
            </div>
        </div>
    </div>
</header>
{% elif template == 3%}
<header style="background:white; z-index:100;">
    {% if 'co_customer_parent_type_name' in username and 'corp_limitation' not in username.co_agent_frontend_security %}
    {% include 'tt_website/header_corporate.html' %}
    {% endif %}

    <div class="main-menu" style="padding-top:15px;">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="Logo {{name}}" title="{{name}}" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Session Time' %} <span class="count_time" id="session_time"> </span></span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Elapsed Time' %} <span class="count_time" id="elapse_time"> </span></span>
                </div>
                {% include 'tt_website/balance_credit.html' %}
            </div>
        </div>
    </div>
</header>
{% elif template == 4 %}
<header class="header_breadcrumb" style="padding-top:0px; z-index:100; border-bottom:1px solid #cdcdcd; background:white;">
    {% if 'co_customer_parent_type_name' in username and 'corp_limitation' not in username.co_agent_frontend_security %}
    {% include 'tt_website/header_corporate.html' %}
    {% endif %}

    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="Logo {{name}}" title="{{name}}" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Session Time' %} <span class="count_time" id="session_time"> </span></span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Elapsed Time' %} <span class="count_time" id="elapse_time"> </span></span>
                </div>
                {% include 'tt_website/balance_credit.html' %}
            </div>
        </div>
    </div>
</header>
{% elif template == 5 %}
<header class="header_breadcrumb" style="z-index:100; border-bottom:1px solid #cdcdcd; background:white;">
    {% if 'co_customer_parent_type_name' in username and 'corp_limitation' not in username.co_agent_frontend_security %}
    {% include 'tt_website/header_corporate.html' %}
    {% endif %}

    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                <a href="{% url 'tt_website:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="Logo {{name}}" title="{{name}}" /></a>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                <span style="font-size:14px; font-weight:600;">{% trans 'Session Time' %} <span class="count_time" id="session_time"> </span></span>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                <span style="font-size:14px; font-weight:600;">{% trans 'Elapsed Time' %} <span class="count_time" id="elapse_time"> </span></span>
            </div>
            {% include 'tt_website/balance_credit.html' %}
        </div>
    </div>
</header>
{% elif template == 6 %}
<header class="header_breadcrumb" style="padding-top:0px;">
    {% if 'co_customer_parent_type_name' in username and 'corp_limitation' not in username.co_agent_frontend_security %}
    {% include 'tt_website/header_corporate.html' %}
    {% endif %}

    <div class="main-menu" style="padding-top:15px;">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website:index'%}"><img src="{{logo}}" style="max-height:40px;max-width:150px;" alt="Logo {{name}}" title="{{name}}" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Session Time' %} <span class="count_time" id="session_time"> </span></span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">{% trans 'Elapsed Time' %} <span class="count_time" id="elapse_time"> </span></span>
                </div>
                {% include 'tt_website/balance_credit.html' %}
            </div>
        </div>
    </div>
    {% if username.co_user_login == default_user %}
    {% include 'tt_website/header_signin_signup.html' %}
    {% endif %}
</header>
{% endif %}

{% include 'tt_website/waiting_transaction_modal.html' %}

<div class="destinations-area" style="padding-top:30px; padding-bottom:40px; background:#f7f7f7;">
    <div class="container">
        <form method="POST" id="activity_booking">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <h3>{% trans 'Please Review Your Order' %}</h3>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="margin-top:10px; margin-bottom:15px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="activity_review_detail" style="padding:15px; background-color:white; border:1px solid #cdcdcd;">
                                <div class="row">
                                    <div class="col-lg-12 mb-3" style="border-bottom:1px solid #cdcdcd;">
                                        <h4 class="mb-3">
                                            <img src="/static/tt_website/images/icon/activity_black.png" alt="undefined" style="width:20px; height:20px;">
                                            {% trans 'Activity Information' %}
                                        </h4>
                                    </div>
                                </div>
                                <h4>{{response.name}}</h4>
                                <span>{{detail.name}}</span>
                                <br/>
                                <span><i class="fa fa-calendar" aria-hidden="true"></i>
                                    {{visit_date}}
                                </span>
                                {% if timeslot %}
                                <br/>
                                <span><i class="fa fa-clock-o" aria-hidden="true"></i>
                                    {{timeslot.startTime}} - {{timeslot.endTime}}
                                </span>
                                {% endif %}
                                <br/>
                            </div>
                        </div>
                    </div>

                    {% if perBooking|length > 0 %}
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <div id="activity_review_perbooking" style="background-color: white; border: 1px solid #cdcdcd; overflow-x: auto;">
                                <div style="padding:10px;">
                                    <div class="col-lg-12 mb-3" style="border-bottom:1px solid #cdcdcd;">
                                        <h4 class="mb-3">
                                            {% trans 'Additional Information' %}
                                        </h4>
                                    </div>
                                    <table style="width:100%;" id="list-of-perbooking" class="list-of-passenger-class">
                                        <tr>
                                            <th style="width:5%;" class="list-of-passenger-left">No</th>
                                            <th style="width:65%;">{% trans 'Information' %}</th>
                                            <th style="width:30%;">{% trans 'Value' %}</th>
                                        </tr>
                                        {% for perBook in perBooking %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{perBook.name}}</td>
                                            <td>{{perBook.value}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-lg-12">
                            <div id="activity_review_booker" style="border:1px solid #cdcdcd; padding:15px; background-color:white; margin-top:20px;">
                                <div class="row">
                                    <div class="col-lg-12 mb-3" style="border-bottom: 1px solid #cdcdcd;">
                                        <h4 class="mb-3"><i class="fas fa-user"></i> {% trans 'Contact Information' %}</h4>
                                    </div>
                                </div>
                                {% if contact_person|length > 0 %}
                                {% for con in contact_person %}
                                <h5 class="single_border_custom_left" style="padding-left:5px;">
                                    {{forloop.counter}}. {{con.title}}. {{con.first_name}} {{con.last_name}}
                                </h5>
                                <b>Email: </b><i>{{con.email}}</i><br>
                                <b>Phone: </b><i>{{con.mobile}}</i><br>
                                {% endfor %}
                                {% else %}
                                <h5>
                                    {{booker.title}}. {{booker.first_name}} {{booker.last_name}}
                                </h5>
                                <b>Email: </b><i>{{booker.email}}</i><br>
                                <b>Phone: </b><i>{{booker.mobile}}</i><br>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <div id="activity_review_passenger" style="background-color: white; padding:15px; border: 1px solid #cdcdcd; overflow-x: auto;">
                                <div class="row">
                                    <div class="col-lg-12 mb-3" style="border-bottom: 1px solid #cdcdcd;">
                                        <h4 class="mb-3"><i class="fas fa-users"></i> {% trans 'List of Guest(s)' %}</h4>
                                    </div>
                                </div>
                                <div class="row" id="list-of-passengers">
                                    {% for pax in all_pax %}
                                    <div class="col-lg-12">
                                        <h5 class="single_border_custom_left" style="padding-left:5px;">
                                            {{forloop.counter}}. {{pax.title}}. {{pax.first_name}} {{pax.last_name}}
                                            <b style="background:white; font-size:13px; color:black; padding:0px 15px; display:unset; border: 1px solid #cdcdcd; border-radius:7px;">
                                                <i class="fas fa-user"></i> {{pax.pax_type_str}}
                                            </b>
                                        </h5>
                                        <b>Birth Date:</b> <i>{{pax.birth_date}}</i><br>
                                        <b>Ticket:</b> <i>{{pax.sku_title}}</i><br>
                                        {% if not forloop.last %}
                                        <hr>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-6" style="margin-bottom:10px;">
                            {% if 'book_reservation' in username.co_agent_frontend_security and response.can_hold_booking %}
                            <button class="next-loading primary-btn hold-seat-booking-train ld-ext-right" type="button" onclick="activity_pre_create_booking(0);" style="width:100%;">
                                {% trans 'Hold Booking' %} <div class="ld ld-ring ld-cycle"></div>
                            </button>
                            {% endif %}
                        </div>
<!--                        <div align="center" class="col-lg-4" style="margin-bottom:10px;">-->
<!--                            <button id="button-print-print" class="primary-btn hold-seat-booking-train ld-ext-right" type="button" onclick="get_printout('','itinerary','activity');" style="width:100%;">-->
<!--                                {% trans 'Print Itinerary Form' %}-->
<!--                                <div class="ld ld-ring ld-cycle"></div>-->
<!--                            </button>-->
<!--                        </div>-->
                        <div class="col-lg-6" style="margin-bottom:10px;">
                            {% if 'issued_reservation' in username.co_agent_frontend_security and 'b2c_limitation' not in username.co_agent_frontend_security and not username.co_job_position_is_request_required %}
                            <button class="next-loading primary-btn hold-seat-booking-train ld-ext-right issued_booking_btn" type="button" style="width:100%;" onclick="activity_pre_create_booking(1);">
                                {% trans 'Issued Booking' %}
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-4" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-lg-12" style="background-color:white; padding:10px; border:1px solid #cdcdcd;" id="activity_detail">
                            <h4> {% trans 'Price Detail' %} </h4>
                            <hr/>
                            <span id="product_title" style="font-weight: bold;">{{response.name}}</span>
                            {% if response.name != detail.name %}
                                <br/><span id="product_type_title" style="font-size:13px; font-weight:500;">{{detail.name}}</span>
                            {% endif %}
                            <br/><span id="product_visit_date" style="font-size:13px; font-weight:500;">{{visit_date}}</span>
                            <br/><br/>
                            <div class="row">
                                <div class="col-lg-12" id="activity_detail_table">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% include 'tt_website/voucher_code.html'  %}
                        <div class="col-lg-12" style="background-color:white; padding:10px; border:1px solid {{color}};margin-top:15px; position:relative;" id="payment_acq" hidden>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModalRepricing" role="dialog">
                    <div class="overlay_modal_custom" data-dismiss="modal"></div>
                    <div class="modal-dialog modal_custom_fixed">
                        <!-- Modal content-->
                        <div class="modal-content" style="border-radius: 0;">
                            <div class="modal-header">
                                <div class="row">
                                    <div class="col-xs-6 pb-3">
                                        <h4 class="modal-title"><i class="fas fa-money"></i> {% trans 'Reprice Change' %}</h4>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="button" class="close modal_custom_close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row" id="pricing">
                                            <div class="col-lg-12" style="border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; background-color:white;">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h4 class="single_border_custom_left" style="margin-top:15px; margin-bottom:15px; padding-left:10px; word-break:break-word;">{% trans 'Pricing' %}</h4>
                                                    </div>
                                                    <div class="col-lg-12" style="text-align:right;">
                                                        <button class="primary-btn-ticket" type="button" onclick="add_table_of_equation(false);"><i class="fas fa-plus-circle"></i></button>
                                                        <button class="primary-btn-cancel" type="button" onclick="delete_table_of_equation();"><i class="fas fa-trash-alt"></i></button>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div style="padding:10px;" id="table_of_equation">

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12" style="margin-bottom:15px; margin-top:15px;">
                                                        <hr/>
                                                        <center>
                                                            <input class="primary-btn-ticket" type="button" onclick="calculate('airline_review');" value="Calculate">
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12" style="background-color:white; border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; margin-top:15px;">
                                                <h4 class="single_border_custom_left" style="margin-top:15px; margin-bottom:15px; padding-left:10px; word-break:break-word;">{% trans 'Result Pricing' %}</h4>
                                                <div class="row" id="repricing_div">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="time_limit_input" value="{{time_limit}}" name="time_limit_input" />
        </form>
        <form method="POST" id="activity_issued" action="{% url 'tt_website:payment'%}">
            {% csrf_token %}
            <input type="hidden" id="passengers" name="passengers"/>
            <input type="hidden" id="signature" name="signature"/>
            <input type="hidden" id="order_number" name="order_number"/>
            <input type="hidden" id="provider" name="provider"/>
            <input type="hidden" id="discount" name="discount"/>
            <input type="hidden" id="voucher_code" name="voucher_code"/>
            <input type="hidden" id="type" name="type"/>
            <input type="hidden" id="session_time_input" name="session_time_input"/>
        </form>
    </div>
</div>
{% if username.co_user_login == default_user %}
{% include 'tt_website/modal_signin_signup.html' %}
{% endif %}
{% include 'tt_website/footer.html' %}

<script>
    get_agent_currency_rate();
    $(document).ready(function () {
        activity_review_page();
        breadcrumb_create("activity", 5, 0);
    });
</script>
{% endblock %}
