{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<!--<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>-->
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/activity_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/agent_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_activity.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_account.js?version={{javascript_version}}"></script>
<script>
    static_path_url_server = '{{static_path_url_server}}'
    offset = 600;
    get_new = true;
    name = '';
    signature = '{{signature}}';
    parsed_country = {{parsed_country}};
    parsed_city = {{parsed_city}};
    parsed_type = {{parsed_type}};
    parsed_category = {{parsed_category}};
    parsed_sub_category = {{parsed_sub_category}};
    time_limit = {{time_limit}};
    session_time_limit();
</script>

{% include 'tt_website_rodextrip/header.html' %}
{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/plugin_passenger.html' %}

<button class="primary-btn-ticket btn_icon_fixed my_sticky_button" style="left:51%; width:20vw; height:50px; bottom:55px; position:fixed; z-index:99;" data-toggle="modal" data-target="#myModalSort">
    <span style="color:white; font-size:12px;"> <i class="fas fa-sort" style="font-size:20px;"></i> <span class="span_icon_fixed">Sort</span>  </span>
</button>
<button class="primary-btn-ticket btn_icon_fixed my_sticky_button" style="right:51%; width:20vw; height:50px; bottom:55px; position:fixed; z-index:99;" data-toggle="modal" data-target="#myModalFilter">
    <span style="color:white; font-size:12px;"> <i class="fas fa-filter"></i> <span class="span_icon_fixed">Filter</span>  </span>
</button>

<section class="destinations-area" style="padding:15px 0px 15px 0px; background:white; border-bottom:2px solid #cdcdcd; position:sticky; top:0px; z-index:10;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8" style="text-align:left;">
                <span style="text-transform: capitalize;">Activity Search: {% if query %}{{query}}{% else %}All Activities{% endif %}</span><br/>
                <span style="text-transform: capitalize; padding-right:10px;"><i class="fas fa-map-marker-alt"></i>
                    <span id="search_country_name">
                        All Countries
                    </span>,
                    <span id="search_city_name">
                        All Cities
                    </span>
                </span>
                <span style="text-transform: capitalize;"><i class="fa fa-folder-open"></i>
                    <span id="search_type_name">
                        All Types
                    </span>,
                    <span id="search_category_name">
                        All Categories
                    </span>,
                    <span id="search_sub_category_name">
                        All Sub Categories
                    </span>
                </span>
                <br/>
            </div>
            <div class="col-lg-4" style="text-align:right;">
                <button class="primary-btn-custom" type="button" onclick="show_hide_change_search();">
                    <img src="{{static_path}}img/icon/search-icon.png" style="width:25px; height:25px;"/>
                    <span id="change_search_text">Change Search</span>
                </button>
            </div>
        </div>
    </div>
</section>
<div id="overlay-search-box" onclick="off_overlay()"></div>
<section class="price-area" id="change_search_box" data-aos="fade-up" style="padding-top:30px; padding-bottom:5px; background-color: black; z-index:2; position:relative; display:none">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="padding:0;">
                <div class="banner-right">
                    <form action="{% url 'tt_website_rodextrip:activity_search'%}" class="form-wrap" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-10 col-md-9 col-sm-8 col-xs-8" style="padding:0px;">
                                <span class="span-search-ticket"><i class="fas fa-umbrella-beach"></i> Activity</span>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="activity_query" id="activity_query" placeholder="Search for Activities, Theme Parks, etc" value="{{query}}"/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4" style="padding:0px;">
                                <span class="span-search-ticket">&nbsp;</span>
                                <div class="input-container-search-ticket">
                                    <button type="button" class="form-control" id="activity_advanced_down" onclick="show_hide_advanced('activity');" style="background:#f15a22; color:#ffffff; cursor:pointer;"><i class="fas fa-cog"></i> <strong>Advanced</strong> <i class="fas fa-caret-down"></i></button>
                                    <button type="button" class="form-control" id="activity_advanced_up" onclick="show_hide_advanced('activity');" style="background:#f15a22; color:#ffffff; cursor:pointer; display:none;"><i class="fas fa-cog"></i> <strong>Advanced</strong> <i class="fas fa-caret-up"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="activity_advanced_search" style="display:none;">
                            <div class="col-lg-6">
                                <div class="row">
                                    <span class="span-search-ticket"><i class="fas fa-map-marker-alt"></i> Search by Location </span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px;">
                                        <div class="form-select" id="default-select">
                                            <select class="js-example-basic-single" style="width:100%;" id="activity_countries" size="5" data-live-search="true" name="activity_countries">
                                                <option value="" selected="">All Countries</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0px;">
                                        <div class="form-select">
                                            <div id="temp_activity_cities">
                                                <select class="js-example-basic-single" style="width:100%;" id="activity_cities" name="activity_cities" size="5">
                                                    <option value="" selected="">All Cities</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12 search_type">
                                        <span class="span-search-ticket"><i class="fa fa-folder-open"></i> Search by Category / Type </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 search_type">
                                        <div class="form-select">
                                            <select class="js-example-basic-single" style="width:100%;" id="activity_type" name="activity_type" data-live-search="true" size="5">
                                                <option value="0" selected="">All Types</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:0px;">
                                        <div class="form-select">
                                            <select class="js-example-basic-single" style="width:100%;" id="activity_category" name="activity_category" size="5">
                                                <option value="0" selected="">All Categories</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding:0px;">
                                        <div class="form-select">
                                            <div id="temp_activity_sub_category">
                                                <select class="js-example-basic-single" style="width:100%;" id="activity_sub_category" name="activity_sub_category" size="5">
                                                    <option value="0" selected="">All Sub Categories</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <button class="button-search primary-btn ld-ext-right" type="submit" value="Submit">
                            <img src="{{static_path}}img/icon/search-icon.png" style="width:25px; height:25px;"/>
                            Search
                            <div class="ld ld-ring ld-cycle"></div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <div class="row" style="padding-bottom:10px;">
            <div class="col-lg-12" id="breadcrumbs_create">

            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div style="background-color:white; padding:10px; margin-top:20px; border:1px solid #cdcdcd" id="session_timer">

                </div>

                <div class="modal fade" id="myModalFilter" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:white;"> Filter</i></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="min-height=100px; max-height:400px; overflow-y: scroll;">
                                    <div class="col-lg-12">
                                        <div id="filter2">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="myModalSort" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:white;"> Sort </i></h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row" style="min-height=100px; max-height:400px; overflow-y: scroll;">
                                    <div class="col-lg-12">
                                        <div id="sorting-flight2">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="filter-search-flight" id="filter-search-flight">
                    <div style="background-color:white; padding:10px; margin-top:20px; border:1px solid #cdcdcd" id="filter">

                    </div>
                </div>
            </div>
            <div class="col-lg-9" style="margin-top:10px;">
                <div class="row sorting-search-flight" id="sorting-search-flight">
                    <div class="col-lg-12">
                        <div id="sorting-flight" style="margin-bottom:15px; margin-top:10px;">

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-12">
                        <div id="pagination-container" style="margin-bottom:10px; display:none;"></div>

                        <div id="loading-search-activity" style="margin-bottom:20px;">
                            <div class="col-lg-12">
                                <div class="center-div">
                                    <div>
                                        <img src="{{static_path}}img/loading-screen-white.gif" style="height:25px; width:25px;"/>
                                    </div>
                                </div>
                                <div style="text-align:center">
                                    <span style="font-size:18px; font-weight:bold;">PLEASE WAIT ... </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="activity_ticket">

                        </div>
                        <div id="pagination-container2" style="margin-bottom:10px; display:none;"></div>
                        <input type="hidden" id="time_limit_input" name="time_limit_input" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'tt_website_rodextrip/footer.html' %}

<script>
    activity_login('');
    activity_filter_render();

    function go_to_detail(sequence){
        for (i in activity_data)
        {
            if(activity_data[i].sequence == sequence)
            {
                pick = JSON.stringify(activity_data[i]).replace(/'/g,'');
                document.getElementById(`csrf`+sequence).innerHTML = `{% csrf_token %}`;
                document.getElementById(`csrf`+sequence).innerHTML += `<input type='hidden' value='`+pick+`' name='activity_pick'/>`;
                document.getElementById('myForm'+sequence).innerHTML += `<input type='hidden' value='`+time_limit+`' name='time_limit_input'/>`;
                document.getElementById('myForm'+sequence).submit();
            }
        }
    }


    $(document).ready(function () {
        breadcrumb_create("activity", 2, 0);
        $('.js-example-basic-single').select2();
        get_activity_config('search');

        var activity_autocomplete = new autoComplete({
            selector: '#activity_query',
            minChars: 1,
            cache: false,
            delay:0,
            source: function(term, suggest){
                activity_search_autocomplete(term,suggest);

            },
            onSelect: function(e, term, item){
                $("#activity_query").trigger("blur");
            }
        });
    });
</script>

{% endblock %}
