{% extends 'tt_website_rodextrip/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<!--<script src="{{ static_path }}js/webservice_token.js"></script>-->
<!--<script src="{{ static_path }}vendor/jquery/jquery-3.2.1.min.js?version={{javascript_version}}"></script>-->
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/activity_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_activity.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/moment.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_payment_acq.js?version={{javascript_version}}"></script>

<script>
    static_path_url_server = '{{static_path_url_server}}'
    price = `{{price}}`;
    price = price.replace(/&#39;/g,'"');
    price = JSON.parse(price.replace(/True/g,'true'));
    try{
        temp_timeslot_start = `{{timeslot.startTime}}`;
        temp_timeslot_end = `{{timeslot.endTime}}`;
        if (temp_timeslot_start && temp_timeslot_end)
        {
            time_slot_pick = temp_timeslot_start + ' - ' + temp_timeslot_end;
        }
        else
        {
            time_slot_pick = '';
        }
    }catch(err){}
    detail = `{{detail.options}}`;
    detail = detail.replace(/&#39;/g,'"');
    detail = detail.replace(/True/g,'true');
    detail = detail.replace('\n','\\n');
    detail = JSON.parse(detail.replace(/False/g,'false'));
    additional_price = parseInt({{additional_price}});
    act_booker_id = '{{booker.booker_seq_id}}';
    passenger = `{{pax_count}}`;
    passenger = passenger.replace(/&#39;/g,'"');
    passenger = JSON.parse(passenger);
    all_pax = `{{all_pax}}`;
    all_pax = all_pax.replace(/&#39;/g,'"');
    all_pax = all_pax.replace(/True/g,'true');
    all_pax = all_pax.replace(/False/g,'false');
    all_pax = all_pax.replace(/None/g,'""');
    all_pax = JSON.parse(all_pax);
    signature = `{{signature}}`;
    locations = [];
    images = [];
    {% for i in response.locations %}
        locations.push({
            'country_name': '{{i.country_name}}',
            'city_name': '{{i.city_name}}',
            'state_name': '{{i.state_name}}'
        })
    {% endfor %}

    {% for i in response.images %}
        images.push({
            'url': '{{i.url}}',
            'path': '{{i.path}}',
        })
    {% endfor %}

    highlights = `{{response.highlights}}`;

    response = {
        'locations':locations,
        'images': images,
        'additionalInfo': `{{response.additionalInfo}}`,
        'uuid': '{{response.uuid}}',
        'highlights': highlights.replace('&#39;', "'"),
        'safety': `{{response.safety}}`,
        'longitude': {{response.longitude}},
        'latitude': {{response.latitude}},
        'provider': '{{response.provider}}',
        'description': `{{response.description}}`,
        'warnings': `{{response.warnings}}`,
        'priceExcludes': `{{response.priceExcludes}}`,
        'minPax': {{response.minPax}},
        'maxPax': {{response.maxPax}},
        'businessHoursFrom': `{{response.businessHoursFrom}}`,
        'businessHoursTo': `{{response.businessHoursTo}}`,
        'name': '{{response.name}}',
        'itinerary': `{{response.itinerary}}`,
    };
    time_limit = {{time_limit}};
    session_time_limit();
</script>
<div id="overlay-div-box" onclick="close_div('payment_acq');"></div>
<header id="header">
    <div class="main-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo" class="col-lg-2 col-md-2 col-sm-2">
                    <a href="{% url 'tt_website_rodextrip:index'%}"><img src="{{logo}}" style="width:80px; height:35px;" alt="" title="" /></a>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" id="breadcrumbs_create">

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">Session Time <span style="font-size:16px; font-weight:700; color:#f15a22;" id="session_time"> </span></span>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6" style="padding-top:10px;">
                    <span style="font-size:14px; font-weight:600;">Elapsed Time <span style="font-size:16px; font-weight:700; color:#f15a22;" id="elapse_time"> </span></span>
                </div>
            </div>
        </div>
    </div>
</header>
{% include 'tt_website_rodextrip/logout.html' %}
{% include 'tt_website_rodextrip/loading_screen.html' %}
<div class="destinations-area" style="padding-top:30px; padding-bottom:40px;">
    <div class="container">
        <form method="POST" id="activity_booking" action="{% url 'tt_website_rodextrip:activity_booking'%}">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <h3>Please Review Your Order</h3>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="margin-top:10px; margin-bottom:15px;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="activity_review_detail" style="padding:10px; background-color:white; border:1px solid #cdcdcd;">
                                <h4> Activity Information </h4>
                                <hr/>
                                <h4>{{response.name}}</h4>
                                <span>{{detail.name}}</span>
                                <br/>
                                <span><i class="fa fa-calendar" aria-hidden="true"></i>
                                    {{visit_date}}
                                </span>
                                {% if timeslot %}
                                <br/>
                                <span><i class="fa fa-clock-o" aria-hidden="true"></i>
                                    {{timeslot.startTime}} - {{timeslot.endTime}}
                                </span>
                                {% endif %}
                                <br/>
                            </div>
                        </div>
                    </div>

                    {% if perBooking|length > 0 %}
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <div id="activity_review_perbooking" style="background-color: white; border: 1px solid #cdcdcd; overflow-x: auto;">
                                <div style="padding:10px;">
                                    <h4> Additional Information </h4>
                                    <hr/>
                                    <table style="width:100%;" id="list-of-perbooking" class="list-of-passenger-class">
                                        <tr>
                                            <th style="width:5%;" class="list-of-passenger-left">No</th>
                                            <th style="width:65%;">Information</th>
                                            <th style="width:30%;">Value</th>
                                        </tr>
                                        {% for perBook in perBooking %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{perBook.name}}</td>
                                            <td>{{perBook.value}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <div id="activity_review_booker" style="background-color: white; border: 1px solid #cdcdcd; overflow-x: auto;">
                                <div style="padding:10px;">
                                    <h4> Contact Information </h4>
                                    <hr/>
                                    <table style="width:100%;" id="list-of-bookers" class="list-of-passenger-class">
                                        <tr>
                                            <th style="width:5%;" class="list-of-passenger-left">No</th>
                                            <th style="width:45%;">Full Name</th>
                                            <th style="width:25%;">Email</th>
                                            <th style="width:25%;" class="list-of-passenger-right">Mobile Phone</th>
                                        </tr>
                                        {% if contact_person|length > 0 %}
                                        {% for con in contact_person %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{con.title}}. {{con.first_name}} {{con.last_name}}</td>
                                            <td>{{con.email}}</td>
                                            <td>{{con.mobile}}</td>
                                        </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr>
                                            <td>1</td>
                                            <td>{{booker.title}}. {{booker.first_name}} {{booker.last_name}}</td>
                                            <td>{{booker.email}}</td>
                                            <td>{{booker.mobile}}</td>
                                        </tr>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col-lg-12">
                            <div id="activity_review_passenger" style="background-color: white; border: 1px solid #cdcdcd; overflow-x: auto;">
                                <div style="padding:10px;">
                                    <h4> List of Guest(s) </h4>
                                    <hr/>
                                    <table style="width:100%;" id="list-of-passengers" class="list-of-passenger-class">
                                        <tr>
                                            <th style="width:5%;" class="list-of-passenger-left">No</th>
                                            <th style="width:45%;">Full Name</th>
                                            <th style="width:10%;">Type</th>
                                            <th style="width:25%;">Birth Date</th>
                                            <th style="width:15%;" class="list-of-passenger-right">Ticket</th>
                                        </tr>
                                        {% for pax in all_pax %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{pax.title}}. {{pax.first_name}} {{pax.last_name}}</td>
                                            <td>{{pax.pax_type_str}}</td>
                                            <td>{{pax.birth_date}}</td>
                                            <td>{{pax.sku_title}}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-4">

                        </div>
                        <div align="center" class="col-lg-4">
                            <button class="primary-btn hold-seat-booking-train" type="button" onclick="window.open('https://backend.rodextrip.com/rodextrip/report/pdf/form.itinerary/{{printout_rec}}')" style="width:100%;">
                                Print Itinerary Form
                            </button>
                        </div>
                        <div class="col-lg-4">

                        </div>
                    </div>
                </div>

                <div class="col-lg-4" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-lg-12" style="background-color:white; padding:10px; border:1px solid #cdcdcd;" id="activity_detail">
                            <h4> Price Detail </h4>
                            <hr/>
                            <span id="product_title" style="font-weight: bold;">{{response.name}}</span>
                            {% if response.name != detail.name %}
                                <br/><span id="product_type_title">{{detail.name}}</span>
                            {% endif %}
                            <br/><span id="product_visit_date">{{visit_date}}</span>
                            <br/><br/>
                            <div class="row">
                                <div class="col-lg-12" id="activity_detail_table">

                                </div>
                            </div>
                        </div>
                        <button class="primary-btn" type="button" style="width:100%; margin-top:15px;" onclick="focus_box('payment_acq');">
                            Issued Booking
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="background-color:white; padding:10px; border:1px solid #f15a22;margin-top:15px; position:relative;" id="payment_acq" hidden>

                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="time_limit_input" value="{{time_limit}}" name="time_limit_input" />
        </form>
    </div>
</div>
{% include 'tt_website_rodextrip/footer.html' %}

<script>
    activity_table_detail2('review');
    $(document).ready(function () {
        breadcrumb_create("activity", 5, 0);
        update_sell_activity();
    });
</script>
{% endblock %}
