{% extends 'tt_website/template_website_booking.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block content %}
<script src="{{ static_path }}js/webservice_token.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_agent.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_content.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/train_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/webservice_train.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/pricing_javascript.js?version={{javascript_version}}"></script>
<script src="{{ static_path }}js/library/jbox/jBox.all.js"></script>
<script src="{{ static_path }}js/library/jbox/playground-avatars.js"></script>
<script src="{{ static_path }}js/library/jbox/playground-inception.js"></script>
<script src="{{ static_path }}js/library/jbox/playground-login.js"></script>

<script>
    static_path_url_server = '{{static_path_url_server}}'
    adult = `{{adults}}`;
    infant = `{{infants}}`;
    passengers = {
        'adult': adult,
        'infant': infant
    }
    adult = {{train_request.adult}};
    infant = {{train_request.infant}};
    child = 0;
    time_limit = {{time_limit}};
    session_time_limit();
    signature = `{{signature}}`;
</script>
<style>
    ul {
        list-style-type: disc;
        list-style-position: inside;
    }
    ol {
       list-style-type: decimal;
       list-style-position: inside;
    }
    ul ul, ol ul {
       list-style-type: circle;
       list-style-position: inside;
       margin-left: 15px;
    }
    ol ol, ul ol {
       list-style-type: lower-latin;
       list-style-position: inside;
       margin-left: 15px;
    }
</style>
<title id="title_search">{{name}} {% trans 'Train' %} - {% trans 'Review' %}</title>

{% include 'tt_website/logout.html' %}
{% include 'tt_website/loading_screen.html' %}
{% include 'tt_website/check_connection.html' %}
{% include 'tt_website/modal_balance_vendor.html' %}
{% include 'tt_website/notification.html' %}
{% include 'tt_website/waiting_transaction_modal.html' %}

{% if 'co_customer_parent_type_name' in username and 'corp_limitation' not in username.co_agent_frontend_security %}
{% include 'tt_website/header_corporate.html' %}
{% endif %}
{% include 'tt_website/header_breadcrumb.html' %}

<section class="destinations-area" style="padding-top:30px; padding-bottom:40px; background:#f7f7f7;">
    <div class="container">
        <form method="POST" id="train_booking">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <h3>{% trans 'Please Review Your Booking' %}</h3>
                    <br/>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="padding:15px; background-color:white; border:1px solid #cdcdcd;">
                                <div class="row">
                                    <div class="col-lg-12 mb-3" style="border-bottom: 1px solid #cdcdcd;">
                                        <h4 class="mb-3"><img src="/static/tt_website/images/icon/train_black.png" alt="undefined" style="width:20px; height:20px;"> {% trans 'Train Detail' %}</h4>
                                    </div>
                                </div>
                                {% for data in response %}
                                {% if forloop.counter == 1 %}
                                <h5>{% trans 'Departure' %}</h5>
                                {% else %}
                                <h5>{% trans 'Return' %}</h5>
                                {% endif %}
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <img data-toggle="tooltip" style="width:auto; height:50px;" title="KAI" class="airline-logo" src="/static/tt_website/images/KAI_Logo01.png" alt="KAI">
                                        <h5>{{data.carrier_name}} {{data.carrier_number}}</h5>
                                        <span>{% trans 'Class' %} {{data.cabin_class.1}} ({{data.class_of_service}})</span><br/>
                                    </div>
                                    <div class="col-lg-8 col-md-8">
                                        <div class="row">
                                    <div class="col-lg-6 col-xs-6">
                                        <table style="width:100%">
                                            <tr>
                                                <td style="font-weight:500;">{{data.departure_date.1}}</td>
                                                <td style="padding-left:15px;">
                                                    <img src="/static/tt_website/img/icon/train-01.png" alt="Train" style="width:20px; height:20px;"/>
                                                </td>
                                                <td style="height:30px;padding:0 15px;width:100%">
                                                    <div style="display:inline-block;position:relative;width:100%">
                                                        <div style="height:2px;position:absolute;top:16px;width:100%;background-color:#d4d4d4;"></div>
                                                        <div class="origin-code-snippet" style="background-color:#d4d4d4;right:-6px"></div>
                                                        <div style="height:30px;min-width:40px;position:relative;width:0%"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <span>{{data.departure_date.0}}</span><br/>
                                        <span>{{data.origin_name}} ({{data.origin}})</span><br/>
                                    </div>
                                    <div class="col-lg-6 col-xs-6" style="padding:0;">
                                        <table style="width:100%; margin-bottom:6px;">
                                            <tr>
                                                <td style="font-weight:500;">{{data.arrival_date.1}}</td>
                                                <td></td>
                                                <td style="height:30px;padding:0 15px;width:100%"></td>
                                            </tr>
                                        </table>
                                        <span>{{data.arrival_date.0}}</span><br/>
                                        <span>{{data.destination}} ({{data.destination_name}})</span><br>
                                    </div>
                                </div>
                                    </div>
                                </div>
                                {%if forloop.counter != response|length %}<hr/>{%endif%}
                                {% endfor %}
                            </div>
                            <br/>
                        </div>

                        <div class="col-lg-12" style="padding-bottom:20px;">
                            <div style="border:1px solid #cdcdcd; padding:15px; background-color:white;">
                                <div class="row">
                                    <div class="col-lg-12" style="border-bottom: 1px solid #cdcdcd;">
                                        <h4 class="mb-3"><i class="fas fa-users"></i> {% trans 'List of Passenger' %}</h4>
                                    </div>
                                </div>
                                <div class="row" id="list-of-passenger">
                                    {% for adult in passenger.adult%}
                                    {% if forloop.first %}
                                    <div class="col-lg-12 pt-3 pb-3">
                                    {% else %}
                                    <div class="col-lg-12 pt-3 pb-3" style="border-top: 1px solid #cdcdcd;">
                                    {% endif %}
                                        <h5>
                                            {{adult.title}} {{adult.first_name}} {{adult.last_name}}
                                            <b style="background:white; font-size:13px; color:black; padding:0px 15px; display:unset; border: 1px solid #cdcdcd; border-radius:7px;">
                                                <i class="fas fa-user"></i> Adult
                                            </b>
                                        </h5>
                                        <b>Birth Date: </b><i>{{adult.birth_date}}</i><br/>
                                        {% for id_type in id_types %}
                                        {% if id_type.0 == adult.identity_type %}
                                        <b>{{id_type.1}}: </b>
                                        {% endif %}
                                        {% endfor%}
                                        <i>{{adult.identity_number}}</i>
                                    </div>
                                    {% endfor %}

                                    {% for infant in passenger.infant%}
                                    <div class="col-lg-12 pt-3 pb-3" style="border-top: 1px solid #cdcdcd;">
                                        <h5>
                                            {{infant.title}} {{infant.first_name}} {{infant.last_name}}
                                            <b style="background:white; font-size:13px; color:black; padding:0px 15px; display:unset; border: 1px solid #cdcdcd; border-radius:7px;">
                                                <i class="fas fa-user"></i> Infant
                                            </b>
                                        </h5>
                                        <b>Birth Date: </b><i>{{infant.birth_date}}</i><br/>
                                        {% for id_type in id_types %}
                                        {% if id_type.0 == infant.identity_type %}
                                        <b>{{id_type.1}}: </b>
                                        {% endif %}
                                        {% endfor%}
                                        <i>{{infant.identity_number}}</i>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            {% if 'book_reservation' in username.co_agent_frontend_security %}
                            <button type="button" class="for-show-website primary-btn hold-seat-booking-train ld-ext-right" id="btn-search-train" onclick="train_pre_create_booking(0);" style="width:100%;">
                                {% trans 'Hold Booking' %}
                                <div class="ld ld-ring ld-cycle"></div>
                            </button>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="col-lg-4" style="padding-bottom:20px;">
                    <div style="background-color:white; padding:15px; border:1px solid #cdcdcd;" id="train_detail">

                    </div>
                    {% include 'tt_website/voucher_code.html'  %}
                </div>
                <div class="modal fade" id="myModalRepricing" role="dialog">
                    <div class="overlay_modal_custom" data-dismiss="modal"></div>
                    <div class="modal-dialog modal_custom_fixed">
                        <!-- Modal content-->
                        <div class="modal-content" style="border-radius: 0;">
                            <div class="modal-header">
                                <div class="row">
                                    <div class="col-xs-6 pb-3">
                                        <h4 class="modal-title"><i class="fas fa-money"></i> {% trans 'Reprice Change' %}</h4>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="button" class="close modal_custom_close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row" id="pricing">
                                            <div class="col-lg-12" style="border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; background-color:white;">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <h4 class="single_border_custom_left" style="margin-top:15px; margin-bottom:15px; padding-left:10px; word-break:break-word;">{% trans 'Pricing' %}</h4>
                                                    </div>
                                                    <div class="col-lg-12 mb-3" style="text-align:right;">
                                                        <button class="primary-btn-ticket" type="button" onclick="add_table_of_equation(false);"><i class="fas fa-plus-circle"></i></button>
                                                        <button class="primary-btn-cancel" type="button" onclick="delete_table_of_equation();"><i class="fas fa-trash-alt"></i></button>
                                                    </div>
                                                    <div class="col-lg-12" id="table_of_equation" style="height:300px; overflow:auto;">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12" style="margin-bottom:15px; margin-top:15px; text-align:center;">
                                                <input class="primary-btn-ticket" type="button" onclick="calculate('airline_review');" value="Calculate">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-12" style="border-top:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; background-color:white;">
                                                <h4 class="single_border_custom_left" style="margin-top:15px; margin-bottom:15px; padding-left:10px; word-break:break-word;">{% trans 'Result Pricing' %}</h4>
                                                <div class="row" id="repricing_div">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-4" style="padding-bottom:10px;">
                            {% if 'book_reservation' in username.co_agent_frontend_security %}
                            <button type="button" class="for-show-mobile primary-btn hold-seat-booking-train ld-ext-right" id="btn-search-train" onclick="train_pre_create_booking(0);" style="width:100%;">
                                {% trans 'Hold Booking' %}
                                <div class="ld ld-ring ld-cycle"></div>
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form method="POST" id="train_seat_map" action="{% url 'tt_website:train_seat_map'%}">
            {% csrf_token %}
            <input type="hidden" id="passenger_input" name="passenger_input"/>
            <input type="hidden" id="seat_map_request_input" name="seat_map_request_input"/>
            <input type="hidden" id="passengers" name="passengers"/>
            <input type="hidden" id="signature" name="signature"/>
            <input type="hidden" id="order_number" name="order_number"/>
            <input type="hidden" id="provider" name="provider"/>
            <input type="hidden" id="discount" name="discount"/>
            <input type="hidden" id="voucher_code" name="voucher_code"/>
            <input type="hidden" id="type" name="type"/>
            <input type="hidden" id="session_time_input" name="session_time_input"/>
        </form>
        <form method="POST" id="train_issued" action="{% url 'tt_website:payment'%}">
            {% csrf_token %}
            <input type="hidden" id="passengers" name="passengers"/>
            <input type="hidden" id="signature" name="signature"/>
            <input type="hidden" id="order_number" name="order_number"/>
            <input type="hidden" id="provider" name="provider"/>
            <input type="hidden" id="discount" name="discount"/>
            <input type="hidden" id="voucher_code" name="voucher_code"/>
            <input type="hidden" id="type" name="type"/>
            <input type="hidden" id="session_time_input" name="session_time_input"/>
        </form>
    </div>
</section>
{% include 'tt_website/footer.html' %}
<script>
    get_agent_currency_rate();
    function goto_seat_map(){
        document.getElementById('train_seat_map').innerHTML += `{% csrf_token %}`;
        document.getElementById('train_seat_map').submit();
    }
    //get_payment_acq('Issued','{{passenger.booker.booker_seq_id}}', '', 'billing',signature,'train_review');
    $( document ).ready(function() {
        get_train_data_review_page();
        breadcrumb_create("train", 4, 0);
    });
    function train_seat_map(){
        document.getElementById('seat_map_request').innerHTML += `{% csrf_token %}`;
        document.getElementById('seat_map_request').submit();
    }
</script>

{% endblock %}